// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@icons-admin__font-name: @icons__font-family;

.message {
    margin-bottom: 3rem;
}

.message-icon-top {
    &:before {
        margin-top: 0;
        top: 1.8rem;
    }
}
