<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_change_products">
        <observer name="category_product_elasticsearch_indexer" instance="Magento\Elasticsearch\Observer\CategoryProductIndexer"/>
    </event>
</config>
