// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@currency-addon-symbol__border-color: @field-control__border-color;
@currency-addon-symbol__color: @color-gray52;
@currency-addon-symbol__height: @field-control__height;
@currency-addon-symbol__width: 2.6rem;


//
//  Common
//  _____________________________________________

.currency-addon {
    .lib-vendor-prefix-display(inline-flex);
    border: 1px solid rgb(173,173,173);
    flex-flow: row nowrap;
    position: relative;
    width: 100%;

    .admin__control-text {
        .lib-vendor-prefix-appearance(none);
        .lib-vendor-prefix-flex-grow(1);
        .lib-vendor-prefix-flex-shrink(1);
        .lib-vendor-prefix-order(1);
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        vertical-align: top;

        &:focus {
            + .currency-symbol {
                border-color: @field-control__focus__border-color;
            }
        }
    }

    label.error {
        left: 0;
        position: absolute;
        top: 33px;
    }

    .currency-symbol {
        .lib-vendor-prefix-flex-basis(auto);
        .lib-vendor-prefix-flex-grow(0);
        .lib-vendor-prefix-flex-shrink(0);
        border: solid @currency-addon-symbol__border-color;
        border-width: 0;
        box-sizing: border-box;
        color: @currency-addon-symbol__color;
        height: @currency-addon-symbol__height;
        .lib-vendor-prefix-order(0);
        padding: 7px 0 0 @indent__xs;
        position: static;
        transition: @smooth__border-color;
        z-index: 1;
    }

    ._error & {
        .admin__control-text,
        .currency-symbol {
            border-color: @field-error-control__border-color;
        }
    }
}
