// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.data-grid-configurable {
    .col-image {
        padding: 1rem;
        width: 6rem;
    }

    .images-uploaded {
        display: inline-block;
        position: relative;

        span {
            .lib-font-size(11);
            background: @color-white;
            border: 1px solid @color-gray64;
            border-radius: 10px;
            line-height: 10px;
            min-width: 20px;
            padding: .4rem;
            position: absolute;
            right: -8px;
            text-align: center;
            top: -8px;
        }
    }
}
