// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
// Access Error Page
// ---------------------------------------------

.access-denied-hr {
  height: 0.2rem;
  border: 0;
  box-shadow: 0 10px 10px -10px #b4b3b3 inset;
}

.access-denied-page {
  margin: 3.5rem 0 10rem 0;

  h2 {
    margin-bottom: 3rem;
  }

  ul {
    li {
      font-size: @font-size__s;
      margin: 2rem 0 2rem 3rem;

      span {
        font-size: @font-size__base;
        margin-left: 1rem;
      }
    }
  }
}
