<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <invalid_caches>
                <block_html />
                <layout />
                <translate />
            </invalid_caches>
            <head translate="default_description">
                <default_title>Magento Commerce</default_title>
                <default_description>Default Description</default_description>
                <default_keywords>Magento, Varien, E-commerce</default_keywords>
                <default_media_type>text/html</default_media_type>
                <default_charset>utf-8</default_charset>
            </head>
            <search_engine_robots>
                <default_robots>INDEX,FOLLOW</default_robots>
                <default_custom_instructions>
                    <![CDATA[
User-agent: *
Disallow: /index.php/
Disallow: /*?
Disallow: /checkout/
Disallow: /app/
Disallow: /lib/
Disallow: /*.php$
Disallow: /pkginfo/
Disallow: /report/
Disallow: /var/
Disallow: /catalog/
Disallow: /customer/
Disallow: /sendfriend/
Disallow: /review/
Disallow: /*SID=
                    ]]>
                </default_custom_instructions>
            </search_engine_robots>
            <header translate="welcome">
                <logo_alt>Magento Commerce</logo_alt>
                <welcome>Default welcome msg!</welcome>
            </header>
            <footer translate="copyright">
                <copyright>Copyright &#169; 2017 Magento, Inc. All rights reserved.</copyright>
            </footer>
        </design>
        <theme>
            <customization>
                <custom_css>Magento\Theme\Model\Theme\Customization\File\CustomCss</custom_css>
            </customization>
        </theme>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <site_favicons>favicon</site_favicons>
                </allowed_resources>
            </media_storage_configuration>
        </system>
        <dev>
            <static>
                <sign>1</sign>
            </static>
        </dev>
    </default>
</config>
