<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\Config">
        <arguments>
            <argument name="configCache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
            <argument name="layoutCache" xsi:type="object">Magento\Framework\App\Cache\Type\Layout</argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Model\Uploader\Service">
        <arguments>
            <argument name="uploadLimits" xsi:type="array">
                <item name="css" xsi:type="string">2M</item>
                <item name="js" xsi:type="string">2M</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Model\Layout\Config\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">layouts.xml</argument>
            <argument name="converter" xsi:type="object">Magento\Theme\Model\Layout\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Theme\Model\Layout\Config\SchemaLocator</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Theme\Model\Layout\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Theme\Model\Layout\Config\Reader\Proxy</argument>
            <argument name="cacheId" xsi:type="string">page_layouts_config</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Theme\Model\Layout\Config">
        <arguments>
            <argument name="dataStorage" xsi:type="object">Magento\Theme\Model\Layout\Config\Data</argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Model\Wysiwyg\Storage">
        <arguments>
            <argument name="helper" xsi:type="object">Magento\Theme\Helper\Storage\Proxy</argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\App\View\Deployment\Version\StorageInterface" type="Magento\Framework\App\View\Deployment\Version\Storage\File"/>
    <type name="Magento\Framework\App\View\Deployment\Version\Storage\File">
        <arguments>
            <argument name="directoryCode" xsi:type="const">Magento\Framework\App\Filesystem\DirectoryList::STATIC_VIEW</argument>
            <argument name="fileName" xsi:type="string">deployed_version.txt</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\ScopeInterface">
        <plugin name="urlSignature" type="Magento\Theme\Model\Url\Plugin\Signature"/>
    </type>
</config>
