/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
.control-container {
    height: 2.4em;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid #adadad;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.36;
    padding: 0.6rem 1rem 0.6rem;
    transition: border-color 0.1s linear;
    vertical-align: baseline;
}
.control-container.select-date {
    width: 30%;
    display: inline-block;
}
.inline-separator {
    display: inline-block;
    margin: 0 10px;
}
.braintree-hosted-fields-focused {
    border-color: #007bdb;
}
.braintree-hosted-fields-invalid{
    border-bottom-color: #D0021B;
    border-bottom-width: 2px;
}
.icon-type {
    position: absolute;
    right: 5px;
    top: 26px;
    width: 40px;
    height: 28px;
    background-image: url('../images/cards.png');
    background-position: -1000px 0;
    background-repeat: no-repeat;
}
.icon-type-discover {
    background-position: 0 0;
}
.icon-type-visa {
    background-position: 0 -28px;
}
.icon-type-master-card {
    background-position: 0 -56px;
}
.icon-type-maestro {
    background-position: 0 -85px;
}
.icon-type-american-express {
    background-position: 0 -114px;
}