<!--
/**
 * Copyright 2016 Adobe
 * All Rights Reserved.
 */
-->
<input class="admin__control-text" type="text"
       data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled
    }"/>
<label class="admin__field-error" if="error" attr="for: uid" text="error"></label>
