<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
            <policies>
                <storefront>
                    <base>
                        <policy_id>base-uri</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </base>
                    <default>
                        <policy_id>default-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                    </default>
                    <children>
                        <policy_id>child-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <http>http</http>
                            <https>https</https>
                            <blob>blob</blob>
                        </schemes>
                    </children>
                    <connections>
                        <policy_id>connect-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </connections>
                    <manifests>
                        <policy_id>manifest-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </manifests>
                    <media>
                        <policy_id>media-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </media>
                    <objects>
                        <policy_id>object-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </objects>
                    <styles>
                        <policy_id>style-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </styles>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                    </scripts>
                    <images>
                        <policy_id>img-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <data>data</data>
                        </schemes>
                    </images>
                    <frames>
                        <policy_id>frame-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </frames>
                    <frame-ancestors>
                        <policy_id>frame-ancestors</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </frame-ancestors>
                    <forms>
                        <policy_id>form-action</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </forms>
                    <fonts>
                        <policy_id>font-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <data>data</data>
                        </schemes>
                    </fonts>
                </storefront>
                <admin>
                    <base>
                        <policy_id>base-uri</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </base>
                    <default>
                        <policy_id>default-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                    </default>
                    <children>
                        <policy_id>child-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <http>http</http>
                            <https>https</https>
                            <blob>blob</blob>
                        </schemes>
                    </children>
                    <connections>
                        <policy_id>connect-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </connections>
                    <manifests>
                        <policy_id>manifest-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </manifests>
                    <media>
                        <policy_id>media-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </media>
                    <objects>
                        <policy_id>object-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </objects>
                    <styles>
                        <policy_id>style-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </styles>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                    </scripts>
                    <images>
                        <policy_id>img-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <data>data</data>
                        </schemes>
                    </images>
                    <frames>
                        <policy_id>frame-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </frames>
                    <frame-ancestors>
                        <policy_id>frame-ancestors</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </frame-ancestors>
                    <forms>
                        <policy_id>form-action</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </forms>
                    <fonts>
                        <policy_id>font-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                        <schemes>
                            <data>data</data>
                        </schemes>
                    </fonts>
                </admin>
            </policies>
        </csp>
    </default>
</config>
