<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_communications">
                        <resource id="Magento_Newsletter::template" title="Newsletter Template" sortOrder="20" />
                        <resource id="Magento_Newsletter::queue" title="Newsletter Queue" sortOrder="30"/>
                        <resource id="Magento_Newsletter::subscriber" title="Newsletter Subscribers" sortOrder="40"/>
                    </resource>
                </resource>
                <resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::report_marketing">
                        <resource id="Magento_Newsletter::problem" title="Newsletter Problem Reports" sortOrder="40"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Newsletter::newsletter" title="Newsletter Section" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
