<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Request\Backpressure\CompositeRequestTypeExtractor">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="controllertestbackpressure" xsi:type="object">
                    Magento\TestModuleControllerBackpressure\Model\TypeExtractor
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Backpressure\SlidingWindow\CompositeLimitConfigManager">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="testcontrollerbackpressure" xsi:type="object">
                    Magento\TestModuleControllerBackpressure\Model\LimitConfigManager
                </item>
            </argument>
        </arguments>
    </type>
</config>
