// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @checkout-shipping-method__padding;
@checkout-payment-method-title-mobile__padding: 15px;

@checkout-payment-method-content__padding: 0 35px @indent__base 35px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {

        .step-title {
            h2 {
                margin-bottom: 0;
            }
        }

        .methods-payment {
            .item-title {
                .css(border-top, @checkout-payment-method-title__border);
                .css(font-weight, @font-weight__regular);
                .css(padding, @checkout-payment-method-title__padding 0);
                margin: 0;

                &:first-child {
                    border-top: 0;
                }
            }

            .item-content {
                .css(padding, @checkout-payment-method-content__padding);
                margin: 0;

                > .fieldset {
                    .css(margin, 0 0 @indent__base);
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-payment-method {
        .methods-payment {
            padding: 0;
            .css(margin, 0 -(@checkout-payment-method-title-mobile__padding));

            .item-title {
                .css(padding, @checkout-payment-method-title-mobile__padding)
            }
        }
    }
}
