<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\User\Model\Resource\User">
        <arguments>
            <argument name="aclCache" xsi:type="object">Magento\Framework\Acl\Cache\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="user_setup" xsi:type="string">Magento\Framework\Module\DataSetup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Authorization\Model\Role">
        <plugin name="updateRoleUsersAcl" type="Magento\User\Model\Plugin\AuthorizationRole" sortOrder="20"/>
    </type>
</config>
