{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"escapehtml var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hello, {{escapehtml var=$userName}}<br /><br />
Your authorization to <b>{{escapehtml var=$applicationName}}</b> has been changed to <b>{{escapehtml var=$status}}</b> by Admin team.<br /><br />
