// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .cart {
        &-summary {
            .block {
                &.giftcard {
                    .action.check {
                        .lib-button-s();
                        &:extend(.abs-action-button-as-link all);
                        margin-top: @indent__base;
                    }
                }
            }
        }
    }

    .page-product-giftcard {
        .giftcard-amount {
            margin-bottom: 0;
            text-align: left;

            .field:last-child {
                padding-bottom: @form-field__vertical-indent;
            }
        }

        .product-options-wrapper .field:first-of-type {
            margin-top: @form-field__vertical-indent;
        }

        .fieldset.giftcard {
            >.legend {
                &:extend(.abs-visually-hidden all);
                + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
    }
}
