<?xml version="1.0"?>
<!--
/**
 * Copyright 2011 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_Indexer" >
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_AdminNotification"/>
        </sequence>
    </module>
</config>
