<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Take a look at {{var customerName}}'s Wish List @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wish List Message",
"var items":"Wish List Items"}
@-->

{{template config_path="design/email/header_template"}}

<p>{{trans "%customer_name wants to share this Wish List from %store_name with you:" customer_name=$customerName store_name=$store.getFrontendName()}}</p>

{{depend message}}
<table class="message-info" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            <h3>{{trans "Message from %customer_name:" customer_name=$customerName}}</h3>
            {{var message|raw}}
        </td>
    </tr>
</table>
{{/depend}}

{{var items|raw}}
<br/>

<p><a href="{{var viewOnSiteLink}}">{{trans "View all Wish List items"}}</a></p>

{{template config_path="design/email/footer_template"}}
