// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.mselect-items-wrapper {
    button {
        .lib-button-reset();
    }
}

.block.mselect-list {
    .mselect-input {
        width: 100%;
    }
    .mselect-input-container {
        .mselect-save {
            top: 4px;
        }
        .mselect-cancel {
            top: 4px;
        }
    }
}
