<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var customer.name":"Customer Name",
"var store.getFrontendName()|escape":"Store Name"}
@-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$user.name}}</p>
<p>{{trans "There was recently a request to change the password for your account."}}</p>

{{template config_path="design/email/footer_template"}}
