<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject New password for {{var user.name}} @-->
<!--@vars {
"var user.name":"Customer Name",
"var store.getFrontendName()|escape":"Store Name"
} @-->

{{trans "%name," name=$user.name}}

{{trans "The password for your account has been successfully changed."}}

{{trans "If you did not request this change, please contact us."}}

{{trans "Thank you,"}}
{{var store.getFrontendName()}}
