<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "New %changes for %user_name" changes=$changes user_name=$user.username}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var store_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var changes":"Changes",
"var user.username":"User Name"
} @-->

{{trans "Hello,"}}

{{trans "We have received a request to reset the %changes associated with your account at %store_name." store_name=$store.frontend_name changes=$changes}}
{{trans "If you have not authorized this action, please contact us immediately at %store_email" store_email=$store_email |escape}}{{depend store_phone}} {{trans "or call us at %store_phone" store_phone=$store_phone |escape}}{{/depend}}.

{{trans "Thanks,"}}
{{var store.frontend_name}}
