<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"var customer.password":"Customer Password"}
@-->

{{template config_path="design/email/header_template"}}

                            <h1>Dear {{var customer.name}},</h1>
                            <p>Welcome to {{var store.getFrontendName()}}. To log in when visiting our site just click <a href="{{store url='customer/account/'}}" >Login</a> or <a href="{{store url='customer/account/'}}">My Account</a> at the top of every page, and then enter your e-mail address and password.</p>
                            <p>
                                Use the following values when prompted to log in:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Password</strong>: Only you know that! (Hint: It’s the password you created at {{var store.getFrontendName()}})<br/>
                                Forgot your Account password? No problems. Click <a href="{{store url='customer/account/createPassword/' _query_id=$customer.id _query_token=$customer.rp_token}}">here</a> to reset it.</p>
                            </p>
                            <p>When you log in to your account, you will be able to do the following:</p>
                            <ul>
                                <li>Proceed through checkout faster when making a purchase</li>
                                <li>Check the status of orders</li>
                                <li>View past orders</li>
                                <li>Make changes to your account information</li>
                                <li>Change your password</li>
                                <li>Store alternative addresses (for shipping to multiple family members and friends!)</li>
                            </ul>
                            <p>If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>

{{template config_path="design/email/footer_template"}}
