<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-collapsible="true">
<div class="title">
    <strong role="heading"><span data-bind="text: getItemsQty()"></span>
        <!-- ko text: $t('Items in cart') --><!-- /ko -->
    </strong>
</div>
    <div class="content">
    <!-- ko foreach: getItems() -->
        <div class="cart_item">
        <!-- ko foreach: $parent.elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        </div>
    <!-- /ko -->
    </div>
</div>
