<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: quoteIsVirtual == 0 -->
    <tr class="totals shipping excl">
        <th class="mark" scope="row">
            <span class="label" data-bind="text: $t(title)"></span>
            <span class="value" data-bind="text: $t(getShippingMethodTitle())"></span>
        </th>
        <td class="amount">
            <!-- ko if: isCalculated() -->
            <span class="price"
                  data-bind="text: $t(getValue()), attr: {'data-th': $t(title)}"></span>
            <!-- /ko -->
            <!-- ko ifnot: isCalculated() -->
            <span class="not-calculated"
                  data-bind="text: $t(getValue()), attr: {'data-th': $t(title)}"></span>
            <!-- /ko -->
        </td>
    </tr>
<!-- /ko -->
