<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div
    class="admin__action-dropdown-wrap admin__data-grid-action-bookmarks _hide"
    data-bind="css: {_active: opened, _disabled: !collapsible}, outerClick: close">
    <button
        class="admin__action-dropdown"
        type="button"
        data-bind="click: toggleOpened"
        data-toggle="dropdown"
        aria-haspopup="true">
        <span class="admin__action-dropdown-text">Default View</span>
    </button>
    <ul class="admin__action-dropdown-menu">
        <!-- ko foreach: {data: sampleData, as: 'view'} -->
        <li
            data-bind="css: {_edit: false}">
            <div class="action-dropdown-menu-item-edit">
                <input
                    class="admin__control-text"
                    data-bind="value: view.label"
                    type="text">
                <button
                    class="action-submit"
                    type="button">
                    <span>Submit</span>
                </button>
                <div class="action-dropdown-menu-item-actions">
                    <button
                        class="action-delete"
                        type="button">
                        <span>Delete</span>
                    </button>
                </div>
            </div>
            <div class="action-dropdown-menu-item">
                <a
                    class="action-dropdown-menu-link"
                    href=""
                    data-bind="text: view.label"></a>
                <div class="action-dropdown-menu-item-actions">
                    <button
                        class="action-edit"
                        type="button">
                        <span>Edit</span>
                    </button>
                </div>
            </div>
        </li> 
        <!-- /ko -->
        <li class="action-dropdown-menu-item-last">
            <a href="">Save Current View</a>
        </li> 
    </ul>
</div>
