<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__action-dropdown-wrap admin__data-grid-action-default-view _disabled">
    <button
        class="admin__action-dropdown"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true">
        <span class="admin__action-dropdown-text">Default View</span>
    </button>
    <ul class="admin__action-dropdown-menu">
        <li>
            <a href="">Lorem ipsum dolor sit amet.</a>
        </li>
        <li>
            <a href="">Lorem ipsum dolor sit amet.</a>
        </li>
        <li>
            <a href="">Lorem ipsum dolor sit amet.</a>
        </li>
        <li>
            <a href="">Lorem ipsum dolor sit amet.</a>
        </li>
    </ul>
</div>