<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="yahoofinance" xsi:type="array">
                    <item name="label" xsi:type="string">Yahoo Finance Exchange</item>
                    <item name="class" xsi:type="string">Magento\Directory\Model\Currency\Import\YahooFinance</item>
                </item>
                <item name="webservicex" xsi:type="array">
                    <item name="label" xsi:type="string">Webservicex</item>
                    <item name="class" xsi:type="string">Magento\Directory\Model\Currency\Import\Webservicex</item>
                </item>
                <item name="fixerio" xsi:type="array">
                    <item name="label" xsi:type="string">Fixer.io</item>
                    <item name="class" xsi:type="string">Magento\Directory\Model\Currency\Import\FixerIo</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="DirectoryHelperDataProxy" type="Magento\Directory\Helper\Data\Proxy">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Directory\Helper\Data</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Directory\Model\ResourceModel\Country\Collection" shared="false">
        <arguments>
            <argument name="helperData" xsi:type="object">DirectoryHelperDataProxy</argument>
            <argument name="countriesWithNotRequiredStates" xsi:type="array">
                <item name="FR" xsi:type="string">FR</item>
                <item name="DE" xsi:type="string">DE</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Directory\Model\Country\Postcode\ConfigInterface" type="Magento\Directory\Model\Country\Postcode\Config" />
    <preference for="Magento\Directory\Model\Country\Postcode\ValidatorInterface" type="Magento\Directory\Model\Country\Postcode\Validator" />
    <preference for="Magento\Directory\Api\CurrencyInformationAcquirerInterface" type="Magento\Directory\Model\CurrencyInformationAcquirer" />
    <preference for="Magento\Directory\Api\Data\CurrencyInformationInterface" type="Magento\Directory\Model\Data\CurrencyInformation" />
    <preference for="Magento\Directory\Api\Data\ExchangeRateInterface" type="Magento\Directory\Model\Data\ExchangeRate" />
    <preference for="Magento\Directory\Api\CountryInformationAcquirerInterface" type="Magento\Directory\Model\CountryInformationAcquirer" />
    <preference for="Magento\Directory\Api\Data\CountryInformationInterface" type="Magento\Directory\Model\Data\CountryInformation" />
    <preference for="Magento\Directory\Api\Data\RegionInformationInterface" type="Magento\Directory\Model\Data\RegionInformation" />

    <type name="Magento\Config\Model\Config\Export\ExcludeList">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="currency/import/error_email" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
