<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Security\Model\ConfigInterface" type="Magento\Security\Model\Config" />
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="security_check_customer_password_reset_attempt" type="Magento\Security\Model\Plugin\AccountManagement" />
    </type>
    <type name="Magento\Security\Model\SecurityManager">
        <arguments>
            <argument name="securityCheckers" xsi:type="array">
                <item name="frequency" xsi:type="object">Magento\Security\Model\SecurityChecker\Frequency</item>
                <item name="quantity" xsi:type="object">Magento\Security\Model\SecurityChecker\Quantity</item>
            </argument>
        </arguments>
    </type>
</config>
