<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="admin_user_authenticate_after">
        <observer name="configuration_files_access_level_verification" instance="Magento\Backend\Model\Observer" method="clearCacheConfigurationFilesAccessLevelVerification" />
    </event>
</config>
