/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/*
    Actions look like links
-------------------------------------- */
#store-view-window .action-close {
    background: none;
    border: none;
    color: #6d665e;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid #b5b3af;
}

#store-view-window .action-close:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

/*.vde-dialog .action-close {
    background: none;
    border: none;
    color: #6d665e;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid #b5b3af;

    border-radius: 0;
    padding: 4px 0 0 0;
}

.vde-dialog .action-close:hover {
    color: #000;
    border-bottom: 1px solid #000;
}*/

.vde-dialog .ui-dialog-buttonset {
    text-align: right;
}

/*
    Themes Inputs
-------------------------------------- */
.theme input[type=text] {
    font: 13px/18px Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 28px;
    padding: 4px 4px;
    margin: 0 0 8px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.theme input[type=text]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/*
    Popups
-------------------------------------- */
.fade {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .45);
    padding: 15%;
    z-index: 999;
}

.no-rgba .fade {
    background-color: #afafaf;
}

.fade .popup {
    position: absolute;
    left: 35%;
    right: 35%;
    display: inline-block;
    padding: 0;
    background: #fff;
    font-size: 13px;
    min-width: 440px;
    box-shadow: 0 2px 10px 0 #333;
    border: 0;
    border-radius: 0;
}

.fade .popup-header {
    color: #676056;
    padding: 18px 50px 18px 24px;
    background: #f3efea;
}

.fade .popup .popup-title {
    font: 20px/1 'CallunaSans', Arial, sans-serif;
    font-weight: 300;
    padding-left: 0;
}

.fade .popup .actions {
    margin: 15px 0 0;
}

.fade .popup .actions button,
.fade .popup .actions [class^="action-"] {
    margin-right: 10px;
    vertical-align: baseline;
}

.fade .popup-footer {
    padding: 24px;
}

.action-close-popup {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
}

.action-close-popup:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e07d'; /* close icon */
    font-size: 16px;
    color: #676056;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: 0;
}

.action-close-popup:hover:before {
    color: #000;
}

/*
    Infinite Scroll
-------------------------------------- */
.infinite_scroll {
    position: relative;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.eq-ie8 .adminhtml-system-design-editor-index .col-1-layout {
    border-top: 0;
    border-bottom: 0;
    padding: 0 20px;
}

.eq-ie8 .adminhtml-system-design-editor-index .col-1-layout:before {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #d5d0ca;
    content: '';
}

.eq-ie8 .adminhtml-system-design-editor-index .footer {
    padding: 40px;
    border-bottom: 1px solid #d5d0ca;
}

.eq-ie8 .adminhtml-system-design-editor-index .ui-tabs {
    padding-top: 20px;
}

.eq-ie8 .adminhtml-system-design-editor-index .ui-tabs-panel {
    margin-bottom: 20px;
}

/*
    Themes Tabs
-------------------------------------- */

#theme_selector_tabs {
}

#theme_selector_tabs .tabs-horiz {
    background: none;
    border: 0;
    padding: 9px 0 0;
    background: #F2EBDE;
}

/*
    Themes Tabs Panel
-------------------------------------- */
.theme-selector {
    overflow: auto;
    background: #fff;
}

.theme-selector .ui-tabs-panel {
    padding: 20px;
    background: #fff;
    min-height: 500px;
}

/*
    Themes
-------------------------------------- */
.themes {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.theme {
    position: relative;
    width: 47%;
    float: left;
    margin: 0 6% 6% 0;
}

.theme:nth-child(even) {
    margin-right: 0;
}

.eq-ie8 .theme {
    margin-right: 3%;
}

.theme-content {
    position: relative;
    border: 1px solid #c1beb7;
    background: #f8f8f8;
    text-align: center;
    min-height: 325px;
    overflow: hidden;
}

.theme-content .theme-preview-image {
    width: 100%;
    margin-bottom: -20%;
}

.theme-data {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: left;
    color: #f2ebde;
    padding: 10% 40px 0;
    background: #242320;
    background: -moz-linear-gradient(top, #31302b 0%, #1f1e1c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #31302b), color-stop(100%, #1f1e1c));
    background: -webkit-linear-gradient(top, #31302b 0%, #1f1e1c 100%);
    background: -ms-linear-gradient(top, #31302b 0%, #1f1e1c 100%);
    background: linear-gradient(to bottom, #31302b 0%, #1f1e1c 100%);
}

.theme-data:hover {
    -webkit-transition: opacity .35s ease;
    -moz-transition: opacity .35s ease;
    -ms-transition: opacity .35s ease;
    transition: opacity .35s ease;
    opacity: 1;
}

.eq-ie8 .theme-data,
.eq-ie8 .themes-assigned .theme-content:hover .theme-data {
    display: none;
}

.eq-ie8 .theme-content:hover .theme-data {
    display: block;
}

.theme-title {
    margin: 0;
    color: #f2ebde;
    font-family: 'CallunaSans', Arial, sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.theme-data p {
    max-height: 50%;
    margin: 20px 0 30px 0;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    color: #B9B4AA;
    overflow: hidden;
}

.theme-data .actions {
    text-align: right;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 40px;
    white-space: nowrap;
}

.theme-data .actions [class^='action-'] {
    margin-left: 5px;
}

.theme-data .action-edit,
.theme-data .action-delete,
.theme-data .action-edit:active,
.theme-data .action-delete:active,
.theme-data .action-edit:hover,
.theme-data .action-delete:hover {
    background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    padding: 5px;
    filter: none;
}

.theme-data .action-edit:before,
.theme-data .action-delete:before {
    display: inline-block;
    text-indent: 0;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e05b";
    color: #fff;
}

.theme-data .actions .action-delete {
    margin-left: 0;
}

.theme-data .action-delete:before {
    content: "\e07f";
}

.theme-data .action-edit > span,
.theme-data .action-delete > span {
    display: none;
}

/*
    My Customizations Tab
-------------------------------------- */
.themes-customizations h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    border-bottom: 1px solid #cac3b4;
    padding-bottom: 8px;
}

/*
    Assigned Themes
-------------------------------------- */
.themes-assigned .theme {
    float: none;
    width: 100%;
}

.themes-assigned .theme-content,
.themes-assigned .theme-assigned-data {
    float: left;
    width: 47%;
}

.themes-assigned .theme-assigned-data {
    width: 45%;
    width: 45%;
}

.themes-assigned .theme-content {
    margin-right: 5%;
}

.themes-assigned .theme-data {
    display: none;
}

.theme-assigned-data {
    position: relative;
    margin: 10% 0 0 2%;
}

.theme-assigned-data .theme-title {
    font: 24px/1 Arial, Verdans, sans-serif;
    color: #676056;
    margin-bottom: 11px;
}

.theme-assigned-data .edit-theme-title {
    font-size: 14px;
    color: #19a3d1;
    cursor: pointer;
}

.theme-assigned-to-storeview {
    font-size: 14px;
    color: #676056;
    margin: 22px 0 26px;
}

.theme-assigned-to-storeview span {
    color: #959393;
}

/*
    Theme Title Quick Save Form
-------------------------------------- */
.edit-theme-title-form {
    display: none;
}

.edit-theme-title-form > input[type="text"] {
    width: 238px;
}

.themes-assigned .edit-theme-title-form {
    margin-bottom: -1px;
}

/*
    Websites/Stores/Storeviews List in Popup
-------------------------------------- */
.websites,
.stores,
.storeviews {
    margin: 0;
    padding: 0;
    list-style: none;
}

.website {
    padding: 10px 0 0;
}

.website-title,
.store-title {
    border-bottom: 1px solid #dfdfdf;
    padding: 0 24px 5px;
}

.store-title {
    padding-left: 40px;
}

.storeview {
    padding-left: 60px;
    margin: 0 0 5px 0;
}

.storeview-selector-control {
    margin: -3px 3px 0 0;
}

/*
    Tools Panel
-------------------------------------- */
.vde-tools {
    background: #060708;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 0 52px;
    z-index: 900;
}

.vde-tools-tabs {
    position: relative;
    z-index: 2;
}

.vde-tools-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 52px;
    background: #32312C;
}

.vde-tools-header-inner,
.vde-tab-data,
.vde-tab-content-header,
.vde-tools-handler-container,
.vde-tools-footer-inner {
    min-width: 1000px;
    max-width: 1300px;
    margin: 0 auto;
}

.vde-tools-header-inner,
.vde-tools-footer-inner {
    position: relative;
}

.vde-tools.opened .vde-tools-header:before,
.vde-tools.opened .vde-tools-footer:before,
.custom-code .textarea-container:before,
.custom-code .textarea-container:after {
    position: absolute;
    left: 0;
    top: 52px;
    right: 0;
    height: 10px;
    background: url(Magento_DesignEditor::images/vde-panel-top-shadow.png) repeat-x;
    content: '';
    z-index: 6;
}

.vde-tools.opened .vde-tools-footer:before,
.custom-code .textarea-container:after {
    top: -10px;
    background-position: 0 -10px;
}

.vde-tools-header .action-close {
    position: absolute;
    top: 17px;
    right: 0;
    background: none;
    border: none;
    font-weight: normal;
    cursor: pointer;
    color: #f2ebde;
    z-index: 2;
}

.eq-ie8 .vde-tools-header .action-close {
    top: 17px;
}

.vde-tools-header .action-close:hover {
    color: #fff;
}

.vde-tools-header .action-close span {
    display: none;
}

.vde-tools-header .action-close:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e061'; /* close icon */
    font-size: 20px;
}

.vde-tools-content {
    position: relative;
    width: auto !important;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
}

.vde-tools-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #32312C;
    height: 52px;
    z-index: 1001;
}

.text-menu-show {
    background-color: #fff;
    width: 170px;
    position: absolute;
    margin-top: -120px;
    margin-left: -130px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px 0;
}

.text-menu-div {
    padding: 5px;
    cursor: pointer;
}

.text-menu-label {
    color: #000;
    font-size: 14px;
    margin-left: 10px;
    line-height: 32px;
}

.text-menu-background-on {
    background-color: #ccc;
}

.text-menu-background-off {
    background-color: #fff;
}

.text-menu-text-off,
.text-menu-script-off,
.text-menu-alt-off,
.text-menu-text-on,
.text-menu-script-on,
.text-menu-alt-on {
    display: block;
    background-image:url(Magento_DesignEditor::images/vde-tools-text-menu-icon-sprite.png);
    width: 38px;
    height: 32px;
    float: left;
}

.text-menu-text-off {
    background-position: 0 0;
}

.text-menu-script-off {
    background-position: 76px 0;
}

.text-menu-alt-off {
    background-position: 38px 0;
}

.text-menu-text-on {
    background-position: 0 32px;
}

.text-menu-script-on {
    background-position: 76px 32px;
}

.text-menu-alt-on {
    background-position: 38px 32px;
}

.vde-tab-content-inner.hasScroll {
    overflow-y: scroll;
}

.vde-tab-content-inner.hasScroll .vde-tab-data {
    left: 9px;
}

@media screen and (max-width: 1340px) {
    .vde-tab-content-inner.hasScroll .save_image_sizing {
        bottom: 64px;
    }
    .vde-tab-content-inner.hasScroll #save_image_sizing {
        right: 0;
    }
}

.vde-tools .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.vde-tools .ui-resizable-n {
    cursor: n-resize;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: url(Magento_DesignEditor::images/vde-tools-panel-draggable-handler-bg.png) no-repeat 0 50%;
    z-index: 1 !important;
}

.vde-tools input[type='text'] {
    height: 30px;
    line-height: 16px;
    font-size: 14px;
    padding: 0 7px;
    border: 1px solid #30312c;
    background: transparent;
    color: #9f978c;
}

.eq-ie8 .vde-tools input[type='text'] {
    height: 30px;
    line-height: 26px;
}

.vde-tools input[type='text'].image-width:focus, .vde-tools input[type='text'].image-height:focus {
    border: 1px solid #30312c;
    box-shadow: none;
}

.vde-tools .field.with-addon .addbefore {
    background: transparent;
    border-color: #30312c;
    color: #f2eadd;
}

.vde-tools .field.with-addon input[type='text'] {
    border-left: 0;
}

.vde-tab-controls {
    margin: 0;
    padding: 0;
    list-style: none;
}

.vde-tab-controls > .item {
    display: inline-block;
}

.vde-tab-controls > .item.disabled {
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}

.vde-tools-footer .vde-tab-controls > .item > a {
    display: inline-block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    -moz-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.vde-tools-footer .vde-tab-controls > .item.disabled > a {
    cursor: not-allowed;
}

.vde-tab-controls > .item > a span {
    display: block;
    overflow: hidden;
    text-indent: -999em;
    width: 30px;
    height: 27px;
    background: url(Magento_DesignEditor::images/vde-tools-main-tabs-icons-sprite.png) no-repeat;
    margin: 12px auto 0;
}

.vde-tab-controls > .item-design > a span {
    background-position: 2px 0;
}

.vde-tab-controls > .item-block > a span {
    background-position: -28px 0;
}

.vde-tab-controls > .item-settings > a span {
    background-position: -58px 0;
}

.vde-tab-controls > .item.hidden {
    display: none;
}

.vde-tab-controls > .item-code > a span {
    background-position: -88px 0;
}

.vde-tab-controls > .item-design > a:hover span {
    background-position: 2px -27px;
}

.vde-tab-controls > .item-block > a:hover span {
    background-position: -28px -27px;
}

.vde-tab-controls > .item-settings > a:hover span {
    background-position: -58px -27px;
}

.vde-tab-controls > .item-code > a:hover span {
    background-position: -88px -27px;
}

.vde-tab-controls > .item.active > a {
    background-color: #000;
}

.vde-tab-controls > .item-text-edit {
    display: inline-block;
}

.vde-tools-footer .vde-tab-controls > .item-text-edit > a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 45px;
    cursor: pointer;
}

.vde-tab-controls > .item-text-edit > a span,
.vde-tab-controls > .text-edit-text-off > a span,
.vde-tab-controls > .text-edit-alt-off > a span,
.vde-tab-controls > .text-edit-script-off > a span,
.vde-tab-controls > .text-edit-text-on > a span,
.vde-tab-controls > .text-edit-alt-on > a span,
.vde-tab-controls > .text-edit-script-on > a span {
    display: block;
    overflow: hidden;
    text-indent: -999em;
    width: 40px;
    height: 33px;
    background: url(Magento_DesignEditor::images/vde-tools-text-edit-icon-sprite.png);
    margin: 12px auto 0;
}

.vde-tab-controls > .text-edit-text-off > a span {
    background-position: 0 0;
}

.vde-tab-controls > .text-edit-script-off > a span {
    background-position: 80px 0;
}

.vde-tab-controls > .text-edit-alt-off > a span {
    background-position: 40px 0;
}

.vde-tab-controls > .text-edit-text-on > a span {
    background-position: 0 33px;
}

.vde-tab-controls > .text-edit-script-on > a span {
    background-position: 80px 33px;
}

.vde-tab-controls > .text-edit-alt-on > a span {
    background-position: 40px 33px;
}

.vde-tools-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.tab-panel {
    position: relative;
    display: none;
}

.tab-panel.active {
    display: block;
}

.vde-tools-content-inner {
    position: relative;
}

.vde-tools-handler-container {
    position: absolute;
    left: 0;
    right: 0;
    height: 52px;
}

.vde-tab-content-title {
    font: 20px/52px "CallunaSans", Arial, sans-serif;
    font-weight: 400;
    color: #f2ebde;
    text-shadow: 0 -1px 1px #000;
    float: left;
    margin: 0 28px 0 22px;
}

.vde-tab-content-inner {
    position: relative;
    height: 348px;
    background: #000;
    min-width: 1020px;
}

.vde-tab-data {
    position: relative;
    padding: 50px 0 20px;
    color: #f2ebde;
}

.vde-tab-data .title {
    font: 24px/1.333 "CallunaSans", Arial, sans-serif;
    font-weight: 500;
    color: #f2ebde;
    margin: 0;
}

.vde-tab-data .action-download,
.vde-tab-data .action-delete,
.vde-tab-data .action-edit {
    display: inline-block;
    margin-left: 10px;
    float: right;
    color: #9f978b;
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    -moz-transition: color .5s ease;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
}

.vde-tab-data .action-download:hover,
.vde-tab-data .action-download:focus,
.vde-tab-data .action-delete:hover,
.vde-tab-data .action-delete:focus,
.vde-tab-data .action-edit:hover,
.vde-tab-data .action-edit:focus {
    color: #fff;
}

.eq-ie8 .vde-tab-data .action-download {
    filter: none;
}

.eq-ie8 .vde-tab-data .action-download:focus:before {
    color: #9F978B;
}

.vde-tab-data .action-download:before,
.vde-tab-data .action-delete:before,
.vde-tab-data .action-edit:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e073'; /* download icon (arrow down) */
    font-size: 16px;
}

.vde-tab-data .action-download span,
.vde-tab-data .action-delete span,
.vde-tab-data .action-edit span {
    display: none;
}

.vde-tab-data .action-delete:before {
    content: '\e07f'; /* trash icon */
}

.vde-tab-data .action-edit:before {
    content: '\e05b'; /* edit icon */
}

.vde-tab-content-header .vde-tab-controls > .item {
    float: left;
    margin: 8px 3px 0 0;
}

.vde-tab-content-header .vde-tab-controls > .item > a {
    display: inline-block;
    font: 13px "CallunaSans", Arial, sans-serif;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    height: 40px;
    padding: 0 22px;
    background: #000;
    border-radius: 5px;
    color: #ccc;
    text-transform: uppercase;
    text-decoration: none;
}

.vde-tab-content-header .vde-tab-controls > .item.active > a {
    height: 44px;
    border-radius: 5px 5px 0 0;
}

/*
    Files List Block
-------------------------------------- */
.files-list {
    display: block;
    float: left;
    margin-left: 14.127659574%;
    margin-bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 23.914893614%;
    min-height: 250px;
}

.files-wrapper .files-list:first-child,
.files-wrapper .files-list:nth-child(3n+1) {
    margin-left: 0;
}

.eq-ie8 .files-wrapper .files-list:first-child + .files-list + .files-list + .files-list {
    margin-left: 0;
}

.files-wrapper .files-list:last-child {
    margin-bottom: 0;
}

.eq-ie8 .files-wrapper .files-list:first-child {
    margin-left: 0;
}

.files-list-header {
    position: relative;
    margin: 0 0 13px;
    padding-right: 20px;
}

.files-list-header > .title {
    margin: 0;
}

.custom-file .action-add,
.files-list-header > .action-add {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;
    margin: 6px 0 0 0;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #000;
    background: #9f978b;
    border-radius: 4px;
    text-decoration: none;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
    overflow: hidden;
}

.custom-file > .action-add .field-row,
.files-list-header > .action-add .field-row {
    display: block;
}

.custom-file .action-add input[type="file"],
.files-list-header > .action-add input[type="file"] {
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 16px;
    height: 16px;
}

.eq-ie8 .custom-file .action-add input[type="file"],
.eq-ie8 .files-list-header > .action-add input[type="file"] {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.custom-file .action-add:hover,
.custom-file .action-add:focus,
.files-list-header > .action-add:hover,
.files-list-header > .action-add:focus {
    background: #fff;
    border-radius: 4px;
}

.custom-file .action-add:before,
.files-list-header > .action-add:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e02d'; /* plus icon */
    font-size: 16px;
}

.eq-ie9 .custom-file .action-add:before,
.eq-ie9 .files-list-header > .action-add:before {
    line-height: 18px !important;
}

.custom-file .action-add span,
.files-list-header > .action-add span {
    display: none;
}

.custom-file .action-add {
    position: relative;
}

.custom-file > .action-download {
    top: 2px;
}

.custom-file > .action-delete {
    top: 2px;
}

.custom-file .action-add:before {
    font-size: 16px !important;
}

.files-list-content .items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.files-list-content .item {
    position: relative;
    padding: 10px 50px 8px 0;
    border-bottom: 1px solid #31302b;
    white-space: nowrap;
}

.files-list-content .item [class^="action-"] {
    position: absolute;
    top: 10px;
    right: 0;
}

.files-list-content .item .action-edit {
    right: 30px;
}

.files-list-content .item .filename {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vde-tab-content-inner .filename {
    font: bold 16px/1.333 "Helvetica", Arial, sans-serif;
    vertical-align: middle;
}

/*
    JS Tabs
-------------------------------------- */
#vde-tab-js .title {
    display: inline;
    margin-right: 10px;
}

#vde-tab-js .files-list-header .action-add {
    position: relative;
}

#vde-tab-js .files-list {
    width: 100%;
    margin: 0;
}

#vde-tab-js .files-list .items .item {
    display: inline-block;
    width: 26%;
    margin-right: 3%;
}

/*
    VDE Messages
-------------------------------------- */
.vde-message {
    margin: -40px 0 46px;
    background: url(Magento_DesignEditor::images/vde-message-bg.gif);
    border-bottom: 1px solid #43423D;
    border-radius: 5px;
    font: 14px/1.666 Helvetica, Arial, sans-serif;
}

.vde-message > .message-inner {
    position: relative;
    padding: 20px 45px 15px 20px;
}

.vde-message .action-close {
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 20px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #201f1c;
    border-radius: 4px;
    color: #8b857b;
    text-align: center;
    border: none;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    filter: none;
}

@-moz-document url-prefix() {
    .vde-message .action-close {
        line-height: 14px;
    }
}

.vde-message .action-close:hover {
    color: #fff;
    background: #000;
}

.vde-message .action-close:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e061'; /* close icon */
    font-size: 10px;
}

.vde-message .action-close span {
    display: none;
}

.eq-ie8 .vde-message .action-close,
.eq-ie8 .vde-message .action-close:hover,
.eq-ie8 .vde-message .action-close:focus,
.eq-ie8 .vde-message .action-close:active,
.eq-ie8 .vde-message .action-close[disabled] {
    filter: none;
}

/*
    Custom Code
-------------------------------------- */
[class^="custom-code"] {
    display: block;
    float: left;
    margin-left: 2.127659574%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-code-description {
    width: 31.914893614%;
    margin-left: 0;
}

.custom-code-description .custom-file {
    position: relative;
}

.custom-code-description .title,
.custom-code-description p {
    margin-bottom: 20px;
}

.custom-code-description p {
    font: 14px/18px Helvetica, Arial, sans-serif;
    color: #8d857a;
}

.custom-code-description [class^="action-"] {
    position: relative;
}

.custom-code-description [class^="action-"]:before {
    font-size: 18px;
}

.custom-code-description .action-add {
    top: 0;
    margin: 0 5px 0 0;
}

.custom-code-description .action-add:hover,
.custom-code-description .action-add:focus {
    margin: 0 5px 0 0;
}

.custom-code-description .uploaded-file-wrapper .file-row .action-delete {
    position: relative;
    top: 0;
    right: 0;
}

.custom-code-description .uploaded-file-wrapper .file-row .action-delete:hover,
.custom-code-description .uploaded-file-wrapper .file-row .action-delete:active {
    margin-left: 10px;
}

.custom-code-description .manage-assets-buttons {
    margin-top: 10px;
}

.custom-code {
    width: 65.95744680199999%;
}

.custom-code .textarea-container {
    position: relative;
    border: 1px solid #31302b;
    border-radius: 5px;
}

.custom-code .textarea-container:before,
.custom-code .textarea-container:after {
    left: 30px;
    right: 20px;
}

.custom-code .textarea-container:before {
    top: 0;
}

.custom-code .textarea-container:after {
    top: auto;
    bottom: 5px;
}

.custom-code textarea {
    width: 100%;
    background: none;
    border: none;
    resize: vertical;
    font: 14px/18px Helvetica, Arial, sans-serif;
    color: #f2ebde;
    padding: 20px 0 20px 20px;
}

@-moz-document url-prefix() {
    .custom-code textarea {
        padding-bottom: 3px;
    }
}

.custom-code .action-update {
    float: right;
    margin: 7px 0 0 0;
}

/*
    VDE
-------------------------------------- */
/* TODO #vde_toolbar is not used at all */
/* TODO .vde_breadcrumbs is not used */
#vde_toolbar {
    position: fixed;
    margin-top: -54pt;
    width: 100%;
    z-index: 997;
    font: 10pt Arial, Helvetica, sans-serif;
    color: #555;
    text-align: left;
    box-shadow: 0 0 4pt 1pt #cbcbcb;
}
.vde_breadcrumbs, #vde_toolbar_row {
    padding: 0 1em;
    height: 29pt;
    line-height: 29pt;
    vertical-align: middle;
}

.vde_breadcrumbs {
    text-transform: uppercase;
    background: white;
}

#vde_toolbar_row {
    background: #f5f2ea;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWVkZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f5f2ea 0%, #f1ede3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f2ea), color-stop(100%, #f1ede3));
    background: -webkit-linear-gradient(top, #f5f2ea 0%, #f1ede3 100%);
    background: -o-linear-gradient(top, #f5f2ea 0%, #f1ede3 100%);
    background: -ms-linear-gradient(top, #f5f2ea 0%, #f1ede3 100%);
    background: linear-gradient(to bottom, #f5f2ea 0%, #f1ede3 100%);
    border-top: 1pt solid #dddcd8;
    border-bottom: 1pt solid #dddcd8;
    position: relative;
    z-index: 991;
}

#vde_toolbar_row .vde_toolbar_row_inner {
    min-width: 1000px;
    max-width: 1316px;
    margin: 0 auto;
}

#vde_toolbar_row .vde_toolbar_row_inner .logo {
    margin-top: 6px;
    width: 244px;
    background: url(Magento_DesignEditor::images/logo-store-designer.png) no-repeat;
}

#vde_toolbar_row .vde_toolbar_cell {
    float: left;
    margin-left: -11pt;
    margin-right: 10pt;
    border-right: 1pt solid transparent;
    border-left: 1pt solid transparent;
    padding: 0 10pt;
    position: relative;
}

#vde_toolbar_row .vde_toolbar_cell:hover, #vde_toolbar_row .vde_toolbar_cell.active {
    background-color: white;
    border-right: 1pt solid #deddd9;
    border-left: 1pt solid #deddd9;
}

.vde_toolbar_buttons {
    float: right;
    z-index: 998;
    position: relative;
    padding: 2pt 0;
    line-height: 0;
}

.action-switch-mode {
    float: left;
    background: none;
    border: 0;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}

.vde_toolbar_buttons a.vde_button,
.action-switch-mode {
    display: block;
    border: 1px solid #c9c6be;
    box-shadow: 0 0 1pt 0 #c9c6be;
    border-radius: 3pt;
    padding: 0 1.7em;
    color: #555;
    text-decoration: none;
    background-image: url(../images/button.png);
    background-size: contain;
    background-color: #f4f3f1 !important;
    float: left;
    margin-right: 3px;
}

.vde_toolbar_buttons a.vde_button:hover,
.action-switch-mode:hover {
    box-shadow: 0 0 1pt 1pt #c9c6be;
    background-image: url(../images/button_hover.png);
}

.vde_toolbar_buttons .action-theme-assign {
    float: left;
    margin-right: 10px;
    height: 30px;
}

.vde_toolbar_buttons .actions-split {
    margin: 0 20px 0 0;
}

.vde_toolbar_buttons .actions-split > [class^='action-'] {
    line-height: 20px;
}

.vde_toolbar_buttons .actions-split > .dropdown-menu {
    line-height: 21pt;
}

.vde_toolbar_buttons .dropdown-menu .disabled.ui-button {
    color: #c6c6c6;
    cursor: default;
}

.store-launcher-theme-preview .action-theme-assign {
    color: #fff;
    background: #f47b20;
    text-shadow: none;
}

.store-launcher-theme-preview .action-theme-assign:hover,
.store-launcher-theme-preview .action-theme-assign:focus {
    background: #e2701a;
    color: #fff;
    text-shadow: 0 -1px 2px #955326;
}

.store-launcher-theme-preview .action-theme-assign:active {
    box-shadow: 0 1px 5px #955326 inset;
}

#vde_toolbar .item-msg {
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

#vde_toolbar .error {
    border-color: red;
    color: red;
}

.vde_toolbar_cell_title {
    font-weight: bold;
    cursor: pointer;
    padding-right: 12pt;
    background: url(../images/arrow_down.png) right center no-repeat;
}

.vde_toolbar_cell.active .vde_toolbar_cell_title {
    background-image: url(../images/arrow_up.png);
}

.vde_toolbar_cell_value {
    font-weight: normal;
}

.vde_toolbar_cell_content .vde_cell_list_item.disabled {
    color: #c6c6c6;
    cursor: default;
}

#vde_toolbar_row .vde_toolbar_cell_content,
#vde_toolbar_row .vde_toolbar_cell_content {
    color: #676056;
}

#vde_toolbar_row .switcher-label:after {
    vertical-align: middle;
    margin-top: -3px;
}

.vde_toolbar_cell_content {
    display: none;
    position: absolute;
    top: 2.5em;
    left: 0;
    background: #fff;
    padding: .5em 0;
    z-index: 190;
    min-width: 20em;
    margin-top: 1pt;
    border-radius: 0 0 5pt 5pt;
    -moz-box-shadow: 0 1pt 2pt 1pt #6c6c6c;
    -webkit-box-shadow: 0 1pt 2pt 1pt #6c6c6c;
    box-shadow: 0 1pt 2pt 1pt #6c6c6c;
}

.vde_toolbar_cell.active .vde_toolbar_cell_content {
    display: block;
}

.vde_toolbar_cell_content > div {
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 10px;
}

.vde_toolbar_cell_content .vde_cell_list_item {
    padding-left: 18pt;
    cursor: pointer;
}

.vde_toolbar_cell_content .vde_cell_list_group {
    padding-left: 5pt;
    font-style: italic;
    cursor: default;
}

.vde_toolbar_cell_content .vde_cell_list_item:hover, #vde_handles_tree .jstree-clicked, #vde_handles_tree .jstree-hovered {
    background-color: #f5f2ea;
}

.vde_toolbar_cell_content .checked {
    background: url(../images/checked.png) no-repeat 5pt center;
}

.vde_breadcrumbs a {
    font-weight: bold;
    text-decoration: none;
    color: #2483c7;
}

.vde_breadcrumbs a:hover {
    text-decoration: underline;
}

.vde_breadcrumbs .vde_breadcrumbs_separator {
    margin: 0 .3em;
}

#visual_design_editor_theme a {
    display: block;
    text-decoration: none;
}

#vde_handles_hierarchy .vde_toolbar_cell_content {
    padding: 1em .5em 1em 0;
}

#vde_handles_tree {
    max-height: 30em; /* max allowed height */
    overflow: hidden; /* don't display native scrollbars */
    padding-right: .5em;
    text-align: left;
    background-color: transparent;
}

#vde_handles_tree li {
    overflow: hidden;
}

#vde_handles_tree a {
    margin-left: .5em;
    padding: .5em;
    width: 100%;
}

#vde_handles_tree .jstree-clicked, #vde_handles_tree .jstree-hovered {
    border: none;
}

#vde_handles_tree .jstree-closed > .jstree-icon {
    background: url(../images/jstree_plus_minus.png) top left no-repeat;
}

#vde_handles_tree .jstree-open > .jstree-icon {
    background: url(../images/jstree_plus_minus.png) top right no-repeat;
}

#vde_handles_tree .vde_option_fragment a {
    color: #eea243;
}

.vde_container_frame {
    border: none;
    margin-top: 0;
    width: 100%;
}

/* Quick Styles */
.fieldset.column {
    background: transparent;
    border: none;
    display: block;
    float: left;
    margin: 0 0 0 10.6%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 26.26%;
}

.tab-panel form > span.field-row + .fieldset,
.tab-panel form > div:first-child + .fieldset.column,
.fieldset.column:first-child {
    margin-left: 0;
}

.fieldset.column .legend {
    border: none;
    margin: 0;
    float: none;
}

.fieldset.column .fieldset {
    margin: 0;
    padding: 0;
}

.fieldset.column .legend span,
.fieldset .label {
    font: bold 16px/1.333 "Helvetica", Arial, sans-serif;
    color: #f2ebde;
    margin: 0 0 10px;
    padding: 0;
}

.fieldset.column .fieldset.element-logo {
    margin: 0 0 50px 0;
}

.element-logo .custom-file .action-add,
.element-background .custom-file .action-add {
    top: 0;
    margin: 0 5px 0 0;
}

.element-logo .custom-file label,
.element-background .custom-file label,
.custom-code-description .custom-file label {
    color: #9f978b;
}

.element-logo .custom-file-for-store-view {
    margin: 5px 0;
}

.fieldset.column .element-color-picker {
    margin-bottom: 5px;
}

.fieldset.element-background .element-color-picker {
    margin-bottom: 10px;
}

.element-font .element-font-picker,
.element-color-picker .label,
.fieldset.element-background .legend {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.element-font .element-color-picker,
.element-color-picker .control {
    display: inline-block;
    width: 43%;
    white-space: nowrap;
    float: right;
    text-align: right;
}

.element-font .element-font-picker {
    width: 63%;
}

.element-font .element-color-picker {
    width: 35%;
}

.element-color-picker .control input {
    width: 80px;
    vertical-align: top;
    text-transform: uppercase;
}

.element-color-picker .color-box {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #30312c;
    border-radius: 3px;
}

.element-color-picker .color-box.active {
    border-color: #19a3d1;
    box-shadow: 0 0 8px #19a3d1;
}

.uploaded-file-wrapper {
    background: #201f1b;
    border-radius: 5px;
    margin: 10px 0 20px;
}

.uploaded-file-wrapper .file-row,
.uploaded-file-wrapper .tile-background {
    padding: 9px 10px;
}

.uploaded-file-wrapper .uploaded-image ~ .tile-background {
    border-top: 1px solid #000;
    box-shadow: 0 1px 0 #2f302a inset;
}

.uploaded-file-wrapper .file-row {
    position: relative;
}

.uploaded-file-wrapper .file-row .label,
.uploaded-file-wrapper .field-row .label span {
    font-size: 13px;
    color: #70695f;
}

.uploaded-file-wrapper .file-row .action-delete {
    position: absolute;
    top: 8px;
    right: 8px;
}

.uploaded-file-wrapper .file-row .action-delete:before {
    color: #fff;
    font-size: 18px;
}

.uploaded-file-wrapper .tile-background > .field-row > .label {
    margin-bottom: 0;
}

.uploaded-file-wrapper .tile-background .element-checkbox {
    float: left;
    margin: 5px 5px 0 0;
}

.element-font {
    white-space: nowrap;
}

.element-font .element-font-picker {
    margin-top: 0;
}

.element-font .element-font-picker select {
    width: 100%;
}

.element-font .element-color-picker .control {
    width: auto;
}

#quick-styles-form-backgrounds .element-background .element-color-picker {
    border-bottom: 1px solid #31302b;
    padding-bottom: 5px;
    margin-bottom: 13px;
}

/*
    Image Sizing
-------------------------------------- */
.vde-image-sizing {
    padding-bottom: 40px;
}

.vde-image-sizing fieldset.field {
    border: solid #31302b;
    border-width: 0 0 1px;
    margin-bottom: 2px;
    padding: 8px 0;
}

@media screen and (max-width: 960px) {
    .vde-image-sizing [class^="fields-group-"] .field {
        width: auto !important;
        margin-bottom: 0 !important;
    }
}

.vde-image-sizing fieldset.field > .label {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.vde-image-sizing fieldset.field > .label span {
    font-size: 15px;
}

.vde-image-sizing fieldset.field > .control {
    float: right;
    text-align: right;
}

.vde-image-sizing .field-row > .note {
    margin-bottom: 30px;
}

.vde-image-sizing .action-connect {
    font-size: 18px;
    color: #9f978c;
}

.vde-image-sizing .action-connect:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e03f'; /* unlink icon */
}

.vde-image-sizing .control .control-value {
    padding-top: 0;
}

.vde-image-sizing .choice {
    margin: 6px -11px 0 9px;
}

.vde-image-sizing .choice {
    overflow:hidden;
}

.vde-image-sizing .choice > input {
    position:absolute;
    left:-9999px;
}

.vde-image-sizing .choice > input:checked + .addafter > .action-connect:before {
    content: '\e040';
}

.eq-ie8 .vde-image-sizing .choice.checked .action-connect:before {
    content: '\e040';
}

.vde-image-sizing .field.with-addon .addbefore {
    padding-left: 8px;
    font-size: 13px;
    line-height: 20px;
}

.vde-image-sizing .field .input-text {
    width: 52px;
    text-align: right;
}

.vde-image-sizing .note {
    border-bottom: 1px solid #31302b;
    padding-bottom: 10px;
}

.vde-image-sizing .description {
    position: relative;
    padding: 17px 0 17px 70px;
    background: url(../images/vde-tools-image-settings-fill-frame.png) no-repeat;
}

.vde-image-sizing .explain {
    position: absolute;
    left: 0;
    top: 0;
}

.vde-image-sizing .action-reset,
.vde-image-sizing .action-reset:hover,
.vde-image-sizing .action-reset:active,
.vde-image-sizing .action-reset[disabled] {
    margin-top: 5px;
    color: #9f978c;
}

.vde-image-sizing .action-reset:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e010'; /* reload icon */
    margin-right: 5px;
    vertical-align: text-bottom;
}

.eq-ie8 .vde-image-sizing .action-reset .ui-button-text {
    vertical-align: bottom;
}

#add_white_borders {
    margin-right: 8px;
}

.save_image_sizing {
    display: none;
    border: none !important;
    background: #000;
    position: fixed;
    left: 0;
    right: 20px;
    bottom: 51px;
    height: 44px;
    z-index: 2;
}

.eq-ie8 .save_image_sizing {
    background: transparent;
    bottom: 67px;
}

.vde-image-sizing fieldset.save_image_sizing > .control {
    float: none;
    min-width: 1000px;
    max-width: 1300px;
    margin: 0 auto;
}

.vde-tools.opened .save_image_sizing {
    display: block;
}

.field-save_image_sizing.no-label > .control {
    margin: 0;
    width: 100%;
}

#save_image_sizing {
    position: relative;
    right: -15px;
}

.eq-ie8 #save_image_sizing {
    right: 0;
}

/*
    Color Picker
-------------------------------------- */
.farbtastic {
    background: #31302b;
    border: 1px solid #3e3d37;
    border-radius: 3px;
    right: -40px;
    top: -84px;
    z-index: 6;
    box-shadow: 0 0 5px #000;
}

.hasScroll .farbtastic {
    z-index: 4;
}

.farbtastic:before {
    position: absolute;
    left: -13px;
    top: 50%;
    margin-top: -13px;
    width: 20px;
    height: 20px;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e02b'; /* arrow left */
    color: #31302b;
    font-size: 20px;
    text-shadow: -1px 0 0 #555;
}

.farbtastic.vertical {
    top: 39px;
    left: -80px;
}

.farbtastic.vertical:before {
    left: 50%;
    top: -17px;
    margin-top: 0;
    margin-left: -13px;
    content: '\e029'; /* arrow up */
}

/*
    Clearfix
-------------------------------------- */
.theme:before,
.theme:after,
.themes:before,
.themes:after,
.files-list-header:before,
.files-list-header:after,
.element-color-picker:before,
.element-color-picker:after,
.vde-tab-data > .tab-panel:before,
.vde-tab-data > .tab-panel:after,
.vde-tab-content-header:before,
.vde-tab-content-header:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.theme:after,
.themes:after,
.files-list-header:after,
.element-color-picker:after,
.vde-tab-data > .tab-panel:after,
.vde-tab-content-header:after,
.clearfix:after {
    clear: both;
}

/*
    ToolTip
-------------------------------------- */
.tip {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #31302b;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: 1px solid #31302b;
    letter-spacing: .25px;
    margin: -80px 0 0 -164px;
    padding: 12px;
    position: absolute;
    max-width: 260px;
    color: #fff;
}

.tip h1 {
    font-size: 16px;
    padding: 0 0 6px 0;
    margin: 0;
}

.tip p {
    padding: 0;
    margin: 0;
}

.tip:after {
    display: block;
    content: "";
    border-color: #31302b transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -18px;
    left: 13em;
}

/*
    Manage Assets
-------------------------------------- */
.css-editor-image:hover {
    border: 2px solid #19A3D2;
}

.wrapper-popup .action-delete,
.wrapper-popup .action-delete:active {
    background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    padding: 5px;
}

.wrapper-popup .action-delete:before {
    display: inline-block;
    text-indent: 0;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e07f'; /* trash icon */
    color: #b7b3ad;
    cursor: default;
}

.wrapper-popup .activate:before {
    color: #7e7e7e;
    cursor: pointer;
}

.wrapper-popup .actions .action-delete {
    margin-left: 0;
}

.wrapper-popup .action-delete > span {
    display: none;
}

/* Image Management */
.image,
.gallery .ui-state-highlight {
    position: relative;
    width: 17.874%;
    border: 2px solid #ccc;
    border-radius: 0;
    float: left;
    margin: 5px 1%;
    overflow: hidden;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font: 10px/1.333 Arial,Helvetica,sans-serif;
}

.image .spacer {
    width: 20%;
}

.image .asset-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}

.image.base-image:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 66px;
    background: url(Magento_DesignEditor::images/gallery-image-base-label.png) no-repeat;
    content: '';
    z-index: 1;
}

.image.hidden-for-front:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(247, 242, 236, .8);
    content: attr(data-image-hidden-label);
    text-align: center;
    text-transform: uppercase;
    color: #a69a8f;
    font: 18px/110px 'CallunaSans', Arial, sans-serif;
    font-weight: 500;
    z-index: 1;
}

.gallery .image.hidden-for-front:after {
    line-height: 160px;
}

.image.active {
    box-shadow: 0 0 10px #2ea9ec;
}

.image .actions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image .actions [class^="action-"],
.image[data-image-hidden]:hover .actions [class^="action-"],
.image.hidden-for-front:hover .actions [class^="action-"] {
    visibility: hidden;
}

.image:hover .actions [class^="action-"],
.image[data-image-hidden]:hover .actions .action-delete,
.hidden-for-front:hover .actions .action-delete {
    visibility: visible;
}

.image .action-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
}

.image .action-add {
    position: absolute;
    bottom: 20px;
    left: 10%;
    right: 10%;
    padding: 5px;
    margin: auto;
}

.image-text {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.gallery .image .action-delete {
    top: 5px;
    right: 5px;
}

.uploader {
    border-collapse: collapse;
    display: table;
    width: 99.5%;
    padding: 0;
    border: 0 !important;
    margin: 0 !important;
}

.uploader .file-row {
    display: table-row;
}

.uploader .progressbar-container {
    position: relative;
}

.uploader .file-row .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: 0.3;
}

.uploader .file-row .progressbar.upload-failure {
    background-color: red;
}

.uploader .file-row .progressbar.upload-progress {
    background-color: green;
}

.uploader .file-row .progressbar.upload-success {
    background-color: green;
}

.uploader .file-row .file-info-name {
    display: table-cell;
    padding: 5px;
    width: 70%;
}

.uploader .file-row .file-info-details {
    display: table-cell;
    width: 25%;
    padding: 5px;
    text-align: right;
}

.uploader .file-row .file-icon {
    display: table-cell;
    width: 5%;
    padding: 5px;
    text-align: right;
}

.uploader-image {
    border: 2px solid #ccc;
    display: table;
    width: 99.5%;
    padding: 0;
    margin: 0 0 15px 0;
}

.uploader-image .action-delete,
.uploader-image .action-delete:active {
    padding: 0;
}

.uploader-image .image.base-image:before {
    background: none;
}

.uploader-image .file-row {
    display: table-row;
    margin: 15px 0 15px 15px;
}

.scroll-assets {
    overflow-y: auto;
    max-height: 300px;
}

[data-content-text] {
    display: inline;
}

.uploaded {
    float: right;
}

.form-buttons {
    margin-top: 10px;
}
