// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// .adminhtml-invitation-index,
// .adminhtml-targetrule-index,
// .adminhtml-giftwrapping-index,
// .adminhtml-customersegment-index,
// .adminhtml-giftregistry-index,
// .adminhtml-giftcardaccount-index  {
//     &:extend(.CustomGridView all);
//     &:extend(.CustomGridAction all);
//     .page-actions {
//         .add {
//             &:extend(.PrimaryAddButton all);
//         }
//     }
// }

// .adminhtml-report-invitation-customer,
// .adminhtml-report-invitation-order,
// .adminhtml-report-invitation-index {
//     &:extend(.CustomGridView all);
// }

//
//  Reports - Customer Segment
//  ---------------------------------------------

// .adminhtml-report-customer-customersegment-segment {
//     &:extend(.CustomGridView all);
// }

//
//  Reports - Customer Segment Report
//  ---------------------------------------------

.filter-segments {
    list-style: none;
    padding: 0;
}

.adminhtml-report-customer-customersegment-detail .col-id {
    width: 35px;
}

.adminhtml-report-customer-customersegment-detail .col-period {
    white-space: nowrap;
    width: 70px;
}

.adminhtml-report-customer-customersegment-detail .col-zip {
    width: 50px;
}

//
//  Reports - Customer Segment 
//  ---------------------------------------------

.adminhtml-report-customer-customersegment-segment .col-id {
    width: 35px;
}

.adminhtml-report-customer-customersegment-segment .col-status {
    width: 65px;
}

.adminhtml-report-customer-customersegment-segment .col-qty {
    width: 145px;
}

.adminhtml-report-customer-customersegment-segment .col-segment,
.adminhtml-report-customer-customersegment-segment .col-website {
    width: 35%;
}

.adminhtml-report-customer-customersegment-segment .col-select {
    width: 45px;
}

//
//  Gift Registry
//  ---------------------------------------------

.giftregistry-custom-attributes {
    margin-bottom: 20px;
}

//
//  Gift Wrapping
//  ---------------------------------------------

.adminhtml-giftwrapping-index th.col-id {
    text-align: left;
}

.adminhtml-giftwrapping-index .col-price {
    text-align: right;
    width: 50px;
}

.adminhtml-giftwrapping-index .col-actions {
    width: 50px;
}

.adminhtml-giftwrapping-index .col-select {
    width: 60px;
}

.adminhtml-giftwrapping-edit .field-image .control {
    line-height: 28px;
}

.adminhtml-giftwrapping-edit .field-image a {
    display: inline-block;
    margin: 0 5px 0 0;
}

.adminhtml-giftwrapping-edit .field-image img {
    vertical-align: middle;
}

.adminhtml-giftwrapping-new .field-image .input-file,
.adminhtml-giftwrapping-edit .field-image .input-file {
    display: inline-block;
    margin: 0 15px 0 0;
    width: auto;
}

.adminhtml-giftwrapping-new .field-image .addafter,
.adminhtml-giftwrapping-edit .field-image .addafter {
    border: 0;
    box-shadow: none;
    display: inline-block;
    height: auto;
    margin: 0 15px 0 0;
    width: auto;
}

.adminhtml-giftwrapping-new .field-image .delete-image,
.adminhtml-giftwrapping-edit .field-image .delete-image {
    display: inline-block;
    white-space: nowrap;
}

.adminhtml-giftwrapping-edit .field-image .delete-image input {
    display: inline-block;
    margin: -3px 5px 0 0;
    width: auto;
}

.adminhtml-giftwrapping-edit .field-image .addon .delete-image input:focus + label {
    border: 0;
    box-shadow: none;
}

// .adminhtml-giftwrapping-edit .store-switcher {
//     float: left;
//     position: relative;
//     bottom: -14px;
// }

.adminhtml-giftwrapping-index .col-id {
    width: 35px;
}

.adminhtml-giftwrapping-index .col-status {
    white-space: normal;
    width: 75px;
}
.adminhtml-giftwrapping-index .col-websites {
    white-space: nowrap;
    width: 200px;
}
.adminhtml-giftwrapping-index .col-price .label {
    display: inline-block;
    min-width: 60px;
    white-space: nowrap;
}

.adminhtml-giftwrapping-index .col-price .price-excl-tax .price,
.adminhtml-giftwrapping-index .col-price .price-incl-tax .price {
    font-weight: bold;
}

//
//  Invitations
//  ---------------------------------------------

.invitee_information,
.inviter_information {
    width: 48.9362%;
}

.invitee_information {
    float: left;
}

.inviter_information {
    float: right;
}

.invitation_information .data-table th,
.invitee_information .data-table th,
.inviter_information .data-table th {
    width: 20%;
    white-space: nowrap;
}

.invitation_information .data-table textarea,
.invitation_information .data-table input {
    width: 100%;
}

.invitations-history ul {
    margin: 0;
    padding-left: 25px;
}

.invitations-history ul .status:before {
    content: '|';
    display: inline-block;
    margin: 0 10px;
}

//
//  Reports - Order Conversion Rate
//  ---------------------------------------------

.adminhtml-report-invitation-order .col-period {
    white-space: nowrap;
    width: 70px;
}

.adminhtml-report-invitation-order .col-inv-sent,
.adminhtml-report-invitation-order .col-inv-acc,
.adminhtml-report-invitation-order .col-acc,
.adminhtml-report-invitation-order .col-rate {
    text-align: right;
    width: 23%;
}

//
//  Reports - Invitations - Customer
//  ---------------------------------------------

.adminhtml-report-invitation-customer .col-id {
    width: 35px;
}

.adminhtml-report-invitation-customer .col-period {
    white-space: nowrap;
    width: 70px;
}

.adminhtml-report-invitation-customer .col-inv-sent,
.adminhtml-report-invitation-customer .col-inv-acc {
    text-align: right;
    width: 120px;
}

//
//  Reports - Invitations - General
//  ---------------------------------------------

.adminhtml-report-invitation-index .col-period {
    white-space: nowrap;
}

.adminhtml-report-invitation-index .col-inv-sent,
.adminhtml-report-invitation-index .col-inv-acc,
.adminhtml-report-invitation-index .col-inv-disc,
.adminhtml-report-invitation-index .col-inv-acc-rate,
.adminhtml-report-invitation-index .col-inv-disc-rate {
    text-align: right;
    width: 19%;
}

//
//  Invitation Data table - alternative view
//  ---------------------------------------------

.invitation_information .data-table,
.invitee_information .data-table,
.inviter_information .data-table {
    width: 100%;
}

.invitation_information .data-table tbody tr th,
.invitee_information .data-table tbody tr th,
.inviter_information .data-table tbody tr th {
    font-weight: bold;
}

.invitation_information .data-table tbody tr td,
.invitation_information .data-table tbody tr th,
.invitee_information .data-table tbody tr td,
.invitee_information .data-table tbody tr th,
.inviter_information .data-table tbody tr td,
.inviter_information .data-table tbody tr th {
    background-color: #fff;
    border: 0;
    color: #666;
    padding: 9px 10px 10px;
    vertical-align: top;
}

.invitation_information .data-table tbody tr:nth-child(2n+1) td,
.invitation_information .data-table tbody tr:nth-child(2n+1) th,
.invitee_information .data-table tbody tr:nth-child(2n+1) td,
.invitee_information .data-table tbody tr:nth-child(2n+1) th,
.inviter_information .data-table tbody tr:nth-child(2n+1) td,
.inviter_information .data-table tbody tr:nth-child(2n+1) th {
    background-color: #fbfaf6;
}

[class^=' adminhtml-giftregistry-'] {
    .fieldset-wrapper-content .data-table {
        .col-sort-order {
            width: 80px;
        }

        td {
            vertical-align: top;

            select {
                display: block;
                width: 100%;
            }

            .input-radio.global-scope {
                margin-top: 9px;
            }
        }
    }
}

.sales-order-create-index {
    //  Configure product popup
    .ui-dialog {
        .content > .giftcard {
            .field.text .input-text {
                width: 100%;
            }

            .note .price {
                font-weight: 600;

                &:before {
                    content: ': ';
                }
            }

            .fixed.amount {
                .label:after {
                    content: ': ';
                }

                .control {
                    display: inline-block;
                    font-weight: 600;

                    .control-value {
                        margin: -2px 0 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

//
//  Stores -> Gift Registry
//  ---------------------------------------------

.adminhtml-giftregistry-index {
    .col-label {
        &:extend(.col-370-max all);
    }

    .col-is_listed {
        &:extend(.col-70 all);
    }
}

//
//  Reports -> Invitations
//  ---------------------------------------------

[class^=' invitations-report-invitation'] {
    [class^='col-inv-'] {
        &:extend(.col-70 all);
    }

    .grid .col-period {
        &:extend(.col-auto all);
    }
}

//
//  Reports -> Wish List Report
//  ---------------------------------------------

.multiplewishlist-report-customer-wishlist-wishlist .grid {
    .col-name,
    .col-subject,
    .col-product {
        &:extend(.col-220-max all);
    }
}
