<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Payment Transaction Failed Reminder"}} @-->
<!--@vars {
"var billingAddressHtml|raw":"Billing Address",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var dateAndTime":"Date and Time of Transaction",
"var paymentMethod":"Payment Method",
"var shippingAddressHtml|raw":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var items|raw":"Shopping Cart Items",
"var total":"Total",
"var reason":"Transaction Failed Reason"
} @-->

<h1>{{trans "Payment Transaction Failed"}}</h1>

<ul>
    <li>
        <strong>{{trans "Reason"}}</strong><br>
        {{var reason}}
    </li>
    <li>
        <strong>{{trans "Checkout Type"}}</strong><br>
        {{var checkoutType}}
    </li>
    <li>
        <strong>{{trans "Customer:"}}</strong><br>
        <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
    </li>
    <li>
        <strong>{{trans "Items"}}</strong><br>
        {{var items|raw}}
    </li>
    <li>
        <strong>{{trans "Total:"}}</strong><br>
        {{var total}}
    </li>
    <li>
        <strong>{{trans "Billing Address:"}}</strong><br>
        {{var billingAddressHtml|raw}}
    </li>
    {{depend shippingMethod}}
    <li>
        <strong>{{trans "Shipping Address:"}}</strong><br>
        {{var shippingAddressHtml|raw}}
    </li>
    <li>
        <strong>{{trans "Shipping Method:"}}</strong><br>
        {{var shippingMethod}}
    </li>
    {{/depend}}
    <li>
        <strong>{{trans "Payment Method:"}}</strong><br>
        {{var paymentMethod}}
    </li>
    <li>
        <strong>{{trans "Date & Time:"}}</strong><br>
        {{var dateAndTime}}
    </li>
</ul>
