<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryConfigurableProductAdminUi\Block\Adminhtml\Product\Steps\Bulk">
        <arguments>
            <argument name="configFactory" xsi:type="object">uiComponentConfigFactory</argument>
        </arguments>
    </type>
    <preference for="Magento\ConfigurableProduct\Block\Adminhtml\Product\Steps\Bulk" type="Magento\InventoryConfigurableProductAdminUi\Block\Adminhtml\Product\Steps\Bulk"/>
</config>
