// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Admin Theme Icons
//  _____________________________________________

.lib-font-face(
    @family-name: @icons-admin__font-name,
    @font-path: @icons-admin__font-name-path,
    @font-weight: normal,
    @font-style: normal
);
