// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Structure
//  _____________________________________________

html {
    height: 100%;
}

body {
    &:extend(.abs-clearer all);
    background-color: @body__background-color;
    min-height: 100%;
    min-width: 102.4rem;
}

.page-wrapper {
    background-color: @page-wrapper__background-color;
    display: inline-block;
    margin-left: -4px; // Clear inline-block gap
    vertical-align: top;
    width: ~'calc(100% - @{menu__width})';
}

.page-content {
    &:extend(.abs-clearfix all);
    padding-bottom: @page-content__padding-vertical;
    padding-left: @page-content__padding-horizontal;
    padding-right: @page-content__padding-horizontal;
}

//  ToDo UI: should be moved to messages
.notices-wrapper {
    margin: 0 3rem;
    .messages {
        margin-bottom: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-admin-2columns-left {
        .page-columns {
            #mix-grid .row();
            .main-col {
                #mix-grid .width(9,12);
                float: right;
            }

            .side-col {
                #mix-grid .column(3,12);
            }
        }
    }
}
