// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Typography
//  ---------------------------------------------

//  Font
@font-size__base: 1.4rem;
@line-height__base: 1.4;

//  Focus
@focus__color: @color-blue-dodger;
@focus__box-shadow: 0 0 0 1px @focus__color;
