// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

/*
    System Messages
-------------------------------------- */
.message-system {
    &:extend(._layout-width all);
}

.message-system-inner {
    background: #f7f3eb;
    border: 1px solid #c0bbaf;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    float: right;
    overflow: hidden;
}

.message-system-unread .message-system-inner {
    float: none;
}

.message-system-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.message-system .message-system-list {
    width: 75%;
}

.message-system-list li {
    padding: 5px 13px 7px 36px;
    position: relative;
}

.message-system-short {
    padding: 5px 13px 7px;
    float: right;
}

.message-system-short span {
    display: inline-block;
    margin-left: 7px;
    border-left: 1px #d1ccc3 solid;
}

.message-system-short span:first-child {
    border: 0;
    margin-left: 0;
}

.message-system-short a {
    padding-left: 27px;
    position: relative;
    height: 16px;
}

.message-system .message-system-short a:before,
.message-system-list li:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    height: 16px;
    width: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 7px;
    top: 2px;
}

.message-system-list li:before {
    top: 5px;
    left: 13px;
}

.message-system .message-system-short .warning a:before,
.message-system-list li.warning:before {
    content: "\e006";
    color: #f2a825;
}

.message-system .message-system-short .error a:before,
.message-system-list li.error:before {
    content: "\e086";
    font-family: 'MUI-Icons';
    color: #c00815;
}

.ui-dialog .message-system-list {
    margin-bottom: 25px;
}

