<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Contact Form"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone"
} @-->

{{template config_path="design/email/header_template"}}

<ul>
    <li>{{trans "Name: %name" name=$data.name}}</li>
    <li>{{trans "Email: %email" email=$data.email}}</li>
    <li>{{trans "Phone Number: %telephone" telephone=$data.telephone}}</li>
    <li>{{trans "Comment: %comment" comment=$data.comment}}</li>
</ul>

{{template config_path="design/email/footer_template"}}