// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Order discounts
//  ---------------------------------------------

.order-discounts {
    &:extend(.abs-clearfix all);
    margin-top: @indent__base;
    .action-secondary {
        float: right;
        margin-top: 2.1rem;
    }
    .order-coupons {
        float: left;
    }
    .admin__field {
        display: inline-block;
        margin: 0 3.5rem 0 0;
        vertical-align: top;

        .admin__field-control {
            padding-right: 32px;
            position: relative;
        }

        .action-default {
            &:extend(.abs-action-reset all);
            position: absolute;
            right: 0;
            top: 7px;
            > span {
                .extend__visually-hidden();
            }

            &:before {
                &:extend(.abs-icon all);
                content: @order-create-icon-add__content;
            }

            &:hover {
                color: @order-create-icon-plus__hover__color;
            }
        }
        p {
            margin: @indent__s 0 0;
        }
    }
    .action-remove {
        color: @color-brownie;
        margin-left: @indent__xs;
        &:hover {
            color: @order-create-icon-plus__hover__color;
            text-decoration: none;
        }
        > span {
            .extend__visually-hidden();
        }
        &:before {
            &:extend(.abs-icon all);
            content: @order-create-icon-remove__content;
        }
    }
}
