// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Gift options
//  ---------------------------------------------

.order-gift-options {
    &:extend(.abs-clearfix all);
    .card-price-box {
        display: none;
        &._active {
            display: block;
        }
    }

    .price-box {
        .price {
            font-weight: @font-weight__bold;
        }
    }

    > .giftmessage-order-create {
        float: left;
        #mix-grid .width(6, 12);
    }

    .admin__field {
        &._required[class] {
            &:not(.admin__field-option) {
                > .admin__field-label span {
                    &:after {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.giftmessage-order-create {
    .field-sender {
        margin-top: 1.4rem;
    }
    .admin__field { // ToDo UI: remove when /app/code/Magento/Backend/view/adminhtml/templates/widget/form.phtml refactored (the wrapping div removed)
        margin-bottom: 3rem;
        position: relative;
        + .admin__field {
            margin-top: 1.5rem;
        }
    }
}

.gift-options-tooltip {
    &:extend(.abs-admin__field-tooltip-content all);
}
