<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item">
    <div class="agreement content" data-bind="style: { height: agreementConfiguration.height || null }, html: agreementConfiguration.content"></div>
    <form class="field choice agree required" id="checkout-agreements">
        <input type="checkbox" class="control-checkbox" data-bind="checked: value, attr: { id: uid, disabled: disabled, name: inputName }, hasFocus: focused">
        <label class="field-label" data-bind="checked: value, attr: { for: uid }">
            <span data-bind="html: agreementConfiguration.checkboxText"></span>
        </label>
    </form>
    <!-- ko if: error() -->
    <div class="mage-error" data-bind="attr: { for: uid }, text: error" generated="true"></div>
    <!-- /ko -->
</li>
