<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="$adj.displayPriceInclFptDescr() || $adj.displayPriceExclFptDescr()">
    <each args="data: $adj.getWeeeAttributes($row()), as: '$taxAttribute'">
        <if args="$adj.displayBothPricesTax()">
            <span class="weee"
                  data-price-type="weee"
                  attr="'data-label': $adj.getWeeTaxAttributeName($taxAttribute) + ' ' + $t('Incl. tax')"
                  html="$adj.getWeeeTaxWithoutTax($taxAttribute)"/>

            <span class="weee"
                  data-price-type="weee"
                  attr="'data-label': $adj.getWeeTaxAttributeName($taxAttribute) + ' ' + $t('Excl. tax')"
                  html="$adj.getWeeeTaxWithTax($taxAttribute)"/>
        </if>

        <if args="$adj.displayPriceInclTax()">
            <span class="weee"
                  data-price-type="weee"
                  attr="'data-label': $adj.getWeeTaxAttributeName($taxAttribute)"
                  html="$adj.getWeeeTaxWithTax($taxAttribute)"/>
        </if>

        <if args="$adj.displayPriceExclTax()">
            <span class="weee"
                  data-price-type="weee"
                  attr="'data-label': $adj.getWeeTaxAttributeName($taxAttribute)"
                  html="$adj.getWeeeTaxWithoutTax($taxAttribute)"/>
        </if>
    </each>
</if>

<if args="$adj.displayPriceExclFptDescr($row())">
    <span class="price-final"
          data-price-type="weeePrice"
          data-price-amount=""
          attr="'data-label': $t('Final Price')"
          html="$adj.getWeeeAdjustment($row())"/>
</if>
