/.buildpath
/.cache
/.htaccess
/.metadata
/.project
/.settings
atlassian*
/index.php
/nbproject
/sitemap
/.htaccess.orig
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/local.xml
/app/etc/local.xml.*
/app/etc/*/module.xml
/downloader/.cache
/downloader/cache.cfg
/downloader/connect.cfg
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/pub/media/*
/pub/media/customer/*
/pub/media/downloadable/*
/pub/static/*
!/pub/static/.htaccess
/var/*
/app/code/Magento/TestModule*
