; Copyright © Magento, Inc. All rights reserved.
; See COPYING.txt for license details.

; adjust memory limit
; Our detailed recommendations are:

;  Compiling code or deploying static assets, 756M
;  Installing and updating Magento components from Magento Marketplace, 2G
;  Testing, ~3-4G

memory_limit = 2G

; For further details refer to the technology stack requirements of your Magento installation