// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.adminhtml-integration-index {
    .data-grid {
        .action {
            &:extend(.abs-action-reset all);

            &[disabled] {
                color: @color-gray-light2;
                cursor: not-allowed;
                opacity: 0.6;
            }

            &:hover {
                &:before {
                    color: @color-gray-middle3;
                }
            }

            &:before {
                &:extend(.abs-icon all);
            }

            &.edit {
                &:before {
                    content: @icon-edit__content;
                }
            }

            &.info {
                &:before {
                    content: @icon-info__content;
                }
            }

            &.delete {
                &:before {
                    content: @icon-delete__content;
                }
            }
        }
    }

    .security-notice {
        color: @color-red11;
        font-size: @font-size__tiny;
        margin-left: 1.5rem;
        vertical-align: middle;

        &:before {
            &:extend(.abs-icon all);
            content: @icon-warning__content;
            margin-right: @indent__xs;
        }
    }

    input[readonly] {
        cursor: copy;
    }

    .ui-dialog {
        .ui-dialog-buttonpane {
            float: none;

            .ui-dialog-buttonset {
                text-align: right;
            }
        }
    }

    .no-close {
        .ui-dialog-titlebar-close {
            display: none;
        }
    }
}
