<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="html: content"></div>

<!--ko if: showSpinner -->
<div class="admin__scope">
    <div
        class="admin__data-grid-loading-mask"
        data-role="spinner"
        data-bind="visible: loading">
        <div class="spinner">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
</div>
<!-- /ko -->
