/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

.fotorama-video-container.video-unplayed:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/gallery-sprite.png) bottom right;
    width: 100px;
    height: 100px;
    left: 0;
    top: 12px;
    margin: auto;
}
.fotorama-video-container .magnify-lens {
    display: none !important;
}
.fotorama-video-container.video-unplayed:hover img {
    opacity: 0.6;
}
.fotorama-video-container.video-unplayed:hover:after {
    transform: scale(1.25);
}
.video-thumb-icon:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/gallery-sprite.png) bottom left;
    width: 49px;
    height: 40px;
    left: 0;
    top: 10px;
    margin: auto;
}
.video-timing {
    width: auto;
    height: 30px;
    background: rgba(0, 0, 0, 0.75);
    padding: 0 17px;
    color: #fff;
    position: absolute;
    right: 0;
    line-height: 2;
    transition: 0.3s;
    bottom: -30px;
}
.video-timing.fadeIn {
    bottom: 0;
}
.product-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85%;
    margin-top: 15%;
}
.product-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.fotorama__arr.hidden-video {
    z-index: -1;
}
.fotorama__video-close {
    bottom: 89%;
    top: auto;
}
