// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// @group Header

.main-col {
    min-height: 20rem; // ToDo UI: delete if sticky footer
}

//
//  Icons
//  ---------------------------------------------

.icon-error {
    margin-left: 15px;
    color: #c00815;
    font-size: 11px;

    &:before {
        font-family: 'MUI-Icons';
        content: "\e086";
        font-size: 13px;
        line-height: 13px;
        overflow: hidden;
        speak: none;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin: -1px 5px 0 0;
    }
}
