/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/* =============================================================================
   Sorter
   ========================================================================== */
.sorter {
    line-height: 25px;
    padding: 5px 0;
    border:solid #999;
    border-width: 1px 0;
}
.view-mode {
    margin: 0;
    float: left;
    white-space: nowrap;
}
.sort-by {
    float: right;
    white-space: nowrap;
    line-height: normal;
}
.sort-by select {
    width: auto;
    margin: 0;
}
.sort-by a {
    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0 0 0 3px;
    text-decoration: none;
    color: #000;
    text-indent: -9999px;
    background: url(images/sorter-bg.png) no-repeat 0 0;
}
.sort-by a:hover {
    background-position: 0 -12px;
}
.sort-asc a {
    background-position: -9px 0;
}
.sort-asc a:hover {
    background-position: -9px -12px;
}
.view-icons strong,
.view-icons a {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-indent: -9999px;
    line-height: normal;
    background: url(images/view-mode-bg.png) no-repeat 0 0;
}
.view-icons strong.view-list {
    background-position: -16px 0;
}
.view-icons a.view-grid {
    background-position: 0 -16px;
}
.view-icons a.view-grid:hover {
    background-position: 0 -32px;
}
.view-icons a.view-list {
    background-position: -16px -16px;
}

.view-icons a.view-list:hover {
    background-position: -16px -32px;
}
.sorter:after {
    content:"";
    display:table;
    clear: both;
}




/* =============================================================================
   Footer Blocks
   ========================================================================== */
.footer-links {
    margin-bottom: 12px;
}
.switcher {}
.switcher ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.switcher .current {
    display: none;
}
.copyrights {
    display: block;
    margin: 12px 0;
}
.bug-report {
    margin: 12px 0;
}




/* =============================================================================
   Simple Block
   ========================================================================== */
.block {}
.block-title,
.block-list > li,
.block-footer {
    padding:5px 0;
}
.block-subtitle {
    margin:5px 0;
    font-weight:bold;
}
.block-list {
    list-style:none;
    padding:0;
}
.block-footer:after {
    content:'';
    width:100%;
    display:table;
    clear:both;
}

/* =============================================================================
   Auth, User Block (Login, Register Pages)
   ========================================================================== */
.block-user {
    margin:0 0 15px 0;
}
.block-user .block-title {
    text-transform:uppercase;
}
.block-user .forgot-link {
    display:inline-block;
    margin:7px 0 5px;
}
.block-user .block-footer .button {
    float:right;
}
.block-user .block-content {
    padding-top:12px;
}
.block-user .block-content p {
    margin-top:0;
}
.block-login .block-content {
    min-height:150px;
}

/* =============================================================================
   Logo
   ========================================================================== */
/* @MOVED to theme module styles

.logo {
    float:left;
    margin:0 0 10px 0;
    text-decoration:none;
}
a.logo {
    color:#000;
    font-size:34px;
    font-weight:bold;
}
.logo strong {
    display:none;
}*/

/* =============================================================================
   Search Form
   ========================================================================== */
.form-search {
    margin:0 0 10px 0;
}
.form-search label {
    vertical-align:top;
}
.form-search input[type=search],
.form-search input.search {
    margin-bottom:0;
    min-width:160px;
}
.form-search strong {
    display:none;
}
.search-form-submit {

}

/* =============================================================================
   Quick access links
   ========================================================================== */
.quick-access {
    float:right;
    margin:12px 0 0 0;
}
.quick-access .nav > ul > li {
    margin:0 22px 0 0;
}
.quick-access .nav > ul > li:after {
    content:'';
}
.quick-access .items-qty {
    font-size:11px;
}
.quick-access .nav > .button {
    margin:-3px 0 0 0;
}
.welcome-msg {}
.quick-access-links {}
.quick-access-links ul {}
.quick-access-links li {}
.quick-access-links a {}

/* =============================================================================
   Header
   ========================================================================== */
.page-header {}
.page-header .arrow {
    margin:0 0 0 3px;
    cursor:pointer;
    color:#919191;
    font-size:9px;
    vertical-align:middle;
}
.page-header-inner {}
.page-header-inner:after {
    content:'';
    display:table;
    width:100%;
}
.menu-top {
    list-style:none;
    margin:0 0 10px 0;
}
.menu-top li {
    display:inline-block;
    margin:0 25px 0 0;
}
.menu-top li a {
    text-decoration:underline;
}
.menu-top li a span {
    text-transform:none;
}
.menu-top dl {}
.menu-top dt {
    display:inline;
}
.menu-top dd {
    display:inline;
    margin:0 25px 0 0;
}
