/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/*
    Close btn
-------------------------------------- */
/*.close:before {
    content: '\00D7\00A0';
}*/

/*
    Tooltips
-------------------------------------- */

/* Simple "css" tooltip */
/*.tooltip {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
}

.tooltip .help {
    display: inline-block;
    position: relative;
    margin-left: 8px;
}

.tooltip .help span,
.tooltip .help a {
    display: block;
    width: 15px;
    height: 15px;
    text-decoration: none;
    text-indent: -999em;
    cursor: help;
}

.tooltip .help span:before,
.tooltip .help a:before {
    position: absolute;
    height: 15px;
    width: 15px;
    z-index: 1;
    top: 0;
    left: 0;
    text-indent: 0;
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\e049';
    font-size: 15px;
    line-height: 15px;
    color: #b6aea3;
    color: rgba(103, 96, 86, .4);
    overflow: hidden;
}

.tooltip .help span:hover:before,
.tooltip .help a:hover:before {
    color: #9c958a;
    color: rgba(103, 96, 86, .6);
}

.tooltip-content {
    display: none;
    position: absolute;
    max-width: 200px;
    margin-top: 10px;
    margin-left: -19px;
    padding: 4px 8px;
    border-radius: 3px;
    background: #000;
    background: rgba(49, 48, 43, .8);
    color: #fff;
    text-shadow: none;
    z-index: 20;
}

.tooltip-content:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    left: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    opacity: .8;
}

.tooltip-content.loading {
    position: absolute;
}

.tooltip-content.loading:before {
    border-bottom-color: rgba(0, 0, 0, .3);
}

.tooltip:hover {
    z-index: 20;
}

.tooltip:hover > .tooltip-content {
    display: block;
}
*/
/* "js" tooltip with positions */
.tipsy {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    padding: 5px;
    font-size: 12px;
    z-index: 998;
}

.tipsy-inner {
    padding: 5px 8px 4px;
    background-color: #000;
    color: #fff;
    max-width: 150px;
    border-radius: 3px;
}

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.tipsy-s .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px;
}

.tipsy-se .tipsy-arrow {
    top: 0;
    left: 10px;
}

.tipsy-sw .tipsy-arrow {
    top: 0;
    right: 10px;
}

.tipsy-n .tipsy-arrow,
.tipsy-ne .tipsy-arrow,
.tipsy-nw .tipsy-arrow {
    bottom: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    border-bottom: none;
}

.tipsy-n .tipsy-arrow {
    left: 50%;
    margin-left: -4px;
}

.tipsy-ne .tipsy-arrow {
    left: 10px;
}

.tipsy-nw .tipsy-arrow {
    right: 10px;
}

.tipsy-w .tipsy-arrow,
.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.tipsy-w .tipsy-arrow {
    right: 0;
    border-right: none;
    border-left: 5px solid #000;
}

.tipsy-e .tipsy-arrow {
    left: 0;
    border-right: 5px solid #000;
    border-left: none;
}

/*
    Messages
-------------------------------------- */
.message,
.message-success,
.message-error,
.message-under-construction {
    position: relative;
    margin: 0 0 10px;
    padding: 8px 35px;
    border: 1px solid #dfc97a;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    color: #6f4400;
    background: #E8E0C6;
}

.message-header {
    font-weight: bold;
}

.message-header,
.message-content,
.message-footer {
}

.message-success {
    color: #26431c;
    background: #E7ECE1;
    border-color: #A8B5A0;
}

.message-error {
    color: #6f0300;
    background: #E5CECD;
    border-color: #CEB2B1;
}

.message:before,
.message-success:before,
.message-error:before {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    color: #fff;
    line-height: 14px;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 1px 0 #000;
    content: '!';
    font-weight: bold;
    border: 1px solid #C76F35;
    background: #eecf4f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlY2Y0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2U0YWIzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2M0NjkzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODhjMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #eecf4f 0%, #e4ab37 10%, #c46933 67%, #d88c33 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eecf4f), color-stop(10%, #e4ab37), color-stop(67%, #c46933), color-stop(100%, #d88c33));
    background: -webkit-linear-gradient(top, #eecf4f 0%, #e4ab37 10%, #c46933 67%, #d88c33 100%);
    background: -o-linear-gradient(top, #eecf4f 0%, #e4ab37 10%, #c46933 67%, #d88c33 100%);
    background: -ms-linear-gradient(top, #eecf4f 0%, #e4ab37 10%, #c46933 67%, #d88c33 100%);
    background: linear-gradient(to bottom, #eecf4f 0%, #e4ab37 10%, #c46933 67%, #d88c33 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eecf4f', endColorstr = '#d88c33', GradientType = 0);
}

.message-success:before {
    content: '✔';
    border: 1px solid #185B00;
    background: #c1df53;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxZGY1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzc1YTkzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzQ1NmUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YjkzMmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #c1df53 0%, #75a933 10%, #456e28 67%, #5b932c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1df53), color-stop(10%, #75a933), color-stop(67%, #456e28), color-stop(100%, #5b932c));
    background: -webkit-linear-gradient(top, #c1df53 0%, #75a933 10%, #456e28 67%, #5b932c 100%);
    background: -o-linear-gradient(top, #c1df53 0%, #75a933 10%, #456e28 67%, #5b932c 100%);
    background: -ms-linear-gradient(top, #c1df53 0%, #75a933 10%, #456e28 67%, #5b932c 100%);
    background: linear-gradient(to bottom, #c1df53 0%, #75a933 10%, #456e28 67%, #5b932c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c1df53', endColorstr = '#5b932c', GradientType = 0);
}

.message-error:before {
    border: 1px solid #963535;
    background: #ea8383;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhODM4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2M2NTA1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzk3MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiODQzNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ea8383 0%, #c65050 10%, #973838 67%, #b84343 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea8383), color-stop(10%, #c65050), color-stop(67%, #973838), color-stop(100%, #b84343));
    background: -webkit-linear-gradient(top, #ea8383 0%, #c65050 10%, #973838 67%, #b84343 100%);
    background: -o-linear-gradient(top, #ea8383 0%, #c65050 10%, #973838 67%, #b84343 100%);
    background: -ms-linear-gradient(top, #ea8383 0%, #c65050 10%, #973838 67%, #b84343 100%);
    background: linear-gradient(to bottom, #ea8383 0%, #c65050 10%, #973838 67%, #b84343 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ea8383', endColorstr = '#b84343', GradientType = 0);
}

.message-under-construction {
    padding: 10px 30px;
    text-align: center;
    background: #FFCC3B;
    color: #000;
    border: none;
    border-radius: 0;
}

.message-under-construction strong {
    position: relative;
}

.message-under-construction strong:before {
    position: absolute;
    top: -1px;
    left: -25px;
    content: '';
    background: #EED61A;
    border: 1px solid #000;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 3px;
}

.message-under-construction strong:after {
    position: absolute;
    top: -1px;
    left: -19px;
    content: '!';
    font-weight: bold;
    color: #000;
}

.message .close {
    position: absolute;
    top: 0;
    right: 0;
    font: 20px/18px bold Arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity = 20);
    cursor: pointer;
}

.message .close:hover {
    opacity: 0.4;
    filter: alpha(opacity = 40);
}

.message .buttons-set {
    margin-top: 5px;
}

/*
    Pagination
-------------------------------------- */
.pagination {
    margin: 18px 0;
    text-align: center;
    font-size: 11px;
    line-height: 26px;
}

.pagination-left {
    text-align: left;
}

.pagination-right {
    text-align: right;
}

.pagination ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline;
    line-height: 18px;
}

.pagination li a,
.pagination li span {
    margin: 0 5px;
}

.pagination .current span {
    color: #000;
}

.pagination .current .button {
    color: #fff;
}

.pagination .amount {
    display: inline;
    margin: 0 15px 0 0;
}

.pagination .limiter,
.pagination label {
    display: inline;
}

.pagination .limiter {
    margin: 0 0 0 15px;
}

.pagination select {
    width: auto;
    margin-right: 5px;
}

.pagination-alt .amount {
    float: left;
}

.pagination-alt .limiter {
    float: right;
}

.pagination li .pagination-previous,
.pagination li .pagination-next {
    display: inline-block;
    width: 8px;
    height: 12px;
    text-indent: -9999px;
    text-align: left;
    vertical-align: middle;
    background: url(images/pagination-arrows-bg.png) no-repeat 0 0;
}

.pagination li .pagination-previous:hover {
    background-position: 0 -13px;
}

.pagination li.disabled .pagination-previous {
    background-position: 0 -26px;
}

.pagination li .pagination-next {
    background-position: -10px 0;
}

.pagination li .pagination-next:hover {
    background-position: -10px -13px;
}

.pagination li.disabled .pagination-next {
    background-position: -10px -26px;
}

/*
    Breadcrumbs
-------------------------------------- */
.breadcrumbs {
    margin: 18px 0;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li:after {
    content: "/";
    margin: 0 4px;
}

.breadcrumbs .current:after {
    content: "";
}

/*
    Tags
-------------------------------------- */
.tags {
    margin: 18px 0;
    padding: 0;
}

.tags li {
    display: inline-block;
    margin: 0 10px 5px 0;
    white-space: nowrap;
    list-style: none;
}

/* =============================================================================
   Tabels
   ========================================================================== */

/* Striped table */

.table-striped tbody tr td:nth-child(odd),
.table-striped tbody tr th:nth-child(odd) {
    background: #f5f5f5;
}

.table-striped tbody tr td:nth-child(even),
.table-striped tbody tr th:nth-child(even) {
    background: #fff;
}

.table-striped tbody tr:hover td,
.table-striped tbody tr:hover th {
    background-color: #fff9e4;
}

.table-light th,
.table-light td {
    border-width: 1px 0 0 0;
}

.table-light caption + thead tr:first-child th,
.table-light caption + thead tr:first-child td,
.table-light colgroup + thead tr:first-child th,
.table-light colgroup + thead tr:first-child td,
.table-light thead:first-child tr:first-child th,
.table-light thead:first-child tr:first-child td {
    border-top: 0;
}

.table-light tbody tr:nth-child(odd) td,
.table-light tbody tr:nth-child(odd) th,
.table-light tbody tr:nth-child(even) td,
.table-light tbody tr:nth-child(even) th,
.table-light tfoot tr:nth-child(odd) td,
.table-light tfoot tr:nth-child(odd) th,
.table-light tfoot tr:nth-child(even) td,
.table-light tfoot tr:nth-child(even) th,
.table-light thead tr:nth-child(odd) td,
.table-light thead tr:nth-child(odd) th,
.table-light thead tr:nth-child(even) td,
.table-light thead tr:nth-child(even) th,
.table-light tfoot {
    background: none;
}

.table-light tbody tr:hover td,
.table-light tbody tr:hover th {
    background-color: #fff9e4;
}

.table-full-width {
    width: 100%;
}

/*
    Star rating
-------------------------------------- */
.rating-box {
    width: 70px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(images/rating-bg.png) 0 0 repeat-x;
    overflow: hidden;
}

.rating-box  .rating {
    height: 13px;
    background: url(images/rating-bg.png) 0 -13px repeat-x;
}

/*
    Navigation
-------------------------------------- */
.nav {
    background: #e6e6e6;
}

.menu {
    margin: 0;
    padding: 0;
}

/* All Levels */
.menu li:hover,
.menu li.hovered {
    z-index: 990 !important;
}

.menu li.parent {
    position: relative;
    z-index: 1;
}

.menu li a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.menu li a span {
    cursor: pointer;
    text-transform: uppercase;
}

/* 1st Level (Top Level) */
.level-top > li {
    float: left;
    margin: 0;
    display: inline;
    position: relative;
    z-index: 1;
}

.level-top > li > a {
    float: left;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border: 1px solid transparent;
}

.level-top > .parent > a span:after {
    content: " ▼";
}

.level-top > li > a:hover,
.level-top > li:hover > a,
.level-top > li.hovered > a {
    background: #fff;
    border-color: #a6a6a6;
}

.level-top > .parent > a:hover,
.level-top > .parent:hover > a,
.level-top > .parent.hovered > a {
    border-color: #a6a6a6;
    border-bottom-color: transparent;
    position: relative;
    z-index: 99999;
}

/* 2nd Level */
.menu ul {
    margin: 0;
    position: absolute;
    min-width: 100%;
    top: 36px;
    left: -10000px;
    background: #fff;
    padding: 0;
    border: 1px solid #a6a6a6;
}

.menu ul li {
    float: none;
    height: auto;
    display: block;
    margin: 0;
}

.menu ul .parent > a span:after {
    content: " ►"
}

.menu ul li a {
    display: block;
    padding: 8px 12px;
    line-height: 1.2;
}

.menu ul li a:hover {
    background: #e6e6e6;
}

/* 3rd+ Level */
.menu ul ul {
    top: 0;
}

/* Show Menu */
.menu li:hover > ul,
.menu li.hovered > ul {
    left: 0;
    z-index: 991;
}

.menu li:hover > ul > li:hover > ul,
.menu li.hovered > ul > li.hovered > ul {
    left: -2px;
    margin-left: 100%;
}

/* Vertical navigation */
.nav-vertical .menu  li {
    float: none;
    display: block;
}

.nav-vertical .menu li a {
    float: none;
    display: block;
    height: auto;
    line-height: 1.2;
    padding: 10px;
}

.nav-vertical .menu li:hover > ul,
.nav-vertical .menu li.hovered > ul {
    left: -1px;
    top: 0;
    margin-left: 100%;
}

.nav-vertical .level-top > .parent > a span:after {
    content: " ►";
}

.nav-vertical .level-top > .parent > a:hover,
.nav-vertical .level-top > .parent:hover > a,
.nav-vertical .level-top > .parent.hovered > a {
    border-color: #a6a6a6;
}

/*  Tree navigation */
.nav-tree {
    background: none;
    box-shadow: none;
}

.nav-tree ul li {
    margin: 10px 0;
}

.nav-tree .level-top > li {
    display: block;
    float: none;
    border: none;
}

.nav-tree .menu ul {
    position: static;
    left: 0;
    background: none;
    box-shadow: none;
    margin: 0 0 0 20px;
    border: none;
}

.nav-tree .menu li:hover > ul > li:hover > ul,
.nav-tree .menu li:hover > ul {
    left: 0;
    top: 0;
    margin-left: 20px;
}

.nav-tree .menu li a {
    float: none;
    border: none;
    font-weight: normal;
}

.nav-tree .menu li a:link,
.nav-tree .menu li a:visited {
    height: auto;
    line-height: 1.2;
    padding: 0;
    display: inline;
    text-decoration: underline;
}

.nav-tree .menu li a:hover,
.nav-tree .menu li a:active {
    text-decoration: none;
    background: none;
    box-shadow: none;
}

.nav-tree .menu li a span {
    text-transform: none;
}

.nav-tree .menu ul .parent > a span:after,
.nav-tree .level-top > .parent > a span:after {
    content: "";
}

/*  Inline navigation */
.nav-inline {
    background: none;
    box-shadow: none;
    position: relative;
}

.nav-inline ul {
    display: inline;
}

.nav-inline .menu ul {
    border: none;
    top: 16px;
    padding: 10px 0;
}

.nav-inline ul li {
    display: inline;
    border: none;
}

.nav-inline .menu li.parent {
    position: static;
}

.nav-inline .menu li:hover > ul > li:hover > ul {
    left: 0;
    top: 25px;
    margin-left: 0;
}

.nav-inline  ul li:after {
    content: '|';
    margin: 0 5px;
}

.nav-inline  ul  li:last-child:after {
    content: '';
}

.nav-inline .menu li a {
    border: none;
    font-weight: normal;
}

.nav-inline .menu li a:link,
.nav-inline .menu li a:visited {
    padding: 0;
    line-height: 1.2;
    height: auto;
    display: inline;
    text-decoration: underline;
}

.nav-inline .menu li a:hover,
.nav-inline .menu li a:active {
    text-decoration: none;
    background: none;
    box-shadow: none;
}

.nav-inline .menu li a span {
    text-transform: none;
}

.nav-inline .menu ul .parent > a span:after,
.nav-inline .level-top > .parent > a span:after {
    content: " ▼";
}

/*
    Loaders
-------------------------------------- */
.loading {
    position: relative;
}

.loading:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    background: #fff url(images/ajax-loader.gif) no-repeat center;
}

.loading-message {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    z-index: 2;
}

.button.loading {
    padding-right: 25px;
}

.button.loading:after {
    left: auto;
    right: 6px;
}

table.loading:after {
    right: -1px;
}

/* loader with svg */
.loading-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(images/ajax-loader.svg);
    background-size: contain;
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    opacity: .7;
    -webkit-animation: rotate 1.5s infinite steps(12);
    -moz-animation: rotate 1.5s infinite steps(12);
    animation: rotate 1.5s infinite steps(12);
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes "rotate" {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* loader inner */
.loading-inner {
    background: url(images/ajax-loader.gif) no-repeat center;
}

/* loader sizes */
.loading-small:after {
    background-image: url(images/ajax-loader-small.gif);
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}

.loading-big:after {
    background-image: url(images/ajax-loader-big.gif);
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
}

/* laoder locker */
.loading-blocker {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading-blocker:after {
    width: auto;
    height: auto;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .65);
}

/* css3 only loader */
.loading-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    text-align: center;
    font: 32px/1 Arial, Verdana, sans-serif;
    color: #AE4444;
    text-shadow: 0 0 5px #A5E0FC;
    -moz-animation: spin .8s infinite linear;
    -webkit-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear;
}

.loading-arrow:before {
    content: '↻';
}

@-moz-document url-prefix() {
    .loading-arrow:after {
        font-size:36px;
        position: absolute;
        left:-1px;
        top:-5px;
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*
    Popups
-------------------------------------- */

.fade {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15%;
    background-color: rgba(0, 0, 0, .65);
    text-align: center;
    z-index: 999;
}

.eq-ie8 .fade {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #99000000, endColorstr = #99000000);
}

.fade .popup {
    text-align: left;
    background: #fff;
    box-shadow: 0 0 10px 0 #333;
}

.popup {
    position: relative;
    display: inline-block;
    background: #E6E6E6;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #b8b8b8;
}

.popup-header {
    font-weight: bold;
}

.popup .buttons-set {
    margin: 15px 0 0;
}

.popup .close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font: 20px/18px Arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    width: 17px;
    height: 20px;
    overflow: hidden;
    padding-left: 5px;
}

.popup .close:before {
    content: '\00D7\00A0';
}

.popup-system {
    padding: 0;
    background: #fff;
}

.popup-system .popup-header {
    cursor: move;
    padding: 10px 20px;
    background: #efefef;
    border-bottom: 1px solid #b8b8b8;
    border-radius: 5px 5px 0 0;
}

.popup-system .popup-content {
    padding: 20px;
}

.popup-system .popup-footer {
    border-top: 1px solid #b8b8b8;
    padding: 10px 20px;
}

.popup-system .close {
    top: 8px;
}

.popup-system .buttons-set {
    margin: 0;
}

/* popup types */
.fade [class^='popup-'] .popup-title {
    position: relative;
    padding-left: 28px;
}

.fade [class^='popup-'] .popup-title:before {
    position: absolute;
    left: 0;
    top: 2px;
    font-family: 'MUI-Icons';
    font-style: normal;
    font-size: 20px;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.popup-notice .popup-title:before {
    content: '\e006'; /* notice icon */
    color: #d98236;
}

.popup-error .popup-title:before {
    content: '\e006'; /* notice icon */
    color: #a32715;
}

.popup-info .popup-title:before,
.popup-critical .popup-title:before {
    top: 5px;
    content: '\e046'; /* info icon */
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #6191ad;
    border-radius: 10px;
}

.popup-critical .popup-title:before {
    background: #D98236;
}

/*
    Tabs
-------------------------------------- */
.tabs-nav {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

.tabs-nav > li > a {
    display: block;
}

.tabs-nav > li > a:hover {
    text-decoration: none;
}

.tabs-nav > li {
    float: left;
    margin-bottom: -1px;
    margin-right: -1px;
    background: #eaeaea;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #dfdfdf));
    background: -webkit-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #eaeaea 0%, #dfdfdf 100%);
}

.tabs-nav > li:hover {
    background: #dfdfdf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dfdfdf 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfdf), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #dfdfdf 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #dfdfdf 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #dfdfdf 0%, #eaeaea 100%);
}

.tabs-nav > li > a {
    padding: 8px 12px;
    line-height: 18px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}

.tabs-nav > .active > a,
.tabs-nav > .active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: #fff;
}

.tab-content {
    overflow: auto;
    border: solid #ccc;
    border-width: 0 1px 1px;
}

.tabs-below > .tabs-nav,
.tabs-right > .tabs-nav,
.tabs-left > .tabs-nav {
    border-bottom: 0;
}

.tab-content > .tab-pane {
    display: none;
    padding: 20px 13px;
}

.tab-content > .active {
    display: block;
    background: #fff;
}

.tabs-below > .tabs-nav {
    border-top: 1px solid #ccc;
}

.tabs-below > .tabs-nav > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .tabs-nav > li.active > a {
    border: 1px solid #ccc;
    border-top-color: transparent;
}

.tabs-below > .tab-content {
    border-width: 1px 1px 0;
}

.tabs-left > .tabs-nav > li,
.tabs-right > .tabs-nav > li {
    float: none;
}

.tabs-left > .tabs-nav > li > a,
.tabs-right > .tabs-nav > li > a {
    min-width: 74px;
    margin-right: 0;
}

.tabs-left > .tabs-nav {
    float: left;
    margin-right: -1px;
    border-right: 1px solid #ccc;
}

.tabs-left > .tab-content,
.tabs-right > .tab-content {
    border-width: 1px;
}

.tabs-left > .tabs-nav .active > a,
.tabs-left > .tabs-nav .active > a:hover {
    border-color: #ccc transparent #ccc #ccc;
}

.tabs-right > .tabs-nav {
    float: right;
    margin-left: -1px;
}

.tabs-right > .tabs-nav .active > a,
.tabs-right > .tabs-nav .active > a:hover {
    border-color: #ccc #ccc #ccc transparent;
}

.accordion {
    margin-bottom: 18px;
}

.accordion-group {
    margin: 0 0 5px;
    border: 1px solid #ccc;
}

.accordion-heading {
    border-bottom: 0;
    background: #eaeaea;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #dfdfdf));
    background: -webkit-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #eaeaea 0%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #eaeaea 0%, #dfdfdf 100%);
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    color: #555;
    text-decoration: none;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #ccc;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -ms-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.in,
.no-js .collapse {
    height: auto !important;
    overflow: visible;
}

.no-js .tabs-nav > li,
.no-js .tabs-left > .tabs-nav,
.no-js .tabs-right > .tabs-nav {
    float: none;
}

.no-js .tabs-left > .tabs-nav,
.no-js .tabs-nav > li {
    margin-right: 0;
}

.no-js .tabs-right > .tabs-nav {
    margin-left: 0;
}

.no-js .tabs-right > .tabs-nav > .active > a {
    border-left-color: #ccc;
}

.no-js .tabs-left .tabs-nav {
    border-right: 1px solid #ccc;
}

.no-js .tabs-left .tabs-nav > li > a {
    border-right: 0;
}

.no-js .tab-content > .tab-pane {
    display: block;
    border-bottom: 1px solid #ccc;
}

.no-js .tab-content > .tab-pane:last-child {
    border-bottom: none;
}

.no-js .tab-content > .active {
    background: #fff;
}

.no-js .tabs-below > .tabs-nav > li.active > a {
    border-top: 1px solid #ccc;
}

/*
    Clears
-------------------------------------- */
.tabs:before,
.tabs:after,
.tabs-nav:before,
.tabs-nav:after {
    display: table;
    content: "";
}

.tabs-nav:after,
.tabs:after {
    clear: both;
}