/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

@font-face {
    font-family: 'MUI-Icons';
    src: url('fonts/MUI-Icons.eot');
    src: url('fonts/MUI-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/MUI-Icons.svg#MUI-Icons') format('svg'), url('fonts/MUI-Icons.woff') format('woff'), url('fonts/MUI-Icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'MUI-Icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.icon-zoom-out:before {
    content: "\e000";
}

.icon-zoom-in:before {
    content: "\e001";
}

.icon-youtube:before {
    content: "\e002";
}

.icon-wordpress:before {
    content: "\e003";
}

.icon-windows-new:before {
    content: "\e004";
}

.icon-windows:before {
    content: "\e005";
}

.icon-warning:before {
    content: "\e006";
}

.icon-vote-up:before {
    content: "\e007";
}

.icon-vote-down:before {
    content: "\e008";
}

.icon-vimeo:before {
    content: "\e009";
}

.icon-video:before {
    content: "\e00a";
}

.icon-user-group:before {
    content: "\e00b";
}

.icon-user-card:before {
    content: "\e00c";
}

.icon-user:before {
    content: "\e00d";
}

.icon-upload:before {
    content: "\e00e";
}

.icon-up-down:before {
    content: "\e00f";
}

.icon-update:before {
    content: "\e010";
}

.icon-unlock:before {
    content: "\e011";
}

.icon-undo:before {
    content: "\e012";
}

.icon-ul:before {
    content: "\e013";
}

.icon-twitter:before {
    content: "\e014";
}

.icon-tag:before {
    content: "\e016";
}

.icon-stop:before {
    content: "\e017";
}

.icon-star-half:before {
    content: "\e018";
}

.icon-star-empty:before {
    content: "\e019";
}

.icon-star:before {
    content: "\e01a";
}

.icon-sort-desc:before {
    content: "\e01b";
}

.icon-sort-asc:before {
    content: "\e01c";
}

.icon-slideshow:before {
    content: "\e01d";
}

.icon-search:before {
    content: "\e01f";
}

.icon-rss:before {
    content: "\e020";
}

.icon-rows:before {
    content: "\e021";
}

.icon-resize-y:before {
    content: "\e022";
}

.icon-resize-x:before {
    content: "\e023";
}

.icon-redo:before {
    content: "\e024";
}

.icon-quote-right:before {
    content: "\e025";
}

.icon-quote:before {
    content: "\e026";
}

.icon-printer:before {
    content: "\e027";
}

.icon-present:before {
    content: "\e028";
}

.icon-point-up:before {
    content: "\e029";
}

.icon-point-right:before {
    content: "\e02a";
}

.icon-point-left:before {
    content: "\e02b";
}

.icon-point-down:before {
    content: "\e02c";
}

.icon-plus:before {
    content: "\e02d";
}

.icon-play:before {
    content: "\e02e";
}

.icon-photo:before {
    content: "\e02f";
}

.icon-phone:before {
    content: "\e030";
}

.icon-paypal:before {
    content: "\e031";
}

.icon-pause:before {
    content: "\e032";
}

.icon-ol:before {
    content: "\e033";
}

.icon-off:before {
    content: "\e034";
}

.icon-nav-top:before {
    content: "\e035";
}

.icon-nav-right:before {
    content: "\e036";
}

.icon-nav-left:before {
    content: "\e037";
}

.icon-nav-bottom:before {
    content: "\e038";
}

.icon-move:before {
    content: "\e039";
}

.icon-minus:before {
    content: "\e03a";
}

.icon-map-pin:before {
    content: "\e03b";
}

.icon-mail:before {
    content: "\e03c";
}

.icon-magento:before {
    content: "\e03d";
}

.icon-lock:before {
    content: "\e03e";
}

.icon-link-break:before {
    content: "\e03f";
}

.icon-link:before {
    content: "\e040";
}

.icon-last:before {
    content: "\e041";
}

.icon-key-delete:before {
    content: "\e042";
}

.icon-key-backspace:before {
    content: "\e043";
}

.icon-key:before {
    content: "\e044";
}

.icon-italic:before {
    content: "\e045";
}

.icon-info:before {
    content: "\e046";
}

.icon-image:before {
    content: "\e047";
}

.icon-home:before {
    content: "\e048";
}

.icon-help:before {
    content: "\e049";
}

.icon-grid:before {
    content: "\e04a";
}

.icon-google-plus:before {
    content: "\e04b";
}

.icon-globe:before {
    content: "\e04c";
}

.icon-git:before {
    content: "\e04d";
}

.icon-fullscreen-off:before {
    content: "\e04e";
}

.icon-fullscreen:before {
    content: "\e04f";
}

.icon-folder-open:before {
    content: "\e050";
}

.icon-folder-move:before {
    content: "\e051";
}

.icon-folder-delete:before {
    content: "\e052";
}

.icon-folder-add:before {
    content: "\e053";
}

.icon-folder:before {
    content: "\e054";
}

.icon-flag-off:before {
    content: "\e055";
}

.icon-flag:before {
    content: "\e056";
}

.icon-first:before {
    content: "\e057";
}

.icon-filter:before {
    content: "\e058";
}

.icon-eye-closed:before {
    content: "\e059";
}

.icon-eye:before {
    content: "\e05a";
}

.icon-edit:before {
    content: "\e05b";
}

.icon-document-delete:before {
    content: "\e05c";
}

.icon-document-add:before {
    content: "\e05d";
}

.icon-document:before {
    content: "\e05e";
}

.icon-disabled:before {
    content: "\e05f";
}

.icon-delivery:before {
    content: "\e060";
}

.icon-delete:before {
    content: "\e061";
}

.icon-database:before {
    content: "\e062";
}

.icon-currency:before {
    content: "\e063";
}

.icon-credit-card:before {
    content: "\e064";
}

.icon-comment:before {
    content: "\e065";
}

.icon-clock:before {
    content: "\e066";
}

.icon-check-mark:before {
    content: "\e067";
}

.icon-cart:before {
    content: "\e068";
}

.icon-cancel:before {
    content: "\e069";
}

.icon-calendar:before {
    content: "\e06a";
}

.icon-box-move:before {
    content: "\e06b";
}

.icon-box:before {
    content: "\e06c";
}

.icon-bold:before {
    content: "\e06d";
}

.icon-bell:before {
    content: "\e06e";
}

.icon-attachment:before {
    content: "\e06f";
}

.icon-arrow-up:before {
    content: "\e070";
}

.icon-arrow-right:before {
    content: "\e071";
}

.icon-arrow-left:before {
    content: "\e072";
}

.icon-arrow-down:before {
    content: "\e073";
}

.icon-apple:before {
    content: "\e074";
}

.icon-android:before {
    content: "\e075";
}

.icon-align-right:before {
    content: "\e076";
}

.icon-align-left:before {
    content: "\e077";
}

.icon-align-center:before {
    content: "\e078";
}

.icon-arrow-ne:before {
    content: "\e079";
}

.icon-arrow-nw:before {
    content: "\e07a";
}

.icon-arrow-se:before {
    content: "\e07b";
}

.icon-arrow-sw:before {
    content: "\e07c";
}

.icon-arrow-up-long:before {
    content: "\e015";
}

.icon-check:before {
    content: "\e01e";
}

.icon-close:before {
    content: "\e07d";
}

.icon-settings:before {
    content: "\e07e";
}

.icon-trash:before {
    content: "\e07f";
}
