/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/*
    Helpers and Utils
-------------------------------------- */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none;
    visibility: hidden;
}

input.no-display,
.no-display {
    display: none;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}