<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\AbstractController\OrderLoaderInterface" type="Magento\Sales\Controller\AbstractController\OrderLoader" />
    <preference for="Magento\Sales\Controller\AbstractController\OrderViewAuthorizationInterface" type="Magento\Sales\Controller\AbstractController\OrderViewAuthorization" />
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="sales" xsi:type="string">/sales/</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="last-ordered-items" xsi:type="string">Magento\Sales\CustomerData\LastOrderedItems</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Reorder\Reorder">
        <arguments>
            <argument name="addToCartInvalidProduct" xsi:type="boolean">true</argument>
        </arguments>
    </type>
</config>
