<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../../../../app/code/Magento/Core/etc/config.xsd">
    <default>
        <payment>
            <payment_method>
                <!-- commented text -->
                <active>0</active>
                <debug>0</debug>
                <email_customer>0</email_customer>
                <login backend_model="Custom_Backend_Model_Config_Backend_Encrypted" />
                <merchant_email />
                <order_status>processing</order_status>
                <trans_key backend_model="Custom_Backend_Model_Config_Backend_Encrypted" />
            </payment_method>
        </payment>
    </default>
</config>
