<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Model\Auth\Credential\StorageInterface" type="Magento\User\Model\User" />
    <type name="Magento\User\Observer\Backend\AuthObserver">
        <arguments>
            <argument name="authorization" xsi:type="object">Magento\Framework\Authorization</argument>
        </arguments>
    </type>
    <virtualType name="AdminhtmlSessionStorage" type="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Backend\Model\Session\Storage</argument>
        </arguments>
    </virtualType>
    <virtualType name="AdminhtmlSessionStorageContext" type="Magento\Backend\Block\Template\Context">
        <arguments>
            <argument name="session" xsi:type="object">AdminhtmlSessionStorage</argument>
        </arguments>
    </virtualType>
    <type name="Magento\User\Block\Role\Grid\User">
        <arguments>
            <argument name="context" xsi:type="object">AdminhtmlSessionStorageContext</argument>
        </arguments>
    </type>
    <type name="Magento\User\Block\Role\Tab\Edit">
        <arguments>
            <argument name="context" xsi:type="object">AdminhtmlSessionStorageContext</argument>
        </arguments>
    </type>
</config>
