<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="emails">
                <field id="user_notification_template" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>User Notification Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="security">
                <field id="lockout_failures" translate="label comment" sortOrder="100" showInDefault="1" canRestore="1">
                    <label>Maximum Login Failures to Lockout Account</label>
                    <comment>We will disable this feature if the value is empty.</comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="lockout_threshold" translate="label" sortOrder="110" showInDefault="1" canRestore="1">
                    <label>Lockout Time (minutes)</label>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="password_lifetime" translate="label comment" sortOrder="120" showInDefault="1" canRestore="1">
                    <label>Password Lifetime (days)</label>
                    <comment>We will disable this feature if the value is empty. </comment>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="password_is_forced" translate="label" sortOrder="130" type="select" showInDefault="1" canRestore="1">
                    <label>Password Change</label>
                    <source_model>Magento\User\Model\System\Config\Source\Password</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
