<form method="post" id="shipping-zip-form" data-bind="blockLoader: isLoading">
    <fieldset class="fieldset estimate">
        <legend class="legend">
            <span data-bind="text: $t('Estimate Shipping and Tax')"></span>
        </legend><br>
        <!-- ko foreach: getRegion('address-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action quote primary" data-bind="click: getEstimationInfo">
                    <span data-bind="text: $t('Get a Quote')"></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
