<form method="post" id="shipping-zip-form" data-bind="blockLoader: isLoading, submit: getEstimationInfo">
    <fieldset class="fieldset estimate">
        <legend class="legend">
            <span data-bind="text: $t('Estimate Shipping and Tax')"></span>
        </legend><br>
        <p class="field note" data-bind="text: $t('Enter your destination to get a shipping estimate.')"></p>
        <div class="field country">
            <label for="country" class="label"><span data-bind="text: $t('Country')"></span></label>
            <div class="control">
                <select name="country_id" id="country" class="required-entry" title="Country" data-validate="{'validate-select':true}">
                    <option value=""> </option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                </select>
            </div>
        </div>
        <div class="field region" data-bind="css: {required: isStateProvinceRequired}">
            <label for="region_id" class="label"><span data-bind="text: $t('State/Province')"></span></label>
            <div class="control">
                <select id="region_id"
                        name="region_id"
                        title="$t('State/Province')"
                        data-bind="attr: {'data-validate': isStateProvinceRequired ? '{\'validate-select\':true}' : false}"
                >
                <option value="" data-bind="text: $t('Please select a region, state or province.')"></option>
                <option value="1">test</option>
                </select>
                <input type="text" id="region" name="region" value=""  title="$t('State/Province')" class="input-text" />
            </div>
        </div>
        <div class="field city" data-bind="visibility: isCityActive, css: {required: isCityRequired}">
            <label for="city" class="label"><span data-bind="text: $t('City')"></span></label>
            <div class="control">
                <input class="input-text"
                       id="city"
                       type="text"
                       name="estimate_city"
                       value=""
                       data-bind="attr: {'data-validate': isCityRequired ? '{\'required-entry\':true}' : false}"
                        />
            </div>
        </div>
        <div class="field postcode" data-bind="css: {required: isZipCodeRequired}">
            <label for="postcode" class="label"><span data-bind="text: $t('Zip/Postal Code')"></span></label>
            <div class="control">
                <input class="input-text"
                       data-bind="attr: {'data-validate': isZipCodeRequired ? '{\'required-entry\':true}' : false}"
                       data-validate="{'validate-zip-international':true}"
                       type="text"
                       id="postcode"
                       name="estimate_postcode"
                       value=""
                        />
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action quote primary">
                    <span data-bind="text: $t('Get a Quote')"></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
