<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="loadCustomerQuote" instance="Magento\Checkout\Model\Observer" method="loadCustomerQuote" />
    </event>
    <event name="customer_logout">
        <observer name="unsetAll" instance="Magento\Checkout\Model\Observer" method="unsetAll" />
    </event>
    <event name="sales_quote_save_after">
        <observer name="set_checkout_quote_id" instance="Magento\Checkout\Model\Observer" method="salesQuoteSaveAfter" />
    </event>
</config>
