// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import "listings.less";
@import "toolbar.less";

@product-info-price: #575757;
@product-h1-margin-bottom-desktop: @indent-s-base + @indent-xs-base;

//
//    Common
//--------------------------------------

.responsive-common() {

//
//    Category view
//--------------------------------------
.old-price,
.old.price {
    color: @text-color-muted;
}

.price-tier_price {
    .price-including-tax + .price-excluding-tax {
        &:before {
            content: "(" attr(data-label) ":";
        }
        &:last-child:after {
            content: ")";
        }
    }

    .weee[data-label] {
        display: inline;
        &:before {
            content: " +" attr(data-label) ":";
        }
    }
}

.actual-price {
    font-weight: @font-weight-bold;
}

.product.name a {
    &:extend(.abs-product-link all);
}

.special-price {
    .price-label {
        &:extend(.abs-visually-hidden all);
    }
}

.category {
    &-image {
        .image {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &-cms,
    &-image,
    &-description {
        margin-bottom: @indent-base;
    }
}

//
//    Product images general container
//--------------------------------------
.product-image {
    &-container {
        display: inline-block;
        max-width: 100%;
    }
    &-wrapper {
        height: 0;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    &-photo {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: auto;
        max-width: 100%;
    }
}

//
//    Product view
//--------------------------------------
.product.media {
    .product.photo .photo.image {
        &:extend(.abs-adaptive-images-centered);
    }
    .placeholder .photo.container {
        max-width: 100%;
    }
    .notice {
        margin: @indent-s-base 0;
        color: @text-color-muted;
        .font-size(@font-size-s);
    }
    .product.thumbs {
        margin: @indent-s-base 0 @indent-m-base;
    }
    .items.thumbs {
        .list-inline();
        > li {
            margin: 1rem 0 0;
        }
        img {
            display: block;
        }
        .active {
            display: block;
            line-height: 1;
        }
    }
}

.product.info.detailed {
    clear: both;
    margin-bottom: 30px;
    .additional-attributes {
        width: auto;
        .table-bordered(
            @_table_type: clear
        );
        .table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent-l-base,
            @_th-padding-bottom: @indent-s-base,
            @_td-padding-bottom: @indent-s-base
        );
    }
}

.product-info-main {
    .product-info-price {
        border-bottom: 1px #c1c1c1 solid;
        display: table;
        width: 100%;
        color: @product-info-price;
        margin-bottom: @indent-s-base + @indent-xs-base;
        .price-box {
            display: table-cell;
            vertical-align: top;
            .price-final_price > span {
                display: block;
                margin-bottom: @indent-xs-base;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .font-size(14);
            .price {
                .font-size(14);
                font-weight: @font-weight-semibold;
                line-height: 16px;
            }
        }
        .price-wrapper .price {
            .font-size(22);
            font-weight: @font-weight-semibold;
            line-height: 22px;
        }
        .old-price {
            .price-wrapper .price {
                .font-size(20);
                font-weight: @font-weight-light;
            }
        }
        .special-price {
            .price-label {
                &:after {
                    content: ": ";
                }
            }
        }
    }
    .product-info-stock-sku {
        text-align: right;
        display: table-cell;
        vertical-align: top;
        padding-left: 10%;
        padding-bottom: @indent-s-base;
    }
    .stock {
        margin: 0 0 3px;
        &.available,
        &.unavailable {
            font-weight: @font-weight-bold;
            text-transform: uppercase;
        }
    }
    .product.attibute.sku {
        word-break: break-all;
    }
    .product {
        &-add-form {
            clear: both;
            padding-top: @indent-s-base + @indent-xs-base;
        }

        &.attibute {
            &.sku {
                .type {
                    font-weight: normal;
                    &:after {
                        content: '#:';
                    }
                }
                .value {
                    display: inline-block;
                }
            }
            &.overview {
                margin: @indent-base 0;
            }
        }
        &.alert {
            margin: @indent-s-base 0;
        }
    }
    .product-reviews-summary {
        float: left;
    }
    .product-options-bottom {
        .box-tocart {
            margin-top: @form-field-vertical-indent;
        }
    }
}

.product-options-bottom .price-box,
.product-info-price .price-box {
    color: @product-info-price;
    display: table-cell;
    vertical-align: top;
    padding-bottom: @indent-s-base;
    .old-price {
        font-size: 20px;
        font-weight: @font-weight-light;
        .price-container > span {
            display: inline-block;
        }
    }
    .price-container {
        > span {
            display: block;
            margin-bottom: @indent-xs-base;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .price {
            font-size: 22px;
            line-height: 22px;
            font-weight: @font-weight-semibold;
        }
        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .font-size(12);
            line-height: 14px;
            .price {
                .font-size(12);
                font-weight: @font-weight-bold;
            }
        }
    }
}

.box-tocart {
    &:extend(.abs-box-tocart all);
    .field.qty {
    }
    .input-text.qty {
        &:extend(.abs-input-qty all);
    }
    .actions {
    }
    .action.tocart {
        &:extend(.abs-button-l all);
        &:extend(.abs-button-responsive all);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        vertical-align: top;
    }
}

.product-addto-links {
    display: inline;
    .action {
        margin-right: 5%;
    }
}

.product-social-links {
    margin: 0 0 20px;
    text-align: center;
    .action.tocompare {
        &:extend(.abs-actions-addto all);
        .icon-font-symbol(
            @_icon-font-content: @icon-compare-full,
            @_icon-font-position: before
        );
    }
}

.prices-tier {
    &:extend(.abs-reset-list all);
    margin-bottom: @indent-s-base + @indent-xs-base;
    .item {
        margin-bottom: @indent-s-base;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .price-excluding-tax,
    .price-including-tax {
        display: inline-block;
    }
}

.minimal-price-link,
.price-excluding-tax,
.price-including-tax {
    white-space: nowrap;
    display: block;
}

.ui-dialog-titlebar-close {
    .button-as-link();
}


//
//    Sidebar product view
//--------------------------------------
.sidebar {
    .product-items {
        .product-item {
            margin-bottom: @indent-base;
            position: relative;
            &-info {
                position: relative;
                width: auto;
                .product-item-photo {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            &-name {
                margin-top: 0;
            }
            &-details {
                margin: 0 0 0 85px;
            }
            &-actions {
                display: block;
                margin-top: @indent-s-base;
            }
        }
        .price-box {
            display: block;
            font-weight: @font-weight-semibold;
            margin: 7px 0;
        }
        .text {
            margin-right: 8px;
        }
        .counter {
            color: @color-primary-lighter;
            font-size: 12px;
            white-space: nowrap;
        }
        .minilist {
            .price {
                display: inline;
                padding: 0;
            }
            .weee:before {
                display: inline-block;
            }
        }
        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .action.tocart {
        border-radius: 0;
    }

    .subtitle {
        &:extend(.abs-no-display all);
    }

    //
    //    Product images only
    //--------------------------------------
    .product-items-images {
        &:extend(.abs-add-clearfix all);
        margin-left: -@indent-xs-base;
        .product-item {
            &:extend(.abs-add-box-sizing all);
            float: left;
            padding-left: @indent-xs-base;
        }
    }

    //
    //    Product names only
    //--------------------------------------
    .product-items-names {
        .product-item {
            margin-bottom: @indent-s-base;
        }
        .product-item-name {
            margin: 0;
        }
    }
}

}

//
//    Mobile @screen-m
//--------------------------------------
.responsive-max-m(@break) when (@break = @screen-m) {
    .catalog-product-view {
        .column.main {
            .vendor-prefix-display(flex);
            .vendor-prefix-flex-direction(column);
        }
        .product.media {
            .vendor-prefix-order(-1);
        }
    }
}

//
//    Mobile @screen-s
//--------------------------------------
.responsive-max-m(@break) when (@break = @screen-s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }
    .product-info-price {
        margin: 0 -@indent-s-base 0;
        width: ~"calc(100% + 2*@{indent-s-base})"!important;
        > *:first-child {
            padding-left: @indent-s-base;
        }
        > *:last-child {
            padding-right: @indent-s-base;
        }
    }
    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
        .additional-attributes {
            tbody {
                th {
                    &:extend(.abs-no-display-s all);
                }
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.responsive-min-l(@break) when (@break = @screen-m) {
    .product-info-main {
        .page-title {
            h1 {
                .css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }
        .product-add-form {
            padding-top: @indent-base;
        }
    }

    .box-tocart {
        .action.tocart {
            width: 49%;
            margin-right: 1%;
            margin-bottom: 0;
        }
    }

    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: @font-size-xl;
                .price {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            .price-including-tax + .price-excluding-tax {
                .price {
                    .font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //    Category page layout
    //--------------------------------------
    .product-info-main {
        float: right;
    }
    .product.media {
        float: left;
    }
    .page-layout-1column {
        .product-info-main {
            width: 40%;
        }
        .product.media {
            width: 57%;
        }
    }
    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }
        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper .field:not(.date) {
            > .control {
                width: 80%;
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        position: relative;
                        left: auto;
                        top: auto;
                        float: left;
                        margin: 0 @indent-s-base @indent-s-base 0;
                    }
                }
                &-details {
                    margin: 0;
                }
                &-actions {
                    clear: left;
                }
            }
        }
    }
}

//
//    Desktop large
//--------------------------------------
.responsive-min-l(@break) when (@break = @screen-xl) {
    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: none;
                        margin: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                &-details {
                    margin-left: 85px;
                }
            }
        }
    }
}


//
//    Common
//--------------------------------------

.responsive-common() {

//
//    Minimum Advertising Price
//--------------------------------------
.map.popup {
    .popup(
        @_popup-margin-top: 15px,
        @_popup-margin-left: false,
        @_popup-content-margin: false,
        @_popup-position-top: false,
        @_popup-position-left: false,
        @_popup-position: absolute
    );
    .ui-dialog & {
        padding: 22px;
    }
    &:before {
        z-index: 99;
        border: solid 6px;
        border-color: transparent transparent @popup-background transparent;
        margin-left: -4px;
        top: -12px;
    }
    &:after {
        z-index: 98;
        border: solid 7px;
        border-color: transparent transparent @popup-border-color transparent;
        top: -14px;
        margin-left: -5px;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-bottom-style: solid;
        left: 50%;
    }

    .map.add.form {
        &:extend(.abs-add-clearfix all);
        margin: 0 0 20px;
        .price-box {
            float: left;
            .label {
                &:after {
                    content: ": ";
                }
            }
        }
    }

    .form.map.checkout {
        float: right;
    }

    .additional-addtocart-box {
        display: inline-block;
    }
    .action.primary {
        float: left;
        margin-right: 10px;
    }
    .map.msrp {
        margin-bottom: 9px;
    }
    .actual-price {
        font-size: @font-size-l;
        margin: 3px 0 15px;
    }
    .popup-header {
        display: none;
    }
}

//
//    Compare Products Page
//--------------------------------------
body.catalog-product-compare-index {
    .action.print {
        float: right;
        margin: 15px 0;
    }
}

.table-wrapper.comparison {
    clear: both;
    .table-comparison > tbody > tr{
        > th,
        > td {
            border-top: 0;
        }
    }
}

.table-comparison {
    table-layout: fixed;

    .cell.label.remove,
    .cell.label.product {
        span {
            &:extend(.abs-visually-hidden all);
        }
    }

    .cell.label,
    td:last-child {
        border-right: @table-border-width @table-border-style @table-border-color;
    }

    .cell {
        width: 180px;
        padding: 15px;
        .attibute.value {
            width: 100%;
            overflow: hidden;
        }

        &.product.info,
        &.product.label {
            border-bottom: @table-border-width @table-border-style @table-border-color;
        }
        &.label {
            .attribute.label {
                display: block;
                width: 100%;
                word-break: break-all;
            }
        }
        &.attribute {
            .font-size(13);
            img {
                max-width: 100%;
                height: auto;
            }
        }
        &.remove {
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }
    }

    .product-item-photo {
        display: block;
        margin: 0 auto 15px;
    }
    .product-image-photo {
        margin-left: 0;
    }

    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name {
        display: block;
        margin: 15px 0;
    }

    .product-addto-links {
        margin-top: 15px;

        .action.split,
        .action.toggle {
            .button-s();
        }

        .action.toggle {
            padding: 0;
        }
    }

    .action {
        &.tocart {
            white-space: nowrap;
        }
    }
}

.comparison.headings {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: auto;
    background: @color-white;
}

.block-compare {
    .block-title {
        &:extend(.abs-block-widget-title all);
    }
    .product-item .product-item-name {
        margin-left: 22px;
    }
    .action.delete {
        &:extend(.abs-remove-button-for-blocks all);
        position: absolute;
        left: 0;
        top: 0;
    }
    .counter {
        &:extend(.abs-block-items-counter all);
    }
    .actions-toolbar {
        margin: 17px 0 0;
    }

    .action.primary {
        &:extend(.abs-revert-to-action-secondary all);
    }
}

}

//
//    Mobile
//--------------------------------------
.responsive-max-m(@break) when (@break = @screen-s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr{
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.responsive-max-m(@break) when (@break = @screen-m) {
    .compare.wrapper,
    [class*="block-compare"] {
        display: none;
    }
}

//
//    Desktop
//--------------------------------------
.responsive-min-l(@break) when (@break = @screen-m) {
    .compare.wrapper {
        float: right;
        .list-reset-styles();
        .action.compare {
            line-height: @form-element-input-height;
            .link(
                @_link-color: @color-primary,
                @_link-text-decoration: none,
                @_link-color-visited: @color-primary,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @color-primary,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @color-primary,
                @_link-text-decoration-active: underline
            );
        }
        .counter.qty {
            color: @color-primary-lighter;
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
}

//
//    Common
//--------------------------------------

.responsive-common() {

.block.related {
    .action.select {
        &:extend(.abs-action-button-as-link all);
        vertical-align: top;
    }
    .product-item-details {
        position: relative;
        z-index: 1;
    }
    .related-available .product-item-name {
        margin-left: 20px;
    }
    .field.choice {
        position: absolute;
        top: 2px;
        left: 0;
        .label {
            &:extend(.abs-visually-hidden all);
        }
    }
}

}

//
//    Desktop large
//--------------------------------------
.responsive-min-l(@break) when (@break = @screen-l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
