<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="displayPriceIncludeTax()">
    <span class="price-wrapper price-excluding-tax"
          attr="'data-label': $t('Incl. Tax')"
          data-price-amount=""
          data-price-type="basePrice"
          html="getTax($row())"/>
</if>

<if args="displayPriceExclTax()">
    <span class="price-wrapper price-excluding-tax"
          attr="'data-label': $t('Excl. Tax')"
          data-price-amount=""
          data-price-type="basePrice"
          html="getTax($row())"/>
</if>

<if args="displayBothPrices()">
    <span class="price-wrapper price-excluding-tax"
          attr="'data-label': $t('Excl. Tax')"
          data-price-amount=""
          data-price-type="basePrice"
          html="getTax($row())"/>
</if>
