// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Modals
//  _____________________________________________

.modal-sub-title {
    font-size: 1.7rem;
    font-weight: @font-weight__semibold;
}

.modal-connect-signin {
    .modal-inner-wrap {
        max-width: 80rem;
    }
}

//
//  Ng-Dialog
//  _____________________________________________

@-webkit-keyframes ngdialog-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ngdialog-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes ngdialog-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ngdialog-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ngdialog {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    & *,
    &:after,
    &:before {
        box-sizing: inherit;
    }

    &.ngdialog-disabled-animation * {
        -webkit-animation: none !important;
        animation: none !important;
    }

    &.ngdialog-closing {
        .ngdialog-overlay {
            -webkit-animation: ngdialog-fadeout .5s;
            -webkit-backface-visibility: hidden;
            animation: ngdialog-fadeout .5s;
        }

        .ngdialog-content {
            -webkit-animation: ngdialog-fadeout .5s;
            -webkit-backface-visibility: hidden;
            animation: ngdialog-fadeout .5s;
        }
    }
}

.ngdialog-overlay {
    -webkit-animation: ngdialog-fadein .5s;
    -webkit-backface-visibility: hidden;
    animation: ngdialog-fadein .5s;
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.ngdialog-content {
    -webkit-animation: ngdialog-fadein .5s;
    -webkit-backface-visibility: hidden;
    animation: ngdialog-fadein .5s;
}

body.ngdialog-open {
    overflow: hidden;
}
