// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Navigation Bar
//  _____________________________________________

.app-updater {
    .nav {
        display: block;
        margin-bottom: 3.1rem;
        margin-top: -(@page-header__margin-bottom) - .1rem;
    }
    .nav-bar-outer-actions {
        margin-top: 1rem;
        padding-right: 0;
        .btn-wrap-cancel {
            margin-right: 2.6rem;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .app-updater {
        .nav {
            padding-bottom: @nav-bar-items__indent-bottom;
        }
        .nav-bar-outer-actions {
            margin-top: 2rem;
        }
    }
}