<?xml version="1.0"?>
<!--
  ~ Copyright © Magento, Inc. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="webapisecurity" translate="label" type="text" sortOrder="250" showInDefault="1">
                <label>Web API Security</label>
                <field id="allow_insecure" translate="label comment" type="select" sortOrder="1" showInDefault="1">
                    <label>Allow Anonymous Guest Access</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This feature applies only to CMS, Catalog and Store APIs. Please consult your developers for details on potential security risks.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
