<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 Magento. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="webapisecurity" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Webapi Security</label>
                <field id="allow_insecure" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow insecure anonymous access for some CMS, Catalog and Store services</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Full list can be viewed at Magento/app/code/Magento/WebapiSecurity/etc/di.xml</comment>
                </field>
            </group>
        </section>
    </system>
</config>
