<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isTaxDisplayedInGrandTotal -->
<tr class="grand totals excl">
    <th data-bind="attr: {'style':style, 'colspan': getColspan}" class="mark" scope="row">
        <strong data-bind="text: exclTaxLabel"></strong>
    </th>
    <td data-bind="attr: {'style': style, 'data-th': exclTaxLabel }" class="amount">
        <strong data-bind="text: getGrandTotalExclTax()"></strong>
    </td>
</tr>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
<tr class="grand totals incl">
    <th data-bind="attr: {'style':style, 'colspan': getColspan}" class="mark" scope="row">
        <strong data-bind="text: $t(inclTaxLabel)"></strong>
    </th>
    <td data-bind="attr: {'style': style, 'data-th': $t(inclTaxLabel) }" class="amount">
        <strong data-bind="text: getValue()"></strong>
    </td>
</tr>
<!-- /ko -->
<!-- ko if: !isTaxDisplayedInGrandTotal -->
<tr class="grand totals">
    <th data-bind="attr: {'style':style, 'colspan': getColspan }" class="mark" scope="row">
        <strong data-bind="text: $t(getTitle())"></strong>
    </th>
    <td data-bind="attr: {'style':style, 'data-th': getTitle()}" class="amount">
        <strong data-bind="text: getValue()"></strong>
    </td>
</tr>
<!-- /ko -->
<!-- ko if: isBaseGrandTotalDisplayNeeded() -->
<tr class="totals charge">
    <th class="mark" data-bind="text: $t(basicCurrencyMessage), attr: { 'colspan': getColspan }" scope="row"></th>
    <td class="amount" data-bind="text: getBaseValue(), attr: {'data-th': $t(basicCurrencyMessage)}"></td>
</tr>
<!-- /ko -->
