<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: quoteIsVirtual == 0 -->
    <!-- ko if: isBothPricesDisplayed() -->
    <tr class="totals shipping excl">
        <th data-bind="text: $t(getExcludingLabel()), attr: {'style':style, 'colspan': getColspan }" class="mark" scope="row"></th>
        <td class="amount" data-bind="text: getExcludingValue(), attr: {'style':style, 'data-th': $t(getExcludingLabel())}"></td>
    </tr>
    <tr class="totals shipping incl">
        <th data-bind="text: $t(getIncludingLabel()), attr: {'style':style, 'colspan': getColspan }" class="mark" scope="row"></th>
        <td class="amount" data-bind="text: getIncludingValue(), attr: {'style':style, 'data-th': $t(getIncludingLabel())}"></td>
    </tr>
    <!-- /ko -->
    <!-- ko if: isIncludingDisplayed() -->
    <tr class="totals shipping incl">
        <th data-bind="text: $t(getTitle()), attr: {'style':style, 'colspan': getColspan }" class="mark" scope="row"></th>
        <td class="amount" data-bind="text: getIncludingValue(), attr: {'style':style, 'data-th': $t(getTitle())}"></td>
    </tr>
    <!-- /ko -->
    <!-- ko if: isExcludingDisplayed() -->
    <tr class="totals shipping excl">
        <th data-bind="text: $t(getTitle()), attr: {'style':style, 'colspan': getColspan }" class="mark" scope="row"></th>
        <td  data-bind="text: getValue(), attr: {'style':style, 'data-th': $t(getTitle())}" class="amount"></td>
    </tr>
    <!-- /ko -->
<!-- /ko -->

