<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="grand totals excl">
    <th data-bind="text: getTitle(), attr: {'style':style, 'colspan': colspan}" class="mark" scope="row">
    </th>
    <td data-bind="attr: {'style': style, 'data-th': $t(getTitle()) }" class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- ko if: isFullTaxSummaryDisplayed -->
    <!-- ko foreach: getDetails() -->
        <!-- ko foreach: rates -->
        <tr data-bind="attr: {'class': 'totals-tax-details details-' + $parents[0].tax_iteration }">
            <!-- ko if: percent -->
                <th class="mark" scope="row" data-bind="text: title + ' (' + percent + '%)', attr: {'style': $parents[1].style, 'colspan': $parents[1].colspan}">
                </th>
            <!-- /ko -->
            <!-- ko if: !percent -->
                <th class="mark" scope="row" data-bind="text: title, attr: {'style': $parents[1].style, 'colspan': $parents[1].colspan}">
                </th>
            <!-- /ko -->
            <!-- ko if: $parents[1].isFirst($parents[0].group_id) -->
                <td class="amount" data-bind="text: $parents[1].formatPrice($parents[0].amount), attr: {'data-th': title, 'style': $parents[1].style, 'rowspan': $parents[0].rates.length }">
                </td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->
