<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Dxvn, Inc. All rights reserved.
 * @author  Tran Ngoc Duc <caothu91@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <system>
        <section id="diepxuan_autologin" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Auto Login</label>
            <tab>diepxuan</tab>
            <resource>Diepxuan_Autologin::config</resource>

            <group id="autologin" translate="label" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Auto Login</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Autologin in Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="username" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Admin account</label>
                    <source_model>Diepxuan\Autologin\Model\Config\Source\AuthenticationUser</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
