// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_rma.less';

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .rma-request-details,
    .rma-wrapper .order-shipping-address {
        float: left;
        #mix-grid .width(6,12);
    }

    .rma-confirmation,
    .rma-wrapper .order-return-address {
        float: right;
        #mix-grid .width(6,12);
    }
}

.rma-items {
    .col-actions {
        .action-item-details,
        .action-item-split-line {
            &:extend(.abs-action-default all);
            margin: 0 0 @order-create-sidebar__margin__s;
        }

        .action-item-delete-line {
            &:extend(.abs-action-delete all);
        }

        .action {
            margin-right: @indent__xs;
        }
    }

    .admin__control-select {
        max-width: 10rem;
    }
}

.rma-items-block {
    .col-actions {
        a {
            &:extend(.abs-action-default all);
            margin: 0 0 @order-create-sidebar__margin__s;
        }
    }
    .col-reason {
        .admin__control-select + .admin__control-text {
            margin-top: @indent__xs;
        }
    }
}

.select-order-items-block,
.rma-items-block {
    .admin__page-section-title {
        .actions {
            float: right;
            margin-bottom: 1.7rem;
            margin-top: -.3rem;
        }
    }
}

.col-rma-product {
    a {
        float: right;
    }
}
