<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isRememberMeCheckboxVisible() -->
<div id="remember-me-box" class="field choice persistent">
    <input type="checkbox" name="persistent_remember_me" class="checkbox" id="persistent_remember_me" data-bind="checked: isRememberMeCheckboxChecked, attr: {title: $t('Remember Me'), 'data-scope': dataScope}" />
    <label for="persistent_remember_me" class="label"><span data-bind="i18n: 'Remember Me'"></span></label>
    <span class="tooltip wrapper">
        <a class="link tooltip toggle" href="#" data-bind="i18n: 'What\'s this?'"></a>
        <span class="tooltip content" data-bind="i18n: 'Check \'Remember Me\' to access your shopping cart on this computer even if you are not signed in.'"></span>
    </span>
</div>
<!-- /ko -->
