<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Widget\Link">
        <arguments>
            <argument name="urlFinder" xsi:type="object">Magento\CatalogUrlRewrite\Model\Storage\DbStorage</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Url">
        <arguments>
            <argument name="urlFinder" xsi:type="object">Magento\CatalogUrlRewrite\Model\Storage\DbStorage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="catalogurlrewrite_setup" xsi:type="string">Magento\Catalog\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
