<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Option\Type\Date" type="Magento\Catalog\Model\Webapi\Product\Option\Type\Date" />
    <type name="Magento\Catalog\Helper\Product\ConfigurationPool">
        <arguments>
            <argument name="instancesByType" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Catalog\Helper\Product\Configuration</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Webapi\ServiceInputProcessor">
        <plugin name="convert_special_price" type="Magento\Catalog\Plugin\ServiceInputProcessor\ConvertSpecialPrice"/>
    </type>
    <type name="Magento\Catalog\Plugin\ServiceInputProcessor\ConvertSpecialPrice">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="custom_attributes" xsi:type="string">customAttributes</item>
                <item name="attribute_code" xsi:type="string">attributeCode</item>
            </argument>
        </arguments>
    </type>
</config>
