<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="isAllowed()">
    <if args="isSalable($row())">
        <button class="action tocart primary"
                attr="'data-mage-init': getDataMageInit($row()),
                      'data-post': getDataPost($row()),
                       title: getLabel()"
                type="button">
            <span text="getLabel()"></span>
        </button>
    </if>

    <if args="isAvailable($row()) === false">
        <div class="stock unavailable">
            <text args="$t('Availability')"></text>
            <span translate="'Out of stock'"></span>
        </div>
    </if>
</if>
