// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

.responsive-common() {

//
//    Shopping cart
//--------------------------------------
.cart {
    //  Summary block
    &-summary {
        &:extend(.abs-add-box-sizing all);
        background: @sidebar-background;
        margin-bottom: @indent-m-base;
        padding: 1px 15px @indent-m-base;
        > .title {
            .heading(h3);
            display: block;
        }
        .block {
            margin-bottom: 0;
            > .title {
                .icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 30px,
                    @_icon-font-position: after
                );
                border-top: @border-width-base solid @border-color-base;
                cursor: pointer;
                display: block;
                font-weight: @font-weight-semibold;
                margin-bottom: 0;
                overflow: hidden;
                padding: 7px 20px 7px 5px;
                position: relative;
                &:after {
                    position: absolute;
                    right: 0;
                    top: -5px;
                }
                strong {
                    .column.main & {
                        font-weight: @font-weight-base;
                        .font-size(18);
                    }
                }
            }
            > .content {
                display: none;
            }
            &.active {
                > .title {
                    .icon-font-symbol(
                        @_icon-font-content: @icon-prev,
                        @_icon-font-position: after
                    );
                }
                > .content {
                    display: block;
                }
            }
            .item-options {
                margin-left: 0;
            }
            .fieldset {
                margin: 15px 0 25px 5px;
                .field {
                    margin: 0 0 @indent-s-base;
                    &.note {
                        font-size: @font-size-s;
                    }
                }
            }
            .fieldset {
                .methods {
                    .field {
                        > .label {
                            display: inline;
                        }
                    }
                }
            }
            .fieldset.estimate {
                >.legend {
                    &:extend(.abs-visually-hidden all);
                }
                >.legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    &-totals {
        .table-wrapper {
            overflow: inherit;
        }
        border-top: 1px solid @border-color-base;
        padding-top: 10px;
        .mark {
            font-weight: @font-weight-base;
            padding-left: 4px;
            strong {
                font-weight: @font-weight-base;
            }
        }
        .amount {
            padding-right: 4px;
            text-align: right;
            strong {
                font-weight: @font-weight-base;
            }
        }
        .grand:last-child {
            .mark,
            .amount {
                padding-top: @indent-base;
            }
            .amount {
                padding-right: 4px;
                text-align: right;
                strong {
                    font-weight: @font-weight-bold;
                }
            }
        }
        .msrp {
            margin-bottom: @indent-s-base;
        }
        .totals-tax {
            &-summary {
                .mark,
                .amount {
                    border-top: @border-width-base solid @border-color-base;
                    border-bottom: @border-width-base solid @border-color-base;
                    cursor: pointer;
                }
                .amount .price {
                    position: relative;
                    padding-right: @indent-m-base;
                    .icon-font(
                        @icon-down,
                        @_icon-font-size: 30px,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );
                    &:after {
                        position: absolute;
                        right: -5px;
                        top: -12px;
                    }
                }
                &.expanded {
                    .mark,
                    .amount {
                        border-bottom: 0;
                    }
                    .amount .price {
                        .icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }
                }
            }
            &-details {
                display: none;
                border-bottom: @border-width-base solid @border-color-base;
                &.shown {
                    display: table-row;
                }
            }
        }
        .table-wrapper {
            margin-bottom: 0;
        }
    }

    //  Products table
    &.table-wrapper {
        .items {
            thead + .item {
                border-top: @border-width-base solid @border-color-base;
            }
            > .item {
                border-bottom: @border-width-base solid @border-color-base;
                position: relative;
            }
        }
        .col {
            padding-top: 20px;
            &.qty {
                .input-text {
                    margin-top: -5px;
                    &:extend(.abs-input-qty all);
                }
                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
        .item {
            &-actions td {
                padding-bottom: 10px;
                text-align: center;
                white-space: normal;
            }
            .col {
                &.item {
                    display: block;
                    padding: 25px 0 10px 75px;
                    position: relative;
                    min-height: 75px;
                }
            }
        }
        .actions-toolbar {
            > .action {
                &:extend(button all);
                .link-as-button();
                margin-left: @indent-s-base;
                margin-bottom: @indent-s-base;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight-base;
            }
        }
        .product {
            &-item-photo {
                display: block;
                max-width: 60px;
                left: 0;
                padding: 0;
                position: absolute;
                top: 15px;
                width: 100%;
            }
            &-item-details {
                white-space: normal;
            }
            &-item-name {
                display: inline-block;
                font-weight: @font-weight-base;
                margin-top: -6px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .gift-registry-name-label {
            &:after {
                content: ":";
            }
        }
        // Product options
        .item-options {
            font-size: @font-size-s;
            margin-bottom: @indent-s-base;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent-s-base;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
        .action.configure {
            display: inline-block;
            margin: 0 0 @indent-base;
        }
    }
    &-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            text-align: center;
            margin-top: @indent-base;
            .action.primary {
                &:extend(.abs-button-l all);
                margin-bottom: @indent-s-base;
                width: 100%;
            }
        }
    }
}

//
//    Cross sell
//--------------------------------------
.block.crosssell {
    margin-top: 70px;
}

}

//
//    Mobile
//--------------------------------------
.responsive-max-m(@break) when (@break = @screen-m) {
    .cart {
        &.table-wrapper {
            thead {
                .col:not(.item) {
                    display: none;
                }
            }
            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;
                    &:before {
                        content: attr(data-th) ":";
                        display: block;
                        font-weight: @font-weight-bold;
                        padding-bottom: 10px;
                    }
                }
                &.msrp {
                    white-space: normal;
                }
            }
            .item .col.item {
                padding-bottom: 0;
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.responsive-min-l(@break) when (@break = @screen-m) {
    .cart {
        &-container {
            &:extend(.abs-add-clearfix-desktop all);
            .form-cart {
                &:extend(.abs-shopping-cart-items-desktop all);
            }
            .widget {
                float: left;
            }
        }
        &-summary {
            position: relative;
            float: right;
            width: 23%;
            .actions-toolbar {
                .column.main & {
                    &:extend(.abs-reset-left-margin-desktop all);
                    > .secondary {
                        float: none;
                    }
                }
            }
            .block {
                .fieldset {
                    .field {
                        .form-field-type-revert(@_type: block);
                        margin: 0 0 @indent-s-base;
                    }
                }
            }
        }

        &.table-wrapper {
            .item {
                .col {
                    &.item {
                        padding: 27px 8px @indent-s-base;
                    }
                }
                &-actions td {
                    text-align: right;
                }
            }
            .product {
                &-item-photo {
                    display: table-cell;
                    padding-right: @indent-base;
                    vertical-align: top;
                    width: 1%;
                    position: static;
                    max-width: 100%;
                }
                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
            .item-actions .actions-toolbar {
                text-align: left;
                &:extend(.abs-reset-left-margin-desktop all);
            }
        }
    }
}
