<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <section id="tax" translate="label" sortOrder="303" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tax</label>
            <tab>sales</tab>
            <resource>Magento_Tax::config_tax</resource>
            <group id="classes" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tax Classes</label>
                <field id="shipping_tax_class" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tax Class for Shipping</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Product</source_model>
                </field>
                <field id="default_product_tax_class" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Tax Class for Product</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Product</source_model>
                    <backend_model>Magento\Tax\Model\Config\TaxClass</backend_model>
                </field>
                <field id="default_customer_tax_class" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Tax Class for Customer</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Customer</source_model>
                </field>
            </group>
            <group id="calculation" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Calculation Settings</label>
                <field id="algorithm" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tax Calculation Method Based On</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Algorithm</source_model>
                </field>
                <field id="based_on" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tax Calculation Based On</label>
                    <source_model>Magento\Tax\Model\Config\Source\Basedon</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="price_includes_tax" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Catalog Prices</label>
                    <comment>This sets whether catalog prices entered by admin include tax.</comment>
                    <backend_model>Magento\Tax\Model\Config\Price\IncludePrice</backend_model>
                    <source_model>Magento\Tax\Model\System\Config\Source\PriceType</source_model>
                </field>
                <field id="shipping_includes_tax" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Prices</label>
                    <comment>This sets whether shipping amounts entered by admin or obtained from gateways include tax.</comment>
                    <backend_model>Magento\Tax\Model\Config\Price\IncludePrice</backend_model>
                    <source_model>Magento\Tax\Model\System\Config\Source\PriceType</source_model>
                </field>
                <field id="apply_after_discount" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Apply Customer Tax</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Apply</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="discount_tax" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Apply Discount On Prices</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\PriceType</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                    <comment>Apply discount on price including tax is calculated based on store tax, if "Apply Tax after Discount" is selected.</comment>
                </field>
                <field id="apply_tax_on" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Apply Tax On</label>
                    <source_model>Magento\Tax\Model\Config\Source\Apply\On</source_model>
                </field>
                <field id="cross_border_trade_enabled" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Cross Border Trade</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                    <comment>When catalog price includes tax, enable this setting will fix the price no matter what the customer's tax rate is.</comment>
                </field>
            </group>
            <group id="defaults" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Tax Destination Calculation</label>
                <field id="country" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Country</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Country</source_model>
                </field>
                <field id="region" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default State</label>
                    <frontend_model>Magento\Tax\Block\Adminhtml\Frontend\Region\Updater</frontend_model>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Region</source_model>
                </field>
                <field id="postcode" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Post Code</label>
                </field>
            </group>
            <group id="display" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Price Display Settings</label>
                <field id="type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Product Prices In Catalog</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="shipping" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Shipping Prices</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
            </group>
            <group id="cart_display" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopping Cart Display Settings</label>
                <field id="price" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Prices</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="subtotal" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Subtotal</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="shipping" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Shipping Amount</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="grandtotal" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include Tax In Grand Total</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="full_summary" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Full Tax Summary</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="zero_tax" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Zero Tax Subtotal</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sales_display" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orders, Invoices, Credit Memos Display Settings</label>
                <field id="price" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Prices</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="subtotal" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Subtotal</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="shipping" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Shipping Amount</label>
                    <source_model>Magento\Tax\Model\System\Config\Source\Tax\Display\Type</source_model>
                    <backend_model>Magento\Tax\Model\Config\Notification</backend_model>
                </field>
                <field id="grandtotal" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include Tax In Grand Total</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="full_summary" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Full Tax Summary</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="zero_tax" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Zero Tax Subtotal</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
