<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Resource\Category\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Framework\Data\Collection\Db\FetchStrategy\Cache</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Convert\Quote">
        <plugin name="copy_quote_files_to_order" type="Magento\Catalog\Model\Plugin\QuoteItemProductOption"/>
    </type>
    <type name="Magento\Catalog\Model\Indexer\AbstractFlatState">
        <arguments>
            <argument name="isAvailable" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Block\ShortcutButtons\InCatalog" type="Magento\Catalog\Block\ShortcutButtons">
        <arguments>
            <argument name="isCatalogProduct" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Catalog\Block\ShortcutButtons\InCatalog\PositionAfter" type="Magento\Catalog\Block\ShortcutButtons">
        <arguments>
            <argument name="isCatalogProduct" xsi:type="boolean">true</argument>
            <argument name="orPosition" xsi:type="const">Magento\Catalog\Block\ShortcutButtons::POSITION_AFTER</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Indexer\Product\Flat\State">
        <arguments>
            <argument name="isAvailable" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="catalog-app-action-dispatchController-context-plugin" type="Magento\Catalog\Model\App\Action\ContextPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\View\Layout">
        <plugin name="catalog-session-depersonalize"
                type="Magento\Catalog\Model\Layout\DepersonalizePlugin" sortOrder="10"/>
    </type>
</config>
