<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Translate\InlineInterface" type="Magento\Framework\Translate\Inline" />
    <preference for="Magento\Framework\Translate\Inline\ConfigInterface" type="Magento\Translation\Model\Inline\Config" />
    <preference for="Magento\Framework\Translate\Inline\ProviderInterface" type="Magento\Framework\Translate\Inline\Provider" />
    <preference for="Magento\Framework\Translate\Inline\ParserInterface" type="Magento\Translation\Model\Inline\Parser" />
    <preference for="Magento\Framework\Translate\ResourceInterface" type="Magento\Translation\Model\ResourceModel\Translate" />
    <preference for="Magento\Framework\Translate\Inline\StateInterface" type="Magento\Framework\Translate\Inline\State" />
    <preference for="Magento\Framework\Phrase\RendererInterface" type="Magento\Framework\Phrase\Renderer\Composite" />
    <preference for="Magento\Translation\Model\Js\DataProviderInterface" type="Magento\Translation\Model\Js\DataProvider"/>
    <preference for="Magento\Framework\Translate\Js\Config" type="Magento\Translation\Model\Js\Config"/>
    <type name="Magento\Framework\Translate\Inline">
        <arguments>
            <argument name="templateFileName" xsi:type="string">Magento_Translation::translate_inline.phtml</argument>
            <argument name="translatorRoute" xsi:type="string">translation/ajax/index</argument>
            <argument name="layout" xsi:type="object">Magento\Framework\View\LayoutInterface\Proxy</argument>
            <argument name="config" xsi:type="object">Magento\Framework\Translate\Inline\ConfigInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\Inline\Parser">
        <arguments>
            <argument name="inputFilter" xsi:type="object">Magento\Framework\Filter\Input\MaliciousCode</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Translate\Inline\Provider">
        <arguments>
            <argument name="inlineTranslate" xsi:type="object">Magento\Framework\Translate\Inline\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Phrase\Renderer\Composite">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="translation" xsi:type="object">Magento\Framework\Phrase\Renderer\Translate</item>
                <item name="placeholder" xsi:type="object">Magento\Framework\Phrase\Renderer\Placeholder</item>
                <item name="inline" xsi:type="object">Magento\Framework\Phrase\Renderer\Inline</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Phrase\Renderer\Translate">
        <arguments>
            <argument name="translator" xsi:type="object">Magento\Framework\Translate</argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\Js">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Translation\Model\Js\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\Js\Config">
        <arguments>
            <argument name="patterns" xsi:type="array">
                <item name="i18n_translation" xsi:type="string"><![CDATA[~i18n\:\s*(["'])(.*?)(?<!\\)\1~]]></item>
                <item name="mage_translation_widget" xsi:type="string">~\$\.mage\.__\((['"])(.+?)\1\)~</item>
                <item name="mage_translation_static" xsi:type="string">~\$t\((["'])(.+?)\1\)~</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="AssetPreProcessorPool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="js" xsi:type="array">
                    <item name="js_translation" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Translation\Model\Js\PreProcessor</item>
                    </item>
                </item>
                <item name="json" xsi:type="array">
                    <item name="json_generation" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Translation\Model\Json\PreProcessor</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="uninstall_language" xsi:type="object">Magento\Translation\Console\Command\UninstallLanguageCommand</item>
            </argument>
        </arguments>
    </type>
</config>
