<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<span class="price-container" css="getAdjustmentCssClasses($row())">
    <ifnot args="hasSpecialPrice($row())">
        <if args="useLinkForAsLowAs">
            <a attr="href: $row().url"
               class="minimal-price-link"
               html="getMinimalPrice($row())"/>
        </if>

        <ifnot args="useLinkForAsLowAs">
            <span class="price-wrapper price-including-tax">
                      <span class="minimal-price-link"
                            html="getMinimalPrice($row())"/>
            </span>
        </ifnot>

        <each args="data: getAdjustments(), as: '$adj'">
            <render args="$adj.getBody()"/>
        </each>
    </ifnot>
</span>
