<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="hor-scroll">
    <table class="data">
        <thead data-part="head">
            <tr class="headings" data-part="head.row">
                <!-- ko foreach: { data: fields, as: 'field' } -->
                <th>
                    <span data-bind="text: field.label"></span>
                </th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-part="body">
            <!-- ko if: hasData() -->
                <!-- ko foreach: { data: rows, as: 'row' } -->
                    <tr data-part="body.row" class="even pointer" data-bind="click: $parent.applyItemActionFor(row)">
                        <!-- ko foreach: { data: $parent.fields, as: 'field' }  -->
                            <!-- ko template: $parents[1].getCellTemplateFor(field) --><!-- /ko -->
                        <!-- /ko -->
                    </tr>
                <!-- /ko -->
            <!-- /ko -->

             <!-- ko ifnot: hasData() -->
                <tr class="even">
                    <td class="empty-text" data-bind="attr: { colspan: colspan }, text: $t('We couldn\'t find any records.')"></td>
                </tr>
             <!-- /ko -->
        </tbody>
    </table>
</div>