<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <section id="google" translate="label">
            <group id="googleshopping" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Shopping</label>
                <field id="account_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account ID</label>
                </field>
                <field id="login" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Login</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Password</label>
                    <backend_model>Magento\Backend\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="account_type" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Type</label>
                    <source_model>Magento\GoogleShopping\Model\Source\Accounttype</source_model>
                </field>
                <field id="target_country" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Target Country</label>
                    <source_model>Magento\GoogleShopping\Model\Source\Country</source_model>
                </field>
                <field id="observed" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Update Google Shopping Item when Product is Updated</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="verify_meta_tag" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Verifying Meta Tag</label>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Backend\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="destinations" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Destinations</label>
                    <frontend_model>Magento\Backend\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="product_search" translate="label" type="select" sortOrder="151" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Product Search</label>
                    <source_model>Magento\GoogleShopping\Model\Source\Destinationstates</source_model>
                </field>
                <field id="product_ads" translate="label" type="select" sortOrder="152" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Ads</label>
                    <source_model>Magento\GoogleShopping\Model\Source\Destinationstates</source_model>
                </field>
                <field id="commerce_search" translate="label" type="select" sortOrder="153" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Commerce Search</label>
                    <source_model>Magento\GoogleShopping\Model\Source\Destinationstates</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
