<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="directpost_save_order_after_submit" instance="Magento\Authorizenet\Model\Directpost\Observer" method="saveOrderAfterSubmit" />
    </event>
    <event name="controller_action_postdispatch_checkout_onepage_saveOrder">
        <observer name="directpost_save_order_onepage" instance="Magento\Authorizenet\Model\Directpost\Observer" method="addAdditionalFieldsToResponseFrontend" />
    </event>
</config>
