<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->
<form class="form login" data-role="login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email" class="fieldset">
        <div class="field required">
            <label class="label" for="customer-email">
                <span data-bind="text: $t('Email')"></span>
            </label>
            <div class="control">
                <input class="input-text" type="text" data-bind="textInput: email" name="username" data-validate="{required:true, 'validate-email':true}" id="customer-email">
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
            </div>
        </div>
        <div class="field" data-bind="fadeVisible: isPasswordVisible">
            <span data-bind="text: $t('You already have an account with us. Sign in or continue as guest.')"></span>
            <label class="label" for="customer-password">
                <span data-bind="text: $t('Password')"></span>
            </label>
            <div class="control">
                <input class="input-text" placeholder="optional" type="password" name="password" id="customer-password" data-validate="{required:true, 'validate-password':true}">
            </div>
        </div>
        <!-- ko foreach: getRegion('additional-login-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="actions-toolbar" data-bind="fadeVisible: isPasswordVisible">
            <input name="context" type="hidden" value="checkout" />
            <div class="primary">
                <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="text: $t('Login')"></span></button>
            </div>
            <div class="secondary">
                <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                    <span data-bind="text: $t('Forgot Your Password?')"></span>
                </a>
            </div>
        </div>
    </fieldset>
</form>
<hr>
<!-- /ko -->
