<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GraphQl\Model\Type\HandlerConfig">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="CustomAttributeMetadata" xsi:type="string">Magento\GraphQlEav\Model\Type\Handler\CustomAttributeMetadata</item>
                <item name="AttributeInput" xsi:type="string">Magento\GraphQlEav\Model\Type\Handler\AttributeInput</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\GraphQl\Model\QueryConfig">
        <arguments>
            <argument name="queryStructure" xsi:type="array">
                <item name="customAttributeMetadata" xsi:type="array">
                    <item name="type" xsi:type="string">CustomAttributeMetadata</item>
                    <item name="resolver" xsi:type="object">Magento\GraphQlEav\Model\Resolver\CustomAttributeMetadata</item>
                    <item name="args" xsi:type="array">
                        <item name="attribute[]!" xsi:type="string">AttributeInput</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
