<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Analytics::business_intelligence" title="Business Intelligence" translate="title" module="Magento_Analytics"
             sortOrder="90" parent="Magento_Reports::report" resource="Magento_Analytics::business_intelligence" />
        <add id="Magento_Analytics::advanced_reporting" title="Advanced Reporting" translate="title" module="Magento_Analytics"
             sortOrder="10" parent="Magento_Analytics::business_intelligence" action="analytics/reports/show"
             target="_blank" resource="Magento_Analytics::advanced_reporting" />
        <add id="Magento_Analytics::bi_essentials" title="BI Essentials" translate="title" module="Magento_Analytics"
             sortOrder="20" parent="Magento_Analytics::business_intelligence" action="analytics/biessentials/signup"
             target="_blank" resource="Magento_Analytics::bi_essentials" />
    </menu>
</config>
