<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="analytics" translate="label" type="text" sortOrder="1150" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Analytics</label>
            <tab>general</tab>
            <resource>Magento_Analytics::analytics_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send the system and transaction data to Magento Analytics service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Analytics\Model\Config\Backend\Enabled</backend_model>
                    <config_path>analytics/subscription/enabled</config_path>
                </field>
                <field id="label" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subscription status</label>
                    <frontend_model>Magento\Analytics\Block\Adminhtml\System\Config\SubscriptionStatusLabel</frontend_model>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron</label>
                <field id="time" translate="label" type="time" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Time</label>
                </field>
            </group>
        </section>
    </system>
</config>
