<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Newsletter unsubscription success @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->


{{template config_path="design/email/header_template"}}

{{trans "You have been unsubscribed from the newsletter."}}

{{template config_path="design/email/footer_template"}}
