<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: 'items' in option  -->
    <option data-bind="attr: { label: option.label, value: option.value }"></option>
<!-- /ko -->
<!-- ko if: 'items' in option  -->
    <optgroup data-bind="attr: { label: option.label }"></optgroup>
    <!-- ko foreach: { data: option.items, as: 'option' } -->
        <!-- ko template: 'store/filter/store/item' --><!-- /ko -->
    <!-- /ko -->
<!-- /ko -->