// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Components -> Image Uploader
//  _____________________________________________

.image-uploader {
    .image-upload-requirements {
        font-size: .9em;
        margin-top: 8px;
    }

    .image-placeholder {
        margin-left: 0;
        margin-right: 0;
    }

    .image-uploader-spinner {
        background-size: auto;
        height: 50%;
        margin: 0;
        position: absolute;
        transform: translate(50%, 50%);
        width: 50%;
    }

    .image-uploader-preview {
        width: auto;
    }

    .image-uploader-preview-link,
    .image-uploader-preview-link .preview-image {
        display: block;
        height: inherit;
        margin-left: auto;
        margin-right: auto;
    }
}

.image-uploader._loading {
    .image-placeholder-text,
    .product-image-wrapper:before {
        display: none;
    }
}
