// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Components -> Url Input
//  _____________________________________________

.url-input-element {
    .url-input-select {
        display: inline-block;
    }

    .url-input-element-linked-element {
        display: inline-block;
        + label {
            display: inline-block;
        }
    }
}

