// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Components -> Url Input
//  _____________________________________________
.url-input-container {

    .type-selector-input-container {
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .url-input-select {
        flex-grow: 0;
    }

    .url-input-element-linked-element {
        flex-grow: 1;
        margin-left: 1.5em;
    }

    .url-input-setting {
        clear: both;
        display: block;
        &:before {
            clear: both;
            content: "";
        }
    }

    .admin__action-multiselect-text {
        &.warning {
            color: #F00;
        }
    }

    .action-close, .action-close:active {
        margin-right: 3.2rem;
        padding: 0.8rem 1.5rem 0.6rem;

        &:before {
            font-size: 1.5rem;
        }
    }
}
