<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field form__field" data-bind="css: {'required': element.required, 'field-disabled': element.disabled, 'field-error': element.error}">

    <!-- ko if: element.label -->
    <label class="label" data-bind="attr: { for: element.uid }, css: {'dublicated': element.label === $parent.label}">
        <span data-bind="text: element.label"></span>
    </label>
    <!-- /ko -->

    <div class="control">
        <!-- ko ifnot: element.hasAddons() -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: element.hasAddons() -->
            <div class="control-addon">
                <!-- ko template: element.getTemplate() --><!-- /ko -->

                <!-- ko if: element.addbefore -->
                    <label class="control-before" data-bind="attr: { for: element.uid }"><span data-bind="text: element.addbefore"></span></label>
                <!-- /ko -->

                <!-- ko if: element.addafter -->
                    <label class="control-after" data-bind="attr: { for: element.uid }"><span data-bind="text: element.addafter"></span></label>
                <!-- /ko -->
            </div>
        <!-- /ko -->

        <!-- ko if: element.tooltip -->
            <!-- ko template: element.tooltipTpl --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: element.notice -->
            <div class="note" data-bind="attr: { id: element.noticeId }"><span data-bind="text: element.notice"></span></div>
        <!-- /ko -->

        <!-- ko if: $parent.isSingle() -->
             <!-- ko if: element.error() && !element.hidden() -->
                <label class="mage-error" data-bind="attr: { for: element.uid }, text: element.error"></label>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>