<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<fieldset class="admin__field" data-bind="css: {'_required': element.required}">
    <legend class="admin__field-label">
        <span data-bind="text: element.label"></span>
    </legend><br />
    <div class="admin__field-control" data-bind="css: {'admin__control-fields': element.breakLine, 'admin__control-grouped': !element.breakLine}">
        <!-- ko foreach: { data: elems, as: 'element' } -->

            <!-- ko if: element.visible() -->

                <!-- ko ifnot: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: $parent.fieldTemplate --><!-- /ko -->
                <!-- /ko -->

                <!-- ko if: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: element.elementTmpl --><!-- /ko -->
                <!-- /ko -->

            <!-- /ko -->

        <!-- /ko -->

        <!-- ko if: validateWholeGroup -->
        <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko if: element.error() && element.visible() -->
                <label class="admin__field-error" data-bind="attr: { for: uid }, text: element.error"></label>
            <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</fieldset>
