<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../../../../../../../../app/code/Magento/Backend/etc/system_file.xsd">
    <system>
        <section id="advanced" translate="label" type="text" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced</label>
            <tab>advanced</tab>
            <resource>Magento_Adminhtml::advanced</resource>
            <group id="modules_disable_output" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Disable Modules Output</label>
                <frontend_model>Magento\Backend\Block\System\Config\Form\Fieldset\Modules\DisableOutput\Proxy</frontend_model>
            </group>
        </section>
    </system>
</config>
