// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .form-create-return {
        &:extend(.abs-add-fields all);

        .field {
            .control > span,
            address {
                display: inline-block;
                padding-top: @form-field-type-label-inline__padding-top;
            }
        }

        .additional {
            &:first-child {
                margin-top: 0;
            }

            .field:nth-last-child(2) {
                margin-bottom: 0;
            }

            .field {
                &:last-child {
                    margin-top: @form-field__vertical-indent;
                }
            }
        }

        .field.comment {
            margin-top: 55px;
        }
    }

    .block-returns-comments {
        .returns-comments {
            dt,
            dd {
                margin: 0;
            }

            dt {
                font-weight: @font-weight__regular;
            }

            dd {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .fieldset {
            margin-bottom: 20px;
        }
    }

    .return-status {
        &:extend(.abs-status all);
    }

    .magento-rma-returns-returns,
    .magento-rma-guest-returns,
    .magento-rma-returns-view {
        .page-title-wrapper {
            .page-title {
                margin-right: 25px;
            }
        }
    }

    //
    //  Guest return view page
    //  ---------------------------------------------

    .magento-rma-guest-returns {
        .column.main {
            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .form-create-return {
        .fieldset {
            > .actions-toolbar {
                &:extend(.abs-add-clearfix-mobile-m all);
            }
        }
    }

    .account {
        .column.main {
            .returns-details-items {
                .block-returns-tracking {
                    .block-title {
                        > .action.track {
                            display: block;
                            float: none;
                            margin: @indent__s 0 0;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .form-create-return {
        &:extend(.abs-add-fields-desktop all);
        .additional {
            .field:last-child {
                margin-top: @form-field__vertical-indent__desktop;
            }
        }
    }

    //
    //  Guest return view page
    //  ---------------------------------------------

    .magento-rma-guest-returns {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                        margin-bottom: @indent__base;
                    }
                }
            }
        }
    }

    .block-returns-tracking {
        .block-title {
            .action {
                margin: 0 0 0 30px;
            }

            .actions-track {
                float: right;
                margin-top: 12px;
            }
        }
    }
}
