<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <google>
            <googleshopping>
                <target_country>US</target_country>
                <account_type>HOSTED_OR_GOOGLE</account_type>
                <!-- Available target countries. Each country must have
                     language code (ISO 639-1) and currency code (ISO 3166)
                     according to Google Content documentation. -->
                <allowed_countries>
                    <AU translate="name currency_name">
                        <name>Australia</name>
                        <language>en</language>
                        <currency>AUD</currency>
                        <currency_name>Australian Dollar</currency_name>
                    </AU>
                    <BR translate="name currency_name">
                        <name>Brazil</name>
                        <language>pt</language>
                        <locale>pt_BR</locale>
                        <currency>BRL</currency>
                        <currency_name>Brazilian Real</currency_name>
                    </BR>
                    <CN translate="name currency_name">
                        <name>China</name>
                        <language>zh_CN</language>
                        <currency>CNY</currency>
                        <currency_name>Chinese Yuan Renminbi</currency_name>
                    </CN>
                    <FR translate="name currency_name">
                        <name>France</name>
                        <language>fr</language>
                        <currency>EUR</currency>
                        <currency_name>Euro</currency_name>
                    </FR>
                    <DE translate="name currency_name">
                        <name>Germany</name>
                        <language>de</language>
                        <locale>de_DE</locale>
                        <currency>EUR</currency>
                        <currency_name>Euro</currency_name>
                    </DE>
                    <IT translate="name currency_name">
                        <name>Italy</name>
                        <language>it</language>
                        <currency>EUR</currency>
                        <currency_name>Euro</currency_name>
                    </IT>
                    <JP translate="name currency_name">
                        <name>Japan</name>
                        <language>ja</language>
                        <currency>JPY</currency>
                        <currency_name>Japanese Yen</currency_name>
                    </JP>
                    <NL translate="name currency_name">
                        <name>Netherlands</name>
                        <language>nl</language>
                        <currency>EUR</currency>
                        <currency_name>Euro</currency_name>
                    </NL>
                    <ES translate="name currency_name">
                        <name>Spain</name>
                        <language>es</language>
                        <currency>EUR</currency>
                        <currency_name>Euro</currency_name>
                    </ES>
                    <CH translate="name currency_name">
                        <name>Switzerland</name>
                        <language>de</language>
                        <locale>de_CH</locale>
                        <currency>CHF</currency>
                        <currency_name>Swiss Franc</currency_name>
                    </CH>
                    <GB translate="name currency_name">
                        <name>United Kingdom</name>
                        <language>en</language>
                        <locale>en_GB</locale>
                        <currency>GBP</currency>
                        <currency_name>British Pound Sterling</currency_name>
                    </GB>
                    <US translate="name currency_name">
                        <name>United States</name>
                        <language>en</language>
                        <locale>en_US</locale>
                        <currency>USD</currency>
                        <currency_name>US Dollar</currency_name>
                    </US>
                </allowed_countries>
                <!-- Available destinations for products. -->
                <destinations>
                    <product_search>ProductSearch</product_search>
                    <product_ads>ProductAds</product_ads>
                    <commerce_search>CommerceSearch</commerce_search>
                </destinations>
                <!-- Attributes which available for customer's mapping.
                     They are grouped by destinations and may have country limitation. -->
                <attributes>
                    <Item>
                        <!-- These attributes aren't available for mapping
                        <id translate="name">
                            <name>ID</name>
                            <required>1</required>
                        </id>
                        <link translate="name">
                            <name>Link to product item page</name>
                            <required>1</required>
                        </link>
                        <content_language translate="name">
                            <name>Language used in the item content</name>
                            <required>1</required>
                        </content_language>
                        <target_country translate="name">
                            <name>Target country</name>
                            <required>1</required>
                        </target_country>
                        <image_link translate="name">
                            <name>Image link</name>
                            <required>0</required>
                        </image_link>
                        <item_group_id  translate="name">
                            <name>Item Group ID</name>
                            <required>0</required>
                        </item_group_id>
                        -->
                        <title translate="name">
                            <name>Title</name>
                            <required>1</required>
                        </title>
                        <content translate="name">
                            <name>Description</name>
                            <required>1</required>
                        </content>
                        <expiration_date translate="name">
                            <name>Expiration date</name>
                            <required>0</required>
                        </expiration_date>
                        <adult translate="name">
                            <name>Adult</name>
                            <required>0</required>
                        </adult>
                    </Item>
                    <ProductSearch>
                        <condition translate="name">
                            <name>Condition</name>
                            <required>1</required>
                        </condition>
                        <price translate="name">
                            <name>Price</name>
                            <required>1</required>
                        </price>
                        <sale_price translate="name">
                            <name>Sale Price</name>
                            <required>0</required>
                            <country>US</country>
                        </sale_price>
                        <sale_price_effective_date_from translate="name">
                            <name>Sale Price Effective From Date</name>
                            <required>0</required>
                            <country>US</country>
                        </sale_price_effective_date_from>
                        <sale_price_effective_date_to translate="name">
                            <name>Sale Price Effective To Date</name>
                            <required>0</required>
                            <country>US</country>
                        </sale_price_effective_date_to>
                        <age_group translate="name">
                            <name>Age Group</name>
                            <required>1</required>
                        </age_group>
                        <brand translate="name">
                            <name>Brand</name>
                            <required>1</required>
                        </brand>
                        <color translate="name">
                            <name>Color</name>
                            <required>1</required>
                        </color>
                        <gender translate="name">
                            <name>Gender</name>
                            <required>1</required>
                        </gender>
                        <mpn translate="name">
                            <name>Manufacturer\'s Part Number (MPN)</name>
                            <required>1</required>
                        </mpn>
                        <online_only translate="name">
                            <name>Online Only</name>
                            <required>0</required>
                        </online_only>
                        <gtin translate="name">
                            <name>GTIN</name>
                            <required>1</required>
                        </gtin>
                        <product_type translate="name">
                            <name>Product Type (Category)</name>
                            <required>0</required>
                        </product_type>
                        <product_review_average translate="name">
                            <name>Product Review Average</name>
                            <required>0</required>
                        </product_review_average>
                        <product_review_count translate="name">
                            <name>Product Review Count</name>
                            <required>0</required>
                        </product_review_count>
                        <shipping_weight translate="name">
                            <name>Shipping Weight</name>
                            <required>0</required>
                        </shipping_weight>
                        <size translate="name">
                            <name>Size</name>
                            <required>1</required>
                        </size>
                        <material translate="name">
                            <name>Material</name>
                            <required>1</required>
                        </material>
                        <pattern translate="name">
                            <name>Pattern/Graphic</name>
                            <required>1</required>
                        </pattern>
                    </ProductSearch>
                    <ProductAds>
                        <adwords_grouping translate="name">
                            <name>Grouping</name>
                            <required>0</required>
                        </adwords_grouping>
                        <adwords_labels translate="name">
                            <name>Labels</name>
                            <required>0</required>
                        </adwords_labels>
                        <adwords_redirect translate="name">
                            <name>Redirect</name>
                            <required>0</required>
                        </adwords_redirect>
                        <adwords_queryparam translate="name">
                            <name>Query Param</name>
                            <required>0</required>
                        </adwords_queryparam>
                    </ProductAds>
                </attributes>
                <!-- Groups are dependencies between attributes -->
                <attribute_groups>
                    <price>
                        <sale_price />
                        <tax />
                        <sale_price_effective_date />
                        <sale_price_effective_date_from />
                        <sale_price_effective_date_to />
                    </price>
                    <shipping_weight>
                        <weight />
                    </shipping_weight>
                    <title>
                        <name />
                    </title>
                    <content>
                        <description />
                    </content>
                </attribute_groups>
                <!-- Base attributes are required and auto-calculated.
                     They will be added to entry even without mapping. -->
                <base_attributes>
                    <id />
                    <title />
                    <link />
                    <content />
                    <price />
                    <image_link />
                    <condition />
                    <target_country />
                    <content_language />
                    <destinations />
                    <availability />
                    <google_product_category />
                    <product_type />
                </base_attributes>
                <password backend_model="Magento\Backend\Model\Config\Backend\Encrypted" />
            </googleshopping>
        </google>
    </default>
</config>
