<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="Magento\GoogleShopping\Model\Resource\Helper" type="Magento\Framework\DB\Helper">
        <arguments>
            <argument name="modulePrefix" xsi:type="string">Core</argument>
        </arguments>
    </virtualType>
    <type name="Magento\GoogleShopping\Model\Resource\Item\Collection">
        <arguments>
            <argument name="resourceHelper" xsi:type="object">Magento\GoogleShopping\Model\Resource\Helper</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="googleshopping_setup" xsi:type="string">Magento\GoogleShopping\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
