// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.catalog-category-edit.page-layout-admin-2columns-left {
    .page-columns:before {
        display: none;
    }
}
.category-content {
    .ui-tabs-panel .fieldset {
        padding-top: 40px;

        .legend {
            display: none;
        }
    }
}

//
//    Product Massaction page
//--------------------------------------

// Attributes
.attributes-edit-form {
    .field {
        &:not(.field-weight) {
            .addon {
                display: block;
                position: relative;

                input[type="text"] {
                    border-width: 1px;
                }

                .addafter {
                    display: block;
                    border: 0;
                    height: auto;
                    width: auto;
                }

                input:focus ~ .addafter {
                    box-shadow: none;
                }
            }
        }
    }

    .with-addon .textarea {
        margin: 0;
    }

    .attribute-change-checkbox {
        background: #fff;
        display: block;
        margin-top: 5px;

        .label {
            float: none;
            padding: 0;
            width: auto;
        }
    }

    .field-price  {
        label {
            &.mage-error {
                position: static;
            }
        }
    }

    .field-price,
    .field-special_price,
    .field-gift_wrapping_price,
    .field-msrp,
    .field-cost,
    .field-gift_wrapping_price {
        &:not(.field-weight) {
            .addon {
                .lib-vendor-prefix-display(inline-flex);
                .lib-vendor-prefix-flex-direction(row);
                color: #303030;
                display: inline-flex;
                flex-flow: row nowrap;
                margin: 0 0 35px;
                position: relative;
                width: 100%;
                z-index: 1;

                &._update-attributes-disabled {
                    background: #f4f4f4;
                    border-color: #d6d6d6;

                    .addafter {
                        strong {
                            opacity: .5;
                        }
                    }
                }

                input[type="text"] {
                    border: solid #adadad;
                    border-width: 1px 1px 1px 0;

                    &[disabled] {
                        + .addafter {
                            border-color: #d0d0d0;
                        }

                        &.mage-error {
                            + .addafter {
                                border-color: #eb8d8d !important;
                            }
                        }
                    }
                }

                .addafter {
                    border: solid #adadad;
                    border-width: 1px 0 1px 1px;
                }
            }
        }

        ._update-attributes-disabled {
            .admin__control-text {
                background: none;
            }
        }

        .admin__control-text {
            .lib-css(appearance, none, 1);
            .lib-vendor-prefix-flex-basis(auto);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-shrink(1);
            background: none;
            border: 0;
        }

        .control {
            .admin__control-text {
                &[disabled] {
                    background: none;
                }
            }
        }

        .addafter {
            .lib-vendor-prefix-flex-basis(auto);
            .lib-vendor-prefix-flex-grow(0);
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-order(0);
            position: relative;
            z-index: 0;

            strong {
                padding-top: 4px;
                position: relative;
                vertical-align: top;
                z-index: 1;

                + strong {
                    padding-left: 0;
                }
            }
        }

        .attribute-change-checkbox {
            left: 0;
            position: absolute;
            top: 35px;
        }
    }

    .field.type-price,
    .field-price,
    .field-special_price,
    .field-msrp,
    .field-weight {
        input:focus + label {
            box-shadow: none;
        }
    }

    .field-special_from_date,
    .field-special_to_date,
    .field-news_from_date,
    .field-news_to_date,
    .field-custom_design_from,
    .field-custom_design_to {
        > .control .input-text {
            border-width: 1px;
            width: 130px;
        }
    }

    .field-weight {
        .fields-group-2 {
            .control {
                padding-right: 27px;

                .addafter + .addafter {
                    border-width: 1px 1px 1px 0;
                    border-style: solid;
                    height: 31px;
                    right: 0;
                    position: absolute;
                    top: 0;
                }

                .addafter strong {
                    line-height: 31px;
                }

                > input:focus + .addafter + .addafter {
                    border-color: #007bdb;
                }
            }
        }
    }

    .fieldset > .addafter {
        display: none;
    }

}

// Inventory
.advanced-inventory-edit {
    .field.choice {
        display: block;
        margin: 3px 0 0;

        .label {
            padding-top: 1px;
        }
    }
}
