<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_update_items_before">
        <observer name="wishlist" instance="Magento\Wishlist\Observer\CartUpdateBefore" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="wishlist" instance="Magento\Wishlist\Observer\AddToCart" />
    </event>
</config>
