<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__field-complex" css="$data.additionalClasses" attr="'data-index': index">

    <div class="admin__field-complex-title" if="label">
        <span text="label"/>
    </div>

    <div class="admin__field-complex-elements"
         each="data: elems, as: 'element'"
         render="" />

    <div class="admin__field-complex-content"
         html="$data.content" if="$data.content"></div>

    <div class="admin__field-complex-text"
         html="$data.text" if="$data.text"></div>
</div>
