<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Authorization\RoleLocatorInterface" type="Magento\Backend\Model\Authorization\RoleLocator" />
    <preference for="Magento\Framework\Locale\ResolverInterface" type="Magento\Backend\Model\Locale\Resolver" />
    <preference for="Magento\Framework\App\Action\Context" type="Magento\Backend\App\Action\Context" />
    <preference for="Magento\Framework\UrlInterface" type="Magento\Backend\Model\UrlInterface" />
    <preference for="Magento\Backend\Model\Auth\StorageInterface" type="Magento\Backend\Model\Auth\Session" />
    <preference for="Magento\Backend\Model\Config\Structure\SearchInterface" type="Magento\Backend\Model\Config\Structure" />
    <preference for="Magento\Backend\Model\Config\Backend\File\RequestData\RequestDataInterface" type="Magento\Backend\Model\Config\Backend\File\RequestData" />
    <preference for="Magento\Framework\App\DefaultPathInterface" type="Magento\Backend\App\DefaultPath" />
    <preference for="Magento\Backend\App\ConfigInterface" type="Magento\Backend\App\Config" />
    <preference for="Magento\Framework\App\Response\Http\FileFactory" type="Magento\Backend\App\Response\Http\FileFactory" />
    <preference for="Magento\Framework\App\View" type="Magento\Backend\Model\View" />
    <preference for="Magento\Framework\Model\ActionValidator\RemoveAction" type="Magento\Framework\Model\ActionValidator\RemoveAction\Allowed" />
    <preference for="Magento\Framework\Session\Config\ConfigInterface" type="Magento\Backend\Model\Session\AdminConfig" />
    <type name="Magento\Backend\App\Action\Context">
        <arguments>
            <argument name="helper" xsi:type="object">Magento\Backend\Helper\Data</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Auth\Session">
        <arguments>
            <argument name="backendUrl" xsi:type="object">Magento\Backend\Model\UrlInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Config\Structure\Element\Iterator\Tab" shared="false" />
    <type name="Magento\Backend\Model\Config\Structure\Element\Iterator\Section" shared="false" />
    <type name="Magento\Framework\View\Layout">
        <arguments>
            <argument name="area" xsi:type="string">adminhtml</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="admin" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Backend\App\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Framework\App\Router\DefaultRouter</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="adminAuthentication" type="Magento\Backend\App\Action\Plugin\Authentication" sortOrder="100" />
        <plugin name="adminMassactionKey" type="Magento\Backend\App\Action\Plugin\MassactionKey" sortOrder="11" />
    </type>
    <type name="Magento\Store\App\Response\Redirect">
        <arguments>
            <argument name="canUseSessionIdInParam" xsi:type="boolean">false</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="storeCheck" disabled="true" />
    </type>
    <type name="Magento\Framework\Message\Manager">
        <arguments>
            <argument name="defaultGroup" xsi:type="string">backend</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Translate">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Translate</argument>
            <argument name="locale" xsi:type="object">Magento\Backend\Model\Locale\Resolver\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Session\AdminConfig">
        <arguments>
            <argument name="lifetimePath" xsi:type="const">Magento\Backend\Model\Auth\Session::XML_PATH_SESSION_LIFETIME</argument>
            <argument name="sessionName" xsi:type="const">Magento\Backend\Model\Session\AdminConfig::SESSION_NAME_ADMIN</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\PageFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\Backend\Model\View\Result\Page</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout\BuilderFactory">
        <arguments>
            <argument name="typeMap" xsi:type="array">
                <item name="page" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\View\Layout\BuilderFactory::TYPE_PAGE</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Page\Builder</item>
                </item>
                <item name="layout" xsi:type="array">
                    <item name="type" xsi:type="const">Magento\Framework\View\Layout\BuilderFactory::TYPE_LAYOUT</item>
                    <item name="class" xsi:type="string">Magento\Backend\Model\View\Layout\Builder</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
