.class {
  font-size: 12pt;
}
.class h1 {
  color: green;
}
div.module_test {
  color: red;
}
div.magento_import_lib {
  color: green;
}
div.test {
  color: white;
}
div.test2 {
  color: black;
}
.end_class {
  color: white;
}