<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Logger\Handler\Debug" type="Magento\Developer\Model\Logger\Handler\Debug"/>
    <preference for="Magento\Framework\Logger\Handler\Syslog" type="Magento\Developer\Model\Logger\Handler\Syslog"/>

    <type name="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="pageConfigRendererFactory" xsi:type="object">Magento\Developer\Model\View\Page\Config\RendererFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Developer\Console\Command\XmlCatalogGenerateCommand">
        <arguments>
            <argument name="formats" xsi:type="array">
                <item name="phpstorm" xsi:type="object">Magento\Developer\Model\XmlCatalog\Format\PhpStorm</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Developer\Model\View\Page\Config\RendererFactory">
        <arguments>
            <argument name="rendererTypes" xsi:type="array">
                <item name="client_side_compilation" xsi:type="string">Magento\Developer\Model\View\Page\Config\ClientSideLessCompilation\Renderer</item>
                <item name="server_side_compilation" xsi:type="string">Magento\Framework\View\Page\Config\Renderer</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="AssetMaterializationStrategyFactoryForSourceThemeDeploy" type="Magento\Framework\App\View\Asset\MaterializationStrategy\Factory">
        <arguments>
            <argument name="strategiesList" xsi:type="array">
                <item name="symlink" xsi:type="object">Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink</item>
                <item name="copy" xsi:type="object">Magento\Framework\App\View\Asset\MaterializationStrategy\Copy</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AssetPublisherForSymlink" type="Magento\Framework\App\View\Asset\Publisher">
        <arguments>
            <argument name="materializationStrategyFactory" xsi:type="object">AssetMaterializationStrategyFactoryForSourceThemeDeploy</argument>
        </arguments>
    </virtualType>

    <!-- Configuration for \Magento\Developer\Console\Command\SourceThemeDeployCommand -->
    <virtualType name="FileGeneratorPublicationDecoratorForSourceThemeDeploy" type="Magento\Developer\Model\Css\PreProcessor\FileGenerator\PublicationDecorator">
        <arguments>
            <argument name="hasRelatedPublishing" xsi:type="boolean">true</argument>
            <argument name="assetRepository" xsi:type="object">AssetRepositoryForSourceThemeDeploy</argument>
            <argument name="assetPublisher" xsi:type="object">AssetPublisherForSymlink</argument>
        </arguments>
    </virtualType>
    <virtualType name="PreProcessorInstructionImportForSourceThemeDeploy" type="Magento\Framework\Css\PreProcessor\Instruction\Import">
        <arguments>
            <argument name="relatedFileGenerator" xsi:type="object">FileGeneratorPublicationDecoratorForSourceThemeDeploy</argument>
        </arguments>
    </virtualType>
    <virtualType name="AssetPreProcessorPoolForSourceThemeDeploy" type="Magento\Framework\View\Asset\PreProcessor\Pool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="less" xsi:type="array">
                    <item name="magento_import" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Instruction\MagentoImport</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="after" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">PreProcessorInstructionImportForSourceThemeDeploy</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AssetSourceForSourceThemeDeploy" type="Magento\Framework\View\Asset\Source">
        <arguments>
            <argument name="preProcessorPool" xsi:type="object">AssetPreProcessorPoolForSourceThemeDeploy</argument>
        </arguments>
    </virtualType>
    <virtualType name="AssetRepositoryForSourceThemeDeploy" type="Magento\Framework\View\Asset\Repository">
        <arguments>
            <argument name="assetSource" xsi:type="object">AssetSourceForSourceThemeDeploy</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Developer\Console\Command\SourceThemeDeployCommand">
        <arguments>
            <argument name="assetPublisher" xsi:type="object">AssetPublisherForSymlink</argument>
            <argument name="assetRepository" xsi:type="object">AssetRepositoryForSourceThemeDeploy</argument>
        </arguments>
    </type>
    <!-- End configuration for \Magento\Developer\Console\Command\SourceThemeDeployCommand -->

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dev_tests_run" xsi:type="object">Magento\Developer\Console\Command\DevTestsRunCommand</item>
                <item name="whitelist_generation" xsi:type="object">Magento\Developer\Console\Command\TablesWhitelistGenerateCommand</item>
                <item name="dev_source_theme_deploy" xsi:type="object">Magento\Developer\Console\Command\SourceThemeDeployCommand</item>
                <item name="xml_converter" xsi:type="object">Magento\Developer\Console\Command\XmlConverterCommand</item>
                <item name="xml_catalog_generator" xsi:type="object">Magento\Developer\Console\Command\XmlCatalogGenerateCommand</item>
                <item name="dev_di_info" xsi:type="object">Magento\Developer\Console\Command\DiInfoCommand</item>
                <item name="dev_query_log_enable" xsi:type="object">Magento\Developer\Console\Command\QueryLogEnableCommand</item>
                <item name="dev_query_log_disable" xsi:type="object">Magento\Developer\Console\Command\QueryLogDisableCommand</item>
                <item name="dev_template_hints_disable" xsi:type="object">Magento\Developer\Console\Command\TemplateHintsDisableCommand</item>
                <item name="dev_template_hints_enable" xsi:type="object">Magento\Developer\Console\Command\TemplateHintsEnableCommand</item>
                <item name="dev_profiler_disable" xsi:type="object">Magento\Developer\Console\Command\ProfilerDisableCommand</item>
                <item name="dev_profiler_enable" xsi:type="object">Magento\Developer\Console\Command\ProfilerEnableCommand</item>
                <item name="dev_generate_patch" xsi:type="object">Magento\Developer\Console\Command\GeneratePatchCommand</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="cssMinificationAdapter" type="Magento\Framework\Code\Minifier\Adapter\Css\CSSmin" />
    <virtualType name="jsMinificationAdapter" type="Magento\Framework\Code\Minifier\Adapter\Js\JShrink" />
    <virtualType name="cssMinificationProcessor" type="Magento\Framework\View\Asset\PreProcessor\Minify">
        <arguments>
            <argument name="adapter" xsi:type="object">cssMinificationAdapter</argument>
        </arguments>
    </virtualType>
    <virtualType name="jsMinificationProcessor" type="Magento\Framework\View\Asset\PreProcessor\Minify">
        <arguments>
            <argument name="adapter" xsi:type="object">jsMinificationAdapter</argument>
        </arguments>
    </virtualType>

    <!-- Configuration for Magento\Framework\Css\PreProcessor\Instruction\Import base flow -->
    <virtualType name="FileGeneratorPublicationDecoratorForBaseFlow" type="Magento\Developer\Model\Css\PreProcessor\FileGenerator\PublicationDecorator">
        <arguments>
            <argument name="hasRelatedPublishing" xsi:type="boolean">false</argument>
            <argument name="assetPublisher" xsi:type="object">AssetPublisherForSymlink</argument>
        </arguments>
    </virtualType>
    <virtualType name="PreProcessorInstructionImportForBaseFlow" type="Magento\Framework\Css\PreProcessor\Instruction\Import">
        <arguments>
            <argument name="relatedFileGenerator" xsi:type="object">FileGeneratorPublicationDecoratorForBaseFlow</argument>
        </arguments>
    </virtualType>
    <!-- End configuration for Magento\Framework\Css\PreProcessor\Instruction\Import base flow -->

    <type name="Magento\Developer\Model\View\Asset\PreProcessor\FrontendCompilation">
        <arguments>
            <argument name="alternativeSource" xsi:type="object">AlternativeSourceProcessors</argument>
            <argument name="lockerProcess" xsi:type="object">Magento\Framework\View\Asset\LockerProcess</argument>
            <argument name="lockName" xsi:type="string">frontend-compilation-source</argument>
        </arguments>
    </type>
    <type name="Magento\Developer\Model\View\Asset\PreProcessor\PreprocessorStrategy">
        <arguments>
            <argument name="alternativeSource" xsi:type="object">AlternativeSourceProcessors</argument>
        </arguments>
    </type>

    <!-- @api -->
    <virtualType name="AssetPreProcessorPool" type="Magento\Framework\View\Asset\PreProcessor\Pool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="less" xsi:type="array">
                    <item name="magento_import" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Instruction\MagentoImport</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="after" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">PreProcessorInstructionImportForBaseFlow</item>
                    </item>
                </item>
                <item name="css" xsi:type="array">
                    <item name="preprocessorStrategy" xsi:type="array">
                        <item name="class" xsi:type="string">Magento\Developer\Model\View\Asset\PreProcessor\PreprocessorStrategy</item>
                    </item>
                    <item name="variable_notation" xsi:type="array">
                        <item name="after" xsi:type="string">preprocessorStrategy</item>
                        <item name="class" xsi:type="string">Magento\Framework\View\Asset\PreProcessor\VariableNotation</item>
                    </item>
                    <item name="module_notation" xsi:type="array">
                        <item name="after" xsi:type="string">variable_notation</item>
                        <item name="class" xsi:type="string">Magento\Framework\View\Asset\PreProcessor\ModuleNotation</item>
                    </item>
                    <item name="css_min" xsi:type="array">
                        <item name="after" xsi:type="string">module_notation</item>
                        <item name="class" xsi:type="string">cssMinificationProcessor</item>
                    </item>
                </item>
                <item name="js" xsi:type="array">
                    <item name="js_min" xsi:type="array">
                        <item name="class" xsi:type="string">jsMinificationProcessor</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Asset\Source">
        <arguments>
            <argument name="preProcessorPool" xsi:type="object">AssetPreProcessorPool</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Css\PreProcessor\Instruction\MagentoImport">
        <arguments>
            <argument name="fileSource" xsi:type="object">Magento\Framework\Css\PreProcessor\File\Collector\Aggregated</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Css\PreProcessor\File\Collector\Aggregated">
        <arguments>
            <argument name="libraryFiles" xsi:type="object">Magento\Framework\Css\PreProcessor\File\Collector\Library</argument>
            <argument name="baseFiles" xsi:type="object">cssSourceBaseFilesSorted</argument>
            <argument name="overriddenBaseFiles" xsi:type="object">cssSourceOverriddenBaseFiles</argument>
        </arguments>
    </type>

    <virtualType name="cssSourceBaseFilesSorted" type="Magento\Framework\View\File\Collector\Decorator\ModuleDependency">
        <arguments>
            <argument name="subject" xsi:type="object">cssSourceBaseFilesFiltered</argument>
        </arguments>
    </virtualType>
    <virtualType name="cssSourceBaseFilesFiltered" type="Magento\Framework\View\File\Collector\Decorator\ModuleOutput">
        <arguments>
            <argument name="subject" xsi:type="object">cssSourceBaseFiles</argument>
        </arguments>
    </virtualType>
    <virtualType name="cssSourceBaseFiles" type="Magento\Framework\View\File\Collector\Base">
        <arguments>
            <argument name="subDir" xsi:type="string">web</argument>
        </arguments>
    </virtualType>

    <virtualType name="cssSourceOverriddenBaseFiles" type="Magento\Framework\View\File\Collector\Override\Base">
        <arguments>
            <argument name="subDir" xsi:type="string">web</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="dev/restrict/allow_ips" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="dev/restrict/allow_ips" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Developer\Model\TemplateEngine\Plugin\DebugHints">
        <arguments>
            <argument name="debugHintsPath" xsi:type="string">dev/debug/template_hints_storefront</argument>
            <argument name="debugHintsWithParam" xsi:type="string">dev/debug/template_hints_storefront_show_with_parameter</argument>
            <argument name="debugHintsParameter" xsi:type="string">dev/debug/template_hints_parameter_value</argument>
        </arguments>
    </type>
</config>
