<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CurrencySymbol\Test\Constraint\AssertCurrencySymbolSuccessSaveMessage">
        <arguments>
            <argument name="currencySymbolIndex" xsi:type="object">Magento\CurrencySymbol\Test\Page\Adminhtml\SystemCurrencySymbolIndex</argument>
        </arguments>
    </type>
    <type name="Magento\CurrencySymbol\Test\Constraint\AssertCurrencySymbolOnProductPage">
        <arguments>
            <argument name="cmsIndex" xsi:type="object">Magento\Cms\Test\Page\CmsIndex</argument>
            <argument name="catalogCategoryView" xsi:type="object">Magento\Catalog\Test\Page\Category\CatalogCategoryView</argument>
            <argument name="product" xsi:type="object">Magento\Catalog\Test\Fixture\CatalogProductSimple</argument>
            <argument name="catalogProductView" xsi:type="object">Magento\Catalog\Test\Page\Product\CatalogProductView</argument>
            <argument name="currencySymbol" xsi:type="object">Magento\CurrencySymbol\Test\Fixture\CurrencySymbolEntity</argument>
        </arguments>
    </type>
    <type name="Magento\CurrencySymbol\Test\Constraint\AssertCurrencySymbolOnCatalogPage">
        <arguments>
            <argument name="cmsIndex" xsi:type="object">Magento\Cms\Test\Page\CmsIndex</argument>
            <argument name="catalogCategoryView" xsi:type="object">Magento\Catalog\Test\Page\Category\CatalogCategoryView</argument>
            <argument name="product" xsi:type="object">Magento\Catalog\Test\Fixture\CatalogProductSimple</argument>
            <argument name="currencySymbol" xsi:type="object">Magento\CurrencySymbol\Test\Fixture\CurrencySymbolEntity</argument>
        </arguments>
    </type>
</config>
