<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <recently_products>
                <scope>website</scope>
                <viewed_count>5</viewed_count>
                <compared_count>5</compared_count>
            </recently_products>
        </catalog>
        <reports>
            <dashboard>
                <ytd_start>1,1</ytd_start>
                <mtd_start>1</mtd_start>
            </dashboard>
            <options>
                <enabled>1</enabled>
                <product_view_enabled>1</product_view_enabled>
                <product_send_enabled>1</product_send_enabled>
                <product_compare_enabled>1</product_compare_enabled>
                <product_to_cart_enabled>1</product_to_cart_enabled>
                <product_to_wishlist_enabled>1</product_to_wishlist_enabled>
                <wishlist_share_enabled>1</wishlist_share_enabled>
            </options>
        </reports>
    </default>
</config>
