<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Log\Model\Resource\Log">
        <plugin name="reportLog" type="Magento\Reports\Model\Plugin\Log" />
    </type>
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="reports_setup" xsi:type="string">Magento\Reports\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Reports\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">reports</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Reports\Model\Session" type="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Reports\Model\Session\Storage</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Reports\Model\Product\Index\AbstractIndex">
        <arguments>
            <argument name="reportSession" xsi:type="object">Magento\Reports\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Reports\Model\Resource\Helper">
        <arguments>
            <argument name="modulePrefix" xsi:type="string">reports</argument>
        </arguments>
    </type>
</config>
