<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="braintreetwo_section" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>BraintreeTwo</label>
                <comment><![CDATA[Accept credit/debit cards and PayPal in your Magento store. No setup or monthly fees and your customers never leave your store to complete the purchase.]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex braintree-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <group id="braintreetwo" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[&nbsp;]]></label>
                    <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/braintreetwo/active</attribute>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/braintreetwo/active</config_path>
                        <requires>
                            <group id="braintreetwo_required"/>
                        </requires>
                    </field>
                    <group id="braintreetwo_required" translate="label" showInDefault="1" showInWebsite="1" sortOrder="5">
                        <comment><![CDATA[<a href="https://www.braintreegateway.com/login" target="_blank">Click here to login to your existing Braintree account</a>. Or to setup a new account and accept payments on your website, <a href="https://apply.braintreegateway.com/signup/us" target="_blank">click here to signup for a Braintree account</a>.]]></comment>
                        <label>Basic BraintreeTwo Settings</label>
                        <attribute type="expanded">1</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/braintreetwo/title</config_path>
                        </field>
                        <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Environment</label>
                            <source_model>Magento\BraintreeTwo\Model\Adminhtml\Source\Environment</source_model>
                            <config_path>payment/braintreetwo/environment</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment Action</label>
                            <source_model>Magento\BraintreeTwo\Model\Adminhtml\Source\PaymentAction</source_model>
                            <config_path>payment/braintreetwo/payment_action</config_path>
                        </field>
                        <field id="merchant_id" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant ID</label>
                            <config_path>payment/braintreetwo/merchant_id</config_path>
                        </field>
                        <field id="public_key" translate="label" type="obscure" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Public Key</label>
                            <config_path>payment/braintreetwo/public_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        </field>
                        <field id="private_key" translate="label" type="obscure" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Private Key</label>
                            <config_path>payment/braintreetwo/private_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        </field>
                    </group>
                    <group id="braintreetwo_advanced" translate="label" showInDefault="1" showInWebsite="1" sortOrder="20">
                        <label>Advanced Braintree Settings</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="merchant_account_id" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Merchant Account ID</label>
                            <comment>If you don't specify the merchant account to use to process a transaction, Braintree will process it using your default merchant account.</comment>
                            <config_path>payment/braintreetwo/merchant_account_id</config_path>
                        </field>
                        <field id="fraud_protection" translate="label" type="select" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Advanced Fraud Protection</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Be sure to Enable Advanced Fraud Protection in Your Braintree Account in Settings/Processing Section</comment>
                            <config_path>payment/braintreetwo/fraud_protection</config_path>
                        </field>
                        <field id="kount_merchant_id" translate="label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Kount Merchant ID</label>
                            <comment><![CDATA[Used for direct fraud tool integration. Make sure you also contact <a href="mailto:accounts@braintreepayments.com">accounts@braintreepayments.com</a> to setup your Kount account.]]></comment>
                            <depends>
                                <field id="fraud_protection">1</field>
                            </depends>
                            <config_path>payment/braintreetwo/kount_merchant_id</config_path>
                        </field>
                        <field id="debug" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Debug</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/braintreetwo/debug</config_path>
                        </field>
                        <field id="useccv" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>CVV Verification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Be sure to Enable AVS and/or CVV in Your Braintree Account in Settings/Processing Section.</comment>
                            <config_path>payment/braintreetwo/useccv</config_path>
                        </field>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Credit Card Types</label>
                            <source_model>Magento\BraintreeTwo\Model\Adminhtml\Source\CcType</source_model>
                            <config_path>payment/braintreetwo/cctypes</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/braintreetwo/sort_order</config_path>
                        </field>
                    </group>
                    <group id="braintreetwo_country_specific" translate="label" showInDefault="1" showInWebsite="1" sortOrder="30">
                        <label>Country Specific Settings</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/braintreetwo/allowspecific</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Specific Countries</label>
                            <source_model>Magento\BraintreeTwo\Model\Adminhtml\System\Config\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>payment/braintreetwo/specificcountry</config_path>
                        </field>
                        <field id="countrycreditcard" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Country Specific Credit Card Types</label>
                            <frontend_model>Magento\BraintreeTwo\Block\Adminhtml\Form\Field\CountryCreditCard</frontend_model>
                            <backend_model>Magento\BraintreeTwo\Model\Adminhtml\System\Config\CountryCreditCard</backend_model>
                            <config_path>payment/braintreetwo/countrycreditcard</config_path>
                        </field>
                    </group>
                    <group id="braintreetwo_3dsecure" translate="label" showInDefault="1" showInWebsite="1" sortOrder="41">
                        <label>3D Secure Verification Settings</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="verify_3dsecure" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>3D Secure Verification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/braintreetwo/verify_3dsecure</config_path>
                        </field>
                        <field id="threshold_amount" translate="label" type="text" sortOrder="151" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Threshold Amount</label>
                            <config_path>payment/braintreetwo/threshold_amount</config_path>
                        </field>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="152" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Verify for Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/braintreetwo/verify_all_countries</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="153" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Verify for Specific Countries</label>
                            <source_model>Magento\BraintreeTwo\Model\Adminhtml\System\Config\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>payment/braintreetwo/verify_specific_countries</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
