<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\MediaContentCms\Observer\Block">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContentCms\Observer\Page">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="content" xsi:type="string">content</item>
            </argument>
        </arguments>
    </type>
</config>
