<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="data-grid-search-control-wrap">
    <label class="data-grid-search-label" attr="title: $t('Search'), for: index">
        <span translate="'Search'"/>
    </label>
    <input class="admin__control-text data-grid-search-control" type="text"
            data-bind="
                attr: {
                    id: index,
                    placeholder: placeholder
                },
                textInput: inputValue,
                keyboard: {
                    13: apply.bind($data, false),
                    27: cancel
                }"/>
    <button class="action-submit" type="button" click="apply.bind($data, false)">
        <span translate="'Search'"/>
    </button>
</div>
