<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ConfigurableProduct\Api\ConfigurableProductManagementInterface" type="Magento\ConfigurableProduct\Model\ConfigurableProductManagement" />
    <preference for="Magento\ConfigurableProduct\Api\LinkManagementInterface" type="Magento\ConfigurableProduct\Model\LinkManagement" />
    <preference for="Magento\ConfigurableProduct\Api\OptionRepositoryInterface" type="Magento\ConfigurableProduct\Model\OptionRepository" />
    <preference for="Magento\ConfigurableProduct\Api\Data\OptionInterface" type="Magento\ConfigurableProduct\Model\Product\Type\Configurable\Attribute" />
    <preference for="Magento\ConfigurableProduct\Api\Data\OptionValueInterface" type="Magento\ConfigurableProduct\Model\Product\Type\Configurable\OptionValue" />
    <preference for="Magento\ConfigurableProduct\Api\Data\ConfigurableItemOptionValueInterface" type="Magento\ConfigurableProduct\Model\Quote\Item\ConfigurableItemOptionValue" />
    <preference for="Magento\ConfigurableProduct\Pricing\Price\ConfigurableOptionsProviderInterface" type="Magento\ConfigurableProduct\Pricing\Price\ConfigurableOptionsProvider" />

    <type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator\Initializer\Option">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Quote\Item\QuantityValidator\Initializer\Option\Plugin\ConfigurableProduct" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\CartConfiguration">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Product\CartConfiguration\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Sales\Model\Order\Admin\Item">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Order\Admin\Item\Plugin\Configurable" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Helper\Product\Configuration\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Helper\Product\Configuration\SaveProductPlugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Entity\Product\Attribute\Group\AttributeMapperInterface">
        <plugin name="configurable_product" type="Magento\ConfigurableProduct\Model\Entity\Product\Attribute\Group\AttributeMapper\Plugin" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Model\Product\TypeTransitionManager">
        <plugin name="configurable_product_transition" type="Magento\ConfigurableProduct\Model\Product\TypeTransitionManager\Plugin\Configurable" sortOrder="50" />
        <arguments>
            <argument name="compatibleTypes" xsi:type="array">
                <item name="configurable" xsi:type="const">Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Report\Bestsellers">
        <arguments>
            <argument name="ignoredProductTypes" xsi:type="array">
                <item name="configurable" xsi:type="const">\Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="configurable" xsi:type="string">Magento\ConfigurableProduct\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Attribute\LockValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="configurable" xsi:type="string">Magento\ConfigurableProduct\Model\Attribute\LockValidator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="configurableProductSaveOptions" type="\Magento\ConfigurableProduct\Model\Plugin\AroundProductRepositorySave"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Type">
        <plugin name="configurable_output" type="Magento\ConfigurableProduct\Model\Product\Type\Plugin" />
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="create_configurable_options" xsi:type="string">Magento\ConfigurableProduct\Model\Product\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="update_configurable_options" xsi:type="string">Magento\ConfigurableProduct\Model\Product\SaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="read_configurable_options" xsi:type="string">Magento\ConfigurableProduct\Model\Product\ReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\ConfigurableProduct\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="regular_price" xsi:type="string">Magento\ConfigurableProduct\Pricing\Price\ConfigurableRegularPrice</item>
                <item name="final_price" xsi:type="string">Magento\ConfigurableProduct\Pricing\Price\FinalPrice</item>
            </argument>
            <argument name="target" xsi:type="object">Magento\Catalog\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ConfigurableProduct\Pricing\Price\Collection" type="Magento\Framework\Pricing\Price\Collection">
        <arguments>
            <argument name="pool" xsi:type="object">Magento\ConfigurableProduct\Pricing\Price\Pool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Pricing\PriceInfo\Factory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="configurable" xsi:type="array">
                    <item name="infoClass" xsi:type="string">Magento\Framework\Pricing\PriceInfo\Base</item>
                    <item name="prices" xsi:type="string">Magento\ConfigurableProduct\Pricing\Price\Collection</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <arguments>
            <argument name="cartItemProcessors" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\ConfigurableProduct\Model\Quote\Item\CartItemProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="configurable" xsi:type="object">Magento\ConfigurableProduct\Model\ProductOptionProcessor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ConfigurableFinalPriceResolver" type="Magento\ConfigurableProduct\Pricing\Price\ConfigurablePriceResolver">
        <arguments>
            <argument name="priceResolver" xsi:type="object">Magento\ConfigurableProduct\Pricing\Price\FinalPriceResolver</argument>
        </arguments>
    </virtualType>
    <type name="Magento\ConfigurableProduct\Pricing\Price\FinalPrice">
        <arguments>
            <argument name="priceResolver" xsi:type="object">ConfigurableFinalPriceResolver</argument>
        </arguments>
    </type>
    <virtualType name="ConfigurableRegularPriceResolver" type="Magento\ConfigurableProduct\Pricing\Price\ConfigurablePriceResolver">
        <arguments>
            <argument name="priceResolver" xsi:type="object">Magento\ConfigurableProduct\Pricing\Price\RegularPriceResolver</argument>
        </arguments>
    </virtualType>
    <type name="Magento\ConfigurableProduct\Pricing\Price\ConfigurableRegularPrice">
        <arguments>
            <argument name="priceResolver" xsi:type="object">ConfigurableRegularPriceResolver</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Backend\Price">
        <plugin name="configurable" type="Magento\ConfigurableProduct\Model\Plugin\PriceBackend" sortOrder="100" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\ConfigurableProduct\Observer\HideUnsupportedAttributeTypes">
        <arguments>
            <argument name="supportedTypes" xsi:type="array">
                <item name="select" xsi:type="string">select</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Cache\Tag\Strategy\Factory">
        <arguments>
            <argument name="customStrategies" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="object">\Magento\ConfigurableProduct\Model\Product\Cache\Tag\Configurable</item>
            </argument>
        </arguments>
    </type>
</config>
