<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Magento_ConfigurableProduct" schema_version="2.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Msrp"/>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
