<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="ups" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>UPS</label>
                <field id="access_license_number" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Access License Number</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_methods" translate="label" type="multiselect" sortOrder="170" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>Magento\Ups\Model\Config\Source\Method</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="shipment_requesttype" translate="label" type="select" sortOrder="47" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Packages Request Type</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Online\Requesttype</source_model>
                </field>
                <field id="container" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Container</label>
                    <source_model>Magento\Ups\Model\Config\Source\Container</source_model>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1">
                    <label>Enable Free Shipping Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1">
                    <label>Free Shipping Amount Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="dest_type" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Destination Type</label>
                    <source_model>Magento\Ups\Model\Config\Source\DestType</source_model>
                </field>
                <field id="free_method" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Free Method</label>
                    <frontend_class>free-method</frontend_class>
                    <source_model>Magento\Ups\Model\Config\Source\Freemethod</source_model>
                </field>
                <field id="gateway_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Gateway URL</label>
                    <backend_model>Magento\Ups\Model\Config\Backend\UpsUrl</backend_model>
                </field>
                <field id="gateway_xml_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Gateway XML URL</label>
                    <backend_model>Magento\Ups\Model\Config\Backend\UpsUrl</backend_model>
                </field>
                <field id="gateway_rest_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Gateway REST URL</label>
                    <backend_model>Magento\Ups\Model\Config\Backend\UpsUrl</backend_model>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_action" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Handling Applied</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingAction</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="max_package_weight" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Maximum Package Weight (Please consult your shipping carrier for maximum supported shipping weight)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="min_package_weight" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Minimum Package Weight (Please consult your shipping carrier for minimum supported shipping weight)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="origin_shipment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Origin of the Shipment</label>
                    <source_model>Magento\Ups\Model\Config\Source\OriginShipment</source_model>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="pickup" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Pickup Method</label>
                    <source_model>Magento\Ups\Model\Config\Source\Pickup</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="tracking_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Tracking XML URL</label>
                    <backend_model>Magento\Ups\Model\Config\Backend\UpsUrl</backend_model>
                </field>
                <field id="tracking_rest_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Tracking REST URL</label>
                    <backend_model>Magento\Ups\Model\Config\Backend\UpsUrl</backend_model>
                </field>
                <field id="type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>UPS Type</label>
                    <source_model>Magento\Ups\Model\Config\Source\Type</source_model>
                </field>
                <field id="is_account_live" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Live Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="unit_of_measure" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Weight Unit</label>
                    <source_model>Magento\Ups\Model\Config\Source\Unitofmeasure</source_model>
                </field>
                <field id="username" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>User ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="negotiated_active" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable Negotiated Rates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="include_taxes" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Request Tax-Inclusive Rate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When applicable, taxes (sales tax, VAT etc.) are included in the rate.</comment>
                </field>
                <field id="shipper_number" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Shipper Number</label>
                    <comment>Required for negotiated rates; 6-character UPS</comment>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="910" showInDefault="1" showInWebsite="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="920" showInDefault="1" showInWebsite="1">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="mode_xml" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Mode</label>
                    <comment>This enables or disables SSL verification of the Magento server by UPS.</comment>
                    <source_model>Magento\Shipping\Model\Config\Source\Online\Mode</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="920" showInDefault="1" showInWebsite="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
