<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Chechur\HelloWorldApi\Api\GetMessageHelloWorldInterface">
        <plugin name="add_prefix_to_message" type="Chechur\HelloWorldChangeMessage\Plugin\HelloWorldApi\Api\GetMessageHelloWorld\AddPrefixToMessage" sortOrder="10"/>
        <plugin name="add_h1_tags_around_message" type="Chechur\HelloWorldChangeMessage\Plugin\HelloWorldApi\Api\GetMessageHelloWorld\AddTagsToMessage" sortOrder="20"/>
        <plugin name="add_suffix_to_message" type="Chechur\HelloWorldChangeMessage\Plugin\HelloWorldApi\Api\GetMessageHelloWorld\AddSuffixToMessage" sortOrder="30"/>
    </type>
</config>
