<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<style type="text/css">
    .shipping-address-item {
        width: 200px;
        height: 130px;
        float: left;
        padding: 10px;
        margin-right: 20px;
    }

    .selected-item {
        border: 2px solid darkorange;
    }
    .not-selected-item {
        border: 2px solid silver;
    }
    .selected-item .select-item-button {
        color: silver;
        float: right;
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 20px;
    }
    .not-selected-item .select-item-button {
        float: right;
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 20px;
    }
</style>
<!-- ko if: (visible)-->
<input type="hidden" data-bind="value: selectedShippingAddress().customerAddressId" name="shipping_address_id" id="shipping:address-select" />
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items" data-bind="foreach: {data: addresses(), as: 'address'}">
            <div class="shipping-address-item" data-bind="css: $parents[0].selectedShippingAddress().customerAddressId ==  address.customerAddressId ? 'selected-item' : 'not-selected-item'">
                <!-- ko text: address.firstname --><!-- /ko --> <!-- ko text: address.lastname --><!-- /ko --><br/>
                <!-- ko text:  address.street --><!-- /ko --><br/>
                <!-- ko text:  address.city --><!-- /ko -->, <!-- ko text:  address.regionCode --><!-- /ko --> <!-- ko text:  address.postcode --><!-- /ko --><br/>
                <!-- ko text:  address.countryId --><!-- /ko --><br/>
                <!-- ko text:  address.telephone --><!-- /ko --><br/>
                <input type="button" class="select-item-button" data-bind="click: $parents[0].selectAddress, value: $t('Ship Here')" />
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
