<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<style type="text/css">
    .shipping-address-item {
        width: 175px;
        height: 130px;
        float: left;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 12px;
        border: 2px solid silver;
    }

    .select-item-button {
        float: right;
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 20px;
    }

    .selected-item {
        border: 2px solid darkorange;
    }

    .selected-item .select-item-button {
        color: silver;
        float: right;
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 20px;
    }
</style>
<!-- ko if: (visible)-->
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
