<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

{{template config_path="design/email/header_template"}}

Name: {{var data.name}}
E-mail: {{var data.email}}
Phone Number: {{var data.telephone}}

Comment: {{var data.comment}}

{{template config_path="design/email/footer_template"}}
