<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\MessageQueue\QueueRepository">
        <arguments>
            <argument name="queues" xsi:type="array">
                <item name="db" xsi:type="string">Magento\MysqlMq\Model\Driver\Queue</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ExchangeRepository">
        <arguments>
            <argument name="exchanges" xsi:type="array">
                <item name="db" xsi:type="string">Magento\MysqlMq\Model\Driver\Exchange</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\PublisherPool">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="async" xsi:type="array">
                    <item name="mysql" xsi:type="array">
                        <item name="type" xsi:type="object">Magento\Framework\MessageQueue\Publisher</item>
                        <item name="connectionName" xsi:type="string">db</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ConsumerFactory">
        <arguments>
            <argument name="consumers" xsi:type="array">
                <item name="mysql" xsi:type="array">
                    <item name="connectionName" xsi:type="string">db</item>
                    <item name="type" xsi:type="array">
                        <item name="async" xsi:type="string">Magento\Framework\MessageQueue\Consumer</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
