<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_Signifyd" setup_version="2.2.0">
        <sequence>
            <module name="Magento_Sales" />
            <module name="Magento_Store" />
            <module name="Magento_Customer" />
            <module name="Magento_Directory" />
            <module name="Magento_Checkout" />
            <module name="Magento_Backend" />
            <module name="Magento_Payment" />
        </sequence>
    </module>
</config>
