/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

.steps-wizard {
    position: relative;
}

.steps-wizard .content {
    clear: both;
}

.nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 2.2rem 1.5rem 0 0
}

.nav:after,.row:after {
    content: "";
    display: table;
    clear: both
}


.nav .btn-group,.nav-bar-outer-actions {
    float: right;
    margin-bottom: 1.7rem
}

.nav .btn-group .btn-wrap,.nav-bar-outer-actions .btn-wrap {
    float: right;
    margin-left: .5rem;
    margin-right: .5rem
}

.nav-bar-outer-actions {
    padding-right: 6.5rem
}

.btn-wrap-try-again {
    width: 9.5rem
}

.btn-wrap-next,.btn-wrap-prev {
    width: 8.5rem
}

.nav-bar {
    counter-reset: i;
    float: left;
    margin: 0 1rem 1.7rem 0;
    padding: 0;
    position: relative;
}

.nav-bar:before {
    background-color: #d4d4d4;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom,#d1d1d1 0,#d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#d4d4d4', GradientType=0);
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #bfbfbf;
    content: '';
    height: .8rem;
    left: 5.15rem;
    position: absolute;
    right: 5.15rem;
    top: .7rem
}

.nav-bar>li {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: top;
    width: 10.3rem
}

.nav-bar>li:first-child:after {
    display: none
}

.nav-bar>li:after {
    background-color: #514943;
    content: '';
    height: .5rem;
    left: calc(-50% + .25rem);
    position: absolute;
    right: calc(50% + .7rem);
    top: .9rem
}

.nav-bar>li.disabled:before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.nav-bar>li.ui-state-active~li:after {
    display: none
}

.nav-bar>li.ui-state-active~li a:after {
    background-color: transparent;
    border-color: transparent;
    color: #a6a6a6
}

.nav-bar>li.ui-state-active a {
    color: #000
}

.nav-bar>li.ui-state-active a:hover {
    cursor: default
}

.nav-bar>li.ui-state-active a:after {
    background-color: #fff;
    content: ''
}

.nav-bar a {
    color: #514943;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
    overflow: hidden;
    padding: 3rem .5em 0;
    position: relative;
    text-align: center;
    text-overflow: ellipsis
}

.nav-bar a:hover {
    text-decoration: none
}

.nav-bar a:after {
    background-color: #514943;
    border: .4rem solid #514943;
    border-radius: 100%;
    color: #fff;
    content: counter(i);
    counter-increment: i;
    height: .7rem;
    left: 50%;
    line-height: .6;
    margin-left: -.8rem;
    position: absolute;
    right: auto;
    text-align: center;
    top: .4rem;
    width: .7rem
}

.nav-bar a:before {
    background-color: #d6d6d6;
    border: 1px solid transparent;
    border-bottom-color: #d9d9d9;
    border-radius: 100%;
    border-top-color: #bfbfbf;
    content: '';
    height: 2.1rem;
    left: 50%;
    line-height: 1;
    margin-left: -1.2rem;
    position: absolute;
    top: 0;
    width: 2.1rem
}


:after, :before {
    box-sizing: content-box;
}
