<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="catalog_product_compare_remove_product">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="catalogProductCompareRemoveProduct" />
    </event>
    <event name="customer_login">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="customerLogin" />
    </event>
    <event name="customer_logout">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="customerLogout" />
    </event>
    <event name="catalog_controller_product_view">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="catalogProductView" />
    </event>
    <event name="sendfriend_product">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="sendfriendProduct" />
    </event>
    <event name="catalog_product_compare_add_product">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="catalogProductCompareAddProduct" />
    </event>
    <event name="catalog_product_compare_item_collection_clear">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="catalogProductCompareClear" />
    </event>
    <event name="sales_quote_item_save_before">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="checkoutCartAddProduct" />
    </event>
    <event name="wishlist_add_product">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="wishlistAddProduct" />
    </event>
    <event name="wishlist_share">
        <observer name="reports" instance="Magento\Reports\Model\Event\Observer" method="wishlistShare" />
    </event>
</config>
