// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Actions -> Actions multiselect
//  _____________________________________________

//  Action multiselect is a combining of checkbox and dropdown elements

.action-multiselect-wrap {
    &:extend(.abs-clearfix all);
    display: inline-block;
    padding-top: 1px;
    position: relative;
    height: @control-checkbox-radio__size;
    width: @control-checkbox-radio__size * 2 - .1rem;
    z-index: @action-multiselect__z-index;
    &:hover {
        .admin__control-checkbox + label:before,
        .action-multiselect-toggle {
            border-color: @field-control__hover__border-color;
        }
    }
    &._active {
        .admin__control-checkbox + label:before,
        .action-multiselect-toggle {
            border-color: @action__active__border-color;
        }
        .action-menu {
            display: block;
        }
    }
    &._disabled {
        .admin__control-checkbox {
            + label {
                &:before {
                    background-color: @control-checkbox-radio__background-color;
                }
            }
        }
        .admin__control-checkbox + label:before,
        .action-multiselect-toggle {
            border-color: @field-control__border-color;
            opacity: 1;
        }
    }
    .admin__control-checkbox,
    .admin__control-checkbox + label,
    .action-multiselect-toggle {
        float: left;
    }
    .action-multiselect-toggle {
        .action-toggle-triangle(
            @_triangle__height: @button-marker-triangle__height;
            @_triangle__width: @button-marker-triangle__width;
        );
        border-radius: 0 1px 1px 0;
        height: @control-checkbox-radio__size;
        margin-left: -1px;
        padding: 0;
        position: relative;
        transition: @smooth__border-color;
        width: @control-checkbox-radio__size;
        &:focus {
            border-color: @action__active__border-color;
        }
        &:after {
            right: .3rem;
        }
        > span {
            .visually-hidden();
        }
    }
    .action-menu {
        left: 0;
        right: auto;
        text-align: left;
        margin-top: 2px;
    }
    .action-menu-item {
        white-space: nowrap;
    }
}

// Generic select lists

.selectmenu {
    position: relative;
    text-align: left;
    z-index: 1;
    .__form-control-pattern();
    padding-left: 1.5rem;
    display: inline-block;
    width: auto;
    &:hover {
        .__form-control-pattern__hover();
    }
    &._active {
        z-index: 99;
        border-color: @action__active__border-color;
    }

    .action-save,
    .action-edit,
    .action-delete {

        .action-icon();
        &:before {
            &:extend(.abs-icon all);
            content: @icon-delete__content;
        }
        > span {
            &:extend(.abs-visually-hidden all);
        }
        padding: 0 1rem 0 1rem;
    }
    .action-edit,
    .action-delete {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        border: 0 solid #fff;
        border-left-width: 1px;
        &:hover {
            border: 0 solid #fff;
            border-left-width: 1px;
        }
    }
    .action-save:before {
        content: @icon-arrow-right__content;
    }
    .action-edit:before {
        content: @icon-edit__content;
    }
}

.selectmenu-value {
    display: inline-block;
    input[type="text"] {
        border: 0;
        display: inline;
        width: 6rem;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}
.selectmenu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    border-width: 0 0 0 1px;
    .selectmenu:hover & {
        .__form-control-pattern__hover();
    }
    &._active {
        border-color: @action__active__border-color;
    }
    span {
        &:extend(.abs-visually-hidden all);
    }
}
.selectmenu-items {
    margin-top: 3px;
    list-style-type: none;
    background: #fff;
    border: 1px solid @action__active__border-color;
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    float: left;
    min-width: ~"calc(100% + 2px)";
    max-width: 20rem;
    &._active {
        display: block;
    }
    li {
        &:hover {
            background: #E3E3E3;
        }
        &:last-child {
            .selectmenu-item-action {
                .link();
            }
        }
    }
}
.selectmenu-item {
    position: relative;
    z-index: 1;
    li._edit > & {
        display: none;
    }
}
.selectmenu-item-edit {
    white-space: nowrap;
    display: none;
    position: relative;
    z-index: 1;
    padding: .3rem 4rem .3rem .4rem;
    .admin__control-text {
        width: 5rem;
        margin: 0;
    }
    li._edit & {
        display: block;
    }
}
.selectmenu-item-action {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    font-size: @font-size__base;
    font-weight: @font-weight__regular;
    text-align: left;
    padding: 1rem 6rem 1rem 1.5rem;
    &:hover,
    &:focus {
        background: #E3E3E3;
    }
}
