/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

@color-sign-in-button-hover-active:  #007bdb;

& when (@media-common = true) {
    .adobe-ims-root {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .admin-ims-login-wrapper {
        align-items: center;
        background: url('Magento_AdminAdobeIms::images/AdobeStock_232925587.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex: 1 0 auto;
        justify-content: space-evenly;

        .adobe-ims-sign-in-modal {
            background: @color-white;
            height: 581px;
            width: 470px;
        }

        .adobe-ims-sign-in-dialog {
            display: flex;
            flex-direction: column;

            p {
                padding-bottom: 30px;
            }
        }

        .adobe-ims-button {
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .adobe-ims-note {
            color: @color-white;
        }

        .adobe-ims-error-message-wrapper {
            margin-bottom: 15px;
        }
    }

    .adobe-ims-footer {
        align-items: center;
        background: @color-black;
        color: var(--spectrum-global-color-gray-600);
        display: flex;
        flex-shrink: 0;
        height: 39px;
        justify-content: flex-end;
        padding-right: 15px;
        text-align: right;
    }

    .adobe-login-container {
        .adobe-sign-in-button {
            background: transparent;
            border: none;
            box-shadow: none;
            float: right;
            margin-right: 3%;
            margin-top: -50px;
            position: relative;
            z-index: 99;

            &:hover:active {
                background: transparent;
                color: @color-sign-in-button-hover-active;
            }

        }

        .adobe-user-information {
            float: right;
            margin-right: 30px;
            margin-top: -54px;
            width: auto;

            .adobe-profile-image-small {
                background-repeat: repeat-x;
                border-radius: 50%;
                margin-bottom: -14px;
                width: 40px;
            }

            .adobe-user-name {
                border: 0;
                box-shadow: none;
                padding-left: 10px;
            }

            .adobe-user-popup {
                min-width: 10px;
                padding-left: 20px;
                width: 320px;
                z-index: 282;

                .adobe-profile-image-large {
                    float: left;
                    padding-right: 10px;
                    padding-top: 5px;
                    width: 30%;
                }

                ul {
                    list-style: none;

                    li {
                        padding-bottom: 5px;
                    }
                }

                .adobe-sign-out-button {
                    background: transparent;
                    border: none;
                    float: left;
                    margin-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 0;

                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }
}
