/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

& when (@media-common = true) {
    body.adobe-ims-body {
        background: rgba(0,0,0,0.4);
        color: rgba(0,0,0,0.4);
    }

    .adobe-ims-root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .admin-ims-login-wrapper {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: url('Magento_AdminAdobeIms::images/AdobeStock_232925587.png') no-repeat;
        background-size:100% 100%;

        .spectrum-Modal {
            width: 470px;
            height: 581px;
            background: #FFFFFF;
        }

        .spectrum-Dialog-content {
            display: flex;
            flex-direction: column;

            p {
                padding-bottom: 30px;
            }
        }

        .adobe-ims-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .adobe-ims-note {
            color: #FFFFFF;
        }

        .adobe-ims-error-message-wrapper {
            margin-bottom: 15px;
        }
    }

    .adobe-ims-footer {
        text-align: right;
        flex-shrink: 0;
        background: #000000;
        color: #909090;
        height: 39px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
    }
}
