<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Config\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">widget.xml</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Widget\Model\Config\SchemaLocator</argument>
            <argument name="fileResolver" xsi:type="object">Magento\Widget\Model\Config\FileResolver</argument>
        </arguments>
    </type>
    <type name="Magento\Widget\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Widget\Model\Config\Reader\Proxy</argument>
            <argument name="cacheId" xsi:type="string">widget_config</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Template\FilterProvider">
        <arguments>
            <argument name="pageFilter" xsi:type="string">Magento\Widget\Model\Template\Filter</argument>
            <argument name="blockFilter" xsi:type="string">Magento\Widget\Model\Template\Filter</argument>
        </arguments>
    </type>
</config>
