<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sitemap\Model\SitemapItemInterface" type="Magento\Sitemap\Model\SitemapItem" />
    <preference for="Magento\Sitemap\Model\SitemapItemResolverInterface" type="Magento\Sitemap\Model\CompositeSitemapItemResolver" />
    <type name="Magento\Sitemap\Model\Sitemap">
        <arguments>
            <argument name="resource" xsi:type="object">Magento\Sitemap\Model\ResourceModel\Sitemap</argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="sitemap/generate/error_email" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\CompositeSitemapItemResolver">
        <arguments>
            <argument name="itemResolvers" xsi:type="array">
                <item name="categoryResolver" xsi:type="object">Magento\Sitemap\Model\CategorySitemapItemResolver</item>
                <item name="cmsPageResolver" xsi:type="object">Magento\Sitemap\Model\CmsPageSitemapItemResolver</item>
                <item name="productResolver" xsi:type="object">Magento\Sitemap\Model\ProductSitemapItemResolver</item>
            </argument>
        </arguments>
    </type>
</config>
