<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <totals_sort>
                <discount>20</discount>
                <grand_total>100</grand_total>
                <shipping>30</shipping>
                <subtotal>10</subtotal>
                <tax>40</tax>
            </totals_sort>
            <reorder>
                <allow>1</allow>
            </reorder>
            <minimum_order>
                <tax_including>1</tax_including>
            </minimum_order>
            <orders>
                <delete_pending_after>480</delete_pending_after>
            </orders>
        </sales>
        <sales_email>
            <general>
                <async_sending>0</async_sending>
            </general>
            <order>
                <enabled>1</enabled>
                <template>sales_email_order_template</template>
                <guest_template>sales_email_order_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </order>
            <order_comment>
                <enabled>1</enabled>
                <template>sales_email_order_comment_template</template>
                <guest_template>sales_email_order_comment_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </order_comment>
            <invoice>
                <enabled>1</enabled>
                <template>sales_email_invoice_template</template>
                <guest_template>sales_email_invoice_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </invoice>
            <invoice_comment>
                <enabled>1</enabled>
                <template>sales_email_invoice_comment_template</template>
                <guest_template>sales_email_invoice_comment_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </invoice_comment>
            <shipment>
                <enabled>1</enabled>
                <template>sales_email_shipment_template</template>
                <guest_template>sales_email_shipment_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </shipment>
            <shipment_comment>
                <enabled>1</enabled>
                <template>sales_email_shipment_comment_template</template>
                <guest_template>sales_email_shipment_comment_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </shipment_comment>
            <creditmemo>
                <enabled>1</enabled>
                <template>sales_email_creditmemo_template</template>
                <guest_template>sales_email_creditmemo_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </creditmemo>
            <creditmemo_comment>
                <enabled>1</enabled>
                <template>sales_email_creditmemo_comment_template</template>
                <guest_template>sales_email_creditmemo_comment_guest_template</guest_template>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
            </creditmemo_comment>
        </sales_email>
        <sales_pdf>
            <invoice>
                <put_order_id>1</put_order_id>
            </invoice>
            <shipment>
                <put_order_id>1</put_order_id>
            </shipment>
            <creditmemo>
                <put_order_id>1</put_order_id>
            </creditmemo>
        </sales_pdf>
        <dashboard>
            <use_aggregated_data>0</use_aggregated_data>
        </dashboard>
        <dev>
            <grid>
                <async_indexing>0</async_indexing>
            </grid>
        </dev>
    </default>
</config>
