<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="catalog_product_delete_before">
        <observer name="sales_quote_observer" instance="Magento\Sales\Model\Observer\Backend\CatalogProductQuote" method="subtractQtyFromQuotes" />
    </event>
    <event name="catalogrule_before_apply">
        <observer name="sales_quote_observer" instance="Magento\Sales\Model\Observer\Backend\CatalogPriceRule" method="dispatch" />
    </event>
    <event name="catalogrule_after_apply">
        <observer name="sales_quote_observer" instance="Magento\Sales\Model\Observer\Backend\CatalogPriceRule" method="dispatch" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="sales_quote" instance="Magento\Sales\Model\Observer\Backend\CatalogProductQuote" method="catalogProductSaveAfter" />
    </event>
    <event name="catalog_product_status_update">
        <observer name="sales_quote" instance="Magento\Sales\Model\Observer\Backend\CatalogProductQuote" method="catalogProductStatusUpdate" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="customer" instance="Magento\Sales\Model\Observer\Backend\CustomerQuote" method="dispatch" />
    </event>
</config>
