<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <login_as_customer>
            <general>
                <shopping_assistance_checkbox_title>Allow remote shopping assistance</shopping_assistance_checkbox_title>
                <shopping_assistance_checkbox_tooltip>This allows merchants to "see what you see" and take actions on your behalf in order to provide better assistance.</shopping_assistance_checkbox_tooltip>
            </general>
        </login_as_customer>
    </default>
</config>
