<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

return [
    'default' => [
        'db-host' => '{{db_host}}',
        'db-user' => '{{db_user}}',
        'db-password' => '{{db_password}}',
        'db-name' => '{{db_name}}',
        'db-prefix' => '',
        'backend-frontname' => 'admin',
        'admin-user' => 'admin',
        'admin-password' => '123123q',
        'admin-email' => \Magento\TestFramework\Bootstrap::ADMIN_EMAIL,
        'admin-firstname' => \Magento\TestFramework\Bootstrap::ADMIN_FIRSTNAME,
        'admin-lastname' => \Magento\TestFramework\Bootstrap::ADMIN_LASTNAME,
        'enable_modules' => 'Magento_TestSetupModule2,Magento_TestSetupModule1,Magento_Backend',
        'disable_modules' => 'all'
    ],
    'checkout' => [
        'host' => '{{db_host}}',
        'username' => '{{db_user}}',
        'password' => '{{db_password}}',
        'dbname' => '{{db_checkout}}'
    ],
    'sales' => [
        'host' => '{{db_host}}',
        'username' => '{{db_user}}',
        'password' => '{{db_password}}',
        'dbname' => '{{db_sales}}'
    ]
];
