<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <pagination>
                <list_allow_all>1</list_allow_all>
                <pagination_frame>5</pagination_frame>
            </pagination>
        </design>
        <dev>
            <debug>
                <profiler>0</profiler>
            </debug>
            <js>
                <merge_files>0</merge_files>
                <minify_files>0</minify_files>
                <minify_exclude>
                    /tiny_mce/
                </minify_exclude>
            </js>
            <css>
                <minify_files>0</minify_files>
                <minify_exclude>
                    /tiny_mce/
                </minify_exclude>
            </css>
            <image>
                <default_adapter>GD2</default_adapter>
                <adapters>
                    <GD2>
                        <title>PHP GD2</title>
                        <class>Magento\Framework\Image\Adapter\Gd2</class>
                    </GD2>
                    <IMAGEMAGICK>
                        <title>ImageMagick</title>
                        <class>Magento\Framework\Image\Adapter\ImageMagick</class>
                    </IMAGEMAGICK>
                </adapters>
            </image>
        </dev>
        <system>
            <filesystem>
                <media>{{media_dir}}</media>
            </filesystem>
            <media_storage_configuration>
                <media_storage>0</media_storage>
                <media_database>default_setup</media_database>
                <configuration_update_time>3600</configuration_update_time>
                <allowed_resources>
                    <compiled_css_folder>css</compiled_css_folder>
                    <compiled_css_secure_folder>css_secure</compiled_css_secure_folder>
                    <compiled_js_folder>js</compiled_js_folder>
                    <design_theme_folder>theme</design_theme_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
        <web>
            <url>
                <use_store>0</use_store>
                <redirect_to_base>1</redirect_to_base>
            </url>
            <unsecure>
                <base_url>{{base_url}}</base_url>
                <base_web_url>{{unsecure_base_url}}</base_web_url>
                <base_link_url>{{unsecure_base_url}}</base_link_url>
            </unsecure>
            <secure>
                <base_url>{{unsecure_base_url}}</base_url>
                <base_web_url>{{secure_base_url}}</base_web_url>
                <base_link_url>{{secure_base_url}}</base_link_url>
                <use_in_frontend>0</use_in_frontend>
                <use_in_adminhtml>0</use_in_adminhtml>
                <offloader_header>X-Forwarded-Proto</offloader_header>
            </secure>
            <session>
                <use_remote_addr>0</use_remote_addr>
                <use_http_via>0</use_http_via>
                <use_http_x_forwarded_for>0</use_http_x_forwarded_for>
                <use_http_user_agent>0</use_http_user_agent>
                <use_frontend_sid>1</use_frontend_sid>
            </session>
            <browser_capabilities>
                <cookies>1</cookies>
                <javascript>1</javascript>
                <local_storage>0</local_storage>
            </browser_capabilities>
        </web>
        <admin>
            <startup>
                <menu_item_id>dashboard</menu_item_id>
            </startup>
            <url>
                <use_custom>0</use_custom>
                <use_custom_path>0</use_custom_path>
                <custom />
            </url>
            <security>
                <use_form_key>1</use_form_key>
            </security>
        </admin>
        <general>
            <country>
                <eu_countries>AT,BE,BG,CY,CZ,DK,EE,FI,FR,DE,GR,HR,HU,IE,IT,LV,LT,LU,MT,NL,PL,PT,RO,SK,SI,ES,SE,GB</eu_countries>
            </country>
            <locale>
                <firstday>0</firstday>
                <weekend>0,6</weekend>
            </locale>
            <file>
                <protected_extensions>
                    <php>php</php>
                    <php3>php3</php3>
                    <php4>php4</php4>
                    <php5>php5</php5>
                    <php7>php7</php7>
                    <htaccess>htaccess</htaccess>
                    <jsp>jsp</jsp>
                    <pl>pl</pl>
                    <py>py</py>
                    <asp>asp</asp>
                    <sh>sh</sh>
                    <cgi>cgi</cgi>
                    <htm>htm</htm>
                    <html>html</html>
                    <phtml>phtml</phtml>
                    <shtml>shtml</shtml>
                    <phpt>phpt</phpt>
                    <pht>pht</pht>
                </protected_extensions>
                <public_files_valid_paths>
                    <protected>
                        <app>/app/*/*</app>
                        <bin>/bin/*/*</bin>
                        <dev>/dev/*/*</dev>
                        <lib>/lib/*/*</lib>
                        <setup>/setup/*/*</setup>
                        <update>/update/*/*</update>
                        <vendor>/vendor/*/*</vendor>
                    </protected>
                </public_files_valid_paths>
            </file>
            <single_store_mode>
                <enabled>0</enabled>
            </single_store_mode>
        </general>
        <theme>
            <customization>
                <css>Magento\Framework\View\Design\Theme\Customization\File\Css</css>
                <js>Magento\Framework\View\Design\Theme\Customization\File\Js</js>
            </customization>
        </theme>
    </default>
</config>
