<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Acl\CacheInterface" type="Magento\Framework\Acl\Cache" />
    <preference for="Magento\Framework\App\AreaInterface" type="Magento\Framework\App\Area" />
    <preference for="Magento\Framework\Module\Updater\SetupInterface" type="Magento\Framework\Module\DataSetup" />
    <preference for="Magento\Framework\Module\ResourceResolverInterface" type="Magento\Framework\Module\ResourceResolver" />
    <preference for="Magento\Framework\AuthorizationInterface" type="Magento\Framework\Authorization" />
    <preference for="Magento\Framework\Authorization\PolicyInterface" type="Magento\Framework\Authorization\Policy\DefaultPolicy" />
    <preference for="Magento\Framework\Authorization\RoleLocatorInterface" type="Magento\Framework\Authorization\RoleLocator\DefaultRoleLocator" />
    <preference for="Magento\Framework\Session\SessionManagerInterface" type="Magento\Framework\Session\Generic" />
    <preference for="Magento\Framework\App\Config\ScopeConfigInterface" type="Magento\Framework\App\Config" />
    <preference for="Magento\Framework\App\Config\ReinitableConfigInterface" type="Magento\Framework\App\ReinitableConfig" />
    <preference for="Magento\Framework\App\Config\MutableScopeConfigInterface" type="Magento\Framework\App\MutableScopeConfig" />
    <preference for="Magento\Framework\App\Config\Storage\WriterInterface" type="Magento\Framework\App\Config\Storage\Writer" />
    <preference for="Magento\Framework\Config\ConverterInterface" type="Magento\Framework\Config\Converter\Dom"/>
    <preference for="Magento\Framework\App\DefaultPathInterface" type="Magento\Framework\App\DefaultPath\DefaultPath" />
    <preference for="Magento\Framework\Encryption\EncryptorInterface" type="Magento\Framework\Encryption\Encryptor" />
    <preference for="Magento\Framework\Filter\Encrypt\AdapterInterface" type="Magento\Framework\Filter\Encrypt\Basic" />
    <preference for="Magento\Framework\Cache\ConfigInterface" type="Magento\Framework\Cache\Config" />
    <preference for="Magento\Framework\View\Asset\MergeStrategyInterface" type="Magento\Framework\View\Asset\MergeStrategy\Direct" />
    <preference for="Magento\Framework\App\ViewInterface" type="Magento\Framework\App\View" />
    <preference for="Magento\Framework\TranslateInterface" type="Magento\Framework\Translate" />
    <preference for="Magento\Framework\App\Response\RedirectInterface" type="Magento\Store\App\Response\Redirect" />
    <preference for="Magento\Framework\Data\Collection\EntityFactoryInterface" type="Magento\Framework\Data\Collection\EntityFactory" />
    <preference for="Magento\Framework\Translate\InlineInterface" type="Magento\Framework\Translate\Inline" />
    <preference for="Magento\Framework\Session\ValidatorInterface" type="Magento\Framework\Session\Validator" />
    <preference for="Magento\Framework\Session\StorageInterface" type="Magento\Framework\Session\Storage" />
    <preference for="Magento\Framework\Url\RouteParamsResolverInterface" type="Magento\Framework\Url\RouteParamsResolver" />
    <preference for="Magento\Framework\Url\QueryParamsResolverInterface" type="Magento\Framework\Url\QueryParamsResolver" />
    <preference for="Magento\Framework\Url\ScopeResolverInterface" type="Magento\Framework\Url\ScopeResolver" />
    <preference for="Magento\Framework\Url\SecurityInfoInterface" type="Magento\Framework\Url\SecurityInfo\Proxy" />
    <preference for="Magento\Framework\Mview\ConfigInterface" type="Magento\Framework\Mview\Config" />
    <preference for="Magento\Framework\Mview\ViewInterface" type="Magento\Framework\Mview\View" />
    <preference for="Magento\Framework\Mview\ProcessorInterface" type="Magento\Framework\Mview\Processor" />
    <preference for="Magento\Framework\Mview\View\CollectionInterface" type="Magento\Framework\Mview\View\Collection" />
    <preference for="Magento\Framework\Mview\View\SubscriptionInterface" type="Magento\Framework\Mview\View\Subscription" />
    <preference for="Magento\Framework\Css\PreProcessor\AdapterInterface" type="Magento\Framework\Css\PreProcessor\Adapter\Oyejorge" />
    <preference for="Magento\Framework\LocaleInterface" type="Magento\Framework\Locale" />
    <preference for="Magento\Framework\Locale\CurrencyInterface" type="Magento\Framework\Locale\Currency" />
    <preference for="Magento\Framework\CurrencyInterface" type="Magento\Framework\Currency" />
    <preference for="Magento\Framework\Locale\FormatInterface" type="Magento\Framework\Locale\Format" />
    <preference for="Magento\Framework\Locale\ResolverInterface" type="Magento\Framework\Locale\Resolver" />
    <preference for="Magento\Framework\Stdlib\DateTime\TimezoneInterface" type="Magento\Framework\Stdlib\DateTime\Timezone" />
    <preference for="Magento\Framework\Stdlib\DateTime\DateInterface" type="Magento\Framework\Stdlib\DateTime\Date" />
    <preference for="Magento\Framework\Less\PreProcessor\ErrorHandlerInterface" type="Magento\Framework\Less\PreProcessor\ErrorHandler" />
    <preference for="Magento\Framework\Module\ResourceInterface" type="Magento\Framework\Module\Resource" />
    <preference for="Magento\Framework\Pricing\Amount\AmountInterface" type="Magento\Framework\Pricing\Amount\Base" />
    <preference for="Magento\Framework\Stdlib\CookieManagerInterface" type="Magento\Framework\Stdlib\Cookie\PhpCookieManager" />
    <preference for="Magento\Framework\Api\SearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Magento\Framework\Api\SearchCriteriaInterface" type="Magento\Framework\Api\SearchCriteria" />
    <preference for="Magento\Framework\Api\AttributeInterface" type="Magento\Framework\Api\AttributeValue" />
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="store_setup" xsi:type="string">Magento\Framework\Module\DataSetup</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Config\ScopePool">
        <arguments>
            <argument name="readerPool" xsi:type="object">Magento\Store\Model\Config\Reader\ReaderPool\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Config\Reader\Website">
        <arguments>
            <argument name="scopePool" xsi:type="object">Magento\Framework\App\Config\ScopePool\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Config\Reader\Store">
        <arguments>
            <argument name="scopePool" xsi:type="object">Magento\Framework\App\Config\ScopePool\Proxy</argument>
            <argument name="storeManager" xsi:type="object">Magento\Framework\Store\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resolver\Store">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Framework\Store\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resolver\Website">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Framework\Store\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Config\Reader\ReaderPool">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Store\Model\Config\Reader\DefaultReader</item>
                <item name="website" xsi:type="object">Magento\Store\Model\Config\Reader\Website</item>
                <item name="websites" xsi:type="object">Magento\Store\Model\Config\Reader\Website</item>
                <item name="store" xsi:type="object">Magento\Store\Model\Config\Reader\Store</item>
                <item name="stores" xsi:type="object">Magento\Store\Model\Config\Reader\Store</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\App\Config\Scope\ReaderPoolInterface" type="Magento\Store\Model\Config\Reader\ReaderPool"/>
    <preference for="Magento\Framework\App\ScopeResolverInterface" type="Magento\Store\Model\Resolver\Store" />
    <preference for="Magento\Framework\Stdlib\CookieManagerInterface" type="Magento\Framework\Stdlib\Cookie\PhpCookieManager" />
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="storeCheck" type="Magento\Store\App\Action\Plugin\StoreCheck" sortOrder="10"/>
    </type>
    <type name="Magento\Store\Model\Resource\Website\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Store\Model\Resource\Website\Collection\FetchStrategy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resource\Group\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Store\Model\Resource\Group\Collection\FetchStrategy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resource\Store\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Store\Model\Resource\Store\Collection\FetchStrategy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Store">
        <arguments>
            <argument name="session" xsi:type="object" shared="false">Magento\Framework\Session\Generic\Proxy</argument>
            <argument name="isCustomEntryPoint" xsi:type="init_parameter">Magento\Store\Model\Store::CUSTOM_ENTRY_POINT_PARAM</argument>
            <argument name="url" xsi:type="object" shared="false">Magento\Framework\UrlInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\StoreManager">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http\Proxy</argument>
            <argument name="helper" xsi:type="object">Magento\Core\Helper\Data\Proxy</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Store\Model\Resource\Group\Collection\FetchStrategy" type="Magento\Framework\Data\Collection\Db\FetchStrategy\Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="cacheIdPrefix" xsi:type="string">app_</argument>
            <argument name="cacheTags" xsi:type="array">
                <item name="storeTag" xsi:type="const">Magento\Store\Model\Store::CACHE_TAG</item>
            </argument>
            <argument name="cacheLifetime" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Store\Model\Resource\Store\Collection\FetchStrategy" type="Magento\Framework\Data\Collection\Db\FetchStrategy\Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="cacheIdPrefix" xsi:type="string">app_</argument>
            <argument name="cacheTags" xsi:type="array">
                <item name="storeTag" xsi:type="const">Magento\Store\Model\Store::CACHE_TAG</item>
            </argument>
            <argument name="cacheLifetime" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Store\Model\Resource\Website\Collection\FetchStrategy" type="Magento\Framework\Data\Collection\Db\FetchStrategy\Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="cacheIdPrefix" xsi:type="string">app_</argument>
            <argument name="cacheTags" xsi:type="array">
                <item name="storeTag" xsi:type="const">Magento\Store\Model\Website::CACHE_TAG</item>
            </argument>
            <argument name="cacheLifetime" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Store\Model\Config\Processor\Placeholder">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http\Proxy</argument>
            <argument name="urlPaths" xsi:type="array">
                <item name="unsecureBaseUrl" xsi:type="string">web/unsecure/base_url</item>
                <item name="secureBaseUrl" xsi:type="string">web/secure/base_url</item>
            </argument>
            <argument name="urlPlaceholder" xsi:type="string">{{base_url}}</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Output\Config">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Session\Config">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Session\SidResolver">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Session\Validator">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout\Element\Layout">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\DesignExceptions">
        <arguments>
            <argument name="exceptionConfigPath" xsi:type="string">design/theme/ua_regexp</argument>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="phtml" xsi:type="string">Magento\Framework\View\TemplateEngine\Php</item>
            </argument>
        </arguments>
    </type>
</config>
