<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Store\Api\StoreRepositoryInterface" type="Magento\Store\Model\StoreRepository"/>
    <preference for="Magento\Store\Api\GroupRepositoryInterface" type="Magento\Store\Model\GroupRepository"/>
    <preference for="Magento\Store\Api\WebsiteRepositoryInterface" type="Magento\Store\Model\WebsiteRepository"/>
    <preference for="Magento\Store\Api\Data\StoreInterface" type="Magento\Store\Model\Store"/>
    <preference for="Magento\Store\Api\Data\GroupInterface" type="Magento\Store\Model\Group"/>
    <preference for="Magento\Store\Api\Data\WebsiteInterface" type="Magento\Store\Model\Website"/>
    <preference for="Magento\Store\Api\StoreWebsiteRelationInterface" type="Magento\Store\Model\StoreManager"/>
    <preference for="Magento\Store\Api\StoreResolverInterface" type="Magento\Store\Model\StoreResolver"/>
    <preference for="Magento\Framework\App\Request\PathInfoProcessorInterface" type="Magento\Store\App\Request\PathInfoProcessor" />
    <preference for="Magento\Store\Model\StoreManagerInterface" type="Magento\Store\Model\StoreManager" />
    <preference for="Magento\Framework\App\Response\RedirectInterface" type="Magento\Store\App\Response\Redirect" />
    <preference for="Magento\Store\Api\StoreCookieManagerInterface" type="Magento\Store\Model\StoreCookieManager"/>
    <preference for="Magento\Store\Api\StoreConfigManagerInterface" type="Magento\Store\Model\Service\StoreConfigManager"/>
    <preference for="Magento\Store\Api\Data\StoreConfigInterface" type="Magento\Store\Model\Data\StoreConfig"/>
    <preference for="Magento\Store\Api\StoreManagementInterface" type="Magento\Store\Model\StoreManagement"/>
    <preference for="Magento\Store\Api\WebsiteManagementInterface" type="Magento\Store\Model\WebsiteManagement"/>
    <preference for="Magento\Framework\App\ScopeFallbackResolverInterface" type="Magento\Store\Model\ScopeFallbackResolver"/>
    <preference for="Magento\Framework\App\ScopeTreeProviderInterface" type="Magento\Store\Model\ScopeTreeProvider"/>
    <preference for="Magento\Framework\App\ScopeValidatorInterface" type="Magento\Store\Model\ScopeValidator"/>
    <preference for="Magento\Store\Model\StoreSwitcherInterface" type="Magento\Store\Model\StoreSwitcher" />
    <type name="Magento\Framework\App\Http\Context">
        <arguments>
            <argument name="default" xsi:type="array">
                <item name="website" xsi:type="string">0</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="genericHeaderPlugin" type="Magento\Framework\App\Response\HeaderManager"/>
    </type>
    <type name="Magento\Framework\App\Response\HeaderProvider\XFrameOptions">
        <arguments>
            <argument name="xFrameOpt" xsi:type="init_parameter">Magento\Framework\App\Response\HeaderProvider\XFrameOptions::DEPLOYMENT_CONFIG_X_FRAME_OPT</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Template\File\Validator">
        <arguments>
            <argument name="scope" xsi:type="string">store</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resolver\Store">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resolver\Group">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Resolver\Website">
        <arguments>
        <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\App\ScopeResolverInterface" type="Magento\Store\Model\Resolver\Store" />
    <preference for="Magento\Framework\App\Router\PathConfigInterface" type="Magento\Store\Model\PathConfig" />
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="storeCheck" type="Magento\Store\App\Action\Plugin\StoreCheck" sortOrder="10"/>
        <plugin name="designLoader" type="Magento\Framework\App\Action\Plugin\Design" />
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <plugin name="storeUrlSecurityInfo" type="Magento\Store\Url\Plugin\SecurityInfo"/>
    </type>
    <type name="Magento\Framework\Url\RouteParamsResolver">
        <plugin name="storeUrlRouteParamsResolver" type="Magento\Store\Url\Plugin\RouteParamsResolver"/>
    </type>
    <type name="Magento\Store\Model\ResourceModel\Website\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Store\Model\ResourceModel\Website\Collection\FetchStrategy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\ResourceModel\Group\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Store\Model\ResourceModel\Group\Collection\FetchStrategy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\ResourceModel\Store\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Store\Model\ResourceModel\Store\Collection\FetchStrategy</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Store">
        <arguments>
            <argument name="session" xsi:type="object" shared="false">Magento\Framework\Session\Generic\Proxy</argument>
            <argument name="isCustomEntryPoint" xsi:type="init_parameter">Magento\Store\Model\Store::CUSTOM_ENTRY_POINT_PARAM</argument>
            <argument name="url" xsi:type="object" shared="false">Magento\Framework\UrlInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\StoreManager">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\StoreResolver">
        <arguments>
            <argument name="runMode" xsi:type="init_parameter">Magento\Store\Model\StoreManager::PARAM_RUN_TYPE</argument>
            <argument name="scopeCode" xsi:type="init_parameter">Magento\Store\Model\StoreManager::PARAM_RUN_CODE</argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\StoresData">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>
    <type name="Magento\Store\App\FrontController\Plugin\DefaultStore">
        <arguments>
            <argument name="runMode" xsi:type="init_parameter">Magento\Store\Model\StoreManager::PARAM_RUN_TYPE</argument>
            <argument name="scopeCode" xsi:type="init_parameter">Magento\Store\Model\StoreManager::PARAM_RUN_CODE</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Store\Model\ResourceModel\Group\Collection\FetchStrategy" type="Magento\Framework\Data\Collection\Db\FetchStrategy\Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="cacheIdPrefix" xsi:type="string">app_</argument>
            <argument name="cacheTags" xsi:type="array">
                <item name="storeTag" xsi:type="const">Magento\Store\Model\Store::CACHE_TAG</item>
                <item name="configTag" xsi:type="const">Magento\Framework\App\Config::CACHE_TAG</item>
            </argument>
            <argument name="cacheLifetime" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Store\Model\ResourceModel\Store\Collection\FetchStrategy" type="Magento\Framework\Data\Collection\Db\FetchStrategy\Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="cacheIdPrefix" xsi:type="string">app_</argument>
            <argument name="cacheTags" xsi:type="array">
                <item name="storeTag" xsi:type="const">Magento\Store\Model\Store::CACHE_TAG</item>
                <item name="configTag" xsi:type="const">Magento\Framework\App\Config::CACHE_TAG</item>
            </argument>
            <argument name="cacheLifetime" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Store\Model\ResourceModel\Website\Collection\FetchStrategy" type="Magento\Framework\Data\Collection\Db\FetchStrategy\Cache">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Collection</argument>
            <argument name="cacheIdPrefix" xsi:type="string">app_</argument>
            <argument name="cacheTags" xsi:type="array">
                <item name="storeTag" xsi:type="const">Magento\Store\Model\Website::CACHE_TAG</item>
                <item name="configTag" xsi:type="const">Magento\Framework\App\Config::CACHE_TAG</item>
            </argument>
            <argument name="cacheLifetime" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Store\Model\Config\Placeholder">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http\Proxy</argument>
            <argument name="urlPaths" xsi:type="array">
                <item name="unsecureBaseUrl" xsi:type="string">web/unsecure/base_url</item>
                <item name="secureBaseUrl" xsi:type="string">web/secure/base_url</item>
            </argument>
            <argument name="urlPlaceholder" xsi:type="string">{{base_url}}</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Output\Config">
        <arguments>
        <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Session\Config">
        <arguments>
        <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Session\SidResolver">
        <arguments>
        <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout\Element\Layout">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\DesignExceptions">
        <arguments>
            <argument name="exceptionConfigPath" xsi:type="string">design/theme/ua_regexp</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="phtml" xsi:type="string">Magento\Framework\View\TemplateEngine\Php</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Framework\App\Router\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="frontend" xsi:type="array">
                    <item name="frontName" xsi:type="null" />
                    <item name="router" xsi:type="string">standard</item>
                </item>
            </argument>
            <argument name="default" xsi:type="string">frontend</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Config\Initial\Converter">
        <arguments>
            <argument name="nodeMap" xsi:type="array">
                <item name="default" xsi:type="string">/config/default</item>
                <item name="stores" xsi:type="string">/config/stores</item>
                <item name="websites" xsi:type="string">/config/websites</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Reflection\MethodsMap">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Reflection</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\ScopeResolverPool">
        <arguments>
            <argument name="scopeResolvers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Framework\App\ScopeResolver</item>
                <item name="store" xsi:type="object">Magento\Store\Model\Resolver\Store</item>
                <item name="stores" xsi:type="object">Magento\Store\Model\Resolver\Store</item>
                <item name="group" xsi:type="object">Magento\Store\Model\Resolver\Group</item>
                <item name="website" xsi:type="object">Magento\Store\Model\Resolver\Website</item>
                <item name="websites" xsi:type="object">Magento\Store\Model\Resolver\Website</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\ActionValidator\RemoveAction">
        <arguments>
            <argument name="protectedModels" xsi:type="array">
                <item name="store" xsi:type="string">Magento\Store\Model\Store</item>
                <item name="website" xsi:type="string">Magento\Store\Model\Website</item>
                <item name="storeGroup" xsi:type="string">Magento\Store\Model\Group</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="confPathToMapFile" xsi:type="string">app/etc/aliases_to_classes_map.json</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\MigrationData">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="plain" xsi:type="string"><![CDATA[/^(?P<alias>[a-z]+[_a-z\d]*?\/[a-z]+[_a-z\d]*?)::.*?$/sui]]></item>
                <item name="wiki" xsi:type="string"><![CDATA[/{{(block|widget).*?(class|type)=\"(?P<alias>[a-z]+[_a-z\d]*?\/[a-z]+[_a-z\d]*?)\".*?}}/sui]]></item>
                <item name="xml" xsi:type="string"><![CDATA[/<block.*?class=\"(?P<alias>[a-z]+[_a-z\d]*?\/[a-z]+[_a-z\d]*?)\".*?>/sui]]></item>
                <item name="serialized" xsi:type="string"><![CDATA[#(?P<string>s:\d+:"(?P<alias>[a-z]+[_a-z\d]*?/[a-z]+[_a-z\d]*?)")#sui]]></item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Helper\Context">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\UrlInterface</argument>
            <argument name="httpRequest" xsi:type="object">Magento\Framework\App\Request\Http\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\FrontController">
        <plugin name="install" type="Magento\Framework\Module\Plugin\DbStatusValidator" sortOrder="40"/>
        <plugin name="storeCookieValidate" type="Magento\Store\Model\Plugin\StoreCookie" sortOrder="10"/>
    </type>
    <type name="Magento\Store\Model\Plugin\StoreCookie">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Plugin\DbStatusValidator">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Stdlib\DateTime\Timezone">
        <arguments>
            <argument name="defaultTimezonePath" xsi:type="const">Magento\Directory\Helper\Data::XML_PATH_DEFAULT_TIMEZONE</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Locale\Resolver">
        <arguments>
            <argument name="defaultLocalePath" xsi:type="const">Magento\Directory\Helper\Data::XML_PATH_DEFAULT_LOCALE</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Config\Initial\SchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Magento_Store</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\DB\Helper">
        <arguments>
            <argument name="modulePrefix" xsi:type="string">store</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Response\HeaderManager">
        <arguments>
            <argument name="headerProviderList" xsi:type="array">
                <item name="HSTSHeader" xsi:type="object">Magento\Store\Model\HeaderProvider\Hsts</item>
                <item name="upgrade-insecure-requests" xsi:type="object">Magento\Store\Model\HeaderProvider\UpgradeInsecure</item>
                <item name="x-content-type-options" xsi:type="object">Magento\Framework\App\Response\HeaderProvider\XContentTypeOptions</item>
                <item name="x-xss-protection" xsi:type="object">Magento\Framework\App\Response\HeaderProvider\XssProtection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="systemConfigPostProcessorComposite" type="Magento\Framework\App\Config\PostProcessorComposite">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="placeholder" xsi:type="object">Magento\Store\Model\Config\Processor\Placeholder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\App\Config">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="scopes" xsi:type="object">Magento\Store\App\Config\Type\Scopes</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store\App\Config\Type\Scopes">
        <arguments>
            <argument name="source" xsi:type="object">scopesConfigSourceAggregatedProxy</argument>
        </arguments>
    </type>
    <virtualType name="scopesConfigSourceAggregatedProxy" type="Magento\Framework\App\Config\ConfigSourceAggregated\Proxy">
        <arguments>
            <argument name="instanceName" xsi:type="string">scopesConfigSourceAggregated</argument>
        </arguments>
    </virtualType>
    <virtualType name="scopesConfigSourceAggregated" type="Magento\Framework\App\Config\ConfigSourceAggregated">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="initial" xsi:type="array">
                    <item name="source" xsi:type="object">scopesConfigInitialDataProvider</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="runtime" xsi:type="array">
                    <item name="source" xsi:type="object">Magento\Store\App\Config\Source\RuntimeConfigSource</item>
                    <item name="sortOrder" xsi:type="string">0</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="scopesConfigInitialDataProvider" type="Magento\Store\App\Config\Source\InitialConfigSource">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\App\DeploymentConfig\Reader</argument>
            <argument name="configType" xsi:type="const">Magento\Store\App\Config\Type\Scopes::CONFIG_TYPE</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Deploy\Console\Command\App\ApplicationDumpCommand">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="scopes" xsi:type="array">
                    <item name="source" xsi:type="object">scopesConfigSourceAggregated</item>
                    <item name="namespace" xsi:type="const">Magento\Store\App\Config\Type\Scopes::CONFIG_TYPE</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="commandStoreList" xsi:type="object">Magento\Store\Console\Command\StoreListCommand</item>
                <item name="commandWebsiteList" xsi:type="object">Magento\Store\Console\Command\WebsiteListCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Deploy\Model\DeploymentConfig\ImporterPool">
        <arguments>
            <argument name="importers" xsi:type="array">
                <item name="scopes" xsi:type="array">
                    <item name="importer_class" xsi:type="string">Magento\Store\Model\Config\Importer</item>
                    <item name="validator_class" xsi:type="string">Magento\Store\Model\Config\Validator</item>
                    <item name="sort_order" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Config\Importer\Processor\ProcessorFactory">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="create" xsi:type="string">Magento\Store\Model\Config\Importer\Processor\Create</item>
                <item name="update" xsi:type="string">Magento\Store\Model\Config\Importer\Processor\Update</item>
                <item name="delete" xsi:type="string">Magento\Store\Model\Config\Importer\Processor\Delete</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\Config\Importer\DataDifferenceCalculator">
        <arguments>
            <argument name="runtimeConfigSource" xsi:type="object">Magento\Store\App\Config\Source\RuntimeConfigSource</argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="environment" xsi:type="array">
                <item name="web/default/front" xsi:type="string">1</item>
                <item name="web/secure/base_link_url" xsi:type="string">1</item>
                <item name="web/secure/base_media_url" xsi:type="string">1</item>
                <item name="web/secure/base_static_url" xsi:type="string">1</item>
                <item name="web/secure/base_url" xsi:type="string">1</item>
                <item name="web/unsecure/base_link_url" xsi:type="string">1</item>
                <item name="web/unsecure/base_media_url" xsi:type="string">1</item>
                <item name="web/unsecure/base_static_url" xsi:type="string">1</item>
                <item name="web/unsecure/base_url" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Data\Argument\Interpreter\Composite">
        <arguments>
            <argument name="interpreters" xsi:type="array">
                <item name="serviceUrl" xsi:type="object">Magento\Store\Model\Argument\Interpreter\ServiceUrl</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Store\Model\StoreSwitcher">
        <arguments>
            <argument name="storeSwitchers" xsi:type="array">
                <item name="cleanTargetUrl" xsi:type="object">Magento\Store\Model\StoreSwitcher\CleanTargetUrl</item>
                <item name="manageStoreCookie" xsi:type="object">Magento\Store\Model\StoreSwitcher\ManageStoreCookie</item>
                <item name="managePrivateContent" xsi:type="object">Magento\Store\Model\StoreSwitcher\ManagePrivateContent</item>
                <item name="hashProcessor" xsi:type="object" sortOrder="1000">Magento\Store\Model\StoreSwitcher\HashProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
