<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<fieldset class="fieldset gift-message" data-bind="visible: isGiftOptionsAvailable()">
    <legend class="legend"><span data-bind="text: $t('Do you have any gift items in your order?')"></span></legend><br>
    <div class="field choice">
        <input type="checkbox" name="allow_gift_options" id="allow_gift_options" class="checkbox" data-bind="checked: isGiftOptionsSelected">
        <label for="allow_gift_options" class="label"><span data-bind="text: $t('Add gift options')"></span></label>
    </div>
    <dl class="options-items" id="allow-gift-options-container" data-bind="visible: isGiftOptionsSelected">
        <dt id="add-gift-options-for-order" class="order-title" data-bind="visible: isOrderLevelGiftOptionsEnabled()">
            <div class="field choice">
                <input type="checkbox" name="allow_gift_messages_for_order" id="allow_gift_options_for_order" class="checkbox" data-bind="checked: isOrderLevelGiftOptionsSelected">
                <label for="allow_gift_options_for_order" class="label"><span data-bind="text: $t('Gift Options for the Entire Order')"></span></label>
            </div>
            <dd id="allow-gift-options-for-order-container" class="order-options" style="display: block;" data-bind="visible: isOrderLevelGiftOptionsSelected">
                <!-- ko foreach: getOrderLevelGiftOptions() -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </dd>
        </dt>
        <dt id="add-gift-options-for-items" class="order-title individual" data-bind="visible: isItemLevelGiftOptionsEnabled()">
            <div class="field choice">
                <input type="checkbox" name="allow_gift_options_for_items" id="allow_gift_options_for_items" class="checkbox" data-bind="checked: isItemLevelGiftOptionsSelected">
                <label for="allow_gift_options_for_items" class="label"><span data-bind="text: $t('Gift Options for Individual Items')"></span></label>
            </div>
            <dd id="allow-gift-options-for-items-container" class="order-options individual" style="display: block;" data-bind="visible: isItemLevelGiftOptionsSelected">
                <!-- ko foreach: getItemLevelGiftOptions() -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </dd>
        </dt>
        <dt id="extra-options-container" class="extra-options-container">
            <!-- ko foreach: getExtraGiftOptions() -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </dt>
    </dl>
</fieldset>
