<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ol class="items" data-bind="foreach: quoteItems">
    <li class="item">
        <div class="product">
            <div class="number">
                <span>
                    <!-- ko text: $t('Item') --><!-- /ko -->
                    <!-- ko text: ($index() + 1) --><!-- /ko -->
                </span>
                <!-- ko text: $t('of') --><!-- /ko -->
                <!-- ko text: $parent.quoteItemsCount --><!-- /ko -->
            </div>
            <div class="img photo container">
                <span class="product-image-container" style="width:100px;">
                    <span class="product-image-wrapper" style="padding-bottom: 100%;">
                        <img class="product-image-photo" data-bind="attr: {src: thumbnail || $parent.imagePlaceholder, alt: name}">
                    </span>
                </span>
            </div>
            <strong class="product name" style="width:100px;" data-bind="text: name"></strong>
        </div>
        <div class="options">
            <!-- <div class="options-items-container"></div> -->
             <!--ko foreach: $parent.getRegion('item-level-additional-data') -->
             <!--ko template: getTemplate() --><!--/ko -->
            <!--/ko -->
            <a href="#" class="action activate message" data-bind="click: $parent.setItemLevelGiftMessageHidden, text: $t('Gift Message')"></a>
            <div id="gift-messages-for-item-container" class="block message" data-bind="visible: isItemLevelGiftMessageVisible">
                <fieldset class="fieldset">
                    <p data-bind="text: $t('Leave a box blank if you don\'t want to add a gift message for that item.')"></p>
                    <div class="field from">
                        <label class="label" data-bind="attr: {for: 'gift-message-' + item_id + '-from'}"><span data-bind="text: $t('From')"></span></label>
                        <div class="control">
                            <input type="text" title="From" class="input-text" data-bind="
                                value: $parent.messages[item_id].from,
                                attr: {
                                    name: 'giftmessage[quote_item][' + item_id + '][from]',
                                    id: 'gift-message-' + item_id  + '-from'
                                }
                            ">
                        </div>
                    </div>
                    <div class="field to">
                        <label class="label" data-bind="attr: {for: 'gift-message-' + item_id + '-to'}"><span data-bind="text: $t('To')"></span></label>
                        <div class="control">
                            <input type="text" title="To" class="input-text" data-bind="
                            value: $parent.messages[item_id].to,
                            attr: {
                                name: 'giftmessage[quote_item][' + item_id + '][to]',
                                id: 'gift-message-' + item_id + '-to'
                            }
                        ">
                        </div>
                    </div>
                    <div class="field text">
                        <label class="label" data-bind="attr: {for: 'gift-message-' + item_id + '-message'}"><span data-bind="text: $t('Message')"></span></label>
                        <div class="control">
                            <textarea class="input-text giftmessage-area" title="Message" rows="5" cols="40" data-bind="
                                value: $parent.messages[item_id].message,
                                attr: {
                                    id: 'gift-message-' + item_id + '-message',
                                    name: 'giftmessage[quote_item][' + item_id + '][message]'
                                }
                            "></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </li>
</ol>
