<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--
<div class="options-order-container" id="options-order-container-1"></div>
-->
<a href="#" class="action activate message" data-bind="click: setOrderLevelGiftMessageVisible, text: $t('Gift Message')"></a>
<div id="allow-gift-messages-for-order-container" class="gift-messages-order" data-bind="visible: isOrderLevelGiftMessageVisible">
    <fieldset class="fieldset">
        <p data-bind="text: $t('Leave this box blank if you don\'t want to leave a gift message for the entire order.')"></p>
        <div class="field from">
            <label for="gift-message-whole-from" class="label"><span data-bind="text: $t('From')"></span></label>
            <div class="control">
                <input type="text" id="gift-message-whole-from" title="From" class="input-text" data-bind="
                    value: message.from,
                    attr: {
                        name: 'giftmessage[quote][' + quoteId  + '][from]'
                    }
                ">
            </div>
        </div>
        <div class="field to">
            <label for="gift-message-whole-to" class="label"><span data-bind="text: $t('To')"></span></label>
            <div class="control">
                <input type="text" id="gift-message-whole-to" title="To" class="input-text" data-bind="
                value: message.to,
                attr: {
                    name: 'giftmessage[quote][' + quoteId + '][to]'
                }
            ">
            </div>
        </div>
        <div class="field text">
            <label for="gift-message-whole-message" class="label"><span data-bind="text: $t('Message')"></span></label>
            <div class="control">
                <textarea id="gift-message-whole-message" class="input-text" title="Message" rows="5" cols="10" data-bind="
                    value: message.message,
                    attr: {
                        name: 'giftmessage[quote][' + quoteId + '][message]'
                    }
                ">
                </textarea>
            </div>
        </div>
    </fieldset>
</div>
