<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="block-title">
    <strong>
        <span class="text" data-bind="text: $t('My Cart')"></span>
        <span
            class="qty"
            data-bind="css: { empty: cart().summary_count == 0 },
                       text: cart().summary_count,
                       attr: { title: $t('Items in Cart') }">
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-bind="attr: { title: $t('Close') }">

        <span data-bind="text: $t('My Cart')"></span>
    </button>

    <!-- part 1 -->
    <!-- ko if: cart().summary_count -->
    private
    <?php if ($_cartQty || $block->getAllowCartLink()): ?>
    <div class="items-total">
        <span class="count"><?php echo $_cartQty; ?></span>
        <?php echo $block->getSummaryText($_cartQty); ?>
    </div>
    <?php $isPossibleOnepageCheckout = $_cartQty && $block->isPossibleOnepageCheckout() ?>
    <?php if ($isPossibleOnepageCheckout): ?>
    <?php echo $block->getChildHtml('subtotal'); ?>
    <?php endif; ?>
    <?php echo $block->getChildHtml('minicart_info') ?>
    <div class="actions">
        <div class="primary">
            <?php if ($isPossibleOnepageCheckout): ?>
            <button
                    id="top-cart-btn-checkout"
                    type="button"
                    class="action primary checkout"
                    title="<?php echo $block->escapeHtml(__('Go to Checkout')); ?>">
                <span><?php echo __('Go to Checkout') ?></span>
            </button>
            <?php echo $block->getChildHtml('extra_actions') ?>
            <?php endif; ?>
        </div>
    </div>
    <?php endif ?>
    <!-- /ko -->

    <!-- part 2 -->
    <!-- ko if: cart().summary_count -->
    $block->getAllowCartLink()
    <strong class="subtitle" data-bind="text: $t('Recently added item(s)')"></strong>
    <div data-action="scroll" class="minicart-items-wrapper">
        <ol id="mini-cart" class="minicart-items">
            <!-- ko foreach: cart().items -->
            <li>Item <span data-bind="text: $data"></span></li>
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->

    <!-- part 3 -->
    <!-- ko ifnot: cart().summary_count -->
    agnostic
    <strong class="subtitle empty" data-bind="text: $t('You have no items in your shopping cart.')"></strong>
    <?php if ($block->getCartEmptyMessage()): ?>
    <p class="minicart empty text"><?php echo $block->getCartEmptyMessage(); ?></p>
    <?php endif; ?>
    <!-- /ko -->


    <!-- part 4 -->
    <!-- ko if: cart().summary_count -->
    private
    <?php if ($_cartQty || $block->getAllowCartLink()): ?>
    <div class="actions">
        <div class="secondary">
            <a class="action viewcart" href="<?php echo $block->getUrl('checkout/cart'); ?>">
                <span data-bind="text: $t('View and edit cart')"></span>
            </a>
        </div>
    </div>
    <!-- /ko -->

    <!-- part 5 -->
    <!-- ko if: cart().summary_count -->
    private
    <?php if ($_cartQty || $block->getAllowCartLink()): ?>
    <div class="actions">
        <div class="secondary">
            <a class="action viewcart" href="<?php echo $block->getUrl('checkout/cart'); ?>">
                <span><?php echo __('View and edit cart') ?></span>
            </a>
        </div>
    </div>
    <?php endif ?>
    <!-- /ko -->

    <!-- part 6 -->
    <div id="minicart-widgets" class="minicart-widgets">
        <?php echo $block->getChildHtml('cart_promotion') ?>
    </div>
</div>
