/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.modal-slide {
    .media-gallery-modal {
        .page-main-actions {
            margin-bottom: 3rem;

            .page-action-buttons {
                text-align: right;
            }
        }

        .new_folder {
            margin-right: 10px;
        }
    }
}

.tree-actions {
    a {
        cursor: pointer;
    }
}

