<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': isActive()}">
    <div class="payment-method-title field choice">
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- PayPal Logo -->
            <img data-bind="attr: {src: getPaymentAcceptanceMarkSrc(), alt: $t('Acceptance Mark'), title: $t('Acceptance Mark')}"
                 class="payment-icon"/>
            <!-- PayPal Logo -->
            <span text="getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <each args="getRegion('messages')" render=""></each>
        <fieldset class="braintree-paypal-fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div id="paypal-container"></div>
        </fieldset>
        <div class="actions-toolbar braintree-paypal-actions" data-bind="visible: isReviewRequired()">
            <div class="payment-method-item braintree-paypal-account">
                <span class="payment-method-type">PayPal</span>
                <span class="payment-method-description" text="customerEmail()"></span>
            </div>
            <div class="actions-toolbar no-display">
                <div class="primary">
                    <button data-button="paypal-place" data-role="review-save"
                            type="submit"
                            data-bind="{click: placeOrder}"
                            class="action primary checkout">
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
