<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="cart">
                <field id="configurable_product_image" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Configurable Product Image</label>
                    <source_model>Magento\Catalog\Model\Config\Source\Product\Thumbnail</source_model>
                </field>
            </group>
        </section>
        <section id="catalog">
            <group id="frontend">
                <field id="product_attributes_sort_by" translate="label comment" type="select" sortOrder="400" showInDefault="1" showInStore="1" showInWebsite="1" canRestore="1">
                    <label>Configurable Product Attributes Sort by</label>
                    <source_model>Magento\ConfigurableProduct\Model\Config\Source\ProductAttributesSort</source_model>
                    <comment>"Global Attribute Position Setting" allows change configurable attributes position globally for all products.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
