<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="product_attribute_form_build_front_tab">
        <observer name="layeredNavigation" instance="Magento\LayeredNavigation\Block\Adminhtml\Product\Attribute\Edit\Tab\Front\Observer" method="observe" />
    </event>
    <event name="product_attribute_grid_build">
        <observer name="layeredNavigation" instance="Magento\LayeredNavigation\Block\Adminhtml\Product\Attribute\Grid\Observer" method="observe" />
    </event>
</config>