<select id="perPage" class="admin__control-select" ng-model="$parent.rowLimit">
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
</select>
<label class="admin__control-support-text">per page</label>
<div class="admin__data-grid-pager">
    <button class="action-previous"
            ng-disabled="$parent.currentPage == 1"
            ng-click="$parent.currentPage = $parent.currentPage - 1;"
            type="button"
    >
        <span>Previous page</span>
    </button>
    <input id="pageCurrent"
           class="admin__control-text"
           type="number"
           ng-value="$parent.currentPage"
           ng-model="$parent.currentPage"
    >
    <label class="admin__control-support-text" for="pageCurrent">
        of {{$parent.numberOfPages}}
    </label>
    <button class="action-next"
            ng-disabled="$parent.currentPage >= $parent.numberOfPages"
            ng-click="$parent.currentPage = $parent.currentPage + 1;"
            type="button"
    >
        <span>Next page</span>
    </button>
</div>
