<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__scope">
    <div class="admin__data-grid-header-row row row-gutter">
        <div class="col-m-2">
            <div
                class="action-select-wrap"
                data-bind="css: {'_active': actionsVisible},
                   click: toggleActions,
                   stopPropagation: true,
                   outerClick: hideActions">
                <button
                    class="action-select"
                    data-bind="title: $t('Select Items')">
                    <span data-bind="text: $t('Actions')"></span>
                </button>
                <ul
                    class="action-menu"
                    data-bind="css: {'_active': actionsVisible},
                       foreach: {data: actions, as: 'action'}">
                    <li data-bind="click: $parent.applyAction.bind($parent, action)">
                    <span
                        class="item"
                        data-bind="text: label"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
