<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__scope">
    <div class="admin__data-grid-header">
        <div class="admin__data-grid-header-row row row-gutter">
            <!-- ko foreach: top -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="admin__data-grid-actions-wrap col-xs-6">

                <!-- Default view -->
                <div class="admin__action-dropdown-wrap admin__data-grid-action-default-view _disabled">
                    <button
                        class="admin__action-dropdown"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true">
                        <span class="admin__action-dropdown-text">Default View</span>
                    </button>
                    <ul class="admin__action-dropdown-menu">
                        <li>
                            <a href="">Lorem ipsum dolor sit amet.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet.</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet.</a>
                        </li>
                    </ul>
                </div>
                <!-- Default view end -->

                <!-- Columns -->
                <div class="admin__action-dropdown-wrap admin__data-grid-action-columns  _disabled">
                    <button
                        class="admin__action-dropdown"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true">
                        <span class="admin__action-dropdown-text">Columns</span>
                    </button>
                    <div class="admin__action-dropdown-menu admin__data-grid-action-columns-menu">
                        <div class="admin__action-dropdown-menu-header">
                            <span>8</span> out of <span>18</span> selected
                        </div>
                        <div class="admin__action-dropdown-menu-content">
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id1" type="checkbox"/>
                                <label class="admin__field-label" for="id1">Column Name 1</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id2" type="checkbox"/>
                                <label class="admin__field-label" for="id2">Column Name 2</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id3" type="checkbox"/>
                                <label class="admin__field-label" for="id3">Column Name 3</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id4" type="checkbox"/>
                                <label class="admin__field-label" for="id4">Column Name 4</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id5" type="checkbox"/>
                                <label class="admin__field-label" for="id5">Column Name 5</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id6" type="checkbox"/>
                                <label class="admin__field-label" for="id6">Column Name 6</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id7" type="checkbox"/>
                                <label class="admin__field-label" for="id7">Column Name 7</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id8" type="checkbox"/>
                                <label class="admin__field-label" for="id8">Column Name 8</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id9" type="checkbox"/>
                                <label class="admin__field-label" for="id9">Column Name 9</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id10" type="checkbox"/>
                                <label class="admin__field-label" for="id10">Column Name 10</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id11" type="checkbox"/>
                                <label class="admin__field-label" for="id11">Column Name 11</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id12" type="checkbox"/>
                                <label class="admin__field-label" for="id12">Column Name 12</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id13" type="checkbox"/>
                                <label class="admin__field-label" for="id13">Column Name 13</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id14" type="checkbox"/>
                                <label class="admin__field-label" for="id14">Column Name 14</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id15" type="checkbox"/>
                                <label class="admin__field-label" for="id15">Column Name 15</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id16" type="checkbox"/>
                                <label class="admin__field-label" for="id16">Column Name 16</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id17" type="checkbox"/>
                                <label class="admin__field-label" for="id17">Column Name 17</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id18" type="checkbox"/>
                                <label class="admin__field-label" for="id18">Column Name 18</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id19" type="checkbox"/>
                                <label class="admin__field-label" for="id19">Column Name 19</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id20" type="checkbox"/>
                                <label class="admin__field-label" for="id20">Column Name 20</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id21" type="checkbox"/>
                                <label class="admin__field-label" for="id21">Column Name 21</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id22" type="checkbox"/>
                                <label class="admin__field-label" for="id22">Column Name 22</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id23" type="checkbox"/>
                                <label class="admin__field-label" for="id23">Column Name 23</label>
                            </div>
                            <div class="admin__field-option">
                                <input class="admin__control-checkbox" id="id24" type="checkbox"/>
                                <label class="admin__field-label" for="id24">Column Name 24</label>
                            </div>
                        </div>
                        <div class="admin__action-dropdown-menu-footer">
                            <div class="admin__action-dropdown-footer-secondary-actions">
                                <button class="action-tertiary" type="button"><span>Reset</span></button>
                            </div>
                            <div class="admin__action-dropdown-footer-main-actions">
                                <button class="action-tertiary" type="button"><span>Cancel</span></button>
                                <button class="action-secondary" type="button"><span>Apply</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columns end -->

            </div>
        </div>
        <div class="admin__data-grid-header-row row row-gutter">
            <!-- ko foreach: bottom -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
