<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__data-grid-wrap">
    <table
        class="data-grid"
        data-bind="
            afterRender: dndConfig.enabled ?
                function (elem) { dnd('setTable', elem); } :
                false,
            css: {
                'data-grid-draggable': dndConfig.enabled
            }">
        <thead data-part="head">
            <tr data-part="head.row">
                <!-- ko foreach: elems -->
                    <!-- ko template: getHeader() --><!-- /ko -->
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-part="body">
            <!-- ko if: hasData() -->
                <!-- ko foreach: { data: rows, as: 'row' } -->
                    <tr data-part="body.row">
                        <!-- ko foreach: { data: $parent.elems, as: 'field' }  -->
                            <!-- ko template: getBody() --><!-- /ko -->
                        <!-- /ko -->
                    </tr>
                <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: hasData() -->
                <tr class="data-grid-tr-no-data">
                    <td data-bind="attr: { colspan: countVisible() },
                                   text: $t('We couldn\'t find any records.')"></td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <!-- ko if: dndConfig.enabled -->
        <!-- ko template: dndConfig.containerTmpl --><!-- /ko -->
    <!-- /ko -->
</div>