<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__data-grid-wrap" data-role="grid-wrapper">
    <table class="data-grid" data-role="grid">
       <thead>
            <tr data-bind="fastForEach: {data: getVisible(), as: '$col'}">
                <!-- ko template: $col.getHeader() --><!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko repeat: {foreach: rows, item: '$row'} -->
            <tr class="data-row"
                data-bind="
                    css: {
                        '_odd-row': !!($index % 2)
                    }
                ">
                <!-- ko fastForEach: {data: getVisible(), as: '$col'} -->
                <td data-bind="
                        css: $col.getFieldClass(),
                        click: $col.getFieldHandler($row()),
                        template: $col.getBody()
                    ">
                </td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->

            <!-- ko ifnot: hasData() -->
                <tr class="data-grid-tr-no-data">
                    <td data-bind="attr: { colspan: countVisible() },
                                   i18n: 'We couldn\'t find any records.'"></td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
