<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<ul
    class="action-submenu"
    data-bind="foreach: {data: action.actions, as: 'action'},
    css: { _active: action.visible }">
    <li data-bind="css: { '_visible': $data.visible}">
        <span
            class="action-menu-item"
            data-bind="text: label,
            click: $parent.applyAction.bind($parent, type)"></span>
            <!-- ko if: $data.actions-->
                <!-- ko template: {name: $parent.submenuTemplate, data: $parent} -->
                <!-- /ko -->
            <!-- /ko -->
    </li>
</ul>
