<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__data-grid-header"
        data-role="data-grid-toolbar">
    <div class="admin__data-grid-header-row">
        <div class="admin__data-grid-actions-wrap">
            <!-- ko foreach: getRegion('dataGridActions') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- ko foreach: getRegion('dataGridFilters') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="admin__data-grid-header-row row row-gutter">
        <div class="col-xs-2">
            <!-- ko foreach: getRegion('bottom') -->
                <!-- ko if: $data.componentType === 'massaction' -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-3">
                    <!-- ko foreach: getRegion('bottom') -->
                        <!-- ko if: $data.componentType === 'paging' -->
                            <!-- ko template: totalTmpl --><!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="col-xs-9">
                    <!-- ko foreach: getRegion('bottom') -->
                        <!-- ko if: $data.componentType === 'paging' -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
