<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="action-select-wrap" css="_active: opened" outerClick="close.bind($data)">
    <button class="action-select" attr="title: $t('Select Items')" click="toggleOpened">
        <span translate="'Actions'"/>
    </button>
    <div class="action-menu-items">
        <ul class="action-menu" each="data: actions, as: 'action'" css="_active: opened">
            <li css="_visible: $data.visible, _parent: $data.actions">
                <span class="action-menu-item" translate="label" click="$parent.applyAction.bind($parent, type)"/>
                <render args="name: $parent.submenuTemplate, data: $parent" if="$data.actions"/>
            </li>
        </ul>
    </div>
</div>
