<?xml version="1.0"?>
<!--
/**
 * Copyright 2014 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminhtml">
            <module name="Magento_OfflineShipping" before="Magento_Backend" />
        </route>
    </router>
</config>
