<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogGraphQl\Model\ProductInterfaceTypeResolverComposite">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="grouped_product_type_resolver" xsi:type="object">Magento\GroupedProductGraphQl\Model\GroupedProductTypeResolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogGraphQl\Model\ProductLinkTypeResolverComposite">
        <arguments>
            <argument name="productLinksTypeNameResolvers" xsi:type="array">
                <item name="grouped_product_link__type_resolver" xsi:type="object">\Magento\GroupedProductGraphQl\Model\GroupedProductLinksTypeResolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Schema\Type\Entity\DefaultMapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="grouped" xsi:type="string">GroupedProduct</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogGraphQl\Model\Resolver\Product\Price\ProviderPool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="grouped" xsi:type="object">Magento\GroupedProductGraphQl\Model\Resolver\Product\Price\Provider</item>
            </argument>
        </arguments>
    </type>
</config>
