<!-- ko if: isRequired-->
<div class="field captcha required">
    <label for="captcha" class="label"><span data-bind="text: $t('Please type the letters below')"></span></label>
    <div class="control captcha">
        <input name="captcha" type="text" class="input-text required-entry" data-validate="{required:true}" id="captcha" />
        <div class="nested">
            <div class="field captcha no-label">
                <div class="control captcha-image">
                    <img data-bind="attr: {
                                        alt: $t('Please type the letters below'),
                                        height: imageHeight,
                                        src: imageSrc()
                                        }"
                         class="captcha-img"/>
                    <button type="button" class="action reload captcha-reload" data-bind="attr: {title: $t('Reload captcha')}, click: refresh">
                        <span data-bind="text: $t('Reload captcha')"></span>
                    </button>
                </div>
            </div>
            <!-- ko if: isCaseSensitive-->
            <div class="captcha-note note" data-bind="text: $t('Attention: Captcha is case sensitive.')"></div>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
