<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <google>
            <gtag>
                <analytics4>
                    <active>0</active>
                </analytics4>
                <adwords>
                    <active>0</active>
                    <conversion_label>Thank you for shopping!</conversion_label>
                </adwords>
            </gtag>
        </google>
    </default>
</config>
