<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

return [
    'db_host' => '127.0.0.1',
    'db_user' => 'travis',
    'db_pass' => '',
    'db_name' => 'magento_integration_tests',
    'db_prefix' => 'travis_',
    'backend_frontname' => 'backend',
    'admin_username' => \Magento\TestFramework\Bootstrap::ADMIN_NAME,
    'admin_password' => \Magento\TestFramework\Bootstrap::ADMIN_PASSWORD,
    'admin_email' => \Magento\TestFramework\Bootstrap::ADMIN_EMAIL,
    'admin_firstname' => \Magento\TestFramework\Bootstrap::ADMIN_FIRSTNAME,
    'admin_lastname' => \Magento\TestFramework\Bootstrap::ADMIN_LASTNAME,
];
