<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind='visible: visible' class='sticky-header'>
    <span class="data-grid-cap-left"></span>
    <span class="data-grid-cap-right"></span>
    <!-- ko if: enableToolbar -->
        <!-- ko scope: toolbar -->
            <!-- ko template: $data.stickyTmpl || getTemplate() --><!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: enableHeader -->
        <!-- ko scope: listing -->
            <!-- ko template: $data.stickyTmpl || getTemplate() --><!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</div>