<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__data-grid-header" data-role="sticky-el-root">
    <div class="admin__data-grid-header-row">
        <!-- ko scope: requestChild('listing_massaction') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <!-- ko scope: requestChild('listing_paging') -->
            <!-- ko template: totalTmpl --><!-- /ko -->
        <!-- /ko -->
        <!-- ko foreach: getRegion('dataGridFilters') -->
            <!-- ko template: $data.stickyTmpl || getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="admin__data-grid-actions-wrap" data-bind="foreach: getRegion('dataGridActions')">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <!-- ko scope: requestChild('listing_paging') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko scope: requestChild('listing_filters_chips') -->
    <!-- ko template: $data.stickyTmpl || getTemplate() -->
<!-- /ko -->
