**/var
/composer.lock
/config/*
/generated
/lib/Magento/Mtf/Util/Generate/testcase.xml
/vendor
!/config/application.yml.dist
!/config/handler.yml.dist
!/config/isolation.yml.dist
!/config/server.yml.dist
phpunit.xml
credentials.xml
