/composer.lock
/vendor
/generated
/var
/config/*
!/config/application.yml.dist
!/config/handler.yml.dist
!/config/isolation.yml.dist
!/config/server.yml.dist
phpunit.xml
/lib/Mtf/Util/Generate/testcase.xml
