##############################################
## Allow access to command.php and website.php
    <FilesMatch "command.php|website.php|export.php|pathChecker.php|deleteMagentoGeneratedCode.php">
         order allow,deny
         allow from all
    </FilesMatch>
