<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<replace xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/magento/mtf/Magento/Mtf/Fixture/InjectableFixture/etc/replace.xsd">
    <field path="carriers/fedex/account" value="" />
    <field path="carriers/fedex/meter_number" value="" />
    <field path="carriers/fedex/key" value="" />
    <field path="carriers/fedex/password" value="" />

    <field path="carriers/ups/password" value="" />
    <field path="carriers/ups/username" value="" />
    <field path="carriers/ups/access_license_number" value="" />
    <field path="carriers/ups/shipper_number" value="" />

    <field path="carriers/usps/userid" value="" />
    <field path="carriers/usps/password" value="" />

    <field replace="carriers_dhl_id_us" value="" />
    <field replace="carriers_dhl_password_us" value="" />
    <field replace="carriers_dhl_account_us" value="" />

    <field replace="carriers_dhl_id_eu" value="" />
    <field replace="carriers_dhl_password_eu" value="" />
    <field replace="carriers_dhl_account_eu" value="" />

    <field path="payment/authorizenet_directpost/login" value="" />
    <field path="payment/authorizenet_directpost/trans_key" value="" />
    <field path="payment/authorizenet_directpost/trans_md5" value="" />

    <field replace="braintree_enabled_fraud_merchant_account_id" value="" />
    <field replace="braintree_enabled_fraud_merchant_id" value="" />
    <field replace="braintree_enabled_fraud_public_key" value="" />
    <field replace="braintree_enabled_fraud_private_key" value="" />

    <field replace="braintree_disabled_fraud_merchant_account_id" value="" />
    <field replace="braintree_disabled_fraud_merchant_id" value="" />
    <field replace="braintree_disabled_fraud_public_key" value="" />
    <field replace="braintree_disabled_fraud_private_key" value="" />

    <field path="payment/paypal_group_all_in_one/wpp_usuk/wpp_required_settings/wpp_and_express_checkout/business_account" value="" />
    <field path="payment/paypal_group_all_in_one/wpp_usuk/wpp_required_settings/wpp_and_express_checkout/api_username" value="" />
    <field path="payment/paypal_group_all_in_one/wpp_usuk/wpp_required_settings/wpp_and_express_checkout/api_password" value="" />
    <field path="payment/paypal_group_all_in_one/wpp_usuk/wpp_required_settings/wpp_and_express_checkout/api_signature" value="" />
    <field path="payment/paypal_express/merchant_id" value="" />

    <field path="payment/paypal_payment_gateways/paypal_payflowpro_with_express_checkout/paypal_payflow_required/paypal_payflow_api_settings/business_account" value="" />
    <field path="payment/paypal_payment_gateways/paypal_payflowpro_with_express_checkout/paypal_payflow_required/paypal_payflow_api_settings/partner" value="" />
    <field path="payment/paypal_payment_gateways/paypal_payflowpro_with_express_checkout/paypal_payflow_required/paypal_payflow_api_settings/user" value="" />
    <field path="payment/paypal_payment_gateways/paypal_payflowpro_with_express_checkout/paypal_payflow_required/paypal_payflow_api_settings/pwd" value="" />
    <field path="payment/paypal_payment_gateways/paypal_payflowpro_with_express_checkout/paypal_payflow_required/paypal_payflow_api_settings/vendor" value="" />

    <field path="payment/paypal_alternative_payment_methods/express_checkout_us/express_checkout_required/express_checkout_required_express_checkout/business_account" value="" />
    <field path="payment/paypal_alternative_payment_methods/express_checkout_us/express_checkout_required/express_checkout_required_express_checkout/api_username" value="" />
    <field path="payment/paypal_alternative_payment_methods/express_checkout_us/express_checkout_required/express_checkout_required_express_checkout/api_password" value="" />
    <field path="payment/paypal_alternative_payment_methods/express_checkout_us/express_checkout_required/express_checkout_required_express_checkout/api_signature" value="" />

    <field path="payment/paypal_payment_gateways/payflow_link_us/payflow_link_required/payflow_link_payflow_link/business_account" value="" />
    <field path="payment/paypal_payment_gateways/payflow_link_us/payflow_link_required/payflow_link_payflow_link/partner" value="" />
    <field path="payment/paypal_payment_gateways/payflow_link_us/payflow_link_required/payflow_link_payflow_link/user" value="" />
    <field path="payment/paypal_payment_gateways/payflow_link_us/payflow_link_required/payflow_link_payflow_link/pwd" value="" />
    <field path="payment/paypal_payment_gateways/payflow_link_us/payflow_link_required/payflow_link_payflow_link/vendor" value="" />
</replace>
