/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.pp-general-uk > .entry-edit-head > .config-heading .heading strong,
.pp-method-payflow > .entry-edit-head > .config-heading .heading strong,
.pp-method-express > .entry-edit-head > .config-heading .heading strong,
.pp-method-general > .entry-edit-head > .config-heading .heading strong { padding-left:90px; background:url(images/logo.png) no-repeat 0 0px; line-height: 23px; }
.pp-method-general > .entry-edit-head > .config-heading:before { content:url(images/allinone.png); float:right; }
.payflow-settings-notice {padding-bottom: 1em;max-width: 660px;}
.payflow-settings-notice .important-label {color:red;}
.payflow-settings-notice ul.options-list {list-style:disc;padding:0 2em;}
