<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Test\Constraint\AssertCmsBlockSuccessSaveMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Test\Constraint\AssertCmsBlockOnCategoryPage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Test\Constraint\AssertCmsBlockNotOnCategoryPage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Test\Constraint\AssertCmsBlockDeleteMessage">
        <arguments>
            <argument name="severity" xsi:type="string">high</argument>
        </arguments>
    </type>
</config>
