/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.gallery .tooltip .delete-tooltiptext {
    visibility: hidden;
    width: 112px;
    background-color: #373330;
    color: #F7F3EB;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 91px;
}

.gallery .tooltip:hover .delete-tooltiptext {
    visibility: visible;
}