﻿ /**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
.image.video-placeholder {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.image.video-placeholder:before {
    background: url(../images/gallery-sprite.png) no-repeat left bottom;
    content: '';
    position: absolute;
    height: 49px;
    width: 49px;
    left: 50%;
    top: 18px;
    margin-left: -24px;
    opacity: 0.7;
    z-index: 1;
}

.video-placeholder .image-placeholder-text {
    font-weight: 400;
}

.admin__field.field-video_image .admin__field-control,
.admin__field.field-video_small_image .admin__field-control,
.admin__field.field-video_thumbnail .admin__field-control,
.admin__field.field-video_swatch_image .admin__field-control,
.admin__field.field-new_video_disabled .admin__field-control {
    width: 82px;
    margin-left: calc((100%) * .33333333 - 30px);
}

.admin__field.field-video_image .admin__field-control input,
.admin__field.field-video_small_image .admin__field-control input,
.admin__field.field-video_thumbnail .admin__field-control input,
.admin__field.field-video_swatch_image .admin__field-control input,
.admin__field.field-new_video_disabled .admin__field-control input {
    float: right;
}

.admin__field.field-video_image .admin__field-label,
.admin__field.field-video_small_image .admin__field-label,
.admin__field.field-video_thumbnail .admin__field-label,
.admin__field.field-video_swatch_image .admin__field-label,
.admin__field.field-new_video_disabled .admin__field-label {
    width: 200px;
    position: absolute;
    margin-left: calc((100%) * .33333333 - 30px + 90px);
    left: 0px;
}

.admin__field.field-video_image .admin__field-label:before,
.admin__field.field-video_small_image .admin__field-label:before,
.admin__field.field-video_thumbnail .admin__field-label:before,
.admin__field.field-video_swatch_image .admin__field-label:before,
.admin__field.field-new_video_disabled .admin__field-label:before {
    content: none;
}

.admin__field.field-video_image .admin__field-label span,
.admin__field.field-video_small_image .admin__field-label span,
.admin__field.field-video_thumbnail .admin__field-label span,
.admin__field.field-video_swatch_image .admin__field-label span,
.admin__field.field-new_video_disabled .admin__field-label span {
    float: left;
}

.admin__field.field-video_image,
.admin__field.field-video_small_image,
.admin__field.field-video_thumbnail,
.admin__field.field-video_swatch_image {
    margin-bottom: 20px !important;
}

.admin__field.field-new_video_disabled {
    margin-top: 32px !important;
}

.admin__field.field-video_image .admin__field-control {
    position: relative;
}

.admin__field.field-video_image .admin__field-control:after {
    content: 'Role';
    position: absolute;
    color: #000;
    width: 34px;
    height: 20px;
    left: 1px;
    top: -2px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.preview_hidden_image_input_button {
    display: none;
}

.video-item {
    position: relative;
}

.video-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/gallery-sprite.png) bottom left;
    width: 49px;
    height: 40px;
    z-index: 3;
    left: 0;
    top: 10px;
    margin: auto;
}

.mage-new-video-dialog #new_video_form {
    width: 65%;
    float: left;
}

.mage-new-video-dialog #video-player-preview-location {
    width: 34.99999%;
    float: left;
}

.video-player-container {
    width: 100%;
    height: 20vw;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    position: relative;
}

.video-player-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 93px;
    height: 60px;
    background: url(../images/camera.png) no-repeat center;
    z-index: 1;
}

.video-information {
    margin-bottom: 7px;
    display: none;
}

.video-information:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.video-information label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    width: 25%;
    float: left;
    text-align: right;
}

.video-information span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    width: 74.9999%;
    float: left;
    padding-left: 20px;
}

.product-video {
    width: 100%;
    z-index: 20;
    height: 100%;
    position: relative;
}

.image.video-placeholder > button[data-role="add-video-button"],
.image.video-placeholder > button {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    z-index: 10;
    position: relative;
}

.add-video-button-container {
    float: right;
    margin-bottom: 10px;
}

.admin__field.field.field-new_video_screenshot {
    margin-bottom: 5px;
}

.admin__field.field.field-new_video_screenshot_preview {
    margin-bottom: 50px;
}

.image .action-make-base:after {
    -webkit-font-smoothing: antialiased;
    font-size: 1.8rem;
    line-height: inherit;
    color: #9e9e9e;
    content: '\e63b';
    font-family: 'Admin Icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    position: absolute;
    top: -7px;
    left: -4px;
}

.image .action-make-base:hover:after {
    color: #7d7d7d;
}

.admin__scope-old .gallery .image .action-make-base {
    border: 0;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
    bottom: 9px;
    right: 9px;
    left: auto;
    background: transparent;
}

.image .action-make-base span {
    display: none;
}

.admin__scope-old .base-image .image-label {
    display: block;
}

.image.base-image:hover .image-label {
    display: none;
}
