/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

.image.video-placeholder {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.image.video-placeholder {
    background-color: #fff;
    font-size: 4rem;
    line-height: inherit;
    color: #ccc;
    overflow: hidden;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  position: relative;
}
.image.video-placeholder:before {
  background: url(../images/gallery-sprite.png) no-repeat left bottom;
  content: '';
  position: absolute;
  height: 49px;
  width: 49px;
  left: 50%;
  top: 18px;
  margin-left: -24px;
  opacity: 0.7;
  z-index: 1;
}
[data-role="add_video_button"] {
    border: none;
    width: 100%;
    height: 100%;
}
.video-placeholder .image-placeholder-text {
  font-weight: 400;
}
.admin__field.field-video_image .admin__field-control,
.admin__field.field-video_small_image .admin__field-control,
.admin__field.field-video_thumbnail .admin__field-control,
.admin__field.field-video_swatch_image .admin__field-control,
.admin__field.field-new_video_disabled .admin__field-control {
  width: 82px;
  margin-left: calc( (100%) * .33333333 - 30px );
}
.admin__field.field-video_image .admin__field-control input,
.admin__field.field-video_small_image .admin__field-control input,
.admin__field.field-video_thumbnail .admin__field-control input,
.admin__field.field-video_swatch_image .admin__field-control input,
.admin__field.field-new_video_disabled .admin__field-control input {
  float: right;
}
.admin__field.field-video_image .admin__field-label,
.admin__field.field-video_small_image .admin__field-label,
.admin__field.field-video_thumbnail .admin__field-label,
.admin__field.field-video_swatch_image .admin__field-label,
.admin__field.field-new_video_disabled .admin__field-label {
  width: 200px;
  position: absolute;
  margin-left: calc( (100%) * .33333333 - 30px + 90px );
}
.admin__field.field-video_image .admin__field-label span,
.admin__field.field-video_small_image .admin__field-label span,
.admin__field.field-video_thumbnail .admin__field-label span,
.admin__field.field-video_swatch_image .admin__field-label span,
.admin__field.field-new_video_disabled .admin__field-label span {
  float: left;
}
.admin__field.field-video_image,
.admin__field.field-video_small_image,
.admin__field.field-video_thumbnail,
.admin__field.field-video_swatch_image {
  margin-bottom: 20px !important;
}
.admin__field.field-new_video_disabled {
  margin-top: 32px !important;
}
.admin__field.field-video_image .admin__field-control {
  position: relative;
}
.admin__field.field-video_image .admin__field-control:after {
  content: 'Role';
  position: absolute;
  color: #000;
  width: 34px;
  height: 20px;
  left: 1px;
  top: -2px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.preview_hidden_image_input_button {
    display: none;
}
.video-item {
  position: relative;
}
.video-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0px;
  background: url(../images/gallery-sprite.png) bottom left;
  width: 49px;
  height: 40px;
  z-index: 1;
  left: 0;
  top: 10px;
  margin: auto;
}
.mage-new-video-dialog #new_video_form {
  width: 65%;
  float: left;
}
.mage-new-video-dialog #video-player-preview-location {
  width: 34.99999%;
  float: left;
}
.video-player-container {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  border: 1px solid #e3e3e3;
  position: relative;
}
.video-player-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 93px;
  height: 60px;
  background: url(../images/camera.png) no-repeat center;
  z-index: 1;
}
.video-information {
  margin-bottom: 7px;
  display: none;
}
.video-information:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.video-information label {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  width: 25%;
  float: left;
  text-align: right;
}
.video-information span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
  width: 74.9999%;
  float: left;
  padding-left: 20px;
}
.product-video {
  width: 100%;
  z-index: 20;
  height: 100%;
  position: relative;
}
.image.video-placeholder > button[data-role="add-video-button"] {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  z-index: 10;
  position: relative;
}
