<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<button type="button"
        css="buttonClasses"
        click="action"
        disable="disabled"
        attr="'data-index': index, 'aria-labelledby': ariLabelledby">
    <span attr="'id': buttonTextId" text="title"></span>
</button>

<if args="childError">
    <strong class="_error">
        <span class="admin__page-nav-item-messages">
            <span class="admin__page-nav-item-message _error">
                <span class="admin__page-nav-item-message-icon"></span>
                <span class="admin__page-nav-item-message-tooltip"
                      data-bind="i18n: 'This element contains invalid data. Please resolve this before saving.'">This element contains invalid data. Please resolve this before saving.</span>
            </span>
        </span>
    </strong>
</if>
