<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__field-control"
     visible="visible"
     css="$data.additionalClasses">
    <input type="hidden" class="colorpicker-spectrum" colorPicker="colorPickerConfig" disable="disabled" />
    <input type="text" class="admin__control-text colorpicker-input"
           ko-value="value" hasFocus="focused" disable="disabled"
           attr="name: inputName, id: uid, placeholder: placeholder"/>
</div>
