<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<select multiple class="control-select multiselect" data-bind="
    attr: {
        name: inputName,
        id: uid,
        size: size,
        disabled: disabled,
        'aria-describedby': noticeId,
        placeholder: placeholder
    },
    hasFocus: focused,
    optgroup: options,
    selectedOptions: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label'"
/>
