<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="checkout-agreements" data-bind="visible: isVisible">
    <!-- ko foreach: agreements -->
        <!-- ko if: ($parent.isAgreementRequired($data)) -->
        <input type="checkbox" name="agreement[]" id="agreement">
        <label for="agreement">
            <button type="button" class="action action-show"
                    data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                <span data-bind="html: checkboxText"></span>
            </button>
        </label>
        <!-- /ko -->
        <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <button type="button" class="action action-show"
                    data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                <span data-bind="html: checkboxText"></span>
            </button>
        <!-- /ko -->
        <br>
    <!-- /ko -->
    <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
        <div class="checkout-agreements-item-title" data-bind="html: modalTitle"></div>
        <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
    </div>
</div>
