<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<button
    class="adobe-sign-in-button"
    id="adobeImsSignIn"
    data-role="signInBtn"
    data-bind="click: login, visible: !user().isAuthorized"
    type="button">
    <span>Sign In</span>
</button>
<div class="adobe-user-information">
    <div class="admin__action-dropdown-wrap" data-bind="collapsible">
        <img class="adobe-profile-image-small"
             attr="src: user().image"
             data-bind="visible: user().isAuthorized"/>
        <button
            type="button"
            data-toggle="dropdown"
            class="adobe-user-name admin__action-dropdown"
            data-bind="visible: user().isAuthorized, toggleCollapsible">
            <span><!--ko text: user().name--><!--/ko--></span>
        </button>
        <ul class="admin__action-dropdown-menu adobe-user-popup" data-bind="visible: user().isAuthorized">
            <li>
                <img class="adobe-profile-image-large" attr="src: user().image">
            </li>
            <li class="adobe-user-info">
                <ul>
                    <li><!--ko text: user().name--><!--/ko--></li>
                    <li><!--ko text: user().email--><!--/ko--></li>
                    <li><a target="_blank" href="https://account.adobe.com/profile">Manage Account</a></li>
                </ul>
            </li>
            <li>
                <button
                        class="adobe-sign-out-button"
                        id="adobeImsSignOut"
                        data-bind="click: logout"
                        data-role="signOutBtn"
                        type="button">
                    <span>Sign Out</span>
                </button>
            </li>
        </ul>
    </div>
</div>
