<?xml version="1.0"?>
<!--
/**
 * Copyright 2013 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_GoogleOptimizer" >
        <sequence>
            <module name="Magento_GoogleAnalytics"/>
            <module name="Magento_GoogleGtag"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
