<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <remove id="Magento_Backend::system_currency" />
        <add id="Magento_CurrencySymbol::system_currency" title="Currency" translate="title" module="Magento_CurrencySymbol" sortOrder="30" parent="Magento_Backend::stores" resource="Magento_CurrencySymbol::system_currency" />
        <add id="Magento_CurrencySymbol::system_currency_rates" title="Currency Rates" translate="title" module="Magento_CurrencySymbol" sortOrder="10" parent="Magento_CurrencySymbol::system_currency" action="adminhtml/system_currency" resource="Magento_CurrencySymbol::currency_rates"/>
        <add id="Magento_CurrencySymbol::system_currency_symbols" title="Currency Symbols" translate="title" module="Magento_CurrencySymbol" sortOrder="20" parent="Magento_CurrencySymbol::system_currency" action="adminhtml/system_currencysymbol" resource="Magento_CurrencySymbol::symbols"/>
    </menu>
</config>
