{% if this.product.image != 'no_selection' and this.product.image %}
<p class="product-image product-image-zoom">
    {% set img = '<img id="image" src="' ~ helperImage.init(this.product, 'image') ~ '" alt="' ~ this.escapeHtml(this.imageLabel()) ~ '" title="' ~ this.escapeHtml(this.imageLabel()) ~ '" />' %}
    {{ helperOutput.productAttribute(this.product, img, 'image') | raw }}
</p>
<p class="zoom-notice" id="track-hint">{{ this.__('Double click on above image to view full picture') }}</p>
<div class="zoom">
    <img id="zoom-out" src="{{ this.getViewFileUrl('Mage_Catalog::images/slider_btn_zoom_out.gif') }}" alt="{{ this.__('Zoom Out') }}" title="{{ this.__('Zoom Out') }}" class="btn-zoom-out" />
    <div id="slider"></div>
    <img id="zoom-in" src="{{ this.getViewFileUrl('Mage_Catalog::images/slider_btn_zoom_in.gif') }}" alt="{{ this.__('Zoom In') }}" title="{{ this.__('Zoom In') }}" class="btn-zoom-in" />
</div>
<script type="text/javascript">
        head.js("{{ this.viewFileUrl('Mage_Catalog::js/zoom.js')}}", function() {
            jQuery('#image').zoom({
                sliderSelector: '#slider',
                zoomNoticeSelector: '#track-hint',
                zoomInSelector: '#zoom-in',
                zoomOutSelector: '#zoom-out'
            });
        });
</script>
{% else %}
<p class="product-image">
    {% set img = '<img src="' ~ this.baseImageUrl(this.product) ~ '" alt="' ~ this.escapeHtml(this.imageLabel) ~ '" title="' ~ this.escapeHtml(this.imageLabel) ~ '" />' %}
    {{ helperOutput.productAttribute(this.product, img, 'image') | raw }}
</p>
{% endif %}
{% if this.galleryImages is not empty %}
<div class="more-views">
    <h2>{{ this.__('More Views') }}</h2>
    <ul>
        {% set size = this.baseImageIconSize() %}
        {% for image in this.galleryImages %}
        <li>
            <a href="#" data-mage-init="{popupWindow: {windowURL:'{{ this.galleryUrl(image) }}',windowName:'gallery',width:300,height:300,status:1,scrollbars:1,resizable:1}}" title="{{ this.escapeHtml(image.label) }}"><img src="{{ helperImage.init(this.product, 'image', image.file).resize(size) }}" width="{{ size }}" height="{{ size }}" alt="{{ this.escapeHtml(image.label) }}"/></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
