<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- IFRAME for request to Payment Gateway -->
<iframe width="0" height="0" data-bind="src: getSource(), attr: {id: getCode() + '-transparent-iframe', 'data-container': getCode() + '-transparent-iframe'}" allowtransparency="true" frameborder="0"  name="iframeTransparent" style="display:none;width:100%;background-color:transparent"></iframe>
<form class="form" id="co-transparent-form" autocomplete="off" action="#" method="post" data-bind="mageInit: {
    'transparent':{
        'controller': getControllerName(),
        'gateway': getCode(),
        'orderSaveUrl':getPlaceOrderUrl(),
        'cgiUrl': getCgiUrl(),
        'dateDelim': getDateDelim(),
        'cardFieldsMap': getCardFieldsMap(),
        'nativeAction': getSaveOrderUrl(),
        'expireYearLength': getExpireYearLength()
    }, 'validation':[]}">
<!-- ko with: getCcFormView() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
</form>
<div class="checkout-agreements-block">
    <!-- ko foreach: $parent.getRegion('before-place-order') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
<div class="actions-toolbar" id="review-buttons-container">
    <div class="primary">
        <button data-role="review-save" type="submit"
                data-bind="attr: {title: $t('Place Order')}"
                class="button action primary checkout">
            <span data-bind="i18n: 'Place Order'"></span>
        </button>
        <button type="submit" id="originalPlaceOrder" class="hidden"
                data-bind="click: originalPlaceOrder($parents[1])"></button>
    </div>
    <div class="secondary">
        <span id="checkout-review-edit-label" data-bind="i18n: 'Forgot an Item?'"></span>
        <a data-bind="attr: {href: $parents[1].cartUrl}"
           aria-describedby="checkout-review-edit-label"
           class="action edit">
            <span data-bind="i18n: 'Edit Your Cart'"></span>
        </a>
    </div>
</div>
