<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace %moduleName%\Setup\Patch\%patchType%;

use Magento\Setup\Model\Patch\PatchVersionInterface;
use Magento\Setup\Model\Patch\DataPatchInterface;
use Magento\Setup\Model\Patch\SchemaPatchInterface;
use Magento\Setup\Model\Patch\PatchRevertableInterface;
use Magento\Framework\App\ResourceConnection;

/**
* Patch is mechanism, that allows to do atomic upgrade data changes
*/
class %class% implements
    %patchInterface%,
    PatchVersionInterface
{
    /**
     * @var ResourceConnection
     */
    private $resourceConnection;

    /**
     * @param ResourceConnection $resourceConnection
     */
    public function __construct(ResourceConnection $resourceConnection)
    {
        $this->resourceConnection = $resourceConnection;
    }

    /**
     * Do Upgrade
     *
     * @return void
     */
    public function apply()
    {
    }

    /**
     * {@inheritdoc}
     */
    public function getAliases()
    {
        return [];
    }

    /**
     * {@inheritdoc}
     */
    public static function getDependencies()
    {
        return [

        ];
    }

    /**
     * {@inheritdoc}
     */
    public function getVersion()
    {
        return '';
    }

}
