/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
.product-img-box .ui-slider-handle {
    background: url("images/magnifier_handle.gif") no-repeat scroll 0 0 transparent;
    height: 22px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 9px;
    margin-left: -5px;
}
.product-img-box .ui-slider {
    height: 20px;
    border: none;
    position: relative;
    background: none;
    z-index: 100;
}
#track .ui-slider-handle {
    top: 1px;
}
body .product-view .product-img-box .zoom {
    padding: 0 31px;
}