<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="opc-billing" class="section allow active" data-bind="visible: isActive()">
    <div class="step-title" data-role="title" data-bind="click: navigateToCurrentStep">
        <span class="number" data-bind="text: stepNumber()"></span>
        <h2 data-bind="text: $t('Checkout Method')"></h2>
    </div>
    <div id="checkout-step-authentication" class="step-content" data-role="content" data-bind="fadeVisible: isVisible()" >
        <div class="login-wrapper">
            <div class="block block-guest">
                <div class="block-title">
                    <strong id="block-guest-heading" role="heading" aria-level="2">
                    <!-- ko if: (isGuestCheckoutAllowed && isRegistrationAllowed)-->
                    <!--ko text: $t('Checkout as a Guest or Register')--><!--/ko-->
                    <!-- /ko -->
                    <!-- ko if: (isGuestCheckoutAllowed && !isRegistrationAllowed) -->
                    <!--ko text: $t('Checkout as a Guest')--><!--/ko-->
                    <!-- /ko -->
                    <!-- ko ifnot: ((isGuestCheckoutAllowed && isRegistrationAllowed) ||(isGuestCheckoutAllowed && !isRegistrationAllowed)) -->
                    <!--ko text: $t('Register to Create an Account')--><!--/ko-->
                    <!-- /ko -->
                    </strong>
                </div>
                <div class="block-content" aria-labelledby="block-guest-heading">
                    <!-- ko if: (!isGuestCheckoutAllowed && isRegistrationAllowed)-->
                        <p><strong><!-- ko text: $t('Register and save time!')--><!-- /ko --></strong><br />
                            <!-- ko text: $t('Register with us for future convenience:')--><!-- /ko -->
                        </p>
                        <ul>
                            <li data-bind="text: $t('Fast and easy check out')"></li>
                            <li data-bind="text: $t('Easy access to your order history and status')"></li>
                        </ul>
                    <!-- /ko -->
                    <p class="note" data-bind="visible: (isGuestCheckoutAllowed && isRegistrationAllowed), text: $t('Register with us for future convenience:')"></p>
                    <!-- ko if: (isGuestCheckoutAllowed)-->
                    <fieldset class="fieldset guest">
                        <div class="field choice">
                            <input type="radio" name="checkout_method" data-role="checkout-method-guest" id="login:guest" value="guest" checked="checked" class="radio"/>
                            <label class="label" for="login:guest"><span data-bind="text: $t('Checkout as Guest')"></span></label>
                        </div>
                        <div class="field choice" data-bind="visible: isRegistrationAllowed">
                            <input type="radio" name="checkout_method" data-role="checkout-method-register" id="login:register" value="register" data-bind="checked: isChecked" class="radio"/>
                            <label class="label" for="login:register"><span data-bind="text: $t('Register'), "></span></label>
                        </div>
                    </fieldset>
                    <!-- /ko -->
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button data-bind="visible: isGuestCheckoutAllowed, click: setCheckoutMethod" data-role="opc-continue" id="onepage-guest-register-button" type="button" class="action continue primary" data-checkout='{"isGuestCheckoutAllowed":true}'><span data-bind="text: $t('Continue')"></span></button>
                            <!-- ko ifnot: isGuestCheckoutAllowed -->
                                <!-- ko if: isCustomerLoginRequired -->
                                    <input type="checkbox" name="checkout_method" data-role="checkout-method-register" id="login:register" value="register" checked="checked" style="display: none"/>
                                    <button  data-bind="click: setCheckoutMethod"  data-role="opc-continue" id="onepage-guest-register-button" type="button" class="action register primary" data-checkout='{"isGuestCheckoutAllowed":false, "registrationUrl":"registerUrl"}'><span data-bind="text: $t('Register')"></span></button>
                                <!-- /ko -->
                                <!-- ko ifnot: isCustomerLoginRequired -->
                                    <input type="checkbox" name="checkout_method" data-role="checkout-method-register" id="login:register" value="register" checked="checked" style="display: none"/>
                                    <button  data-bind="click: setCheckoutMethod" data-role="opc-continue" id="onepage-guest-register-button" type="button" class="action register primary" data-checkout='{"isGuestCheckoutAllowed":true}'><span data-bind="text: $t('Register')"></span></button>
                                <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block-customer-login">
                <div class="block-title">
                    <strong id="block-customer-login-heading" role="heading" aria-level="2" data-bind="text: $t('Login')"></strong>
                </div>
                <div class="block-content" aria-labelledby="block-customer-login-heading">
                    <form class="form login" data-role="login"
                          data-bind="submit:login"
                          method="post"
                          data-mage-init='{"validation":{}}'>
                        <fieldset class="fieldset login">
                            <div class="field note" data-bind="text: $t('Already registered? Please log in below:')"></div>
                            <div class="field email required">
                                <label class="label" for="login-email"><span data-bind="text: $t('Email')"></span></label>
                                <div class="control">
                                    <input type="email" class="input-text" id="login-email" name="username" data-validate="{required:true, 'validate-email':true}" data-bind="value: username" />
                                </div>
                            </div>
                            <div class="field password required">
                                <label for="login-password" class="label"><span data-bind="text: $t('Password')"></span></label>
                                <div class="control">
                                    <input type="password" class="input-text" id="login-password" name="password" data-bind="value:password" data-validate="{required:true, 'validate-password':true}"/>
                                </div>
                            </div>
                            <!-- ko foreach: getRegion('additional-login-form-fields') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                            <!-- /ko -->
                            <div class="actions-toolbar">
                                <input name="context" type="hidden" value="checkout" />
                                <div class="primary">
                                    <button type="submit" class="action login primary" data-bind="click: login" data-action="checkout-method-login"><span data-bind="text: $t('Login')"></span></button>
                                </div>
                                <div class="secondary">
                                    <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                                        <span data-bind="text: $t('Forgot Your Password?')"></span>
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</li>
