<?php if ($_cartQty || $block->getAllowCartLink()): ?>
<div class="items-total">
    <span class="count"><?php echo $_cartQty; ?></span>
    <?php echo $block->getSummaryText($_cartQty); ?>
</div>
<?php $isPossibleOnepageCheckout = $_cartQty && $block->isPossibleOnepageCheckout() ?>
<?php if ($isPossibleOnepageCheckout): ?>
<?php echo $block->getChildHtml('subtotal'); ?>
<?php endif; ?>
<?php echo $block->getChildHtml('minicart_info') ?>
<div class="actions">
    <div class="primary">
        <?php if ($isPossibleOnepageCheckout): ?>
        <button
                id="top-cart-btn-checkout"
                type="button"
                class="action primary checkout"
                title="<?php echo $block->escapeHtml(__('Go to Checkout')); ?>">
            <span><?php echo __('Go to Checkout') ?></span>
        </button>
        <?php echo $block->getChildHtml('extra_actions') ?>
        <?php endif; ?>
    </div>
</div>
<?php endif ?>
