<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('progressBar') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- Temp MAGETWO-36025 markup -->
<div class="opc-estimated-wrapper">
    <div class="estimated-block">
        <span class="estimated-label" data-bind="text: $t('Estimated Total')"></span>
        <span class="estimated-price">$100.00</span>
    </div>
    <div class="minicart-wrapper">
        <a class="action showcart" href="javascript:void(0);">
            <span class="counter qty">
                <span class="counter-number">6</span>
            </span>
        </a>
    </div>
</div>
<!-- /Temp MAGETWO-36025 markup -->

<!-- ko foreach: getRegion('errors') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="opc-wrapper">
    <ol class="opc" id="checkoutSteps">
    <!-- ko foreach: getRegion('steps') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    </ol>
</div>

<div class="opc-sidebar">
    <div class="opc-block-summary">
        <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="opc-block-progress-wrapper">
        <!-- ko foreach: getRegion('progress') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
