<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
    <div data-bind = "attr: {'class': getClassName()}">
    <div class="title">
        <strong data-bind="text: $t('Your Checkout Progress')"></strong>
    </div>
    <div class="content">
        <dl class="items">
            <!-- ko if: isShowStep('billingAddress') -->
            <!-- ko if: isStepComplete('billingAddress') -->
            <dt class="item-title complete">
                <span id="billing-address-label" data-bind="text: $t('Billing Address')"></span>
                <a href="#billing"
                   data-goto-section="billing"
                   class="action billing"
                   aria-describedby="billing-address-label" data-bind="text: $t('Change'), click: goToStep('billingAddress')">
                </a>
            </dt>
            <dd class="item-content complete">
                <address data-bind="html:getBillingAddress()"></address>
            </dd>
            <!--/ko-->
            <!-- ko ifnot: isStepComplete('billingAddress') -->
            <dt class="item-title" data-bind="text: $t('Billing Address')"></dt>
            <!--/ko-->
            <!--/ko-->

            <!-- ko if: isShowStep('shippingAddress') -->
            <!-- ko if: isStepComplete('shippingAddress') -->
            <dt class="item-title complete">
                <span id="shipping-address-label" data-bind="text: $t('Shipping Address')"></span>
                <a href="#payment"
                   data-goto-section="shipping"
                   class="action shipping address"
                   aria-describedby="shipping-address-label" data-bind="text:$t('Change'), click: goToStep('shippingAddress')">
                </a>
            </dt>
            <dd class="item-content complete">
                <address data-bind="html:getShippingAddress()"></address>
            </dd>
            <!--/ko-->
            <!-- ko ifnot: isStepComplete('shippingAddress') -->
            <dt class="item-title">
                <span data-bind="text:$t('Shipping Address')"></span>
            </dt>
            <!--/ko-->
            <!--/ko-->

            <!-- ko if: isShowStep('shippingMethod') -->
            <!-- ko if: isStepComplete('shippingMethod') -->
            <dt class="item-title complete">
                <span id="shipping-method-label" data-bind="text:$t('Shipping Method')"></span>
                <a href="#shipping_method"
                   data-goto-section="shipping_method"
                   class="action shipping method"
                   aria-describedby="shipping-method-label" data-bind="text:$t('Change'), click: goToStep('shippingMethod')">
                </a>
            </dt>
            <dd class="item-content complete">
                <!--<?php if ($block->getShippingMethod()): ?>-->

                <!-- ko text: getShippingMethodTitle() --><!--/ko-->

                <!--shipping method price rendering-->

                <!-- ko foreach: {data: getShippingRates(), as: 'item'} -->
                    <!-- ko foreach: $parent.getRegion('shipping') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                <!--/ko-->

                <!-- ko ifnot : (getShippingRates().length > 0) -->
                <!-- ko text: $t('Please choose a shipping method.') --><!--/ko-->
                <!--/ko-->
            </dd>
            <!--/ko-->
            <!-- ko ifnot: isStepComplete('shippingMethod') -->
            <dt class="item-title">
                <span data-bind="text:$t('Shipping Method')"></span>
            </dt>
            <!--/ko-->
            <!--/ko-->

            <!-- ko if: isShowStep('paymentMethod') -->
            <!-- ko if: isStepComplete('paymentMethod') -->
            <dt class="item-title complete">
                <span id="payment-method-label" data-bind="text:$t('Payment Method')"></span>
                <a href="#payment"
                   data-goto-section="payment"
                   class="action payment method"
                   aria-describedby="payment-method-label" data-bind="text:$t('Change'), click: goToStep('paymentMethod')">
                </a>
            </dt>
            <dd class="item-content complete">
                <dl class="payment-method">
                    <dt class="title"><!-- ko text: getPaymentMethodTitle() --><!--/ko--></dt>
                    <dd class="content">
                        <!-- ko if: getPaymentMethodInfo().length > 0 -->
                        <table class="data table">
                            <tbody data-bind="foreach: {data: getPaymentMethodInfo(), as: 'item'}">
                            <!-- ko if: item.name && (item.value || item.html) -->
                            <tr>
                                <th scope="row" data-bind="html: $t(item.name)"></th>
                                <!-- ko if: item.value -->
                                <td data-bind="text: $t(item.value)"></td>
                                <!--/ko-->
                                <!-- ko if: !item.value && item.html -->
                                <td data-bind="html: $t(item.html)"></td>
                                <!--/ko-->
                            </tr>
                            <!--/ko-->
                            <!-- ko if: item.name && !item.value && !item.html -->
                            <tr>
                                <th colspan="2" scope="row"><!-- ko text: $t(item.name) --><!--/ko--></th>
                            </tr>
                            <!--/ko-->
                            <!-- ko if: !item.name && (item.value || item.html) -->
                            <tr>
                                <!-- ko if: item.value -->
                                <td colspan="2" data-bind="text: $t(item.value)"></td>
                                <!--/ko-->
                                <!-- ko if: !item.value && item.html -->
                                <td colspan="2" data-bind="html: $t(item.html)"></td>
                                <!--/ko-->
                            </tr>
                            <!--/ko-->
                            </tbody>
                        </table>
                        <!--/ko-->
                    </dd>
                </dl>
            </dd>
            <!--/ko-->
            <!-- ko ifnot: isStepComplete('paymentMethod') -->
            <dt class="item-title">
                <span data-bind="text:$t('Payment Method')"></span>
            </dt>
            <!--/ko-->
            <!--/ko-->
        </dl>
    </div>
</div>
