<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="opc-review" data-bind="attr: {'class': stepClassAttributes() }" role="presentation">
    <div class="step-title" data-role="title">
        <span class="number" data-bind="text: stepNumber()"></span>
        <h2 data-bind="text: $t('Order Review')"></h2>
    </div>
    <div id="checkout-step-review"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false"
         data-bind="fadeVisible: isVisible() && quoteHasPaymentMethod()">
        <div class="order-review" id="checkout-review-load">
            <!-- ko foreach: getRegion('itemsBefore') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div id="checkout-review-table-wrapper" class="order-review-wrapper table-wrapper">
                <table class="data table table-order-review items" id="checkout-review-table">
                    <caption class="table-caption" data-bind="text: $t('Order Review')"></caption>
                    <thead>
                        <tr>
                            <!-- ko foreach: getRegion('columns') -->
                                <!-- ko foreach: elems() -->
                                    <th class="col" scope="col" data-bind=" text: $t(getColName()) , attr: { class: getHeaderClass() }" ></th>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: {data: getItems(), as: 'item'} -->
                        <tr>
                            <!-- ko foreach: $parent.getRegion('columns') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                            <!-- /ko -->
                        </tr>
                    <!-- /ko -->
                    </tbody>
                    <tfoot>
                    <!-- ko foreach: getRegion('totals') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                    </tfoot>
                </table>
            </div>
            <!-- ko foreach: getRegion('itemsAfter') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div id="checkout-review-submit" data-mage-init='{"paymentAuthentication":{}}' class="checkout-submit-order">
                <!-- ko foreach: getRegion('beforePlaceOrder') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
                <!-- ko foreach: getRegion('actions') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</li>
