<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="opc-shipping" data-bind="fadeVisible: isActive()">
    <div class="step-title" data-role="title">
        <h2 data-bind="text: $t('Shipping Information')"></h2>
    </div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content"
         data-bind="fadeVisible: isVisible()">
        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <input type="button" data-bind="click: showFormPopUp, value: $t('New Address'), visible: !isNewAddressAdded()" />
        <div data-bind="fadeVisible: isFormPopUpVisible">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
            <input type="button" data-bind="click: saveNewAddress, value: $t('Save Address')" />
            <input type="button" data-bind="click: hideFormPopUp, value: $t('Cancel')" />
        </div>
        <!-- /ko -->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>
