<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <b><span data-bind="text: $t('Ship To')"></span></b>
        <a href="#" data-bind="click: back, text: $t('edit')"></a>
        <br>
        <!-- ko text: shippingAddress().firstname --><!-- /ko --> <!-- ko text: shippingAddress().lastname --><!-- /ko --><br/>
        <!-- ko text: shippingAddress().street --><!-- /ko --><br/>
        <!-- ko text: shippingAddress().city --><!-- /ko -->, <!-- ko text: shippingAddress().region --><!-- /ko --> <!-- ko text: shippingAddress().postcode --><!-- /ko --><br/>
        <!-- ko text: getCountryName(shippingAddress().countryId) --><!-- /ko --><br/>
        <!-- ko text: shippingAddress().telephone --><!-- /ko --><br/>
    </div>
    <br>
    <div class="ship-via">
        <b><span data-bind="text: $t('Ship Via')"></span></b>
        <a href="#" data-bind="click: back, text: $t('edit')"></a>
        <br>
        <span class="value" data-bind="text: $t(getShippingMethodTitle())"></span>
    </div>
</div>
<!--/ko-->
