<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="text: $t('Ship To')"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="text: $t('edit')"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="text: $t('Ship Via')"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="text: $t('edit')"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <span class="value" data-bind="text: $t(getShippingMethodTitle())"></span>
        </div>
    </div>
</div>
<!--/ko-->
