<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="opc-shipping_method" data-bind="fadeVisible: isActive(), attr: {'class': stepClassAttributes() }" role="presentation">
    <div class="step-title" data-role="title" data-bind="click: navigateToCurrentStep">
        <span class="number" data-bind="text: stepNumber()"></span>
        <h2 data-bind="text: $t('Shipping Method')"></h2>
    </div>
    <div id="checkout-step-shipping_method"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false"
         data-bind="fadeVisible: isVisible() && quoteHasShippingAddress()">
        <!-- ko if: rates().length == 0 -->
        <!-- ko text: $t('Sorry, no quotes are available for this order.')--><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: rates().length  -->
        <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingMethod" novalidate="novalidate">
            <div id="checkout-shipping-method-load">
                <dl class="items methods-shipping">
                    <!--ko foreach: { data: rates(), as: 'method'}-->
                    <dt data-bind="text: $t(method.carrier_title), attr: {'class': 'item-title ' + method.carrier_code}"></dt>
                    <dd data-bind="attr: {'class': 'item-content ' + method.carrier_code}">
                        <fieldset class="fieldset">
                            <legend class="legend"><span data-bind="text: $t(method.carrier_title)"></span></legend>
                            <br>
                            <!--ko foreach: { data: items, as: 'item'}-->
                            <div class="field choice">
                                <!-- ko if:  item.error_message -->
                                <div class="message error">
                                    <div data-bind="text: $t(item.error_message)"></div>
                                </div>
                                <span class="no-display">
                                    <input name="shipping_method" type="radio" data-bind="attr: {'value' : item.method_code, 'id': 's_method_' + item.method_code}"/>
                                </span>
                                <!-- /ko -->
                                <!-- ko ifnot: item.error_message -->
                                <!-- ko if: $parent.items.length && $parents[1].rates().length == 1 -->
                                <span class="no-display">
                                    <input data-bind="attr: {'value' : item.carrier_code + '_' + item.method_code, 'id': 's_method_' + item.method_code}"
                                           name="shipping_method" class="radio" type="radio" checked="checked"/>
                                    </span>
                                <!-- /ko -->
                                 <!--ko ifnot: ($parent.items.length && $parents[1].rates().length == 1)-->
                                <div class="control">
                                    <input name="shipping_method" type="radio"
                                           data-bind="checked:$parents[1].verifySelectedMethodCode(item.carrier_code + '_' + item.method_code), attr: {'value': item.carrier_code + '_' + item.method_code, 'id': 's_method_' + item.carrier_code + '_' + item.method_code}"
                                           class="radio"/>
                                </div>
                                 <!--/ko-->
                                <label class="label" data-bind="attr: {'for': 's_method_' + item.carrier_code + '_' + item.method_code}">
                                    <span>
                                        <!-- ko text: $t(item.method_title) --><!-- /ko -->
                                        <!-- ko foreach: $parents[1].getRegion('price') -->
                                            <!-- ko template: getTemplate() --><!-- /ko -->
                                    <!-- /ko -->
                                    </span>
                                </label>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </fieldset>
                    </dd>

                    <!-- /ko -->
                </dl>

            </div>

            <div id="onepage-checkout-shipping-method-additional-load">
                <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="actions-toolbar" id="shipping-method-buttons-container">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko text: $t('Continue')--><!-- /ko --></span>
                    </button>
                </div>
                <div class="secondary">
                    <a class="action back" href="#" data-bind="click: backToShippingAddress">
                        <span><!-- ko text: $t('Back')--><!-- /ko --></span>
                    </a>
                </div>
            </div>
        </form>
        <!-- /ko -->
        </div>
</li>
