<li id="opc-shipping" class="section allow active">
    <div class="step-title" data-role="title">
        <span class="number">3</span>
        <h2>Shipping Information</h2>
    </div>
    <div id="checkout-step-shipping" class="step-content" data-role="content">
        <form class="form shipping address" id="co-shipping-form" data-hasrequired="* Required Fields">
            <div class="field addresses">
                <label class="label" for="shipping:address-select"><span>Select a shipping address from your address book or enter a new address.</span></label>
                <div class="control">
                    <select name="shipping_address_id" id="shipping:address-select" data-bind="options: addresses, optionsText: function(item) { return item.getFullName(); }, optionsValue: 'customerAddressId', value: selectedAddressId"></select>
                </div>
            </div>
            <div class="choice field">
                <input type="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing" value="1" checked="checked" class="checkbox" data-bind="checked: sameAsBilling"/>
                <label class="label" for="shipping:same_as_billing"><span>Use Billing Address</span></label>
            </div>
            <div class="actions-toolbar" id="shipping-buttons-container">
                <div class="primary">
                    <button data-role="opc-continue" type="button" class="action continue primary" data-bind="click: selectShippingAddress"><span>Continue</span></button>
                </div>
                <div class="secondary"><a href="#" class="action back"><span>Back</span></a></div>
            </div>
        </form>
    </div>
</li>
