<li id="opc-shipping_method" class="section allow active" data-bind="fadeVisible: isActive()">
    <div class="step-title" data-role="title">
        <span class="number" data-bind="text: stepNumber()"></span>
        <h2>Shipping Method</h2>
    </div>
    <div id="checkout-step-shipping_method"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false"
         data-bind="fadeVisible: isVisible() && quoteHasShippingAddress()">
        <!-- ko if: rates().length == 0 -->
        Sorry, no quotes are available for this order at this time
        <!-- /ko -->
        <!-- ko if: rates().length  -->
        <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingMethod" novalidate="novalidate">
            <div id="checkout-shipping-method-load">
                <dl class="items methods-shipping">
                    <!--ko foreach: { data: rates(), as: 'method'}-->
                    <dt data-bind="text: method.carrier_title, attr: {'class': 'item-title ' + method.carrier_code}"></dt>
                    <dd data-bind="attr: {'class': 'item-content ' + method.carrier_code}">
                        <fieldset class="fieldset">
                            <legend class="legend"><span data-bind="text: method.carrier_title"></span></legend>
                            <br>
                            <!--ko foreach: { data: items, as: 'item'}-->
                            <div class="field choice">
                                <!-- ko if:  item.error_message -->
                                <div class="message error">
                                    <div data-bind="text: item.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input name="shipping_method" type="radio" data-bind="attr: {'value' : item.method_code, 'id': 's_method_' + item.method_code}"/>
                                </span>
                                <!-- /ko -->
                                <!-- ko ifnot: item.error_message -->
                                <!-- ko if: $parent.items.length && $parents[1].rates().length == 1 -->
                                <span class="no-display">
                                    <input data-bind="attr: {'value' : item.carrier_code + '_' + item.method_code, 'id': 's_method_' + item.method_code}"
                                           name="shipping_method" class="radio" type="radio" checked="checked"/>
                                    </span>
                                <!-- /ko -->
                                 <!--ko ifnot: ($parent.items.length && $parents[1].rates().length == 1)-->
                                <div class="control">
                                    <input name="shipping_method" type="radio"
                                           data-bind="checked:$parents[1].verifySelectedMethodCode(item.method_code, item.carrier_code + '_' + item.method_code), attr: {'value': item.carrier_code + '_' + item.method_code, 'id': 's_method_' + item.carrier_code + '_' + item.method_code}"
                                           class="radio"/>
                                </div>
                                 <!--/ko-->
                                <label class="label" data-bind="attr: {'for': 's_method_' + item.carrier_code + '_' + item.method_code}">
                                    <span  data-bind="text:item.method_title"></span>
                                    <span class="price">
                                        <span class="price" data-bind="text: $parents[1].getFormatedPrice(item.amount)"></span>
                                    </span>
                                </label>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </fieldset>
                    </dd>

                    <!-- /ko -->
                </dl>

            </div>

            <div id="onepage-checkout-shipping-method-additional-load">
                <!-- ko foreach: elems() -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="actions-toolbar" id="shipping-method-buttons-container">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span>Continue</span>
                    </button>
                </div>
                <div class="secondary">
                    <a class="action back" href="#" data-bind="click: backToShippingAddress">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </form>
        <!-- /ko -->
        </div>
</li>
