/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.swatch_submenu_container {
    position: absolute;
    z-index: 9999;
    width: 140px;
}

.swatch_row {
    padding: 5px;
    background-color: #fbfaf6;
    position: relative;
    height: 30px;
    overflow: hidden;
}

.swatch_row_name {
    position: absolute;
    background-color: #fbfaf6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.swatch_row_name p {
    padding-top: 10px;
}

.ui-sortable .col-default div[id*="swatch_window_option"] {
    border: 1px solid #c6c5c3 !important;
    cursor: pointer;
    overflow: visible !important;
    position: relative;
    width: 25px !important;
    height: 24px !important;
}
.ui-sortable .col-default div[id*="swatch_window_option"]:after {
    position: absolute;
    content: '\2193';
    top: -5px;
    font-size: 19px;
    color: gray;
    right: -22px;
    width: 16px;
    height: 32px;
    background: #fff;
    border-radius: 0 3px 3px 0;
    border: 1px solid rgb(173, 173, 173);
    z-index: 8;
}
.ui-sortable .col-default div[id*="swatch_window_option"]:before {
    position: absolute;
    content: '';
    top: -4px;
    font-size: 19px;
    color: gray;
    left: -4px;
    width: 27px;
    height: 26px;
    background: transparent;
    border-radius: 3px 0 0 3px;
    border: 3px solid rgb(255, 255, 255);
    z-index: 1;
    outline: 1px solid rgb(173, 173, 173);
}
.ui-sortable .col-default div[id*="swatch_container_option"] {
    border: 1px solid rgb(173, 173, 173) !important;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.22);
}
.ui-sortable .col-default div[id*="swatch_container_option"] .swatch_row {
    border: 0 !important;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3 !important;
}
.ui-sortable .col-default div[id*="swatch_container_option"] .swatch_row:first-child {
    border-radius: 5px 0 0 0;
}
.ui-sortable .col-default div[id*="swatch_container_option"] .swatch_row:last-child {
    border-bottom: 0 !important;
    border-radius: 0 0 5px 5px;
}
.ui-sortable .col-default div[id*="swatch_container_option"] .swatch_row .swatch_row_name p {
    padding-left: 12px;
}
.ui-sortable .col-default div[id*="swatch_container_option"] .swatch_row .swatch_row_name {
    background: #fff !important;
}
.ui-sortable .col-default div[id*="swatch_container_option"] .swatch_row:hover .swatch_row_name {
    background: #FBFAF6 !important;
}
.swatch_submenu_container {
    margin-left: -94px;
    top: 37px;
}
.swatch_submenu_container:after {
    width: 16px;
    background: #fff;
    height: 3px;
    top: -3px;
    right: 0px;
    content: '';
    position: absolute;
}
.col-default[class*="swatch-window-col"] {
    position: relative;
}
.col-default[class*="swatch-window-col"].unavailable:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: red;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 5;
    left: 3px;
    top: 20px;
}
.colorpicker {
    z-index: 9999;
}
.attribute-popup-actions {
    z-index: 15;
}
