
.toolbar {
    &.wishlist-toolbar{
        .limiter {
            float: right;
        }
        .main .pages {
            display: inline-block;
            z-index: 0;
            position: relative;
        }
        .toolbar-amount, .limiter {
            z-index: 1;
            display: inline-block;
        }
    }
}
