<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GraphQl\Model\Type\HandlerConfig">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="Product" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\Product</item>
                <item name="SimpleProduct" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\SimpleProduct</item>
                <item name="Products" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\Products</item>
                <item name="ProductAttributeSearchCriteria" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\ProductAttributeSearchCriteria</item>
                <item name="ProductSort" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\ProductSort</item>
                <item name="ProductPrice" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\ProductPrice</item>
                <item name="Price" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\Price</item>
                <item name="Money" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\Money</item>
                <item name="Currency" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\Currency</item>
                <item name="PriceAdjustment" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\PriceAdjustment</item>
                <item name="PriceAdjustmentCodes" xsi:type="string">Magento\GraphQlCatalog\Model\Type\Handler\PriceAdjustmentCodes</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\GraphQl\Model\QueryConfig">
        <arguments>
            <argument name="queryStructure" xsi:type="array">
                <item name="products" xsi:type="array">
                    <item name="type" xsi:type="string">Products</item>
                    <item name="resolver" xsi:type="object">Magento\GraphQlCatalog\Model\Resolver\Products</item>
                    <item name="args" xsi:type="array">
                        <item name="search" xsi:type="string">String</item>
                        <item name="filter" xsi:type="string">ProductAttributeSearchCriteria</item>
                        <item name="pageSize" xsi:type="string">Int</item>
                        <item name="currentPage" xsi:type="string">Int</item>
                        <item name="sort" xsi:type="string">ProductSort</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\GraphQl\Model\FieldConfig">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="products" xsi:type="array">
                    <item name="filter" xsi:type="array">
                        <item name="valueParser" xsi:type="object">Magento\GraphQlCatalog\Model\Resolver\Products\FilterArgument\ValueParser</item>
                    </item>
                    <item name="pageSize" xsi:type="array">
                        <item name="defaultValue" xsi:type="string">20</item>
                    </item>
                    <item name="currentPage" xsi:type="array">
                        <item name="defaultValue" xsi:type="string">1</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\FormatterComposite">
        <arguments>
            <argument name="formatterInstances" xsi:type="array">
                <item name="productDataGetter" xsi:type="object">Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\ProductDataGetter</item>
                <item name="customAttributes" xsi:type="object">Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\CustomAttributes</item>
                <item name="entityIdToId" xsi:type="object">Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\EntityIdToId</item>
                <item name="mediaGalleryEntries" xsi:type="object">\Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\MediaGalleryEntries</item>
                <item name="options" xsi:type="object">\Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\Options</item>
                <item name="price" xsi:type="object">\Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\Price</item>
                <item name="tierPrices" xsi:type="object">\Magento\GraphQlCatalog\Model\Resolver\Products\DataProvider\Product\Formatter\TierPrices</item>
            </argument>
        </arguments>
    </type>
</config>
