<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<address>
    <each args="{
        data: formatPreviews([
            'prefix firstname middlename lastname suffix',
            'company',
            'street',
            {
                items: 'city region_id region_id_input postcode',
                separator: ', '
            },
            'country_id',
            {
                items: 'telephone',
                prefix: 'T: '
            },
            {
                items: 'fax',
                prefix: 'F: '
            },
            {
                items: 'vat_id',
                prefix: 'VAT: '
            }
        ]),
        as: '$preview'}"
    >

        <if args="$parent.hasPreview($preview)">
            <span text="$parent.buildPreview($preview)"></span><br />
        </if>
    </each>

    <if args="noPreview">
        <span text="label"></span><br />
    </if>
</address>
