// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Paths
//  ---------------------------------------------

@baseDir: '../';

//
//  Typography
//  ---------------------------------------------

@base__line-height: 1.4;
@letter-spacing__medium: .05em;
@letter-spacing__small: .025em;
@paragraph__indent-bottom: 1em;

//
//  Structure
//  ---------------------------------------------

@body__background-color: @color-white;
@text__color: @color-gray20;

//
//  Forms
//  ---------------------------------------------

@checkbox-icon__content: @icon-check-mage__content;
@checkbox-check__font-size: 1.2rem;
@checkbox-check__line-height: 1.2;

//
//  Tables
//  ---------------------------------------------

@table__color: @color-very-dark-gray-black;
