<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="filters">
    <button class="action filters-toggle" data-bind="click: toggle, css: { active: isVisible }">
        <span data-bind="text: $t('Filter')"></span>
    </button>
    <div class="form filters-form" data-bind="visible: isVisible" data-part="filter-form">
        <fieldset class="filters-fieldset fieldset">
            <legend class="legend filters-legend">
                <span data-bind="text: $t('Advanced filter')"></span>
            </legend><br />
            <!-- ko foreach: { data: filters, as: 'item' } -->
            <!-- ko template: item.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </fieldset>
        <div class="actions filters-actions">
            <button class="action secondary action-reset" data-bind="click: reset" type="button"><span data-bind="text: $t('Reset')"></span></button>
            <button class="action primary action-apply" data-bind="click: apply" type="button"><span data-bind="text: $t('Apply')"></span></button>
            <button class="action secondary action-close" data-bind="click: close" type="button"><span data-bind="text: $t('Close')"></span></button>
        </div>
    </div>
    <div class="filters-current" data-bind="css: {active: active().length}">
        <ul class="filters-items items">
            <!-- ko foreach: { data: active, as: 'filter' } -->

            <li class="filters-item item">
                <strong class="item-label" data-bind="text: $t(filter.label)"></strong>
                <span class="item-value" data-bind="text: $t(filter.output)"></span>
                <button data-bind="click: $parent.onClear(filter)" type="button" class="action action-remove"><span data-bind="text: $t('Remove')"></span></button>
            </li>

            <!-- /ko -->
        </ul>
        <button data-bind="click: reset" class="action action-clear">
            <span data-bind="text: $t('Clear all')"></span>
        </button>
    </div>
</div>
