<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

{{template config_path="design/email/header_template"}}

                                <h1>Dear {{var user.name}},</h1>
                                <p>There was recently a request to change the password for your account.</p>
                                <p>If you requested this password change, please click on the following link to reset your password: <a href="{{store url="admin/auth/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}">{{store url="admin/auth/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}</a></p>
                                <p>If clicking the link does not work, please copy and paste the URL into your browser instead.</p>
                                <br />
                                <p>If you did not make this request, you can ignore this message and your password will remain the same.</p>

{{template config_path="design/email/footer_template"}}
