// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.admin__field-is-downloaodable {
    margin-bottom: @indent__l;
}

//
//  File uploads dynamic control
//  ---------------------------------------------

.downloadable-form {
    .admin__legend {
        font-size: 1.8rem;

        + .note {
            margin-bottom: @indent__l;
        }
    }

    .admin__control-table {
        th {
            padding-bottom: 1.3rem;
            vertical-align: top;
        }

        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 0;
                    }
                }
            }
        }

        td {
            vertical-align: top;

            &.col-sort {
                padding-right: 15px;
                width: 15px;
            }
        }
    }

    th {
        &.col-sort {
            span {
                display: none;
            }
        }
    }

    td {
        &.col-actions-add {
            background: @page-wrapper__background-color;
            padding: 0;
        }
    }

    .col-actions {
        width: 15px;
    }

    .draggable-handle {
        &:extend(.abs-draggable-handle all);
        margin-top: .3rem;
    }

    &.admin__fieldset { // ToDo UI: remove with .admin__scope-old
        .draggable-handle {
            background: none;
            height: inherit;
            line-height: inherit;
        }
    }

    .action-delete {
        margin-top: .4rem;
        padding: 0;

        &:before {
            color: @color-gray60;
            font-size: 1.8rem;
        }
    }

    .action-add {
        &:extend(.action-tertiary all);
        padding: @indent__xs 0 0;
    }

    .admin__field-file-url {
        padding-left: 2.6rem;

        .admin__field-label {
            span {
                display: none;
            }
        }

        .admin__field-label {
            margin-left: -2.6rem;
        }
    }

    .admin__field-uploader {
        display: inline-block;
        margin-left: @indent__xs;
        vertical-align: top;
    }

    .fileinput-button {
        color: @link__color;
        cursor: pointer;
        display: inline-block;

        &:hover {
            color: @link__hover__color;
            text-decoration: underline;
        }
    }

    .file-info-size {
        font-size: 1.2rem;
    }

    .note {
        margin-top: .8rem;
    }

    &.admin__fieldset { // ToDo UI: remove after admin__scope-old class removal for the product page
        padding: 0;

        .admin__control-radio {
            position: absolute;
        }
    }
}

@-moz-document url-prefix() { // Firefox fieldset overflow bug fix: horizontal scroll for the table does not appear
    .downloadable-form {
        display: table-column;
    }
}

.admin__dynamic-rows {
    &.admin__control-table {
        .file-uploader-filename {
            max-width: 170px;
        }
    }
}
