<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\Asset\ConfigInterface" type="Magento\Core\Model\Asset\Config" />
    <preference for="Magento\Framework\App\Config\Resource\ConfigInterface" type="Magento\Core\Model\Resource\Config" />
    <type name="Magento\Core\Model\Layout\Merge">
        <arguments>
            <argument name="fileSource" xsi:type="object">Magento\Framework\View\Layout\File\Collector\Aggregated\Proxy</argument>
            <argument name="pageLayoutFileSource" xsi:type="object">pageLayoutFileCollectorAggregated</argument>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Layout</argument>
        </arguments>
    </type>
    <type name="Magento\Core\Model\Resource\Layout\Update">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Layout</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Config\Initial\SchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Magento_Core</argument>
        </arguments>
    </type>
    <type name="Magento\Core\App\Router\Base">
        <arguments>
            <argument name="routerId" xsi:type="string">standard</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Router\NoRouteHandlerList">
        <arguments>
            <argument name="handlerClassesList" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Core\App\Router\NoRouteHandler</item>
                    <item name="sortOrder" xsi:type="string">100</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\DB\Helper">
        <arguments>
            <argument name="modulePrefix" xsi:type="string">core</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="confPathToMapFile" xsi:type="string">app/etc/aliases_to_classes_map.json</argument>
            <argument name="resourceName" xsi:type="string">core_setup</argument>
            <argument name="moduleName" xsi:type="string">Magento_Core</argument>
            <argument name="connectionName" xsi:type="string">\Magento\Framework\Module\Updater\SetupInterface::DEFAULT_SETUP_CONNECTION</argument>
        </arguments>
    </type>
    <type name="Magento\Core\Helper\File\Storage">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Core\Model\File\Storage\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Core\Helper\File\Storage\Database">
        <arguments>
            <argument name="fileStorage" xsi:type="object">Magento\Core\Model\File\Storage\File\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\Action">
        <plugin name="designLoader" type="Magento\Core\App\Action\Plugin\Design" sortOrder="30"/>
    </type>
    <virtualType name="Magento\Core\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">core</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">Magento\Core\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Asset\MergeService">
        <plugin name="cleanMergedJsCss" type="Magento\Core\Model\Asset\Plugin\CleanMergedJsCss"/>
    </type>
    <type name="Magento\Framework\Stdlib\DateTime\Timezone">
        <arguments>
            <argument name="defaultTimezonePath" xsi:type="const">Magento\Core\Helper\Data::XML_PATH_DEFAULT_TIMEZONE</argument>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Locale\Resolver">
        <plugin name="initLocale" type="Magento\Framework\Translate\Locale\Resolver\Plugin" sortOrder="10"/>
        <arguments>
            <argument name="defaultLocalePath" xsi:type="const">Magento\Core\Helper\Data::XML_PATH_DEFAULT_LOCALE</argument>
            <argument name="scopeType" xsi:type="const">Magento\Framework\Store\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Config\Value">
        <arguments>
            <argument name="resource" xsi:type="object">Magento\Core\Model\Resource\Config\Data</argument>
            <argument name="resourceCollection" xsi:type="object">Magento\Core\Model\Resource\Config\Data\Collection\Proxy</argument>
        </arguments>
    </type>
</config>
