<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_LoginAsCustomer::login_log" title="Login As Customer Log" module="Magento_LoginAsCustomer" parent="Magento_Customer::customer" sortOrder="40"  resource="Magento_LoginAsCustomer::login_log" action="loginascustomer/login/" />
    </menu>
</config>
