// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @icons__font-name,
        @font-path: @icons__font-path,
        @font-weight: normal,
        @font-style: normal,
        @font-display: block
    );
}
