<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">
    <install host="127.0.0.1" user="root" password="123123q" dbName="default" baseUrl="http://127.0.0.1/magento2/" backendName="backend"/>
    <application reopenBrowser="testCase" backendLogin="admin" backendPassword="123123q" appBackendUrl="http://magento.dev/backend/" backendLoginUrl="admin"/>
</config>
