<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\MediaGalleryUi\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="content_status" xsi:type="object">Magento\MediaContentUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus</item>
                <item name="store_id" xsi:type="object">Magento\MediaContentUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\StoreView</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\MediaContentUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\ContentStatus">
        <arguments>
            <argument name="getAssetIdByContentStatus" xsi:type="object">Magento\MediaContent\Model\GetAssetIdByContentStatusComposite</argument>
        </arguments>
    </type>
    <type name="Magento\MediaContentUi\Model\SearchCriteria\CollectionProcessor\FilterProcessor\StoreView">
        <arguments>
            <argument name="getAssetIdByContentStatus" xsi:type="object">Magento\MediaContent\Model\GetAssetIdByContentStoreComposite</argument>
        </arguments>
    </type>
</config>
