<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <flatrate>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Magento\OfflineShipping\Model\Carrier\Flatrate</model>
                <name>Fixed</name>
                <price>5.00</price>
                <title>Flat Rate</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </flatrate>
            <tablerate>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <condition_name>package_weight</condition_name>
                <include_virtual_price>1</include_virtual_price>
                <model>Magento\OfflineShipping\Model\Carrier\Tablerate</model>
                <name>Table Rate</name>
                <title>Best Way</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </tablerate>
            <freeshipping>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <cutoff_cost>50</cutoff_cost>
                <model>Magento\OfflineShipping\Model\Carrier\Freeshipping</model>
                <name>Free</name>
                <title>Free Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </freeshipping>
        </carriers>
    </default>
</config>
