// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

.responsive-common() {

.form.send.friend {
   &:extend(.abs-add-fields all);
}

.product-social-links .action.mailto.friend {
    &:extend(.abs-actions-addto all);
    .icon-font-symbol(
        @_icon-font-content: @icon-envelope,
        @_icon-font-position: before
    );
}

}

//
//    Desktop
//--------------------------------------
.responsive-min-l(@break) when (@break = @screen-m) {
    .form.send.friend {
        width: 60%;
        &:extend(.abs-add-fields-desktop all);
        &:extend(.abs-form-field-column-2 all);
        .fieldset {
            .field {
                width: 45%;
            }
            .field.text {
                //&:extend(.abs-form-field-revert-column-1 all);
                width: 90%;
            }
        }
    }
}
