<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog" title="Products" sortOrder="30">
                    <resource id="Magento_Catalog::catalog_inventory" title="Inventory" sortOrder="10">
                        <resource id="Magento_Catalog::products" title="Catalog" sortOrder="10" />
                        <resource id="Magento_Catalog::categories" title="Categories" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Catalog::config_catalog" title="Catalog Section" />
                        </resource>
                    </resource>
                    <resource id="Magento_Backend::stores_attributes">
                        <resource id="Magento_Catalog::attributes_attributes" title="Product" sortOrder="30" />
                        <resource id="Magento_Catalog::update_attributes" title="Update Attributes" sortOrder="35" />
                        <resource id="Magento_Catalog::sets" title="Attribute Set" sortOrder="40"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
