<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="if: buyerCountry">
    <div data-pp-message data-bind="attr: {
            'class': getAttribute('class'),
            'data-pp-amount': amount,
            'data-pp-placement': getAttribute('data-pp-placement'),
            'data-pp-style-layout': getAttribute('data-pp-style-layout'),
            'data-pp-style-logo-type': getAttribute('data-pp-style-logo-type'),
            'data-pp-style-logo-position': getAttribute('data-pp-style-logo-position'),
            'data-pp-style-text-color': getAttribute('data-pp-style-text-color'),
            'data-pp-style-text-size': getAttribute('data-pp-style-text-size'),
            'data-pp-style-color': getAttribute('data-pp-style-color'),
            'data-pp-style-ratio': getAttribute('data-pp-style-ratio'),
            'data-pp-buyercountry': buyerCountry
        }" ></div>
</div>

