<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paypal_notice" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
                <help_url>https://www.paypal-marketing.com/emarketing/partner/na/merchantlineup/home.page#mainTab=checkoutlineup</help_url>
            </group>
            <group id="account" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Merchant Location</label>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
                <field id="merchant_country" type="select" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant Country</label>
                    <comment>If not specified, Default Country from General Config will be used</comment>
                    <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Field\Country</frontend_model>
                    <source_model>Magento\Paypal\Model\System\Config\Source\MerchantCountry</source_model>
                    <backend_model>Magento\Paypal\Model\System\Config\Backend\MerchantCountry</backend_model>
                    <config_path>paypal/general/merchant_country</config_path>
                </field>
            </group>
        </section>
        <section id="payment_all_paypal" showInDefault="0" showInWebsite="0" showInStore="0">
            <include path="Magento_Paypal::system/paypal_payflowpro.xml"/>
            <include path="Magento_Paypal::system/payflow_link.xml"/>
            <include path="Magento_Paypal::system/express_checkout.xml"/>
            <include path="Magento_Paypal::system/payments_pro_hosted_solution.xml"/>
            <group id="payments_pro_hosted_solution_without_bml" extends="payments_pro_hosted_solution">
                <group id="pphs_required_settings">
                    <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                    <group id="pphs_advertise_bml" showInDefault="0" showInWebsite="0"/>
                </group>
            </group>
        </section>
        <section id="payment_us" extends="payment"  showInDefault="0" showInWebsite="0" showInStore="0">
            <group id="paypal_group_all_in_one" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>
                    <![CDATA[PayPal All-in-One Payment Solutions&nbsp;&nbsp;<i>Accept and process credit cards and PayPal payments.</i>]]>
                </label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Choose a secure bundled payment solution for your business.</comment>
                <help_url>https://www.paypal-marketing.com/emarketing/partner/na/merchantlineup/home.page#mainTab=checkoutlineup&amp;subTab=newlineup</help_url>
                <include path="Magento_Paypal::system/payflow_advanced.xml"/>
                <group id="wpp_usuk" sortOrder="40" extends="payment_us/paypal_payment_gateways/paypal_payflowpro_with_express_checkout">
                    <label>Payments Pro (Includes Express Checkout)</label>
                    <more_url>https://www.paypal.com/us/webapps/mpp/paypal-payments-pro?partner_id=NB9WWHYEMVUMS</more_url>
                    <attribute type="activity_path">payment/paypal_payment_pro/active</attribute>
                    <group id="paypal_payflow_required" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                        <field id="enable_paypal_payflow">
                            <attribute type="shared">0</attribute>
                            <config_path>payment/paypal_payment_pro/active</config_path>
                        </field>
                        <group id="paypal_payflow_api_settings" translate="label">
                            <label>Payments Pro and Express Checkout</label>
                        </group>
                    </group>
                    <group id="settings_paypal_payflow" translate="label">
                        <label>Basic Settings - PayPal Payments Pro</label>
                    </group>
                </group>
                <group id="wps_express" extends="payment_all_paypal/express_checkout">
                    <label>Payments Standard</label>
                    <comment>Accept credit card and PayPal payments securely.</comment>
                    <attribute type="activity_path">payment/wps_express/active</attribute>
                    <group id="express_checkout_required">
                        <group id="express_checkout_required_express_checkout">
                            <label>Payments Standard</label>
                        </group>
                        <field id="enable_express_checkout">
                            <config_path>payment/wps_express/active</config_path>
                        </field>
                        <field id="enable_express_checkout_bml">
                            <config_path>payment/wps_express_bml/active</config_path>
                        </field>
                    </group>
                    <group id="settings_ec">
                        <label>Basic Settings - PayPal Website Payments Standard</label>
                    </group>
                </group>
            </group>
            <group id="paypal_payment_gateways" translate="label comment" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal Payment Gateways</label>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Process payments using your own internet merchant account.</comment>
                <help_url>https://merchant.paypal.com/cgi-bin/marketingweb?cmd=_render-content</help_url>
                <include path="Magento_Paypal::system/paypal_payflowpro_with_express_checkout.xml"/>
                <group id="payflow_link_us" extends="payment_all_paypal/payflow_link"/>
            </group>
            <group id="paypal_alternative_payment_methods" translate="label comment attribute" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal Express Checkout</label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Add another payment method to your existing solution or as a stand-alone option.</comment>
                <help_url>https://merchant.paypal.com/cgi-bin/marketingweb?cmd=_render-content</help_url>
                <group id="express_checkout_us" extends="payment_all_paypal/express_checkout">
                    <attribute type="shared">0</attribute>
                    <attribute type="activity_path">payment/paypal_express/active</attribute>
                    <attribute type="activity_path">payment/payflow_express/active</attribute>
                </group>
            </group>
        </section>
        <section id="payment_gb" extends="payment"  showInDefault="0" showInWebsite="0" showInStore="0">
            <group id="paypal_group_all_in_one" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>
                    <![CDATA[PayPal All-in-One Payment Solutions&nbsp;&nbsp;<i>Accept and process credit cards and PayPal payments.</i>]]>
                </label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Choose a secure bundled payment solution for your business.</comment>
                <help_url>https://www.paypal-marketing.com/emarketing/partner/na/merchantlineup/home.page#mainTab=checkoutlineup&amp;subTab=newlineup</help_url>
                <group id="wpp_usuk" translate="comment" sortOrder="20">
                    <fieldset_css>pp-general-uk</fieldset_css>
                    <more_url>https://www.paypal-business.co.uk/process-online-payments-with-paypal/index.htm</more_url>
                    <demo_link>http://www.youtube.com/watch?v=LBe-TW87eGI&amp;list=PLF18B1094ABCD7CE8&amp;index=1&amp;feature=plpp_video</demo_link>
                    <comment>Accept payments with a completely customizable checkout page.</comment>
                    <group id="wpp_required_settings">
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="wpp_advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                </group>
                <include path="Magento_Paypal::system/payments_pro_hosted_solution_with_express_checkout.xml"/>
                <group id="wps_express" extends="payment_all_paypal/express_checkout" sortOrder="50">
                    <label>Website Payments Standard</label>
                    <comment>Accept credit card and PayPal payments securely.</comment>
                    <attribute type="activity_path">payment/wps_express/active</attribute>
                    <group id="express_checkout_required">
                        <group id="express_checkout_required_express_checkout">
                            <label>Website Payments Standard</label>
                        </group>
                        <field id="enable_express_checkout">
                            <config_path>payment/wps_express/active</config_path>
                        </field>
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                    <group id="settings_ec">
                        <label>Basic Settings - PayPal Website Payments Standard</label>
                    </group>
                </group>
            </group>
            <group id="paypal_alternative_payment_methods" translate="label comment attribute" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayPal Express Checkout</label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Add another payment method to your existing solution or as a stand-alone option.</comment>
                <help_url>https://merchant.paypal.com/cgi-bin/marketingweb?cmd=_render-content</help_url>
                <group id="express_checkout_us" extends="payment_all_paypal/express_checkout">
                    <group id="express_checkout_required">
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                </group>
            </group>
        </section>
        <section id="payment_de" extends="payment" showInDefault="0" showInWebsite="0" showInStore="0">
            <group id="paypal_payment_solutions" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>PayPal Payment Solutions</label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Add another payment method to your existing solution or as a stand-alone option.</comment>
                <help_url>https://www.paypal-marketing.com/emarketing/partner/na/merchantlineup/home.page#mainTab=checkoutlineup&amp;subTab=newlineup</help_url>
                <group id="express_checkout_de" extends="payment_all_paypal/express_checkout">
                    <group id="express_checkout_required">
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                    <group id="settings_ec">
                        <group id="settings_ec_advanced">
                            <field id="solution_type" showInDefault="0" showInWebsite="0"/>
                        </group>
                    </group>
                </group>
            </group>
        </section>
        <section id="payment_other" extends="payment" showInDefault="0" showInWebsite="0" showInStore="0">
            <group id="paypal_payment_solutions" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>PayPal Payment Solutions</label>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Group</frontend_model>
                <comment>Add another payment method to your existing solution or as a stand-alone option.</comment>
                <help_url>https://www.paypal-marketing.com/emarketing/partner/na/merchantlineup/home.page#mainTab=checkoutlineup&amp;subTab=newlineup</help_url>
                <group id="wps_other" extends="payment_all_paypal/express_checkout">
                    <label>Website Payments Standard</label>
                    <comment>Accept credit card and PayPal payments securely.</comment>
                    <attribute type="activity_path">payment/wps_express/active</attribute>
                    <group id="express_checkout_required">
                        <group id="express_checkout_required_express_checkout">
                            <label>Website Payments Standard</label>
                        </group>
                        <field id="enable_express_checkout">
                            <config_path>payment/wps_express/active</config_path>
                        </field>
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                    <group id="settings_ec">
                        <label>Basic Settings - PayPal Website Payments Standard</label>
                    </group>
                </group>
                <group id="express_checkout_other" extends="payment_all_paypal/express_checkout">
                    <group id="express_checkout_required">
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                </group>
            </group>
        </section>
        <section id="payment_ca" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="20"/>
                <group id="wpp_ca" extends="payment_all_paypal/paypal_payflowpro" sortOrder="20">
                    <label>Website Payments Pro</label>
                    <attribute type="activity_path">payment/paypal_payment_pro/active</attribute>
                    <group id="paypal_payflow_required" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                        <group id="paypal_payflow_api_settings">
                            <label>Payments Pro</label>
                        </group>
                        <field id="enable_paypal_payflow">
                            <frontend_class>paypal-enabler paypal-ec-pe</frontend_class>
                            <attribute type="shared">0</attribute>
                            <config_path>payment/paypal_payment_pro/active</config_path>
                            <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Field\Enable\Payment</frontend_model>
                        </field>
                    </group>
                    <group id="settings_paypal_payflow">
                        <label>Basic Settings - PayPal Payments Pro</label>
                    </group>
                </group>
                <group id="paypal_payflowpro_ca" extends="payment_all_paypal/paypal_payflowpro" sortOrder="30"/>
                <group id="payflow_link_ca" extends="payment_all_paypal/payflow_link" sortOrder="40">
                    <group id="payflow_link_required">
                        <field id="enable_express_checkout_bml" showInDefault="0" showInWebsite="0"/>
                        <group id="payflow_link_advertise_bml" showInDefault="0" showInWebsite="0"/>
                    </group>
                </group>
                <group id="express_checkout_other" sortOrder="50">
                    <attribute type="activity_path">payment/paypal_express/active</attribute>
                    <attribute type="activity_path">payment/payflow_express/active</attribute>
                </group>
            </group>
        </section>
        <section id="payment_au" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="10"/>
                <group id="express_checkout_other" sortOrder="40"/>
                <group id="paypal_payflowpro_au" extends="payment_all_paypal/paypal_payflowpro" sortOrder="20"/>
                <group id="payments_pro_hosted_solution_au" extends="payment_all_paypal/payments_pro_hosted_solution_without_bml" sortOrder="30"/>
            </group>
        </section>
        <section id="payment_jp" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="12"/>
                <group id="express_checkout_other" sortOrder="30"/>
                <group id="payments_pro_hosted_solution_jp" extends="payment_all_paypal/payments_pro_hosted_solution_without_bml" sortOrder="10">
                    <label>Website Payments Plus</label>
                </group>
            </group>
        </section>
        <section id="payment_fr" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="12"/>
                <group id="express_checkout_other" sortOrder="30"/>
                <group id="payments_pro_hosted_solution_fr" extends="payment_all_paypal/payments_pro_hosted_solution_without_bml" sortOrder="10">
                    <label>Integral Evolution</label>
                </group>
            </group>
        </section>
        <section id="payment_it" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="12"/>
                <group id="express_checkout_other" sortOrder="30"/>
                <group id="payments_pro_hosted_solution_it" extends="payment_all_paypal/payments_pro_hosted_solution_without_bml" sortOrder="10">
                    <label>Pro</label>
                </group>
            </group>
        </section>
        <section id="payment_es" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="12"/>
                <group id="express_checkout_other" sortOrder="30"/>
                <group id="payments_pro_hosted_solution_es" extends="payment_all_paypal/payments_pro_hosted_solution_without_bml" sortOrder="10">
                    <label>Pasarela integral</label>
                </group>
            </group>
        </section>
        <section id="payment_hk" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="12"/>
                <group id="express_checkout_other" sortOrder="30"/>
                <group id="payments_pro_hosted_solution_hk" extends="payment_all_paypal/payments_pro_hosted_solution_without_bml" sortOrder="10"/>
            </group>
        </section>
        <section id="payment_nz" extends="payment_other">
            <group id="paypal_payment_solutions">
                <group id="wps_other" sortOrder="12"/>
                <group id="express_checkout_other" sortOrder="30"/>
                <group id="paypal_payflowpro_nz" extends="payment_all_paypal/paypal_payflowpro" sortOrder="10"/>
            </group>
        </section>
    </system>
</config>
