/**
 * Copyright 2026 Adobe
 * All Rights Reserved.
 */

.mandatory-attributes-notice {
    margin-bottom: 20px;
}

.mandatory-system-fields {
    font-family: monospace;
    font-size: 1.2rem;
    color: #555;
}
