<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="masonry-image-preview" if="$col.isVisible($row())" data-image-preview ko-style="$col.getStyles($row())">
    <div class="container">
        <div class="action-buttons">
            <button class="action-previous" type="button" click="$col.prev.bind($col, $row())">
                <span translate="'Previous'"></span>
            </button>
            <button class="action-next" type="button" click="$col.next.bind($col, $row())">
                <span translate="'Next'"></span>
            </button>
            <button class="action-close" type="button" click="$col.hide.bind($col)">
                <span translate="'Close'"></span>
            </button>
        </div>
        <img class="preview" attr="src: $col.getUrl($row()), alt: $col.getTitle($row())"/>
    </div>
</div>
