<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<th
    class="data-grid-th"
    data-bind="
        afterRender:  function (elem, viewModel) {
            if ($parent.resizeConfig.enabled) {
                $parent.resize('setColumn', elem, viewModel);
            }
        },
        css: {
            '_sortable': sortable,
            '_draggable': draggable,
            '_ascend': sorting() === 'asc',
            '_descend': sorting() === 'desc'
        },
        click: sort,
        visible: visible">
    <!-- ko if: $parent.resizeConfig.enabled-->
        <div data-bind="attr: $parent.resizeConfig.divsAttrParams"></div>
    <!-- /ko -->
    <span data-bind="text: label"></span>
</th>
