<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__field-complex" data-bind="css: $data.additionalClasses, attr: {'data-index': index}">

    <div class="admin__field-complex-content">
        <div data-bind="foreach: { data: getStocksQtyInfo($data.source.data), as: '$stockQtyInfo'}">
            <div>
                <strong data-bind="text: $stockQtyInfo.stock_name"></strong>
                :
                <span data-bind="text: $stockQtyInfo.qty"></span>
            </div>
        </div>
    </div>

</div>


