<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Customer\DataProvider">
        <plugin name="chizhov_customer_data_provider_plugin" type="Chizhov\Status\Plugin\Customer\Model\CustomerDataProviderPlugin"/>
    </type>
</config>
