<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\UrlRewriteGraphQl\Model\DataProvider\EntityDataProviderComposite">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="cms_page" xsi:type="object">Magento\CmsGraphQl\Model\DataProvider\UrlRewrite\Page</item>
            </argument>
        </arguments>
    </type>
</config>
