<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.frontend_name":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        <p class="closing">{{trans "Thank you, %store_name" store_name=$store.frontend_name}}!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
