<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<input type="hidden" data-bind="
    attr: {
        name: inputName
    },
    value: value
"/>
<div attr="class: 'swatch_window ' + elementName" ko-style="backgroundColor: $data.value"></div>
<div class="swatch_sub-menu_container">
    <div class="swatch_row position-relative">
        <div class="swatch_row_name colorpicker_handler">
            <p translate="'Choose a color'"></p>
        </div>
    </div>
    <div class="swatch_row">
        <div data-bind="
             attr: {
                class: 'swatch_row_name btn_choose_file_upload swatch_choose_file_option_' + elementName,
                'data-class': 'swatch_choose_file_option_' + elementName
             }
             ">
            <p translate="'Upload a file'"></p>
        </div>
    </div>
    <div class="swatch_row">
        <div class="swatch_row_name btn_remove_swatch">
            <p translate="'Clear'"></p>
        </div>
    </div>
</div>
