<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace %namespace%;
%uses%

/**
* Patch is mechanism, that allows to do atomic upgrade data changes
*/
class %class%
{
    %constants%
    %variables%

    %constructor%

    /**
     * Do Upgrade
     *
     * @param ModuleDataSetupInterface $setup
     * @param ModuleContextInterface $context
     * @return void
     */
    public function up(ModuleDataSetupInterface $setup, ModuleContextInterface $context)
    {
%code%
    }
    %additional_functions%
}
