// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@console__border-color: @color-gray80;
@console-error__color: @color-tomato-brick;
@console-success__color: @color-green-islamic;

//
//  Common
//  _____________________________________________

.content-install {
    margin-bottom: 2rem;
}

.console {
    border: 1px solid @console__border-color;
    font-family: @font-family__console;
    font-weight: @font-weight__light;
    height: 20rem;
    margin: 1rem 0 2rem;
    overflow-y: auto;
    padding: 1.5rem 2rem 2rem;
    resize: vertical;

    .text-danger {
        color: @console-error__color;
    }

    .text-success {
        color: @console-success__color;
    }

    .hidden {
        display: none;
    }
}

//  Success

.content-success {
    .btn-prime {
        margin-top: 1.5rem;
    }
}

.jumbo-title {
    font-size: 3.6rem;

    .jumbo-icon {
        font-size: 3.8rem;
        margin-right: .25em;
        position: relative;
        top: .15em;
    }
}

.install-database-clean {
    margin-top: @indent__xl;

    .btn {
        margin-right: @indent__s;
    }
}
