<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventoryConfiguration\Api\SourceItemConfigurationSaveInterface" type="Magento\InventoryConfiguration\Model\SourceItemConfiguration\SourceItemConfigurationSave"/>

    <type name="Magento\Inventory\Model\SourceItem\Command\SourceItemsSave">
        <plugin name="handle_notification_on_save" type="Magento\InventoryConfiguration\Plugin\Model\SourceItem\Command\SourceItemConfigurationHandle" sortOrder="1" />
    </type>
</config>
