/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

#configurable-attributes-container .col-name {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
