<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GraphQl\Model\Type\HandlerConfig">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="ConfigurableProduct" xsi:type="string">Magento\GraphQlConfigurableProduct\Model\Type\Handler\ConfigurableProduct</item>
            </argument>
        </arguments>
    </type>
</config>
