& when (@media-common = true) {
  .box-tocart {
    .action.onetouch {
      &:extend(.abs-button-l all);
      &:extend(.abs-button-responsive all);

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      vertical-align: top;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .box-tocart {
    .action.onetouch {
      margin-bottom: 0;
      margin-right: 1%;
      width: 49%;
    }
  }
}