<?xml version="1.0"?>
<!--
/**
 * Copyright 2025 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_email_changed">
        <observer name="customer_email_changed_observer" instance="Magento\Customer\Observer\CustomerEmailChangedObserver" />
    </event>
</config>
