<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="ui-dialog mypopup-window <%= data.dialogClass %>" data-role="dialog">
    <div class="mypopup-window-header">
        <h1 style="float: left;" data-role="title"><%= data.title %></h1>
        <button style="float: right;" data-action="close-mypopup" data-role="closeBtn" type="button">Close</button>
    </div>
    <div class="mypopup-window-content" data-role="content"></div>
    <div class="mypopup-window-footer">
        <% _.each(data.buttons, function(button) { %>
            <button type="button" class="<%= button.class %>" data-role="action"><%= button.text %></button>
        <% }); %>
    </div>
</div>