<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<aside
    class="dialog-<%= data.type %> <%= data.dialogClass %>
           <% if(data.responsive){ %><%= data.responsiveClass %><% } %>
           <% if(data.innerScroll){ %><%= data.innerScrollClass %><% } %>"
    data-role="dialog"
    data-type="<%= data.type %>">
    <div class="dialog-inner-wrap">
        <header class="dialog-header">
            <h1 class="dialog-title"
                data-role="title"><%= data.title %></h1>
            <button
                class="action-close"
                data-role="closeBtn"
                type="button">
                <span><%= data.closeText %></span>
            </button>
        </header>
        <div
            class="dialog-content"
            data-role="content"></div>
        <footer class="dialog-footer">
            <% _.each(data.buttons, function(button) { %>
            <button
                class="<%= button.class %>"
                type="button"
                data-role="action"><span><%= button.text %></span></button>
            <% }); %>
        </footer>
    </div>
</aside>
