<!--
/**
 * Copyright 2019 Adobe
 * All Rights Reserved.
 */
-->
<div class="actions-toolbar">
    <div class="primary">
        <button class="action action-update"
                type="button"
                click="updateAddress">
            <span translate="'Update'"></span>
        </button>
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span translate="'Cancel'"></span>
        </button>
    </div>
</div>
