<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventoryIndexer\Indexer\IndexHandlerInterface" type="Magento\InventoryIndexer\Indexer\IndexHandler"/>
    <preference for="Magento\InventoryIndexer\Indexer\IndexStructureInterface" type="Magento\InventoryIndexer\Indexer\IndexStructure"/>
    <type name="Magento\InventoryIndexer\Indexer\IndexHandler">
        <arguments>
            <argument name="batchSize" xsi:type="string">100</argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\SourceItem\SourceItemIndexer">
        <arguments>
            <argument name="indexStructureHandler" xsi:type="object">Magento\InventoryIndexer\Indexer\IndexStructure</argument>
            <argument name="indexHandler" xsi:type="object">Magento\InventoryIndexer\Indexer\IndexHandler</argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\Stock\StockIndexer">
        <arguments>
            <argument name="indexStructureHandler" xsi:type="object">Magento\InventoryIndexer\Indexer\IndexStructure</argument>
            <argument name="indexHandler" xsi:type="object">Magento\InventoryIndexer\Indexer\IndexHandler</argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\SourceItem\GetSkuListInStock">
        <arguments>
            <argument name="groupConcatMaxLen" xsi:type="number">2000</argument>
        </arguments>
    </type>
    <type name="Magento\InventoryApi\Api\SourceItemsSaveInterface">
        <plugin name="reindex_after_source_items_save" type="Magento\InventoryIndexer\Plugin\InventoryApi\SourceItemsSave\ReindexAfterSourceItemsSavePlugin"/>
    </type>
    <type name="Magento\InventoryApi\Api\SourceItemsDeleteInterface">
        <plugin name="reindex_after_source_items_delete" type="Magento\InventoryIndexer\Plugin\InventoryApi\SourceItemsDelete\ReindexAfterSourceItemsDeletePlugin"/>
    </type>
    <type name="Magento\InventoryApi\Api\AssignSourcesToStockInterface">
        <plugin name="reindex_after_assign_sources_to_stock" type="Magento\InventoryIndexer\Plugin\InventoryApi\AssignSourcesToStock\ReindexAfterAssignSourcesToStockPlugin" />
    </type>
    <type name="Magento\InventoryApi\Api\UnassignSourceFromStockInterface">
        <plugin name="reindex_after_unassign_sources_from_stock" type="Magento\InventoryIndexer\Plugin\InventoryApi\UnassignSourceFromStock\ReindexAfterUnassignSourcesFromStockPlugin" />
    </type>
    <!-- Stock -->
    <preference for="Magento\Inventory\Model\GetStockItemQuantityInterface" type="Magento\InventoryIndexer\Model\GetStockItemQuantity"/>
    <preference for="Magento\InventoryIndexer\Model\StockIndexTableNameResolverInterface" type="Magento\InventoryIndexer\Model\StockIndexTableNameResolver"/>
    <type name="Magento\InventoryIndexer\Model\StockIndexTableNameResolver">
        <arguments>
            <argument name="dimensionName" xsi:type="string">stock_</argument>
        </arguments>
    </type>
</config>
