/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
#braintreetwo_cc_number {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 225px;
    box-sizing: border-box;
}
#braintreetwo_cc_number.braintree-hosted-fields-focused {
    border-color: #777;
}
#braintreetwo_cc_number.braintree-hosted-fields-invalid {
    border-color: tomato;
}
#braintreetwo_cc_number.braintree-hosted-fields-valid {
    border-color: limegreen;
}

#braintreetwo_expirationMonth {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 45px;
    box-sizing: border-box;
}
#braintreetwo_expirationMonth.braintree-hosted-fields-focused {
    border-color: #777;
}
#braintreetwo_expirationMonth.braintree-hosted-fields-invalid {
    border-color: tomato;
}
#braintreetwo_expirationMonth.braintree-hosted-fields-valid {
    border-color: limegreen;
}
#braintreetwo_expirationYear {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 60px;
    box-sizing: border-box;
}
#braintreetwo_expirationYear.braintree-hosted-fields-focused {
    border-color: #777;
}
#braintreetwo_expirationYear.braintree-hosted-fields-invalid {
    border-color: tomato;
}
#braintreetwo_expirationYear.braintree-hosted-fields-valid {
    border-color: limegreen;
}

#braintreetwo_cc_cid {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 55px;
    box-sizing: border-box;
}
#braintreetwo_cc_cid.braintree-hosted-fields-focused {
    border-color: #777;
}
#braintreetwo_cc_cid.braintree-hosted-fields-invalid {
    border-color: tomato;
}
#braintreetwo_cc_cid.braintree-hosted-fields-valid {
    border-color: limegreen;
}