<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr
    class="data-grid-bulk-edit-panel data-grid-editable-row"
    data-bind="
        visible: active,
        foreach: {
            data: fields,
            as: '$col'
        }"
        data-role="data-grid-bulk-row">
    <!-- ko if: $parent.getColumn(index).visible -->
    <td
        data-bind="
            css: {
                'data-grid-actions-cell': $parent.isActionsColumn($col)
            }">
        <!-- ko if: $parent.isActionsColumn($col) -->
            <!-- ko with: $parent -->
                <button
                    class="action-default"
                    type="button"
                    data-bind="
                        click: apply,
                        attr: {
                            disabled: !hasData
                        }">
                    <span data-bind="i18n: 'Apply'"></span>
                </button>
            <!-- /ko -->
        <!-- /ko -->
        
        <!-- ko if: $data.isEditor -->
            <label
                class="admin__field-label admin__field-label-vertical"
                data-bind="
                    i18n: 'All in column',
                    attr: {
                        for: uid
                    }
                "></label>
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
    <!-- /ko -->
</tr>
