<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="isMultiEditing || (hasActive() && (hasMessages() || hasErrors() ))"
     attr="role: (isMultiEditing && multiEditingButtons) ? 'alertdialog' : 'alert'"
     class="data-grid-info-panel">
    <div if="hasMessages() || hasErrors()" class="messages">
        <div if="hasErrors()" class="message message-warning">
            <strong><text args="countErrorsMessage()"/></strong>
            <span translate="'Please make corrections to the errors in the table below and re-submit.'"/>
        </div>
        <div class="message" outereach="messages" text="message"
             css="
                 'message-warning': type === 'warning',
                 'message-error': type === 'error',
                 'message-success': type === 'success'"/>
    </div>
    <div if="isMultiEditing && multiEditingButtons" class="data-grid-info-panel-actions">
        <button class="action-tertiary" type="button" click="cancel">
            <span translate="'Cancel'"/>
        </button>
        <button class="action-primary" type="button" click="save" disable="!canSave()">
            <span translate="'Save Edits'"/>
        </button>
    </div>
</div>
