<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="data-grid-editable-row data-grid-editable-row-actions">
    <td>
        <button class="action-tertiary" type="button" data-bind="click: cancel">
            <span data-bind="text: 'Cancel'"></span>
        </button>
        <button class="action-primary" type="button" data-bind="click: save, attr: { disabled: !canSave() }">
            <span data-bind="text: 'Save'"></span>
        </button>
    </td>
</tr>
