<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr
    data-part="body.row"
    class="data-grid-editable-row"
    data-bind="
        '_odd-row': !!($row()._rowIndex % 2),
        foreach: {
            data: fields,
            as: '$col'
        }">
    <!-- ko if: $parent.getColumn(index).visible -->

    <!-- ko if: $parent.isActionsColumn($data) -->
    <td class="data-grid-actions-cell">
        <span class="data-grid-row-changed" data-bind="css: {_changed: $parent.hasChanges}">
            <span class="data-grid-row-changed-tooltip" data-bind="i18n: 'Record contains unsaved changes.'"></span>
        </span>
    </td>
    <!-- /ko -->
    <!-- ko ifnot: $parent.isActionsColumn($data) -->
        <!-- ko if: $col.isEditor -->
        <td data-bind="template: $parent.fieldTmpl"></td>
        <!-- /ko -->
        <!-- ko ifnot: $col.isEditor -->
        <td data-bind="template: $col.getBody(), css: $col.getFieldClass()"></td>
        <!-- /ko -->
    <!-- /ko -->

    <!-- /ko -->
</tr>
