<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr
    data-part="body.row"
    class="data-grid-editable-row"
    data-bind="
        visible: active,
        '_even-row': !($index() % 2),
        foreach: {
            data: fields,
            as: 'field'
        }">
    <!-- ko if: $parent.isActionsColumn($data) -->
    <td class="data-grid-actions-cell">
        <a class="admin__page-nav-link _changed" href="#" style="padding: 0 4rem 0 1rem;">
            <span class="admin__page-nav-item-messages">
               <span class="admin__page-nav-item-message _changed">
                   <span class="admin__page-nav-item-message-icon"></span>
                   <span class="admin__page-nav-item-message-tooltip" data-bind="i18n: 'Changes have been made to this section that have not been saved.'"></span>
               </span>
            </span> 
        </a>
    </td>
    <!-- /ko -->

    <!-- ko ifnot: $parent.isActionsColumn($data) -->
        <!-- ko template: $data.isEditor ? $parent.fieldTmpl : getBody() --><!-- /ko -->
    <!-- /ko -->
</tr>
