<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="data-grid-editable-row" each="data: fields, as: '$col'" css="'_odd-row': !!($row()._rowIndex % 2)">
    <!-- ko if: $parent.getColumn(index).visible -->

        <td class="data-grid-actions-cell" if="$parent.isActionsColumn($data)">
            <span class="data-grid-row-changed" css="_changed: $parent.hasChanges">
                <span class="data-grid-row-changed-tooltip" translate="'Record contains unsaved changes.'"/>
            </span>
        </td>

        <!-- ko ifnot: $parent.isActionsColumn($data) -->
            <td if="$col.isEditor" template="$parent.fieldTmpl"/>
            <td ifnot="$col.isEditor" css="$col.getFieldClass()" template="$col.getBody()"/>
        <!-- /ko -->

    <!-- /ko -->
</tr>
