<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cron\Model\ConfigInterface" type="Magento\Cron\Model\Config" />
    <preference for="Magento\Framework\Shell\CommandRendererInterface" type="Magento\Framework\Shell\CommandRenderer" />
    <preference for="Magento\Framework\Crontab\CrontabManagerInterface" type="Magento\Framework\Crontab\CrontabManager" />
    <preference for="Magento\Framework\Crontab\TasksProviderInterface" type="Magento\Framework\Crontab\TasksProvider" />
    <type name="Magento\Config\Model\Config\Structure\Converter">
        <plugin name="cron_backend_config_structure_converter_plugin" type="Magento\Cron\Model\Backend\Config\Structure\Converter" />
    </type>
    <type name="Magento\Framework\App\Config\Initial\Converter">
        <plugin name="cron_system_config_initial_converter_plugin" type="Magento\Cron\Model\System\Config\Initial\Converter" />
    </type>
    <!-- @api -->
    <virtualType name="shellBackground" type="Magento\Framework\Shell">
        <arguments>
            <argument name="commandRenderer" xsi:type="object">Magento\Framework\Shell\CommandRendererBackground</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cron\Observer\ProcessCronQueueObserver">
        <arguments>
            <argument name="shell" xsi:type="object">shellBackground</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cronCommand" xsi:type="object">Magento\Cron\Console\Command\CronCommand</item>
                <item name="cronInstall" xsi:type="object">Magento\Cron\Console\Command\CronInstallCommand</item>
                <item name="cronRemove" xsi:type="object">Magento\Cron\Console\Command\CronRemoveCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="crontab" xsi:type="null" />
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Crontab\CrontabManagerInterface">
        <arguments>
            <argument name="shell" xsi:type="object">Magento\Framework\App\Shell</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Crontab\TasksProviderInterface">
        <arguments>
            <argument name="tasks" xsi:type="array">
                <item name="cronMagento" xsi:type="array">
                    <item name="command" xsi:type="string">{magentoRoot}bin/magento cron:run | grep -v "Ran jobs by schedule" >> {magentoLog}magento.cron.log</item>
                </item>
                <item name="cronUpdate" xsi:type="array">
                    <item name="command" xsi:type="string">{magentoRoot}update/cron.php >> {magentoLog}update.cron.log</item>
                </item>
                <item name="cronSetup" xsi:type="array">
                    <item name="command" xsi:type="string">{magentoRoot}bin/magento setup:cron:run >> {magentoLog}setup.cron.log</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
