<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cron\Model\ConfigInterface" type="Magento\Cron\Model\Config" />
    <preference for="Magento\Framework\Shell\CommandRendererInterface" type="Magento\Framework\Shell\CommandRenderer" />
    <type name="Magento\Cron\Model\Config\Reader\Db">
        <arguments>
            <argument name="defaultReader" xsi:type="object">DefaultScopeReader</argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Converter">
        <plugin name="cron_backend_config_structure_converter_plugin" type="Magento\Cron\Model\Backend\Config\Structure\Converter" />
    </type>
    <type name="Magento\Framework\App\Config\Initial\Converter">
        <plugin name="cron_system_config_initial_converter_plugin" type="Magento\Cron\Model\System\Config\Initial\Converter" />
    </type>
    <virtualType name="shellBackground" type="Magento\Framework\Shell">
        <arguments>
            <argument name="commandRenderer" xsi:type="object">Magento\Framework\Shell\CommandRendererBackground</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cron\Observer\ProcessCronQueueObserver">
        <arguments>
            <argument name="shell" xsi:type="object">shellBackground</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cronCommand" xsi:type="object">Magento\Cron\Console\Command\CronCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="crontab" xsi:type="null" />
            </argument>
        </arguments>
    </type>
</config>
