<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\PageCache\Identifier">
        <plugin name="core-app-area-design-exception-plugin"
                type="Magento\PageCache\Model\App\CacheIdentifierPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\App\PageCache\Cache">
        <plugin name="fpc-type-plugin" type="Magento\PageCache\Model\App\PageCachePlugin"/>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="system/full_page_cache/varnish/access_list" xsi:type="string">1</item>
                <item name="system/full_page_cache/varnish/backend_host" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="system/full_page_cache/varnish/backend_host" xsi:type="string">1</item>
                <item name="system/full_page_cache/varnish/backend_port" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="VarnishGenerateVclCommand" xsi:type="object">Magento\PageCache\Console\Command\GenerateVclCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\PageCache\Controller\Block">
        <arguments>
            <argument name="layoutCacheKey" xsi:type="object">Magento\Framework\View\Layout\LayoutCacheKeyInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="page_cache_from_key_from_cookie" type="Magento\PageCache\Plugin\RegisterFormKeyFromCookie" />
    </type>
    <type name="Magento\Framework\App\Cache\RuntimeStaleCacheStateModifier">
        <arguments>
            <argument name="cacheTypes" xsi:type="array">
                <item name="full_page_cache" xsi:type="const">Magento\PageCache\Model\Cache\Type::TYPE_IDENTIFIER</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\PageCache\Model\VclGeneratorInterface" type="Magento\PageCache\Model\Varnish\VclGenerator"/>
    <preference for="Magento\PageCache\Model\VclTemplateLocatorInterface" type="Magento\PageCache\Model\Varnish\VclTemplateLocator"/>
</config>
