<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Take a look at {{var customerName}}'s Wish List @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wish List Message",
"var items":"Wish List Items"}
@-->

{{template config_path="design/email/header_template"}}

                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Hey,<br/>Take a look at my Wish List from {{var store.getFrontendName()}}.</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var message}}</p>
                        {{var items|raw}}
                        <br/>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;text-align: center;"><strong><a href="{{var viewOnSiteLink}}" style="color:#1E7EC8;">View all Wish List items</a></strong></p>

{{template config_path="design/email/footer_template"}}
