// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Magento_ReleaseNotification Modal on dashboard
//  ---------------------------------------------

.release-notification-modal, .trusted-payments-modal, .flexible-payments-modal, .tax-automation-modal {
  -webkit-transition: visibility 0s .5s, opacity .5s ease;
  transition: visibility 0s .5s, opacity .5s ease;

  &._show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }

  .modal-inner-wrap {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0s;
    transition: transform 0s;
    height: 50rem;
    max-width: 75rem;
    margin-top: 13rem;

    .modal-content, .modal-header {
      padding-left: 4rem;
      padding-right: 4rem;

      .action-close {
        display: none;
      }
    }
  }

  .admin__fieldset {
    padding: 0;
  }
}

.release-notification-text {
  line-height: @line-height__l;

  ul {
    margin: 2rem 0 2rem 0;

    li {
      font-size: @font-size__xs;
      margin: 1.5rem 0 1.5rem 2rem;

      span {
        font-size: @font-size__base;
        vertical-align: middle;
        position: relative;
        left: 1rem;
      }
    }
  }
}

.release-notification-button-next, .release-notification-button-back {
  display: inline-block;
  vertical-align: top;
  float: right;
  position: absolute;
  bottom: 4rem;
}

.release-notification-button-next {
  right: 4rem;
}

.trusted-payments-highlight {
  background: url("Magento_ReleaseNotification::images/trusted-payments-icon.svg") no-repeat;
  background-size: 65px 58px;
}

.flexible-payments-highlight {
  background: url("Magento_ReleaseNotification::images/flexible-payments-icon.svg") no-repeat;
  background-size: 65px 58px;
}

.tax-automation-highlight {
  background: url("Magento_ReleaseNotification::images/tax-automation-icon.svg") no-repeat;
  background-size: 65px 58px;
}

.trusted-payments-highlight, .flexible-payments-highlight, .tax-automation-highlight {
  padding: 0 0 2rem 8.5rem;
  margin-left: 1rem;
  

  h3 {
    margin: 0;

    span {
      font-style: @font-style__emphasis;
      font-size: @font-size__s;
      font-weight: @font-weight__light;
    }
  }
}

.trusted-payments-modal {
  h1:first-of-type {
    background: url("Magento_ReleaseNotification::images/trusted-payments-icon.svg") no-repeat;
    background-size: 55px 49px;
    padding: 1.5rem 0 2rem 7rem;
  }
}

.flexible-payments-modal {
  h1:first-of-type {
    background: url("Magento_ReleaseNotification::images/flexible-payments-icon.svg") no-repeat;
    background-size: 55px 49px;
    padding: 1.5rem 0 2rem 7rem;
  }
}

.tax-automation-modal {
  h1:first-of-type {
    background: url("Magento_ReleaseNotification::images/tax-automation-icon.svg") no-repeat;
    background-size: 55px 49px;
    padding: 1.5rem 0 2rem 7rem;
  }
}

