<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var current_year":"Current Year"
} @-->

                            </table>
                            <!-- END email content -->
                        </td>
                    </tr>
                    <tr>
                        <td class="background-light">
                            <!-- logo, links & legal-->
                            <table class="email-width" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td class="email-logo padding-top-40">
                                        <img alt="Adobe" src="https://landing.adobe.com/dam/global/images/adobe-logo.classic.160x222.png" width="30" height="auto" border="0" hspace="0" vspace="0"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="legal email-footer-legal">
                                        <a href="https://www.adobe.com/go/account" target="_blank">
                                            {{trans "User Guides"}}
                                        </a><br>
                                        <a href="https://www.adobe.com/go/support" target="_blank">
                                            {{trans "Customer Support"}}
                                        </a><br>
                                        <a href="https://www.adobe.com/go/forums" target="_blank">
                                            {{trans "Forums"}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="legal email-footer-copyright">
                                        {{trans "© Adobe %current_year. All rights reserved", current_year=$current_year}}
                                    </td>
                                </tr>
                            </table>
                            <!-- END logo, links & legal-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
