<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<button id="cancel_massaction" type="button" onclick="jQuery(window).trigger('terminateMassAction.MediaGallery')" class="massaction-buttons cancel">
  <span data-bind="i18n: 'Cancel'"></span>
</button>
<button id="delete_selected_massaction" onclick="jQuery('#delete_selected_massaction').trigger('massDelete.MediaGallery')"  type="button" class="primary massaction-buttons cancel">
  <span data-bind="i18n: 'Delete Selected'"></span>
</button>
