<!--Use 'stepCode' as id attribute-->
<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
        <div id="checkout-step-title"
             class="step-content"
             data-role="content">
            
            <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
                <div class="actions-toolbar">
                    <div class="primary">
                        <label ><span >Additional Name</span></label><br>
                        <input class="input-text" type="text" aria-invalid="false" ><br>
                        <label  ><span >Additional phone number</span></label><br>
                        <input class="input-text" type="text" aria-invalid="false" ><br>
                       
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>