// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Page header
//  _____________________________________________

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-content {
    margin-bottom: 5rem;
}
