// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Page header
//  _____________________________________________

//
//  Components
//  ---------------------------------------------

@import 'header/_actions-group.less';
@import 'header/_headings-group.less';

//  Variables
//  ---------------------------------------------

@page-header__indent-horizontal: @content__indent;
@page-header__indent-vertical: @content__indent / 2;

//

.page-header {
    margin-bottom: 1.2rem;
    padding: @page-header__indent-vertical @page-header__indent-horizontal;
}
