// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Menu
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@menu-wrapper__padding-horizontal: 1.2rem;

@menu-logo__margin-bottom: 2.2rem;
@menu-logo-img__width: 3.5rem;
@menu-logo-img__height: 4.1rem;
@menu-logo__outer-size: @menu-wrapper__padding-horizontal + @menu-logo-img__height + @menu-logo__margin-bottom;

@menu__background-color: @color-very-dark-grayish-orange;

@menu-item__font-size: 1rem;
@menu-item__color: @color-gray65-lighten;
@menu-item__active__color: @color-ivory;
@menu-item__active__background-color: @color-brownie-almost;
@menu-item-icon__height: 2.2rem;

@menu-line-before__height: 1px;
@menu-line-before__background-color: @color-brownie-vanilla;

@submenu__background-color: @menu-item__active__background-color;
@submenu__padding-horizontal: 3rem;
@submenu__padding-vertical: 2rem;
@submenu-title__color: @color-white;
@submenu-link__color: @color-very-light-gray;
@submenu-section-label__color: @color-gray65-almost;
@submenu-heading-group__indent-bottom: 3.8rem;

//
//  Menu wrapper
//  ---------------------------------------------

.menu-wrapper {
    background-color: @menu__background-color;
    height: 100%;
    left: 0;
    padding: @menu-wrapper__padding-horizontal 0;
    position: fixed;
    top: 0;
    width: @menu__width;
    z-index: @menu__z-index;
    .logo {
        display: block;
        margin-bottom: @menu-logo__margin-bottom;
        height: @menu-logo-img__height;
        position: relative;
        text-align: center;
        &:hover {
            .logo-img {
                -webkit-filter: brightness(1.1);
                filter: brightness(1.1);
            }
        }
        &:active {
            .logo-img {
                transform: scale(.95);
            }
        }
        .logo-img {
            width: @menu-logo-img__width;
            height: @menu-logo-img__height;
            transition: -webkit-filter .2s linear,
            filter .2s linear,
            transform .1s linear;
        }
    }
}

//
//  First menu level
//  ---------------------------------------------

.admin__menu {
    position: relative;
    li {
        display: block;
    }
    .level-0 {
        &:first-child {
            > a {
                position: relative;
                //  Separator between logo and menu
                &:after {
                    @_menu-separator__width: 68%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: @menu-line-before__background-color;
                    content: '';
                    display: block;
                    height: @menu-line-before__height;
                    width: @_menu-separator__width;
                    margin-left: (100% - @_menu-separator__width) / 2;
                }
                &._hover {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        //  Hover state for menu level 0 item
        &._hover,
        &:hover {
            > a {
                color: @menu-item__active__color;
                background-color: @menu-item__active__background-color;
            }
        }
        > a {
            color: @menu-item__color;
            display: block;
            font-size: @menu-item__font-size;
            min-height: 6.2rem;
            padding-top: 1.2rem;
            padding-right: .5rem;
            padding-left: .5rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: background-color .1s linear;
            text-align: center;
            //  Active state for menu level 0 item
            &._active {
                color: @menu-item__active__color;
                font-weight: @font-weight__bold;
            }
            &:before {
                &:extend(.abs-icon all);
                content: @icon-logo__content; // ToDo UI: change it to node icon
                display: block;
                font-family: @icons-admin__font-name;
                font-size: 2.2rem;
                margin-bottom: .3rem;
                height: @menu-item-icon__height;
            }
        }
    }

    //
    //  Second menu level
    //  ---------------------------------------------

    .level-0 {
        > .submenu {
            display: none;
            position: absolute;
            top: -@menu-logo__outer-size;
            left: 100%;
            padding: @submenu__padding-vertical 0 0;
            background-color: @submenu__background-color;
            opacity: 0;
            visibility: hidden;
            min-height: ~'calc(@{menu-logo__outer-size} + 2rem + 100%)';
        }
        &._recent {
            &._hover {
                .submenu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .level-1 {
        margin-right: @submenu__padding-horizontal;
        margin-left: @submenu__padding-horizontal;
    }

    [class*='level-'] {
        &:not(.level-0) {
            margin-bottom: 2.5rem;
        }
    }

    .submenu {
        > ul {
            min-width: 20.8rem;
        }
        a {
            color: @submenu-link__color;
        }
        .parent {
            margin-bottom: 6rem;
            //  Section title
            > a {
                display: block;
                margin-bottom: 2.2rem;
                font-size: 1.6rem;
                font-weight: @font-weight__semibold;
                color: @submenu-section-label__color;
                pointer-events: none;
            }
        }
        .column {
            display: table-cell;
        }
    }

    .submenu-title {
        display: block;
        font-size: 2.2rem;
        font-weight: @font-weight__semibold;
        color: @submenu-title__color;
        margin-right: @submenu__padding-horizontal;
        margin-left: @submenu__padding-horizontal;
        margin-bottom: .4rem + @submenu-heading-group__indent-bottom;
    }

    .submenu-sub-title {
        display: block;
        margin: -(@submenu-heading-group__indent-bottom) @submenu__padding-horizontal 3.8rem;
        color: @submenu-title__color;
        font-size: @font-size__small;
    }

    //
    //  Menu icons
    //  ---------------------------------------------

    .item-dashboard {
        > a {
            &:before {
                @_menu-item-dashboard__size: 1.8rem;
                padding-top: @menu-item-icon__height - @_menu-item-dashboard__size;
                font-size: @_menu-item-dashboard__size;
                content: @icon-dashboard__content;
            }
        }
    }

    .item-sales {
        > a {
            &:before {
                content: @icon-sales__content;
            }
        }
    }

    .item-catalog {
        > a {
            &:before {
                content: @icon-product__content;
            }
        }
    }

    .item-customer {
        > a {
            &:before {
                position: relative;
                @_menu-item-dashboard__size: 2.6rem;
                top: @menu-item-icon__height - @_menu-item-dashboard__size;
                font-size: @_menu-item-dashboard__size;
                content: @icon-customers__content;
            }
        }
    }

    .item-marketing {
        > a {
            &:before {
                @_menu-item-dashboard__size: 2rem;
                padding-top: @menu-item-icon__height - @_menu-item-dashboard__size;
                font-size: @_menu-item-dashboard__size;
                content: @icon-promotions__content;
            }
        }
    }

    .item-content {
        > a {
            &:before {
                position: relative;
                @_menu-item-dashboard__size: 2.4rem;
                top: @menu-item-icon__height - @_menu-item-dashboard__size;
                font-size: @_menu-item-dashboard__size;
                content: @icon-cms__content;
            }
        }
    }

    .item-report {
        > a {
            &:before {
                content: @icon-reports__content;
            }
        }
    }

    .item-stores {
        > a {
            &:before {
                @_menu-item-dashboard__size: 1.9rem;
                padding-top: @menu-item-icon__height - @_menu-item-dashboard__size;
                font-size: @_menu-item-dashboard__size;
                content: @icon-stores__content;
            }
        }
    }

    .item-system {
        > a {
            &:before {
                content: @icon-systems__content;
            }
        }
    }

}