<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\QuoteRepository">
        <plugin name="authorization" type="\Magento\Sales\Model\QuoteRepository\Plugin\Authorization" />
    </type>
    <type name="Magento\Sales\Model\Resource\Order">
        <plugin name="authorization" type="\Magento\Sales\Model\Resource\Order\Plugin\Authorization" />
    </type>
</config>
