// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Wysiwyg form control styles
//  ---------------------------------------------

.admin__control-wysiwig {
    .buttons-set {
        margin: 0 0 15px;

        button {
            margin-right: 4px;
        }
    }

    + button {
        margin-top: @indent__s;
    }

    textarea {
        width: 100%;
    }
}
