// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Reward Page
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@boundary__margin: 30px;
@boundary__ratio: 1.75;

.adminhtml-reward-rate-edit {
    .field-rate {
        .admin__field-control {
            &:extend(.abs-clearfix all);
        }
        .boundary {
            float: left;
            width: 125px;
        }
        .boundary-upper {
            margin-left: @boundary__margin;
            position: relative;
            &:before {
                content: '»';
                left: -(@boundary__margin / @boundary__ratio);
                position: absolute;
                top: 25%;
            }
            label {
                .lib-visibility-hidden();
                display: block;
            }
        }
    }
}
