body,
td,
pre {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    background: #fff;
}
.mceVisualAid {
    border: 1px dashed #bbb;
}

/* IE */

* html body {
    scrollbar-3dlight-color: #f0f0ee;
    scrollbar-arrow-color: #676662;
    scrollbar-base-color: #f0f0ee;
    scrollbar-darkshadow-color: #dddddd;
    scrollbar-face-color: #e0e0dd;
    scrollbar-highlight-color: #f0f0ee;
    scrollbar-shadow-color: #f0f0ee;
    scrollbar-track-color: #f5f5f5;
}
