///**
// * Copyright © Magento, Inc. All rights reserved.
// * See COPYING.txt for license details.
// */

@import "_testB.less";
@import "local.css";

span {
  font-size: 20px;
}
.logo-1 {
  background-image: url("../images/logo-magento-1.png");
}
.logo-2 {
  background-image: url("../images/logo-magento-2.png");
}
.logo-3 {
  background-image: url("../images/logo-magento-3.png");
}
