<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_data_object_login">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\Session" method="synchronizePersistentOnLogin" />
    </event>
    <event name="customer_logout">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\Session" method="synchronizePersistentOnLogout" />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\ApplyPersistentData" method="execute" />
    </event>
    <event name="checkout_allow_guest">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\DisableGuestCheckout" method="execute" />
    </event>
    <event name="customer_customer_authenticated">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\CustomerAuthenticatedEvent" method="execute" />
    </event>
    <event name="sales_quote_save_before">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\SetQuotePersistentData" method="execute" />
    </event>
    <event name="custom_quote_process">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\SetLoadPersistentQuote" method="execute" />
    </event>
    <event name="customer_register_success">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\RemovePersistentCookie" method="execute" />
    </event>
    <event name="render_block">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\ApplyBlockPersistentData" method="execute" />
    </event>
    <event name="update_customer_cookies">
        <observer name="persistent" instance="Magento\Persistent\Model\Observer\UpdateCustomerCookies" method="execute" />
    </event>
</config>
