<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <inventory>
            <inventory_configuration>
                <notify_stock_qty_default>1</notify_stock_qty_default>
            </inventory_configuration>
        </inventory>
    </default>
</config>
