<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tsg_Improvements::menu" title="TSG" module="Tsg_Improvements" sortOrder="10" resource="Magento_Backend::content"/>
    </menu>
</config>