<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <admin>
            <security>
                <session_lifetime>900</session_lifetime>
                <lockout_failures>6</lockout_failures>
                <lockout_threshold>30</lockout_threshold>
                <password_lifetime>90</password_lifetime>
                <password_is_forced>1</password_is_forced>
            </security>
        </admin>
    </default>
</config>
