<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <analytics>
            <cron>
                <time>01,00,00</time>
            </cron>
            <url>
                <signup>http://drakelair1.corp.magento.com/mamock/signup</signup>
                <update>http://drakelair1.corp.magento.com/mamock/update</update>
                <basic_tier>https://dashboard.rjmetrics.com/v2/magento/signup</basic_tier>
            </url>
            <integration_name>Magento Analytics user</integration_name>
        </analytics>
    </default>
</config>
