<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <analytics>
            <url>
                <signup>https://advancedreporting.rjmetrics.com/signup</signup>
                <update>https://advancedreporting.rjmetrics.com/update</update>
                <bi_essentials>https://dashboard.rjmetrics.com/v2/magento/signup</bi_essentials>
                <otp>https://advancedreporting.rjmetrics.com/otp</otp>
                <report>https://advancedreporting.rjmetrics.com/report</report>
                <notify_data_changed>https://advancedreporting.rjmetrics.com/report</notify_data_changed>
            </url>
            <integration_name>Magento Analytics user</integration_name>
            <general>
                <collection_time>02,00,00</collection_time>
            </general>
        </analytics>
    </default>
</config>
