<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_attributes">
                        <resource id="Magento_Review::ratings" title="Ratings" translate="title" sortOrder="60" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_user_content">
                        <resource id="Magento_Review::pending" title="Pending Reviews" translate="title" sortOrder="20"/>
                        <resource id="Magento_Review::reviews_all" title="All Reviews" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
