<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ReviewRendererInterface" type="Magento\Review\Block\Product\ReviewRenderer" />
    <type name="Magento\Framework\Model\ActionValidator\RemoveAction">
        <arguments>
            <argument name="protectedModels" xsi:type="array">
                <item name="review" xsi:type="string">Magento\Review\Model\Review</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\ReservedAttributeList">
        <arguments>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="rating_summary" xsi:type="string">rating_summary</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Review\Model\Review">
        <arguments>
            <argument name="urlModel" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Magento\Review\Model\ResourceModel\Rating\Option">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="review" xsi:type="object">\Magento\Review\Ui\DataProvider\Product\Listing\Collector\Review</item>
            </argument>
        </arguments>
    </type>
</config>
