<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"var store.getFrontendName()|escape":"Store Name"}
@-->

{{template config_path="design/email/header_template"}}

<h1>{{trans "Dear %name," name=$customer.name}}</h1>
<p>{{trans "Your e-mail {{var customer.email}} must be confirmed before using it to log in to our store."}}</p>
<p>
    {{trans
        'To confirm the e-mail and instantly log in, please, use <a href="%confirm_url">this confirmation link</a>. This link is valid only once.'

        confirm_url="$store.getUrl('customer/account/confirm/', [_query_id:$customer.id, _query_key:$customer.confirmation, _query_back_url:$back_url])"
    |raw}}
</p>

<p>{{trans "Use the following values when prompted to log in:"}}</p><br/>
<strong>{{trans "E-mail:"}}</strong> {{var customer.email}}<br/>
<strong>{{trans "Password:"}}</strong> {{trans "Only you know that! (Hint: It’s the password you created at %store_name)" store_name=$store.getFrontendName()}}<br/>
<p>
    {{trans
        'Forgot your Account password? No problem. Click <a href="%reset_url">here</a> to reset it.'
        
        reset_url="$store.getUrl('customer/account/createPassword/', [_query_id:$customer.id, _query_token:$customer.rp_token])"
    |raw}}
</p>

<p>
    {{trans
        'If you have any questions about your order please contact us at <a href="mailto:%support_email">%support_email</a> or call us at %store_phone.'

        support_email=$store.getConfig('trans_email/ident_support/email')
        store_phone=$store.getConfig('general/store_information/phone')
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
