<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Reset your {{var store.getFrontendName()}} password @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.name":"Customer Name",
"var store.getFrontendName()|escape":"Store Name"}
@-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "There was recently a request to change the password for your account."}}</p>
<p>
    {{trans "If you requested this change, reset your password here:"}}
    <!-- TODO: Convert to button style -->
    <a href="{{var customer.reset_password_url}}">{{trans "Reset Password"}}</a>
</p>
<p>{{trans "If you did not make this request, you can ignore this email and your password will remain the same."}}</p>

{{template config_path="design/email/footer_template"}}
