<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ul class="items">
<% _.each(breadcrumbs, function(crumb) { %>
    <li class="item <%- crumb.name %>">
        <% if (crumb.link) { %>
        <a href="<%= crumb.link %>" title="<%- crumb.title %>"><%- crumb.label %></a>
        <% } else if (crumb.last) { %>
        <strong><%- crumb.label %></strong>
        <% } else { %>
        <%- crumb.label %>
        <% } %>
    </li>
<% }); %>
</ul>
