// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.password-strength {
    display: block;
    margin: 0 -.3rem 1em;
    white-space: nowrap;
    &.password-strength-too-short {
        .password-strength-item {
            &:first-child {
                background-color: @color-failed;
            }
        }
    }
    &.password-strength-weak {
        .password-strength-item:first-child,
        .password-strength-item:first-child + .password-strength-item {
            background-color: @color-failed;
        }
    }
    &.password-strength-fair {
        .password-strength-item:first-child,
        .password-strength-item:first-child + .password-strength-item,
        .password-strength-item:first-child + .password-strength-item + .password-strength-item {
            background-color: @color-warning;
        }
    }
    &.password-strength-good {
        .password-strength-item:first-child,
        .password-strength-item:first-child + .password-strength-item,
        .password-strength-item:first-child + .password-strength-item + .password-strength-item,
        .password-strength-item:first-child + .password-strength-item + .password-strength-item
            + .password-strength-item {
            background-color: @color-success;
        }
    }
    &.password-strength-strong {
        .password-strength-item {
            background-color: @color-success;
        }
    }
    .password-strength-item {
        background-color: @color-gray80;
        display: inline-block;
        font-size: 0;
        height: 1.4rem;
        margin-right: .3rem;
        width: ~'calc(20% - .6rem)';
    }
}
