<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <totals_sort>
                <weee>35</weee>
                <weee_tax>35</weee_tax>
            </totals_sort>
        </sales>
        <tax>
            <weee>
                <enable>0</enable>
                <display>1</display>
                <display_list>1</display_list>
                <display_sales>1</display_sales>
                <display_email>1</display_email>
                <apply_vat>0</apply_vat>
                <include_in_subtotal>0</include_in_subtotal>
            </weee>
        </tax>
        <general>
            <validator_data>
                <input_types>
                    <weee>weee</weee>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>
