<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Weee\Api\Data\ProductRender\WeeeAdjustmentAttributeInterface"
                type="Magento\Weee\Model\ProductRender\WeeeAdjustmentAttribute"/>
    <type name="Magento\Weee\Helper\Data">
        <arguments>
            <argument name="weeeTax" xsi:type="object">Magento\Weee\Model\Tax\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Pricing\Adjustment\Collection">
        <arguments>
            <argument name="adjustments" xsi:type="array">
                <item name="weee" xsi:type="const">Magento\Weee\Pricing\Adjustment::ADJUSTMENT_CODE</item>
                <item name="weee_tax" xsi:type="const">Magento\Weee\Pricing\TaxAdjustment::ADJUSTMENT_CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Pricing\Adjustment\Pool">
        <arguments>
            <argument name="adjustments" xsi:type="array">
                <item name="weee" xsi:type="array">
                    <item name="className" xsi:type="string">Magento\Weee\Pricing\Adjustment</item>
                    <item name="sortOrder" xsi:type="string">25</item>
                </item>
                <item name="weee_tax" xsi:type="array">
                    <item name="className" xsi:type="string">Magento\Weee\Pricing\TaxAdjustment</item>
                    <item name="sortOrder" xsi:type="string">35</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Bundle\Pricing\Price\BundleSelectionPrice">
        <arguments>
            <argument name="excludeAdjustment" xsi:type="array">
                <item name="weee" xsi:type="const">Magento\Weee\Pricing\Adjustment::ADJUSTMENT_CODE</item>
                <item name="weee_tax" xsi:type="const">Magento\Weee\Pricing\TaxAdjustment::ADJUSTMENT_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Pricing\Price\CustomOptionPrice">
        <arguments>
            <argument name="excludeAdjustment" xsi:type="array">
                <item name="weee" xsi:type="const">Magento\Weee\Pricing\Adjustment::ADJUSTMENT_CODE</item>
                <item name="weee_tax" xsi:type="const">Magento\Weee\Pricing\TaxAdjustment::ADJUSTMENT_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="weee" xsi:type="object">\Magento\Weee\Ui\DataProvider\Product\Listing\Collector\Weee</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Listing\Collector\Price">
        <arguments>
            <argument name="excludeAdjustments" xsi:type="array">
                <item name="weee" xsi:type="string">weee</item>
                <item name="weee_tax" xsi:type="string">weee_tax</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Listing\DataProvider">
        <plugin name="weeeSettingsProvider" type="Magento\Weee\Plugin\Ui\DataProvider\WeeeSettings"/>
    </type>
    <type name="Magento\Catalog\Model\ProductRender\FormattedPriceInfoBuilder">
        <arguments>
            <argument name="formattedPriceTypesPool" xsi:type="array">
                <item name="catalog_prices" xsi:type="string">Magento\Catalog\Api\Data\ProductRender\FormattedPriceInfoInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="weeeAttributeOptionsProcess" type="Magento\Weee\Plugin\Catalog\Controller\Adminhtml\Product\Initialization\Helper\ProcessTaxAttribute"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Attribute\RemoveProductAttributeData">
        <plugin name="removeWeeAttributesData" type="Magento\Weee\Plugin\Catalog\ResourceModel\Attribute\RemoveProductWeeData" />
    </type>
</config>
