<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Buttons configurations -->
    <virtualType name="Magento\InventoryAdminUi\Ui\Component\Control\Source\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">inventory_source_form.inventory_source_form</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\InventoryAdminUi\Ui\Component\Control\Stock\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">inventory_stock_form.inventory_stock_form</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\InventoryAdminUi\Ui\Component\Control\Stock\DeleteButton" type="Magento\Backend\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="confirmationMessage" xsi:type="string" translatable="true">Are you sure you want to delete this stock?</argument>
            <argument name="idFieldName" xsi:type="const">Magento\InventoryApi\Api\Data\StockInterface::STOCK_ID</argument>
            <argument name="deleteRoutePath" xsi:type="string">*/*/delete</argument>
            <argument name="sortOrder" xsi:type="number">30</argument>
        </arguments>
    </virtualType>
</config>
