<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Dxvn, Inc. All rights reserved.
 * @author  Tran Ngoc Duc <caothu91@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <diepxuan_autologin>
            <autologin>
                <enable>1</enable>
                <username>admin</username>
            </autologin>
            <security>
                <session_lifetime>5184000</session_lifetime>
            </security>
        </diepxuan_autologin>
    </default>
</config>
