<?xml version="1.0"?>
<!--
/**
 * Copyright 2025 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <rule>
                <share_all_catalog_rules>1</share_all_catalog_rules>
                <share_applied_catalog_rules>1</share_applied_catalog_rules>
            </rule>
        </catalog>
    </default>
</config>
