<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogRule\Model\ResourceModel\Rule">
        <arguments>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\Manager\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogRule\Model\ResourceModel\Rule\Collection" shared="false" />
    <type name="Magento\Catalog\Model\Product\PriceModifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="catalog_rule" xsi:type="string">Magento\CatalogRule\Model\Product\PriceModifier</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="catalogrule" xsi:type="string">Magento_CatalogRule</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="catalog_rule_price" xsi:type="string">Magento\CatalogRule\Pricing\Price\CatalogRulePrice</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\ResourceModel\Product\LinkedProductSelectBuilderComposite">
        <arguments>
            <argument name="linkedProductSelectBuilder" xsi:type="array">
                <item name="catalogRulePrice" xsi:type="object">Magento\CatalogRule\Model\ResourceModel\Product\LinkedProductSelectBuilderByCatalogRulePrice</item>
            </argument>
        </arguments>
    </type>
</config>
