<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogRule\Model\Resource\Rule">
        <arguments>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\Manager\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogRule\Model\Resource\Rule\Collection" shared="false" />
    <type name="Magento\CatalogRule\Model\Observer">
        <arguments>
            <argument name="resourceRule" xsi:type="object">Magento\CatalogRule\Model\Resource\Rule\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="backendSession" xsi:type="object">Magento\Backend\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\PriceModifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="catalog_rule" xsi:type="string">Magento\CatalogRule\Model\Product\PriceModifier</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="catalogrule" xsi:type="string">Magento_CatalogRule</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="catalog_rule_price" xsi:type="string">Magento\CatalogRule\Pricing\Price\CatalogRulePrice</item>
            </argument>
        </arguments>
    </virtualType>
</config>
