<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: quoteIsVirtual == 0 -->
    <!-- ko if: isBothPricesDisplayed() -->
    <tr class="totals shipping excl">
        <th colspan="3" class="mark" scope="row">
            <p data-bind="text: $t(title) + ' ' + $t(excludingTaxMessage)"></p>
            <p data-bind="text: $t(getShippingMethodTitle())"></p>
        </th>
        <td class="amount" data-bind="text: $t(getExcludingValue()), attr: {'data-th': $t(excludingTaxMessage)}"></td>
    </tr>
    <tr class="totals shipping incl">
        <th  colspan="3" class="mark" scope="row">
            <p data-bind="text: $t(title) + ' ' + $t(includingTaxMessage)"></p>
            <p data-bind="text: $t(getShippingMethodTitle())"></p>
        </th>
        <td class="amount" data-bind="text: $t(getIncludingValue()), attr: {'data-th': $t(title) + ' ' + $t(excludingTaxMessage)}"></td>
    </tr>
    <!-- /ko -->
    <!-- ko if: isIncludingDisplayed() -->
    <tr class="totals shipping incl">
        <th colspan="3" class="mark" scope="row">
            <p data-bind="text: $t(title)"></p>
            <p data-bind="text: $t(getShippingMethodTitle())"></p>
        </th>
        <td class="amount" data-bind="text: $t(getIncludingValue()), attr: {'data-th': $t(title)}"></td>
    </tr>
    <!-- /ko -->
    <!-- ko if: isExcludingDisplayed() -->
    <tr class="totals shipping excl">
        <th  colspan="3" class="mark" scope="row">
            <p data-bind="text: $t(title)"></p>
            <p data-bind="text: $t(getShippingMethodTitle())"></p>
        </th>
        <td  data-bind="text: $t(getValue()), attr: {'data-th': $t(title)}" class="amount"></td>
    </tr>
    <!-- /ko -->
<!-- /ko -->

