<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isBothPricesDisplayed() -->
<tr class="totals sub excl">
    <th colspan="3" data-bind="text: $t(excludingTaxMessage)" class="mark" scope="row">
    </th>
    <td data-bind="text: getValue(), attr: {'data-th': $t(excludingTaxMessage) }" class="amount"></td>
</tr>
<tr class="totals sub incl">
    <th colspan="3" data-bind="text: $t(includingTaxMessage)" class="mark" scope="row">
    </th>
    <td data-bind="text: getValueInclTax(), attr: {'data-th': $t(includingTaxMessage) }" class="amount">
    </td>
</tr>
<!-- /ko -->
<!-- ko if: !isBothPricesDisplayed() && isIncludingTaxDisplayed() -->
<tr class="totals sub">
    <th  colspan="3" data-bind="text: $t(title)" class="mark" scope="row"></th>
    <td data-bind="text: getValueInclTax(), attr: {'data-th': $t(title)}" class="amount"></td>
</tr>
<!-- /ko -->
<!-- ko if: !isBothPricesDisplayed() && !isIncludingTaxDisplayed() -->
<tr class="totals sub">
    <th  colspan="3" data-bind="text: $t(title)" class="mark" scope="row"></th>
    <td data-bind="text: getValue(), attr: {'data-th': $t(title)}" class="amount"></td>
</tr>
<!-- /ko -->
