<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_user_save_after">
        <observer name="new_admin_user_created"
                  instance="Magento\AdminAdobeIms\Observer\AdminAccountCreatedObserver"/>
    </event>
    <event name="admin_adobe_ims_user_authenticate_after">
        <observer name="admin_adobe_ims_user_authentication"
                  instance="Magento\AdminAdobeIms\Observer\AuthObserver"/>
    </event>
</config>
