<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="map-popup"
     data-role="msrp-popup">
    <div class="map-info-price">
        <div class="price-box">
            <div class="map-msrp">
                <span class="label"
                      translate="'Price'"/>

                <span class="old-price map-old-price">
                    <span class="price-container price-msrp">
                        <span class="price-wrapper"
                              html="getPrice($row())['msrp_price']"/>
                    </span>
                </span>
            </div>

            <div class="map-price">
                <span class="label"
                      translate="'Actual Price'"/>

                <span class="actual-price">
                    <if args="isAllowed()">
                        <each args="data: getPrices($row()), as: '$price'">
                            <with args="$price">
                                <render args="getBody()"/>
                            </with>
                        </each>
                    </if>
                </span>
            </div>
        </div>

        <div class="map-form-addtocart">
            <with args="$parent.getComponentByCode('addtocart-button')">
                <render args="getBody()" />
            </with>
        </div>
    </div>

    <div class="map-text"
         html="getExplanationMessage($row())"/>
</div>
