// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// ==============================================
// ClearLess default settings
// ----------------------------------------------
// Override on a per-project basis as required.
// ==============================================

// General --------------------------------

@using-ieclasses: true; // whether or not the markup has html5-boilerplate style IE classes in it or not
@using-modernizr: false; // whether or not modernizer feature-detection classes are being used
@disable-filters: true; // whether or not to disable MS-specific 'filter' properties (can make IE slow!)

// Typography --------------------------------

@base-font-size: 16; // base pixel font size. Used as a default for px -> (r)em conversions

// Sprites --------------------------------

@sprite-image: '/example.png';
@sprite-grid: 50px;

// Grid --------------------------------

@total-columns: 12;
@column-width: 60px;
@gutter-width: 20px;
