<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Config::config">
                <resource id="Diepxuan_SyncCRM::config" title="SyncCRM Config" sortOrder="100" />
            </resource>
        </resource>
    </resources>
</acl>
