<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="attributes:restoredefault" xsi:type="object">Diepxuan\SyncCRM\Console\Command\ProductSyncCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Diepxuan\SyncCRM\Sync\ProductSync">
        <arguments>
            <argument name="productFactory" xsi:type="object">Magento\Catalog\Model\ProductFactory</argument>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
</config>
