<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Resource\Eav\Attribute">
        <plugin name="save_swatches_option_params" type="Magento\Swatches\Model\Plugin\EavAttribute"/>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="add_product_object_to_image_data_array" type="Magento\Swatches\Model\Plugin\ProductImage" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="exclude_swatch_attribute" type="Magento\Swatches\Model\Plugin\Product" />
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="swatches_layered_renderer" type="Magento\Swatches\Model\Plugin\FilterRenderer" sortOrder="1" />
    </type>
    <type name="Magento\Eav\Model\Attribute\FrontendType">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="select" xsi:type="array">
                    <item name="select" xsi:type="string">select</item>
                    <item name="swatch_visual" xsi:type="string">swatch_visual</item>
                    <item name="swatch_text" xsi:type="string">swatch_text</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Config\View">
        <arguments>
            <argument name="xpath" xsi:type="array">
                <item name="image" xsi:type="array">
                    <item name="0" xsi:type="array">
                        <item name="path" xsi:type="string">/view/images</item>
                        <item name="id" xsi:type="string">module</item>
                    </item>
                    <item name="1" xsi:type="array">
                        <item name="path" xsi:type="string">/view/images/image</item>
                        <item name="id" xsi:type="array">
                            <item name="id1" xsi:type="string">id</item>
                            <item name="id2" xsi:type="string">type</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Config\Reader\Xsd\MediaTypeDataExtractorPool">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="images" xsi:type="string">Magento\Swatches\Model\ImageExtractor</item>
            </argument>
        </arguments>
    </type>
</config>
