<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="backend">
        <route id="adminhtml" frontName="admin">
            <module name="Magento_ModuleD" />
            <module name="Magento_ModuleB" before="Magento_ModuleD" />
            <module name="Magento_ModuleC" before="Magento_ModuleD" />
            <module name="Magento_ModuleA" before="Magento_ModuleB" />
            <module name="Magento_ModuleE" />
            <module name="Magento_ModuleF" after="Magento_ModuleE" />
        </route>
        <route id="customer" frontName="customer">
            <module name="Magento_ModuleE" before="Magento_ModuleC" />
        </route>
        <route id="wishlist" frontName="wishlist">
            <module name="Magento_ModuleC" />
        </route>
    </router>
    <router id="front" />
</config>
