<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <cookie>
                <cookie_lifetime>3600</cookie_lifetime>
                <cookie_httponly>1</cookie_httponly>
                <cookie_restriction>0</cookie_restriction>
                <cookie_restriction_lifetime>31536000</cookie_restriction_lifetime>
            </cookie>
        </web>
     </default>
</config>
