<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__data-grid-filters-current" css="_show: hasPreviews()">
    <div class="admin__current-filters-title-wrap">
        <span class="admin__current-filters-title" translate="'Active filters\\:'"/>
    </div>
    <div class="admin__current-filters-list-wrap">
        <ul class="admin__current-filters-list" data-role="filter-list">
            <each args="elems">
                <li outereach="previews">
                    <span text="label + '\\:'"/>
                    <span if="typeof preview === 'string'" text="preview"/>
                    <span if="typeof preview === 'object'">
                        <text args="preview[0] || '...'"/> - <text args="preview[1] || '...'"/>
                    </span>
                    <button class="action-remove" type="button"
                        data-action="grid-filter-remove-chip"
                        click="$parent.clear.bind($parent, elem)">
                        <span translate="'Remove'"/>
                    </button>
                </li>
            </each>
        </ul>
    </div>
    <div class="admin__current-filters-actions-wrap">
        <button class="action-tertiary action-clear" type="button" click="clear" translate="'Clear all'"
            attr="'data-action': hasPreviews() ? 'grid-filter-reset' : ''"/>
    </div>
</div>