<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_WeeeConfigurableProducts">
	    <sequence>
            <module name="Magento_Weee" />
            <module name="Magento_ConfigurableProducts" />
        </sequence>
    </module>
</config>