<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Smetana\Images\Model\Config\Image">
        <plugin name="Smetana_Images_Plugin" type="Smetana\Images\Plugin\SaveImage" sortOrder="10" disabled="false"  />
    </type>
</config>