<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="file_system" translate="label" type="text" sortOrder="850" showInDefault="1">
                <label>Storage Configuration</label>
                <field id="driver" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General Storage</label>
                    <source_model>Magento\RemoteStorage\Model\Config\Source\FileStorage</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
