<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<div style="border: 1px dashed magenta; width:100%">
    <div style="padding: 5px">
        <input type="radio" name="payment" style="margin-right: 20px" data-bind="value: item.code, id: item.code, checked: isChecked, click:selectPaymentMethod" /><span data-bind="text: getTitle()"></span>
        <p data-bind="text: getInstructions()" style="margin-left: 35px"></p>
        <div class="primary" style="margin-left: 35px">
            <button data-bind="click: placeOrder, text: $t('Place Order'), enable: isEnabled(item.code)" class="button action primary checkout" disabled></button>
        </div>
    </div>
</div>