<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': isEnabled(item.code)}">
    <div class="payment-method-title">
        <input type="radio" name="payment" data-bind="id: item.code, value: item.code, checked: isChecked, click:selectPaymentMethod" />
        <span data-bind="text: getTitle()"></span>
    </div>
    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <p data-bind="text: getInstructions()"></p>
        <div class="actions-toolbar">
            <div class="primary">
                <button data-bind="click: placeOrder, text: $t('Place Order'), enable: isEnabled(item.code)" class="button action primary checkout" disabled></button>
            </div>
        </div>
    </div>
</div>
        