<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (item.code == isEnabled())}">
    <form id="purchaseorder-form" class="form form-purchase-order">

        <div class="payment-method-title field choice">
            <input type="radio"
                   name="payment"
                   class="radio"
                   data-bind="attr: {'id': item.code}, value: item.code, checked: isChecked, click: selectPaymentMethod"/>
            <label data-bind="attr: {'for': item.code}" class="label">
                <span data-bind="text: getTitle()"></span>
            </label>
        </div>

        <div class="payment-method-content">
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>

            <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>
                <div class="field field-number required">
                    <label for="po_number" class="label">
                        <span><!-- ko text: $t('Purchase Order Number')--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="po_number"
                               name="payment[po_number]"
                               data-validate="{required:true}"
                               data-bind='
                                attr: {title: $t("Purchase Order Number")},
                                value: purchaseOrderNumber'
                               class="input-text"/>
                    </div>
                </div>
                <div class="actions-toolbar" id="review-buttons-container">
                    <div class="primary">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="click: placeOrder, attr: {title: $t('Place Order')}, enable: (item.code == isEnabled())"
                                data-role="review-save">
                            <span data-bind="text: $t('Place Order')"></span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
        