<?xml version='1.0' encoding="utf-8" ?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Cache">
        <arguments>
            <argument name="storeManager" xsi:type="object">customStoreManagerProxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\Context">
        <arguments>
            <argument name="layoutFactory" xsi:type="object">customLayoutFactory</argument>
        </arguments>
        <plugin name="first" type="Magento\Core\Model\Action\Plugin" />
    </type>
    <virtualType name="customStoreManagerProxy" type="Magento\Store\Model\StoreManager\Proxy" />
    <virtualType name="customLayoutFactory" type="Magento\Framework\View\LayoutFactory" />
</config>
