<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="captcha" instance="Magento\Captcha\Observer\CheckUserLoginObserver" method="execute" />
    </event>
    <event name="controller_action_predispatch_customer_account_createpost">
        <observer name="captcha" instance="Magento\Captcha\Observer\CheckUserCreateObserver" method="execute" />
    </event>
    <event name="controller_action_predispatch_customer_account_forgotpasswordpost">
        <observer name="captcha" instance="Magento\Captcha\Observer\CheckForgotpasswordObserver" method="execute"/>
    </event>
    <event name="admin_user_authenticate_before">
        <observer name="captcha" instance="Magento\Captcha\Observer\CheckUserLoginBackendObserver" method="execute" />
    </event>
    <event name="controller_action_predispatch_checkout_onepage_saveBilling">
        <observer name="captcha_guest" instance="Magento\Captcha\Observer\CheckGuestCheckoutObserver" method="execute" />
        <observer name="captcha_register" instance="Magento\Captcha\Observer\CheckRegisterCheckoutObserver" method="execute" />
    </event>
    <event name="customer_customer_authenticated">
        <observer name="captcha_reset_attempt" instance="Magento\Captcha\Observer\ResetAttemptForFrontendObserver" method="execute" />
    </event>
    <event name="backend_auth_user_login_success">
        <observer name="captcha_reset_attempt" instance="Magento\Captcha\Observer\ResetAttemptForBackendObserver" method="execute" />
    </event>
</config>
