<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\CompositeConfigProvider">
        <arguments>
            <argument name="wysiwygConfigPostProcessor" xsi:type="array">
                <item name="testAdapter" xsi:type="string">Magento\TestModuleWysiwygConfig\Model\Config</item>
                <item name="Magento_TestModuleWysiwygConfig/wysiwyg/tinymce4TestAdapter" xsi:type="string">Magento\TestModuleWysiwygConfig\Model\Config</item>
            </argument>
            <argument name="variablePluginConfigProvider" xsi:type="array">
                <item name="testAdapter" xsi:type="string">Magento\Variable\Model\Variable\ConfigProvider</item>
            </argument>
            <argument name="widgetPluginConfigProvider" xsi:type="array">
                <item name="testAdapter" xsi:type="string">Magento\Widget\Model\Widget\Config</item>
            </argument>
            <argument name="galleryConfigProvider" xsi:type="array">
                <item name="testAdapter" xsi:type="string">Magento\Cms\Model\Wysiwyg\Gallery\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Config\Source\Wysiwyg\Editor">
        <arguments>
            <argument name="adapterOptions" xsi:type="array">
                <item name="testAdapter" xsi:type="array">
                    <item name="value" xsi:type="string">Magento_TestModuleWysiwygConfig/wysiwyg/tinymce4TestAdapter</item>
                    <item name="label" xsi:type="string" translatable="true">Test Adapter</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
