<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\Query\Filter">
        <arguments>
            <argument name="postProcessors" xsi:type="array">
                <item name="grouped_processor" xsi:type="object">Magento\GroupedProductGraphQl\Model\Resolver\Products\Query\GroupedItemsPostProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="\Magento\CatalogGraphQl\Model\Resolver\Product\BatchProductLinks">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="associated" xsi:type="string">associated</item>
            </argument>
        </arguments>
    </type>
</config>
