<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<if args="hasReviews()">
    <div class="product-reviews-summary short no-rating">
        <if args="hasRating()">
            <div class="rating-summary">
                <span class="label">
                    <span translate="'Rating'"></span>
                </span>
                <div class="rating-result"
                     atrr="title: ratingAmount">
                    <span style="width: 0">
                        <span translate="ratingAmount"></span>
                    </span>
                </div>
            </div>
        </if>
        <if args="showReviewsActions()">
            <div class="reviews-actions">
                <a if="showViewReviewAction()"
                   class="action view"
                   href="">
                    <text args="reviewsCount()"/>
                    <span text="reviewsCountText()"></span>
                </a>
            </div>
        </if>
    </div>
</if>

<ifnot args="hasReviews() && displayIfEmpty">
    <div class="product-reviews-summary short empty">
        <div class="reviews-actions">
            <a class="action add"
               href=""
               translate="'Be the first to review this product'"></a>
        </div>
    </div>
</ifnot>
