// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Sales Module Styles
//  ---------------------------------------------

//
//  Order Summary
//  --------------------------------------

.order-details {
    width: 100%;
}

//
//  Items Table
//  --------------------------------------

.order-items {
    .table(@table__width, 0);
    .table-background-color();
    .table-bordered(@_table_type: horizontal);
    .css(border, @table__border-width @table__border-style @table__border-color);

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th {
                padding-bottom: @indent__s;
            }

            > th,
            > td {
                padding-top: @indent__s;

                &.message-gift {
                    border-top: none;
                    padding-top: 0;
                }
            }
        }
    }

    .product-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .item-info {
        dl {
            margin-bottom: @indent__s;

            dt,
            dd {
                margin-bottom: 0;
            }

            dd {
                padding-left: @email-content__padding;
            }
        }
    }

    .item-qty {
        text-align: center;
    }

    .item-price {
        text-align: right;
    }
}

.email-non-inline() {
    .order-items {
        .table-overflow();
    }
}
