<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__page-section-title">
    <span class="title"><%- data.title %></span>
</div>
<div id="order-shipping-method-summary"
     class="order-shipping-method-summary">
    <a href="#"
       onclick="return order.loadShippingRates();"
       class="action-default">
        <span><%- data.linkText %></span>
    </a>
    <input type="hidden" name="order[has_shipping]" value="" class="required-entry" />
</div>
