<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\NewRelicReporting\Model\Module\Collect">
        <arguments>
            <argument name="fullModuleList" xsi:type="object">Magento\Framework\Module\FullModuleList</argument>
        </arguments>
    </type>
</config>
