<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_NewRelicReporting" >
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>
