<?xml version="1.0"?>
<!--
/**
 * Copyright 2020 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="securehtml" frontName="securehtml">
            <module name="Magento_TestModuleSecureHtmlRenderer" />
        </route>
    </router>
</config>
