<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="tsg_weather_widget" id="tsg_weather_widget">
			<module before="Magento_Backend" name="Tsg_WeatherWidgetAdminUi"/>
		</route>
	</router>
</config>
