<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Ui\Component\Wysiwyg\ConfigInterface" type="Magento\Cms\Model\Wysiwyg\Config"/>
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">UiModifierPool</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Config\Source\Wysiwyg\Editor">
        <plugin name="change_tinymce_label" type="Magento\Tinymce3\Model\Config\Source\Wysiwyg\EditorPlugin" />
    </type>
</config>
