<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="catalog_product_upsell">
        <observer name="bundle_observer" instance="Magento\Bundle\Model\Observer" method="appendUpsellProducts" />
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="bundle_observer" instance="Magento\Bundle\Model\Observer" method="loadProductOptions" />
    </event>
    <event name="product_option_renderer_init">
        <observer name="bundle_observer" instance="Magento\Bundle\Model\Observer" method="initOptionRenderer" />
    </event>
</config>
