<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<span if="showMinRegularPrice($row())"
      class="old-price">
    <span class="price-container"
          css="getAdjustmentCssClasses($row())">
        <span if="label"
              class="price-label"
              text="label"></span>

        <span class="price-wrapper"
              css="priceWrapperCssClasses"
              attr="priceWrapperAttr"
              data-price-amount=""
              data-price-type=""
              html="getMinRegularPriceUnsanitizedHtml($row())"></span>
    </span>
</span>
