<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field">
    <label class="label" data-bind="attr: {for: index}">
        <span data-bind="text: label"></span>
    </label>
    <div class="control">
        <select data-bind="value: selected">
            <option></option>
            <!-- ko foreach: { data: options, as: 'option' } -->
                <!-- ko template: 'store/filter/store/item' --><!-- /ko -->
            <!-- /ko -->
        </select>
    </div>
</div>