<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-tooltip="tooltip-wrapper" class="data-tooltip-wrapper <%= data.tooltipClasses %>">
    <div class="data-tooltip-tail"></div>
    <div class="data-tooltip">
        <% if(data.closeButton){ %>
            <button type="button" class="action-close">
                <span translate="'Close'"></span>
            </button>
        <% } %>
        <div class="data-tooltip-content"></div>
    </div>
</div>
