// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

//
//  Sidebar
//  ---------------------------------------------

@page-order-sidebar__font-size: 1.5rem;
@page-order-sidebar__font-size-xs: 1.1rem;
@page-order-sidebar__color: @color-very-dark-gray;
@page-order-sidebar__margin: 2.4rem;
@page-order-sidebar__padding: @indent__base;
@page-order-sidebar__margin-reqular: 1.7rem;
@page-order-sidebar__margin-small: .5rem;
@page-order-sidebar__border-color: @border__color;

@page-order-icon-refresh__font-size: 2rem;
@page-order-icon-refresh__color: @color-gray83;
@page-order-icon-refresh__hover__color: darken(@color-gray83, 10%);

@page-order-icon-add__content: @icon-arrow-right__content;
@page-order-icon-remove__content: @icon-delete__content;
@page-order-icon-refresh__content: @icon-refresh__content;
@page-order-icon-plus__content: @icon-plus__content;
@page-order-icon-plus__hover__color: @color-very-dark-gray-black2;

@page-order-table__border-color: @table-td__border-color;

//

//
//  Layout
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .order-details {
        float: right;
        #mix-grid .width(9,12);
        margin-left: 0;
    }
    .order-sidebar {
        #mix-grid .column(3,12);
        margin-left: 0;
    }

    .order-billing-address,
    .order-billing-method,
    .order-history {
        float: left;
        #mix-grid .width(6,12);
    }

    .order-shipping-address,
    .order-shipping-method,
    .order-totals {
        float: right;
        #mix-grid .width(6,12);
    }
}

//
//  Table
//  ---------------------------------------------

.order-tables {
    margin: 0 0 @page-order-sidebar__margin-reqular;
    width: 100%;
    th {
        border-top: 0;
        font-size: 1.3rem;
    }
    td {
        border-bottom: none;
        padding-top: @page-order-sidebar__padding;
    }
    tbody {
        tr {
            &:last-child {
                td {
                    border-bottom: 1px solid @page-order-table__border-color;
                }
            }
            &.border {
                td {
                    padding-top: 0;
                }
            }
        }
    }
    .col-qty {
        .admin__control-text {
            &:extend(.abs-control-qty all);
        }
    }
    .col-actions {
        .admin__control-select {
            width: 13rem;
        }
    }
    .price {
        display: block;
        margin: 0 0 @page-order-sidebar__margin-small;
    }
    .custom-price-block {
        font-size: @page-order-sidebar__font-size-xs;
        margin: 0 0 @page-order-sidebar__margin-small;
        + .admin__control-text {
            &:extend(.abs-control-price);
        }
    }
    .discount-price-block {
        font-size: @page-order-sidebar__font-size-xs;
    }
    .product-configure-block {
        margin: 1rem 0 0;
        .disabled {
            display: none;
        }
    }
}

.order-search-items {
    .grid {
        .action-configure {
            float: right;
        }
    }
}

//
//  Select Store Scope
//  ---------------------------------------------

.tree-store-scope {
    max-width: 50rem;

    .admin__field {
        margin: 0 0 1rem;
    }
}

//
//  Add by SKU
//  ---------------------------------------------

.add-by-sku {
    clear: both;
    .admin__field-note {
        margin: 1rem 0;
    }
    .table-info {
        th {
            border-top: none;
        }
        th,
        td {
            &:first-child {
                padding-left: 0;
            }
        }
    }
    .action-default {
        &:extend(.abs-action-reset all);
        &:extend(.abs-icon all);
        display: inline-block;
        font-size: @page-order-sidebar__font-size + 0.1rem;
        padding-top: @page-order-sidebar__margin-small;
        vertical-align: middle;
        &:after {
            color: @page-order-sidebar__color;
        }
        > span {
            &:extend(.abs-visually-hidden all);
        }
        &.add {
            &:after {
                content: @page-order-icon-plus__content;
            }
        }
        &.delete {
            &:after {
                content: @page-order-icon-remove__content;
            }
        }
        &:hover {
            &:after {
                color: @page-order-icon-plus__hover__color;
            }
        }
    }
}

//
//  Order discounts
//  ---------------------------------------------

.order-discounts {
    .extend__clearfix();
    margin-top: @indent__base;
    .action-secondary {
        float: right;
        margin-top: 2.1rem;
    }
    .order-coupons {
        float: left;
    }
    .admin__field {
        display: inline-block;
        margin: 0 3.5rem 0 0;
        vertical-align: top;

        .admin__field-control {
            padding-right: 35px;
            position: relative;
        }

        .action-default {
            &:extend(.abs-action-reset all);
            bottom: 7px;
            position: absolute;
            right: 0;
            > span {
                .extend__visually-hidden();
            }

            &:before {
                &:extend(.abs-icon all);
                content: @icon-arrow-right__content;
            }

            &:hover {
                color: @page-order-icon-plus__hover__color;
            }
        }
    }
}

//
//  Order Account Information
//  ---------------------------------------------

.order-account-information {
    .admin__fieldset {
        &:extend(.abs-clearfix all);
    }
    .admin__field {
        margin-bottom: 0;
    }
    .field-group_id {
        float: left;
    }
    .field-email {
        overflow: hidden;
    }
}

//
//  Order Address Information
//  ---------------------------------------------

.order-details {
    .order-search-items {
        .col-qty {
            .admin__control-text {
                &:extend(.abs-control-qty);
            }
        }
    }

    .admin__fieldset-wrapper:not(:last-child) {
        margin-bottom: 5rem;
    }

    .admin__fieldset-wrapper-content {
        .extend__clearfix();
    }

    .admin__fieldset-wrapper-title {
        border-bottom: 1px solid @color-gray80;
        .extend__clearfix();
        margin-bottom: @page-order-sidebar__margin-reqular;
        padding-bottom: @indent__xs;
        .actions {
            float: right;
            margin-bottom: @page-order-sidebar__margin-reqular;
            margin-top: -@indent__xs;
        }
        .action-secondary {
            margin-left: @indent__base;
        }
        .title {
            margin: 0;
        }
    }

    .admin__legend {
        &:extend(.abs-fieldset-legend all);
    }

    .admin__field {
        &:extend(.abs-field-rows all);
    }

    .admin__field-option {
        .admin__field-label {
            display: block;
            width: auto;
        }
    }
}

.field-vat-number {
    .action-default {
        &:extend(.abs-action-tertiary-as-link all);
        margin-top: @indent__s;
    }
}

//
//  Order Payment & Shipping Information
//  ---------------------------------------------

.order-methods { //  ToDo UI: add styles for 3d secure
    .admin__field {
        &:extend(.abs-field-rows all);
    }
    .admin__fieldset-wrapper-content {
        .admin__fieldset-wrapper-title {
            &:extend(.abs-fieldset-legend all);
            border-bottom: 0;
            margin-bottom: 1.5rem;
            padding: 0;
        }
    }
}

.admin__payment-method-wapper {
    margin: 0;
    .admin__fieldset {
        padding: 1.5rem 0 @indent__base @field-control-option-label__padding-left;
    }
    .admin__field {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.admin__order-shipment-methods {
    //  ToDo UI: add styles for shipping methods
}

.admin__order-shipment-methods-title {
    font-weight: @font-weight__bold;
    margin: 0 0 @indent__xs;
}

.admin__order-shipment-methods-options {
    margin: 0 0 @indent__base @field-control-option-label__padding-left;
}

.admin__order-shipment-methods-options-list {
    list-style: none;
    margin: 0;
}

.order-shipping-method-summary {
    padding-top: @field-option__padding-top;
    .action-default {
        &:extend(.abs-action-tertiary-as-link all);
    }
}

//
//  Order Sidebar
//  ---------------------------------------------

.order-sidebar {
    &:extend(.admin__page-nav);
    color: @page-order-sidebar__color;
    padding: 3rem @page-order-sidebar__padding;

    .order-currency {
        float: none;
        font-size: @font-size__base;
        margin: 0 0 @page-order-sidebar__margin;
    }
    .customer-activity-title {
        border-bottom: 1px solid @page-order-sidebar__border-color;
        font-size: 1.9rem;
        font-weight: @font-weight__bold;
        margin: 0 0 @page-order-sidebar__margin;
        padding: 0 0 @page-order-sidebar__margin;
    }
    .admin__control-select {
        margin: 0 0 @page-order-sidebar__margin-small;
        width: 100%;
    }
    .order-sidebar-block {
        border-bottom: 1px solid @page-order-sidebar__border-color;
        margin: 0 0 @page-order-sidebar__margin;
        padding: 0 0 @page-order-sidebar__margin;
    }
    .table-info {
        color: @page-order-sidebar__color;
        width: 100%;
        th,
        td {
            &:first-child {
                padding-left: 0;
            }
        }
        .icon {
            &:extend(.abs-icon all);
            display: inline-block;
            font-size: @page-order-sidebar__font-size + 0.1rem;
            vertical-align: middle;
            &:after {
                color: @page-order-sidebar__color;
            }
            &.icon-remove {
                &:after {
                    content: @page-order-icon-remove__content;
                }
            }
            &.icon-add {
                &:after {
                    content: @page-order-icon-add__content;
                }
            }
            > span {
                .extend__visually-hidden();
            }
        }
    }
    .action-refresh {
        &:extend(.abs-icon all);
        display: inline-block;
        font-size: @page-order-icon-refresh__font-size;
        padding-right: @page-order-sidebar__margin-small;
        vertical-align: middle;
        &:after {
            color: @page-order-icon-refresh__color;
            content: @page-order-icon-refresh__content;
        }
        &:hover {
            &:after {
                color: @page-order-icon-refresh__hover__color;
            }
            text-decoration: none;
        }
        > span {
            .extend__visually-hidden();
        }
    }
    .create-order-sidebar-block {
        .head {
            margin: 0 0 @page-order-sidebar__margin;
        }
        .auto-scroll {
            margin: 0 0 @page-order-sidebar__margin-small;
            max-height: 17rem;
            overflow: auto;
        }
    }
    .create-order-sidebar-label {
        display: inline-block;
        font-size: @page-order-sidebar__font-size;
        font-weight: @font-weight__regular;
        margin: 0;
        + .admin__control-select {
            margin-top: @page-order-sidebar__margin-reqular;
        }
    }
    .actions {
        .action-secondary {
            width: 100%;
        }
    }
}

//
//  Totals
//  ---------------------------------------------

//  ToDo UI: review the collapsible block
.summary-total {
    .summary-collapse {
        cursor: pointer;
        display: inline-block;
        &:before {
            @iconsize: 16px;

            background: #f2ebde;
            border: 1px solid #ada89e;
            border-radius: 2px;
            color: #816063;
            content: '\e02d';
            display: inline-block;
            font-family: 'MUI-Icons';
            font-size: @iconsize;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            height: @iconsize;
            line-height: @iconsize;
            margin-right: 7px;
            overflow: hidden;
            speak: none;
            text-indent: 0;
            vertical-align: top;
            width: @iconsize;
        }
        &:hover:before {
            background: #cac3b4;
        }
    }
    &.show-details .summary-collapse:before {
        content: '\e03a';
    }
}
