<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Translate\Inline\ConfigInterface" type="Magento\Backend\Model\Translate\Inline\Config" />
    <type name="Magento\Translation\Model\ResourceModel\Translate">
        <arguments>
            <argument name="scope" xsi:type="string">admin</argument>
        </arguments>
    </type>
    <type name="Magento\Translation\Model\ResourceModel\StringUtils">
        <arguments>
            <argument name="scope" xsi:type="string">admin</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Translate\Inline">
        <arguments>
            <argument name="templateFileName" xsi:type="string">Magento_Translation::translate_inline.phtml</argument>
            <argument name="translatorRoute" xsi:type="string">adminhtml/ajax/translate</argument>
            <argument name="layout" xsi:type="object">Magento\Framework\View\LayoutInterface\Proxy</argument>
            <argument name="url" xsi:type="object">Magento\Backend\Model\UrlInterface</argument>
            <argument name="scope" xsi:type="string">admin</argument>
        </arguments>
    </type>
</config>
