<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Mtf\Util\Command\File\ExportInterface" type="\Magento\Mtf\Util\Command\File\Export" />
    <preference for="Magento\Mtf\Util\Command\File\Export\ReaderInterface" type="\Magento\Mtf\Util\Command\File\Export\Reader" />

    <type name="\Magento\Mtf\Util\Command\File\Export" shared="false" />

    <virtualType name="Magento\Mtf\Config\SchemaLocator\Config" type="Magento\Mtf\Config\SchemaLocator">
        <arguments>
            <argument name="schemaPath" xsi:type="string">etc/config.xsd</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Mtf\Util\Protocol\CurlTransport\WebapiDecorator" shared="true" />

    <type name="Magento\Mtf\Util\Command\File\Export\Reader">
        <arguments>
            <argument name="template" xsi:type="string">\w*?\.csv</argument>
        </arguments>
    </type>

    <virtualType name="Magento\Mtf\Util\Command\File\Export\ProductReader" type="Magento\Mtf\Util\Command\File\Export\Reader">
        <arguments>
            <argument name="template" xsi:type="string">catalog_product.*?\.csv</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Mtf\Util\Command\File\Export\CustomerReader" type="Magento\Mtf\Util\Command\File\Export\Reader">
        <arguments>
            <argument name="template" xsi:type="string">customer.*?\.csv</argument>
        </arguments>
    </virtualType>
</config>
