<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\MediaContentApi\Model\Composite\GetEntityContents">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="catalog_product" xsi:type="object">Magento\MediaContentCatalog\Model\ResourceModel\GetEntityContent</item>
                <item name="catalog_category" xsi:type="object">Magento\MediaContentCatalog\Model\ResourceModel\GetEntityContent</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContentCatalog\Observer\ProductDelete">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="description" xsi:type="string">description</item>
                <item name="short_description" xsi:type="string">short_description</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContentCatalog\Observer\CategoryDelete">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="description" xsi:type="string">description</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContentCatalog\Observer\Category">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="description" xsi:type="string">description</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaContentCatalog\Observer\Product">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="description" xsi:type="string">description</item>
                <item name="short_description" xsi:type="string">short_description</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByProductStatus" type="Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByEavContentField">
        <arguments>
            <argument name="attributeCode" xsi:type="string">status</argument>
            <argument name="entityType" xsi:type="string">catalog_product</argument>
            <argument name="entityTable" xsi:type="string">catalog_product_entity</argument>
            <argument name="valueMap" xsi:type="array">
                <item name="1" xsi:type="string">1</item>
                <item name="0" xsi:type="string">2</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByCategoryStatus" type="Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByEavContentField">
        <arguments>
            <argument name="attributeCode" xsi:type="string">is_active</argument>
            <argument name="entityType" xsi:type="string">catalog_category</argument>
            <argument name="entityTable" xsi:type="string">catalog_category_entity</argument>
        </arguments>
    </virtualType>
    <type name="Magento\MediaContentApi\Model\Composite\GetAssetIdsByContentField">
        <arguments>
            <argument name="fieldHandlers" xsi:type="array">
                <item name="content_status" xsi:type="array">
                    <item name="getAssetIdsByProductStatus" xsi:type="object">Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByProductStatus</item>
                    <item name="getAssetIdsByCategoryStatus" xsi:type="object">Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByCategoryStatus</item>
                </item>
                <item name="store_id" xsi:type="array">
                    <item name="getAssetIdsByProductStore" xsi:type="object">Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByProductStore</item>
                    <item name="getAssetIdsByCategoryStore" xsi:type="object">Magento\MediaContentCatalog\Model\ResourceModel\GetAssetIdsByCategoryStore</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
