<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-policy-block field-tooltip"
     data-block="shipping-policy-block"
     data-bind="visible: config.isEnabled">
    <span class="field-tooltip-action" data-trigger="shipping-tooltip-action">
        <!-- ko text: $t('See our Shipping Policy') --><!-- /ko -->
    </span>
    <div class="field-tooltip-content"
         data-bind="mageInit: {
            'dropdownDialog':{
                'appendTo': '[data-block=shipping-policy-block]',
                'triggerTarget': '[data-trigger=shipping-tooltip-action]',
                'closeOnMouseLeave': false,
                'triggerClass': '_active',
                'buttons': []
            }}">
        <span data-bind="html: config.shippingPolicyContent"></span>
    </div>
</div>
