<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Location>
            <version>0.1.0.0.0</version>
            <active>true</active>
            <codePool>local</codePool>
            <depends>
                <Mage_Directory/>
            </depends>
        </SunshineBiz_Location>
    </modules>
    <global>
    	<resources>
            <location_setup>
                <setup>
                    <module>SunshineBiz_Location</module>
                </setup>
            </location_setup>
        </resources>
        <rewrites>
        	<Mage_Directory_Model_Resource_Region_Collection>SunshineBiz_Location_Model_Resource_Region_Collection</Mage_Directory_Model_Resource_Region_Collection>
        	<Mage_Adminhtml_JsonController>SunshineBiz_Location_Adminhtml_JsonController</Mage_Adminhtml_JsonController>
        </rewrites>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_Location>SunshineBiz_Location_Adminhtml</SunshineBiz_Location>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Location>
                    <files>
                        <default>SunshineBiz_Location.csv</default>
                    </files>
                </SunshineBiz_Location>
            </modules>
        </translate>
        <layout>
            <updates>
                <location module="SunshineBiz_Location">
                    <file>layout.xml</file>
                </location>
            </updates>
        </layout>
    </adminhtml>
</config>