<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="timeline-event">
    <strong class="timeline-event-title" ko-scope="requestChild('name')">
        <text args="getLabel($row())"/>
    </strong>
    <div class="timeline-event-info">
        <div class="timeline-event-details"></div>
        <div class="timeline-event-summary"></div>
    </div>
    <div class="timeline-event-actions">
        <button type="button"
                attr="title: $t('To Start')"
                class="timeline-action _tostart"
                disabled>
            <span translate="'To Start'"/>
        </button>
        <button type="button"
                attr="title: $t('To End')"
                class="timeline-action _toend"
                disabled>
            <span translate="'To End'"/>
        </button>
    </div>
    <svg>
        <use class="timeline-ending" xlink:href="#svg-ending"></use>
    </svg>
</div>
