// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

.responsive-common() {

.table-wrapper {
    margin-bottom: @indent-base;
}

table {
    .table-caption();
}

.table {
    tfoot {
        background: @sidebar-background;
        > tr:first-child {
            th,
            td {
                border-top: @table-border-width @table-border-style @table-border-color;
                padding-top: @indent-base;
            }
        }
        th,
        td {
            border: 0;
        }
        .mark {
            font-weight: @font-weight-base;
            text-align: right;
        }
    }
}

}

//
//    Mobile
//--------------------------------------
.responsive-max-m(@break) when (@break = @screen-s) {
    .table-wrapper {
        border-top: @table-border-width @table-border-style @table-border-color;
        .table-overflow();
        position: relative; // to hide unnecessary horizontal scrollbar in Safari
        .table:not(.totals):not(.cart):not(.table-comparison) {
            .table-responsive();
            tbody {
                > tr {
                    > td:first-child {
                        padding-top: 15px;
                    }
                    > td:last-child {
                        border-bottom: @table-border-width @table-border-style @table-border-color;
                        padding-bottom: 15px;
                    }
                    > td.col.qty {
                        text-align: left;
                    }
                }
            }
            tfoot {
                display: block;
                tr {
                    display: block;
                    &:extend(.abs-add-clearfix-mobile all);
                    &:first-child {
                        th,
                        td {
                            padding-top: @indent-base;
                        }
                    }
                }
                .mark {
                    box-sizing: border-box;
                    float: left;
                    text-align: left;
                    width: 70%;
                }
                .amount {
                    box-sizing: border-box;
                    float: left;
                    text-align: right;
                    width: 30%;
                }
                .grand.totals {
                    .font-size(16);
                    .amount {
                        padding-bottom: @indent-s-base;
                    }
                }
            }
        }
    }
}

//
//    Desktop
//--------------------------------------
.responsive-min-m(@break) when (@break = @screen-s) {
    .table {
        .table-bordered(
            @_table_type: horizontal_body
        );
    }
}
