<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventoryLowQuantityNotificationApi\Api\Data\SourceItemConfigurationInterface"
                type="Magento\InventoryLowQuantityNotification\Model\SourceItemConfiguration"/>
    <preference for="Magento\InventoryLowQuantityNotificationApi\Api\SourceItemConfigurationsSaveInterface"
                type="Magento\InventoryLowQuantityNotification\Model\SourceItemConfiguration\Command\SaveMultiple"/>
    <preference for="Magento\InventoryLowQuantityNotificationApi\Api\GetSourceItemConfigurationInterface"
                type="Magento\InventoryLowQuantityNotification\Model\SourceItemConfiguration\Command\Get"/>
    <preference for="Magento\InventoryLowQuantityNotificationApi\Api\DeleteSourceItemConfigurationInterface"
                type="Magento\InventoryLowQuantityNotification\Model\SourceItemConfiguration\Command\Delete"/>
    <type name="Magento\Catalog\Block\Adminhtml\Rss\NotifyStock\DescriptionProvider">
        <plugin name="rss_adapt_description_provider"
                type="Magento\InventoryLowQuantityNotification\Plugin\Rss\AdaptDescriptionProvider"/>
    </type>
    <type name="Magento\Catalog\Model\Rss\Product\NotifyStock">
        <plugin name="rss_adapt_notify_stock"
                type="Magento\InventoryLowQuantityNotification\Plugin\Rss\AdaptNotifyStock"/>
    </type>
    <!-- LowStockCondition -->
    <preference for="Magento\InventoryLowQuantityNotification\Model\ResourceModel\Rss\NotifyStock\Condition\LowStockConditionInterface"
                type="Magento\InventoryLowQuantityNotification\Model\ResourceModel\Rss\NotifyStock\Condition\LowStockConditionChain"/>
    <type name="Magento\InventoryLowQuantityNotification\Model\ResourceModel\Rss\NotifyStock\Condition\LowStockConditionChain">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="configuration" xsi:type="object">Magento\InventoryLowQuantityNotification\Model\ResourceModel\Rss\NotifyStock\Condition\ConfigurationCondition</item>
                <item name="name_attribute" xsi:type="object">Magento\InventoryLowQuantityNotification\Model\ResourceModel\Rss\NotifyStock\Condition\NameAttributeCondition</item>
                <item name="status_attribute" xsi:type="object">Magento\InventoryLowQuantityNotification\Model\ResourceModel\Rss\NotifyStock\Condition\StatusAttributeCondition</item>
            </argument>
        </arguments>
    </type>
</config>
