<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__field-complex" css="$data.additionalClasses" visible="visible" attr="'data-index': index">
    <div class="admin__field-complex-content">
        <div repeat="foreach: $data.salable_quantity || [], item: '$salableQuantityData'">
            <div>
                <strong text="$salableQuantityData().stock_name" />
                :
                <span text="$salableQuantityData().qty" />
            </div>
        </div>
    </div>
</div>
