<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var store.getFrontendName()}}: Credit Memo # {{var creditmemo.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Credit Memo Comment",
"var store.getFrontendName()":"Store Name"}
@-->

{{template config_path="design/email/header_template"}}

<h1>Dear {{var order.getCustomerName()}},</h1>
<p>
    Your order # {{var order.increment_id}} has been <br/>
    <strong>{{var order.getStatusLabel()}}</strong>.
</p>
<p>You can check the status of your order by <a href="{{store url="customer/account/"}}">logging into your account</a>.</p>
<p>{{var comment}}</p>
<p>
    If you have any questions, please feel free to contact us at
    <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>
    or by phone at {{config path='general/store_information/phone'}}.
</p>

{{template config_path="design/email/footer_template"}}
