<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var store.getFrontendName()}}: Credit Memo # {{var creditmemo.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",

"var billing.getName()":"Guest Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"var comment":"Credit Memo Comment",
"var store.getFrontendName()":"Store Name"}
@-->

{{template config_path="design/email/header_template"}}

<h1>{{trans "Dear %name," name=$billing.getName()}}</h1>
<p>
    {{trans
        "Your order #%increment_id has been updated with a status of <strong>%order_status</strong>."
        
        increment_id="$order.increment_id"
        order_status="$order.getStatusLabel()
    |raw}}
</p>
<p>{{var comment}}</p>
<p>
    {{trans
        'If you have any questions, please feel free to contact us at <a href="mailto:%support_email">%support_email</a> or by phone at %support_phone.'
        
        support_email=$store.getConfig('trans_email/ident_support/email')
        support_phone=$store.getConfig('general/store_information/phone')
    |raw}}
</p>
{{template config_path="design/email/footer_template"}}
