<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var store.getFrontendName()}}: Invoice # {{var invoice.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var billing.getName()":"Guest Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"var comment":"Invoice Comment",
"var store.getFrontendName()":"Store Name"}
@-->

{{template config_path="design/email/header_template"}}

                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var billing.getName()}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                        Your order # {{var order.increment_id}} has been <br/>
                        <strong>{{var order.getStatusLabel()}}</strong>.
                    </p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">{{var comment}}</p>
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        If you have any questions, please feel free to contact us at
                        <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                        or by phone at {{config path='general/store_information/phone'}}.
                    </p>

{{template config_path="design/email/footer_template"}}
