<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject  {{var store.getFrontendName()}}: Invoice # {{var invoice.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var billing.getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var formattedBillingAddress":"Billing Address",
"var payment_html":"Payment Details",
"var formattedShippingAddress":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var comment":"Invoice Comment"}
@-->

{{template config_path="design/email/header_template"}}

<h1>Hello, {{var billing.getName()}}</h1>
<p>
    Thank you for your order from {{var store.getFrontendName()}}.
    If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> or call us at <span class="nobr">{{config path='general/store_information/phone'}}</span> Monday - Friday, 8am - 5pm PST.
</p>

<h2>Your Invoice #{{var invoice.increment_id}} for Order #{{var order.increment_id}}</h2>

<table>
    <thead>
    <tr>
        <th>Billing Information:</th>
        <th></th>
        <th>Payment Method:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{var formattedBillingAddress|raw}}
        </td>
        <td>&nbsp;</td>
        <td>
            {{var payment_html|raw}}
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{depend order.getIsNotVirtual()}}
<table>
    <thead>
    <tr>
        <th>Shipping Information:</th>
        <th></th>
        <th>Shipping Method:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{var formattedShippingAddress|raw}}
            &nbsp;
        </td>
        <td>&nbsp;</td>
        <td>
            {{var order.shipping_description}}
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{/depend}}
{{layout handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
<p>{{var comment}}</p>

{{template config_path="design/email/footer_template"}}
