<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"escapehtml var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated(1)":"Order Created At (datetime)",
"var formattedBillingAddress":"Billing Address",
"var payment_html":"Payment Details",
"var formattedShippingAddress":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles @-->

{{template config_path="design/email/header_template"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="intro">
            <p>{{escapehtml var=$order.getCustomerName()}},</p>
            <p>
                Thank you for your order from {{var store.getfrontendName()}}.
                Once your package ships we will send an email with a link to track your order.
                You can also check the status of your order by
                <a href="{{store url="customer/account/"}}">logging into your account</a>.
            </p>
            <p>
                If you have questions about your order, you can
                {{depend store_email}}email us at <a href="mailto:{{var store_email}}">{{var store_email}}</a>{{/depend}}{{depend store_phone}}or call us at <a href="tel:{{var store_phone}}">{{var store_phone}}</a>{{/depend}}.
                {{depend store_hours}}
                    Our store hours are: <span class="no-link">{{var store_hours}}</span>.
                {{/depend}}
            </p>
        </td>
    </tr>
    <tr class="order-details">
        <td>
            <h1>Your Order <span class="no-link">#{{var order.increment_id}}</span></h1>
            <p>Placed on {{var order.getCreatedAtFormated(1)}}</p>
        </td>
    </tr>
    <tr class="order-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table cellspacing="0" cellpadding="0" border="0" class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-information" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td class="address-details">
                        <h3>Bill To:</h3>
                        <p>{{var formattedBillingAddress }}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h3>Ship To:</h3>
                        <p>{{var formattedShippingAddress }}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>Payment Method:</h3>
                        {{var payment_html}}
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h3>Shipping Method:</h3>
                        <p>{{var order.getShippingDescription()}}</p>
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
