<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var store.getFrontendName()}}: Shipment # {{var shipment.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var billing.getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var formattedBillingAddress":"Billing Address",
"var payment_html":"Payment Details",
"var formattedShippingAddress":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='Magento\\Framework\\View\\Element\\Template' area='frontend' template='email/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->

{{template config_path="design/email/header_template"}}

<h1>{{trans "Dear %name," name=$billing.getName()}}</h1>
<p>
    {{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}
    {{trans
        'If you have any questions about your order please contact us at <a href="mailto:%support_email">%support_email</a> or call us at %store_phone.'

        support_email=$store.getConfig('trans_email/ident_support/email')
        store_phone=$store.getConfig('general/store_information/phone')
    |raw}}
</p>
<p>{{trans "Your shipping confirmation is below. Thank you again for your business."}}</p>

<h2>{{trans "Your Shipment #%shipment_id for Order #%order_id" shipment_id=$shipment.increment_id order_id=$order.increment_id}}</h2>

<table>
    <thead>
    <tr>
        <th>{{trans "Billing Information:"}}</th>
        <th>{{trans "Payment Method:"}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{var formattedBillingAddress|raw}}</td>
        <td>{{var payment_html|raw}}</td>
    </tr>
    </tbody>
</table>
<br/>

{{depend order.getIsNotVirtual()}}
<table>
    <thead>
    <tr>
        <th>{{trans "Shipping Information:"}}</th>
        <th>{{trans "Shipping Method:"}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{var formattedShippingAddress|raw}}</td>
        <td>{{var order.getShippingDescription()}}</td>
    </tr>
    </tbody>
</table>
<br/>
{{/depend}}
{{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
{{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Magento_Sales::email/shipment/track.phtml' shipment=$shipment order=$order}}
<p>{{var comment}}</p>

{{template config_path="design/email/footer_template"}}
