<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\GraphQl\Model\SchemaGeneratorInterface" type="Magento\GraphQl\Model\SchemaGenerator" />
    <preference for="Magento\GraphQl\Model\Type\GeneratorInterface" type="Magento\GraphQl\Model\Type\Generator" />
    <preference for="Magento\Framework\GraphQl\ArgumentInterface" type="Magento\Framework\GraphQl\Argument" />
    <preference for="Magento\GraphQl\Model\ResolverContextInterface" type="Magento\GraphQl\Model\ResolverContext" />
    <preference for="Magento\Framework\GraphQl\Type\Entity\MapperInterface" type="Magento\Framework\GraphQl\Type\Entity\DefaultMapper"/>
    <preference for="Magento\Framework\GraphQl\Type\Enum\DataMapperInterface" type="Magento\Framework\GraphQl\Type\Enum\DefaultDataMapper"/>
    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="graphql" xsi:type="array">
                    <item name="frontName" xsi:type="string">graphql</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\GraphQl\Config\ConfigInterface" type="Magento\Framework\GraphQl\Config\Config"/>
    <type name="Magento\Framework\GraphQl\Config\Config">
        <arguments>
            <argument name="data" xsi:type="object">Magento\Framework\GraphQl\Config\Data</argument>
            <argument name="mappers" xsi:type="array">
                <item name="graphql_interface" xsi:type="object">Magento\Framework\GraphQl\Config\Data\Mapper\TypeInterfaceMapper</item>
                <item name="graphql_type" xsi:type="object">Magento\Framework\GraphQl\Config\Data\Mapper\TypeMapper</item>
                <item name="graphql_input" xsi:type="object">Magento\Framework\GraphQl\Config\Data\Mapper\TypeMapper</item>
                <item name="graphql_enum" xsi:type="object">Magento\Framework\GraphQl\Config\Data\Mapper\EnumMapper</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Framework\GraphQl\Config\Data" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Framework\GraphQl\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">Magento_Framework_GraphQl_Config_Data</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\GraphQl\Config\SchemaLocator" type="Magento\Framework\Config\SchemaLocator">
        <arguments>
            <argument name="realPath" xsi:type="string">urn:magento:module:Magento_GraphQl:etc/graphql.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\GraphQl\Config\Reader" type="Magento\Framework\GraphQl\Config\Common\Reader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="xmlReader" xsi:type="object">Magento\Framework\GraphQl\Config\XmlReader</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Framework\GraphQl\Config\XmlReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\Framework\GraphQl\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Framework\GraphQl\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">graphql.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/type" xsi:type="string">name</item>
                <item name="/config/type/field" xsi:type="string">name</item>
                <item name="/config/type/item" xsi:type="string">name</item>
                <item name="/config/type/implements" xsi:type="string">interface</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\GraphQl\Type\Output\OutputFactory">
        <arguments>
            <argument name="prototypes" xsi:type="array">
                <item name="Magento\Framework\GraphQl\Config\Data\Type" xsi:type="string">Magento\Framework\GraphQl\Type\Output\OutputTypeObject</item>
                <item name="Magento\Framework\GraphQl\Config\Data\InterfaceType" xsi:type="string">Magento\Framework\GraphQl\Type\Output\OutputInterfaceObject</item>
                <item name="Magento\Framework\GraphQl\Config\Data\Enum" xsi:type="string">Magento\Framework\GraphQl\Type\Enum\Enum</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Type\Input\InputFactory">
        <arguments>
            <argument name="prototypes" xsi:type="array">
                <item name="Magento\Framework\GraphQl\Config\Data\Type" xsi:type="string">Magento\Framework\GraphQl\Type\Input\InputObjectType</item>
                <item name="Magento\Framework\GraphQl\Config\Data\InterfaceType" xsi:type="string">Magento\Framework\GraphQl\Type\Input\InputObjectType</item>
                <item name="Magento\Framework\GraphQl\Config\Data\Enum" xsi:type="string">Magento\Framework\GraphQl\Type\Enum\Enum</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Type\Output\ElementMapper">
        <arguments>
            <argument name="formatter" xsi:type="object">Magento\Framework\GraphQl\Type\Output\ElementMapper\FormatterComposite</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Type\Output\ElementMapper\FormatterComposite">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="fields" xsi:type="object">Magento\Framework\GraphQl\Type\Output\ElementMapper\Formatter\Fields</item>
                <item name="interfaces" xsi:type="object">Magento\Framework\GraphQl\Type\Output\ElementMapper\Formatter\Interfaces</item>
                <item name="resolveType" xsi:type="object">Magento\Framework\GraphQl\Type\Output\ElementMapper\Formatter\ResolveType</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Config\Converter">
        <arguments>
            <argument name="normalizer" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\NormalizerComposite</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Config\Converter\NormalizerComposite">
        <arguments>
            <argument name="normalizers" xsi:type="array">
                <item name="output" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\Normalizer\Output</item>
                <item name="input" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\Normalizer\Input</item>
                <item name="enum" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\Normalizer\Enum</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\GraphQl\Config\Converter\Type\FormatterInterface" type="Magento\Framework\GraphQl\Config\Converter\Type\FormatterComposite"/>
    <type name="Magento\Framework\GraphQl\Config\Converter\Type\FormatterComposite">
        <arguments>
            <argument name="formatters" xsi:type="array">
                <item name="description" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\Type\Formatter\Description</item>
                <item name="fields" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\Type\Formatter\Fields</item>
                <item name="interfaces" xsi:type="object">Magento\Framework\GraphQl\Config\Converter\Type\Formatter\Interfaces</item>
            </argument>
        </arguments>
    </type>
</config>
