// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Transitions
//  _____________________________________________

@appearing__transition-duration: .15s;
@apperaing__transition-timing-function: ease;

@smooth__color: color .1s linear;
@smooth__background-color: background-color .1s linear;
@smooth__border-color: border-color .1s linear;
