// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Spinner
//  _____________________________________________

@spinner__base-size: 4rem;

//  Size of spinner
@spinner-border-radius: 6px;
@spinner-spin-count: 8;
@spinner-first-color: @color-brownie;
@spinner-second-color: @color-white;
@spinner-keyframe-name: fade;
@spinner-animation-step: .09s;
@spinner-animation-duration: @spinner-animation-step * @spinner-spin-count;
@spinner-animation-transform: scale(.4);
@spinner-animation-iteration-count: infinite;
@spinner-animation-direction: linear;
@spinner-rotate: 0;

//  Degree for one elem
@spinner-rotate-step: 45;

//  One step in degree
@spinner-delay: .9;
