<!--
/**
 * Copyright 2015 Adobe
 * All Rights Reserved.
 */
-->
<!-- ko if: $row() -->
<label class="data-grid-checkbox-cell-inner" data-bind="event: {
    mousedown: function (data, event) {
        return !event.shiftKey;
    }
}">
    <input class="admin__control-checkbox" type="checkbox" data-action="select-row"
        data-bind="
            staticChecked: $col.selected,
            click: function (data, event) {
                return $col.onRowCheckboxClick($row()[$col.indexField], event);
            },
            disable: $col.disabled.indexOf($row()[$col.indexField]) != -1 ,
            checkedValue: $row()[$col.indexField],
            attr: {
                id: index + 'check' + $row()[$col.indexField]
            }">
    <label attr="for: index + 'check' + $row()[$col.indexField]"></label>
</label>
<!-- /ko -->
