<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__actions-switch">
    <input class="admin__actions-switch-checkbox"
           type="checkbox"
           data-bind="
               staticChecked: $col.selected,
               value: $row()[$col.indexField],
               attr: {
                   id: 'check' + $row()[$col.indexField]
               }"/>
    <label class="admin__actions-switch-label"
           data-bind="
               attr: {
                   for: 'check' + $row()[$col.indexField]
               }">
        <span data-bind="attr: {
                   'data-text-on': $t('Yes'),
                   'data-text-off': $t('No')
              }"
              class="admin__actions-switch-text"></span>
    </label>
</div>
